/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.console-palette {
    width: min(100%, 600px);
    transition: width 0.3s;
}

@media (max-width: 1100px) {
    .console-palette {
        width: min(100%, 400px);
    }
}

@media (max-width: 800px) {
    .console-palette {
        width: 100% !important;
        max-width: 50px;
        & .pluto-btn span {
            display: none;
        }
    }
    .pluto-navbar.pluto--location-top .pluto-navbar__content.pluto--center {
        justify-content: start;
        padding-left: 2rem;
    }
}

.console-palette__content {
    width: 100%;
    max-width: 1200px;
    max-height: 500px;
    width: 95vw;
    max-width: 1200px;
    overflow: visible !important;
    & .pluto-list__items--empty {
        min-height: 20rem;
    }
}

.console-palette__list {
    overflow-y: auto;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    position: relative;
}
