/*
 * Copyright 2025 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.console-palette {
    width: 100% !important;
    max-width: 800px;
}

.console-palette__btn {
    width: 100%;

    background-color: var(--pluto-gray-l0);

    &:hover {
        background-color: var(--pluto-gray-l1) !important;
    }
}

.console-palette__content {
    width: 100%;
    max-width: 1200px;
    height: 500px;
    width: 95vw;
    min-height: 400px;
    max-width: 1200px;
    overflow: hidden;
}

.console-palette__list {
    overflow-y: auto;

    & .pluto-status-text {
        height: 150px;
    }
}

.console-palette__item {
    width: 100%;
}

.console-palette__item--hovered {
    background: var(--pluto-gray-l2) !important;
    border-left: 2px var(--pluto-primary-z) solid !important;
}

.console-palette__input.pluto-haul-drop-region .pluto-input__internal {
    background: var(--haul-background) !important;
    border-color: var(--haul-border-color) !important;
}
