/*
 * Copyright 2025 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.console-palette {
    width: 100% !important;
    max-width: 800px;
}

@media (max-width: 1400px) {
    .console-palette {
        width: 100% !important;
        max-width: 550px;
    }
}

@media (max-width: 1000px) {
    .console-palette {
        width: 100% !important;
        max-width: 300px;
    }
}

@media (max-width: 800px) {
    .console-palette {
        width: 100% !important;
        max-width: 50px;
        .pluto-text {
            display: none;
        }
    }
    .console-nav__bar.pluto--top .pluto-navbar__content.pluto-- {
        justify-content: start !important;
    }
}

.console-palette__content {
    width: 100%;
    max-width: 1200px;
    height: 500px;
    width: 95vw;
    min-height: 400px;
    max-width: 1200px;
    overflow: hidden;
}

.console-palette__list {
    overflow-y: auto;

    & .pluto-status-text {
        height: 150px;
    }
}
