/*
 * Copyright 2025 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-gradient-picker {
    position: relative;
    width: 500px;
    height: fit-content;
    height: 10rem;

    & .pluto-gradient-picker__bar {
        height: 2rem;
        width: 100%;
        border-radius: var(--pluto-border-radius);
        border: var(--pluto-border);
        cursor: pointer;
    }

    .pluto-gradient-picker__stop {
        position: absolute;
        left: 0;
        display: flex;
        flex-direction: column;
        top: 0;

        .pluto-color-swatch {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 4rem;
            height: 2.5rem;
            border-radius: 0.5rem;
            border: var(--pluto-border);
            border-color: var(--pluto-gray-l10);
            box-shadow: var(--pluto-shadow-v1);
        }

        & .pluto-text {
            transform: translateX(-50%);
        }

        .pluto-gradient-picker__drag-region {
            width: 2rem;
            position: absolute;
            left: 0;
            transform: translateX(-2px);
            justify-content: start !important;
            align-items: start !important;
            .pluto-gradient-picker__stop-line {
                position: relative;
                cursor: ew-resize;
                width: 0.5rem;
                height: 2rem;
                background-color: var(--pluto-gray-l10);
                border-radius: 1rem;
                top: -0.25rem;

                /* add an after pseudo-element that is a small triangle to indicate the
                   stop */
                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0%;
                    left: 50%;
                    width: 0;
                    height: 0;
                    transform: translate(-50%, 0.5rem);
                    border-left: 0.5rem solid transparent;
                    border-right: 0.5rem solid transparent;
                    border-bottom: 1rem solid var(--pluto-gray-l10);
                    z-index: 2;
                }
            }
        }
    }
}
