/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-color-picker-container {
    border: var(--pluto-border-l5) !important;
    border-radius: 1rem !important;
    width: 37rem !important;
    padding: 1.25rem;
    .pluto-color-picker {
        width: 100% !important;
        background: none !important;
        border: none !important;
        box-shadow: none !important;
        padding: 0 !important;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        & input {
            border: var(--pluto-border) !important;
            width: 100% !important;
            background: none !important;
            box-shadow: none !important;
            border-radius: var(--pluto-border-radius) !important;
            color: var(--pluto-text-color) !important;
        }

        & label {
            color: var(--pluto-gray-l8) !important;
            padding-top: 1rem !important;
            padding-bottom: 0 !important;
        }

        & * {
            font-size: var(--pluto-small-size) !important;
            font-weight: var(--pluto-small-font-weight) !important;
            line-height: var(--pluto-small-line-height) !important;
        }

        > div:first-child {
            border-radius: var(--pluto-border-radius);
            border: var(--pluto-border);
        }

        > div:nth-child(2) > div:first-child > div {
            border-radius: var(--pluto-border-radius);
        }
    }
}
