/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-color-swatch {
    border-radius: 1rem;
    background:
        linear-gradient(var(--pluto-swatch-color), var(--pluto-swatch-color)),
        repeating-conic-gradient(
                var(--pluto-gray-l2) 0% 25%,
                var(--pluto-gray-l5) 0% 50%
            )
            50% / 1rem 1rem;

    &.pluto--no-border {
        border-color: transparent;
    }

    &.pluto-haul-drop-region {
        border: var(--pluto-border-l5) !important;
        border-color: var(--haul-border-color) !important;
        background: var(--haul-background) !important;
    }

    &.pluto--tiny {
        min-width: 3rem;
        min-height: 2.25rem;
        padding: 0;
        border-radius: 0.66666rem;
    }
    &.pluto--small {
        width: 4rem;
        min-height: 3rem;
    }
    &.pluto--medium {
        min-width: 4rem;
        min-height: 3.5rem;
    }
    &.pluto--large {
        width: 7rem;
        height: 5rem;
    }
}

.pluto-color-swatch__dropdown {
    display: inline-block;
    min-width: 1px;
    min-height: 1px;
}
