/*
 * Copyright 2025 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.console-task-configure--sequence {
    & > div {
        width: 100%;
        max-width: 100%;
        padding: 0;
        .console-task-channel-form-container {
            border: none;
            width: 100%;
            & > div {
                width: 100%;
            }
        }
    }
    .console-sequence {
        padding: 0;
        height: 100%;
        min-height: 0;
    }
    .console-task-controls {
        background: var(--pluto-gray-l0);
        border: none;
        border-top: var(--pluto-border);
    }
}
