/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.console-task-configure {
    .console-endpoint-list {
        width: 250px;
    }

    .console-endpoint-details {
        overflow-y: auto;

        .console-endpoint-details-form {
            padding: 2rem;
        }

        .console-endpoint-details-headers {
            padding-bottom: 1rem;
        }
    }

    .console-rate-input {
        max-width: 20rem;
    }

    .console-enum-mapping {
        min-height: 200px;
        max-height: 200px;
        padding: 1rem 2rem;
    }

    .console-timing-toggle {
        padding: 2rem;
        flex-shrink: 0;
    }

    .console-timing-label {
        margin-right: 0.25rem;
    }

    .console-timestamp-format {
        width: 160px;
    }
}
