.pluto-list__inner {
    width: 100%;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
}

.pluto-list__container {
    height: 100%;
    width: 100%;
    overflow: auto;
    user-select: none;
    -webkit-user-select: none;
}