/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.console-project-selector__trigger {
    padding: 0;

    .pluto-avatar {
        --pluto-avatar-size: round(5.6667rem, 1px);
    }
}

.console-project__name {
    width: 0;
    flex-grow: 1;
}

.pluto-dialog__dialog.console-project-selector-dialog {
    min-height: 200px;
    width: 400px;
    --pluto-dialog-max-height: 412px;

    .pluto-list__scroll > .pluto-list__virtualizer {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}
