/*
 * Copyright 2023 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-legend {
    position: absolute;
    cursor: grabbing;
    padding: 1rem;
    z-index: 100;
    background-color: var(--pluto-background-color);
    max-height: 50%;
    overflow-y: auto;
    overflow-x: hidden;
    width: fit-content;
    .pluto-color-swatch {
        width: 3rem;
        height: 2rem;
    }
}
