.pluto-space {
  display: flex;
}

.pluto-space--medium {
  gap: calc(var(--pluto-base-size) * 2);
}

.pluto-space--large {
  gap: calc(var(--pluto-base-size) * 4);
}

.pluto-space--small {
  gap: var(--pluto-base-size);
}