---
import { PageNav as PN } from "@/components/PageNav/PageNav";
---

<nav class="page-nav">
    <PN client:load currentPage={Astro.url.pathname} />
</nav>

<style is:global>
    .page-nav {
        width: 235px;
        border-radius: 1rem;
        overflow: hidden;
        height: 100%;

        .pluto-tabs-selector {
            position: sticky;
            top: 0;
            background: var(--pluto-gray-l0);
            margin-bottom: 3rem;
            & * {
                font-size: var(--pluto-small-size) !important;
                font-weight: 400 !important;
            }
            & .pluto-tabs-selector__btn {
                flex-grow: 1;
            }
        }
    }

    .pluto-tree {
        max-height: calc(100vh - 32rem) !important;
        overflow-y: auto !important;
        .pluto-text {
            color: var(--pluto-gray-l7);
            font-size: var(--pluto-small-size);
            line-height: var(--pluto-small-line-height);
            font-weight: 400 !important;
        }

        & > *:last-child {
            margin-bottom: 10rem;
        }

        overflow-x: hidden;

        .pluto-btn {
            padding-top: 1rem;
            padding-bottom: 1rem;
            border-radius: 0 !important;
            height: auto;
            background: none !important;
            width: unset !important;

            &:not(.pluto--has-children) {
                padding-left: 4.25rem !important;
            }

            &:hover:not(.pluto--selected) {
                &:not(.pluto--has-children) {
                    box-shadow: inset 2px 0 0 0 var(--pluto-text-color) !important;
                }

                & .pluto-text {
                    color: var(--pluto-text-color);
                    font-weight: 500 !important;
                }

                & path:is(:not([fill="none"]), [stroke="#000"]) {
                    fill: var(--pluto-text-color) !important;
                }
            }

            &.pluto--selected .pluto-text {
                color: var(--pluto-text-color);
                font-weight: 500 !important;
            }

            &:not(.pluto--has-children):not(.pluto--selected) {
                box-shadow: inset 1px 0 0 0 var(--pluto-gray-l2);
            }
        }

        .pluto-text-icon path:is(:not([fill="none"]), [stroke="#000"]) {
            fill: var(--pluto-gray-l5) !important;
        }
    }
    @media (max-width: 800px) {
        .page-nav {
            z-index: 100;
            width: 100%;
            position: fixed !important;
            bottom: 0;
            left: 0;
            height: unset;
            top: unset;
            border-top: var(--pluto-border);
            background: var(--pluto-gray-l0-70);
            backdrop-filter: blur(12px);
            -webkit-backdrop-filter: blur(12px);
            & button {
                height: 7rem;
                & svg {
                    height: 3.5rem;
                    width: 3.5rem;
                }
                & h5 {
                    font-size: 2.5rem;
                }
            }
        }
        .pluto-tabs-selector__tabs {
            justify-content: center !important;
        }
        .pluto-tree {
            height: 310px !important;
            overflow-y: scroll;
        }
    }
</style>
