/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-text--editable {
    cursor: pointer;
    -webkit-user-select: text;
    user-select: text;
    position: relative;

    &:focus {
        outline: none;
        overflow: unset !important;
        &.pluto--outline::after {
            content: "";
            position: absolute;
            top: -1px;
            left: -0.666rem;
            right: -0.666rem;
            bottom: -1px;
            border-radius: var(--pluto-border-radius);
            border: var(--pluto-border);
            border-color: var(--pluto-primary-z);
        }
    }
}
