/*
 * Copyright 2024 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-text--keyboard {
    background: var(--pluto-gray-l2);
    border: var(--pluto-border);
    border-radius: var(--pluto-border-radius);
    padding: 0.666rem;
    display: inline-flex;
    /* 
    * Make the line height the same as the font size.
    * This makes sure the padding looks consistent on all sides.
    */
    line-height: 1;
}
