/*
 * Copyright 2025 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

a.pluto-text {
    text-decoration: none;
    color: var(--pluto-primary-p1);
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

.pluto-text {
    margin: 0;
    &.pluto--direction-x {
        align-items: center;
    }

    &.pluto-text--code {
        font-family: var(--pluto-code-font-family);
    }

    &.pluto-text--keyboard {
        line-height: 1;
        aspect-ratio: 1;
        background: var(--pluto-gray-l2);
        border: var(--pluto-border);
        border-radius: var(--pluto-border-radius);
        &.pluto-text--p {
            height: var(--pluto-p-line-height);
        }
        &.pluto-text--h1 {
            height: var(--pluto-h1-line-height);
        }
        &.pluto-text--h2 {
            height: var(--pluto-h2-line-height);
        }
        &.pluto-text--h3 {
            height: var(--pluto-h3-line-height);
        }
        &.pluto-text--h4 {
            height: var(--pluto-h4-line-height);
        }
        &.pluto-text--h5 {
            height: var(--pluto-h5-line-height);
        }
        &.pluto-text--small {
            height: var(--pluto-small-line-height);
        }
    }
}
