/*
 * Copyright 2025 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-text-icon {
    color: var(--pluto-text-color);
}

.pluto-text-icon svg {
    flex-shrink: 0;
}

.pluto-text-icon--h1 svg {
    width: var(--pluto-h1-size);
    min-width: var(--pluto-h1-size);
    height: var(--pluto-h1-size);
}

.pluto-text-icon--h2 svg {
    width: var(--pluto-h2-size);
    min-width: var(--pluto-h2-size);
    height: var(--pluto-h2-size);
}

.pluto-text-icon--h3 svg {
    width: calc(var(--pluto-h3-size) * 1.05);
    min-width: calc(var(--pluto-h3-size) * 1.05);
    height: calc(var(--pluto-h3-size) * 1.05);
}

.pluto-text-icon--h4 svg {
    width: calc(var(--pluto-h4-size) * 1.05);
    min-width: calc(var(--pluto-h4-size) * 1.05);
    height: calc(var(--pluto-h4-size) * 1.05);
}

.pluto-text-icon--h5 svg {
    width: calc(var(--pluto-h5-size) * 1.05);
    min-width: calc(var(--pluto-h5-size) * 1.05);
    height: calc(var(--pluto-h5-size) * 1.05);
}

.pluto-text-icon--p svg {
    width: calc(var(--pluto-p-size) * 1.05);
    min-width: calc(var(--pluto-p-size) * 1.05);
    height: calc(var(--pluto-p-size) * 1.05);
}

.pluto-text-icon--small svg {
    width: var(--pluto-small-size);
    min-width: var(--pluto-small-size);
    height: var(--pluto-small-size);
}
