/*
 * Copyright 2024 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-pack {
    --t: var(--pluto-pack-br) var(--pluto-pack-br) 0 0;
    --b: 0 0 var(--pluto-pack-br) var(--pluto-pack-br);
    --l: var(--pluto-pack-br) 0 0 var(--pluto-pack-br);
    --r: 0 var(--pluto-pack-br) var(--pluto-pack-br) 0;
    --tr: 0 var(--pluto-pack-br) 0 0;
    --br: 0 0 var(--pluto-pack-br) 0;
    --bl: 0 0 0 var(--pluto-pack-br);
    --tl: var(--pluto-pack-br) 0 0 0;
    --pluto-pack--middle: 0 !important;
    --all: var(--pluto-pack-br);

    &.pluto--rounded {
        --pluto-pack-br: var(--pluto-back-br, var(--pluto-border-radius));
    }

    &.pluto--bordered {
        border: none !important;

        &:not(.pluto-pack--shadow) > * {
            border: var(--pluto-border-l4);
        }

        &.pluto-pack--shadow {
            &:is(:hover, :focus-within) > * {
                border: var(--pluto-border-l4);
                opacity: 1 !important;
            }

            & > .pluto-btn {
                opacity: 0;
            }
        }
    }

    &.pluto--x {
        --pluto-pack--first: var(--l);
        --pluto-pack--last: var(--r);
        --pluto-pack--only: var(--all);
        --pluto-pack--x-margin: 0 0 0 -1px !important;
        --pluto-pack--x-first-y-first: var(--tl);
        --pluto-pack--x-first-y-last: var(--bl);
        --pluto-pack--x-first-y-only: var(--l);
        --pluto-pack--x-last-y-first: var(--tr);
        --pluto-pack--x-last-y-last: var(--br);
        --pluto-pack--x-last-y-only: var(--r);

        .pluto-pack--reverse {
            --pluto-pack--first: var(--r);
            --pluto-pack--last: var(--l);
            --pluto-pack--x-margin: 0 -1px 0 0 !important;
            --pluto-pack--x-first-y-first: var(--tr);
            --pluto-pack--x-first-y-last: var(--br);
            --pluto-pack--x-first-y-only: var(--r);
            --pluto-pack--x-last-y-first: var(--tl);
            --pluto-pack--x-last-y-last: var(--bl);
            --pluto-pack--x-last-y-only: var(--l);
        }

        > *:not(:first-child) {
            margin: var(--pluto-pack--x-margin);
        }

        &.pluto-pack--small > *:not(.pluto-pack) {
            height: var(--pluto-height-small);
            line-height: var(--pluto-height-small);
        }

        &.pluto-pack--medium > *:not(.pluto-pack) {
            height: var(--pluto-height-medium);
            line-height: var(--pluto-height-medium);
        }

        &.pluto-pack--large > *:not(.pluto-pack) {
            height: var(--pluto-height-large);
            line-height: var(--pluto-height-large);
        }

        > .pluto-pack.pluto--y {
            &:first-child:not(:only-child) {
                &:not(:has(+ .pluto--hidden)) > *:first-child:not(:only-child) {
                    border-radius: var(--pluto-pack--x-first-y-first);
                }

                &:not(:has(+ .pluto--hidden)) > *:last-child:not(:only-child) {
                    border-radius: var(--pluto-pack--x-first-y-last);
                }

                > *:only-child {
                    border-radius: var(--pluto-pack--x-first-y-only);
                }
            }

            &:not(:last-child):not(:first-child) > * {
                border-radius: 0 !important;
            }

            &:last-child {
                &:not(:only-child) > *:first-child:not(:only-child) {
                    border-radius: var(--pluto-pack--x-last-y-first);
                }

                &:not(:only-child) > *:last-child:not(:only-child) {
                    border-radius: var(--pluto-pack--x-last-y-last);
                }
            }
        }
    }

    > *:not(:first-child):not(:last-child):not(:has(+ .pluto--hidden)) {
        border-radius: var(--pluto-pack--middle);
    }

    &:has(+ .pluto--hidden)
        > *:first-child:not(:only-child):not(:has(+ .pluto--hidden)) {
        border-radius: var(--pluto-pack--first);
    }

    > *:last-child:not(:only-child) {
        border-radius: var(--pluto-pack--last);
    }

    > *:only-child {
        border-radius: var(--pluto-pack--only);
    }

    > .pluto-pack {
        border: none;
    }

    &.pluto--y {
        --pluto-pack--first: var(--t);
        --pluto-pack--last: var(--b);
        --pluto-pack--only: var(--all);
        --pluto-pack--y-margin: -1px 0 0 0 !important;
        --pluto-pack--y-first-x-first: var(--tl);
        --pluto-pack--y-first-x-last: var(--tr);
        --pluto-pack--y-first-x-only: var(--t);
        --pluto-pack--y-last-x-first: var(--bl);
        --pluto-pack--y-last-x-last: var(--br);
        --pluto-pack--y-last-x-only: var(--b);

        &.pluto-pack--reverse {
            --pluto-pack--first: 0 0 var(--pluto-pack-br) var(--pluto-pack-br) !important;
            --pluto-pack--last: var(--pluto-pack-br) var(--pluto-pack-br) 0 0 !important;
            --pluto-pack--y-margin: 0 0 -1px 0 !important;
            --pluto-pack--y-first-x-first: var(--bl);
            --pluto-pack--y-first-x-last: var(--br);
            --pluto-pack--y-first-x-only: var(--b);
            --pluto-pack--y-last-x-first: var(--tl);
            --pluto-pack--y-last-x-last: var(--tr);
            --pluto-pack--y-last-x-only: var(--t);
        }

        > *:not(:first-child) {
            margin: var(--pluto-pack--y-margin);
        }

        > .pluto-pack.pluto--x {
            &:first-child:not(:only-child) {
                &:not(:has(+ .pluto--hidden)) > *:only-child {
                    border-radius: var(--pluto-pack--y-first-x-only);
                }

                &:not(:has(+ .pluto--hidden)) > *:first-child:not(:only-child) {
                    border-radius: var(--pluto-pack--y-first-x-first);
                }

                &:not(:has(+ .pluto--hidden)) > *:last-child:not(:only-child) {
                    border-radius: var(--pluto-pack--y-first-x-last);
                }
            }

            &:not(:last-child):not(:first-child) > * {
                border-radius: 0 !important;
            }

            &:last-child:not(:only-child) > * {
                &:first-child:not(:only-child) {
                    border-radius: var(--pluto-pack--y-last-x-first);
                }

                &:last-child:not(:only-child) {
                    border-radius: var(--pluto-pack--y-last-x-last);
                }

                &:only-child {
                    border-radius: var(--pluto-pack--y-last-x-only);
                }
            }
        }
    }
}
