/*
 * Copyright 2025 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-space {
    display: flex;
    flex-wrap: nowrap;

    gap: 2rem;

    &.pluto--empty {
        gap: 0;
    }
    &.pluto--wrap {
        flex-wrap: wrap;
    }
    &.pluto-justify--start {
        justify-content: flex-start;
    }
    &.pluto-justify--center {
        justify-content: center;
    }
    &.pluto-justify--end {
        justify-content: flex-end;
    }
    &.pluto-justify--between {
        justify-content: space-between;
    }
    &.pluto-justify--around {
        justify-content: space-around;
    }
    &.pluto-justify--evenly {
        justify-content: space-evenly;
    }
    &.pluto-align--start {
        align-items: flex-start;
    }
    &.pluto-align--center {
        align-items: center;
    }
    &.pluto-align--end {
        align-items: flex-end;
    }
    &.pluto--x {
        flex-flow: row;
        &.pluto--reverse {
            flex-flow: row-reverse;
        }
    }
    &.pluto--y {
        flex-flow: column;
        &.pluto--reverse {
            flex-flow: column-reverse;
        }
    }
    &.pluto-gap--large {
        gap: 4rem;
    }
    &.pluto-gap--small {
        gap: 1rem;
    }
    &.pluto-gap--tiny {
        gap: 0.5rem;
    }
}
