/*
 * Copyright 2025 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

<<<<<<<< HEAD:pluto/src/align/Stack.css
.pluto-stack {
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 0;
    & > div:first-child {
        flex-grow: 1;
    }
    & > div:not(:first-child) {
        min-width: 0;
    }
    & > div:last-child {
        flex-shrink: 0;
========
.console-mosaic-window {
    .console-nav__drawer:is(.console--hover, .pluto--hidden) {
        left: 0.5rem;
        width: calc(100vw - 1rem - 1px);
    }
}

.console--os-macos {
    .console-mosaic__controls-button {
        border-top-right-radius: 1rem;
    }
}

.console--os-windows {
    .console-mosaic__controls-button {
        border-top-left-radius: 1rem;
>>>>>>>> d2ba01a46ac38e55d30faf40c315e68315030cc7:console/src/layouts/Mosaic.css
    }
}
