/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.console-range-explorer {
    container-type: size;
}

.console-range__explorer-list {
    & > .pluto-list__virtualizer {
        display: grid;
        grid-template-columns: 1fr auto auto auto;
        align-items: center;
    }

    & .console-range__list-item,
    & .console-range__list-item-trailing {
        display: grid;
        grid-template-columns: subgrid;
        align-items: center;
    }

    & .console-range__list-item,
    & .pluto-list__sentinel {
        grid-column: 1 / -1;
    }

    & .console-range__list-item-trailing {
        grid-column: 2 / -1;
        column-gap: 0;
    }

    & .pluto-tags {
        grid-column: 1;
        justify-self: end;
    }

    & .console-range__time-range {
        grid-column: 2;
    }

    & .console-range__time-range ~ * {
        grid-column: 3;
    }
}
