---
const { preview, variant, ...rest } = Astro.props;
---

<div class=`diagram ${preview ? 'preview' : ''} ${variant ?? ''}` {...rest}>
    <div class="internal"></div>
    <slot />
</div>

<style>
    .diagram {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 5rem 0;
        width: 100%;
        border-radius: 1.5rem;
        border: var(--pluto-border);
        box-shadow: var(--pluto-shadow-v1);
        background-image: radial-gradient(
            var(--pluto-dark-gray-l5) 0.5px,
            var(--pluto-dark-gray-l0) 0.5px
        );
        background-size: 2rem 2rem;
        overflow: hidden;
        padding: 5rem;

        @media (prefers-color-scheme: dark) {
            box-shadow: none;
            background-image: radial-gradient(
                var(--pluto-gray-l4-70) 0.5px,
                transparent 0.5px
            );
        }

        &.preview {
            justify-content: unset;
            align-items: unset;
            padding: 10rem 20rem;
            background-image: radial-gradient(
                var(--pluto-gray-l5-70) 0.5px,
                transparent 0.5px
            );
            @media (prefers-color-scheme: dark) {
                background-image: radial-gradient(
                    var(--pluto-dark-gray-l3) 0.5px,
                    transparent 0.5px
                );
            }
            img {
                width: 100%;
                border-radius: 1rem;
                z-index: 3;
            }
            & .internal {
                position: absolute;
                z-index: 0;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background: linear-gradient(
                    45deg,
                    var(--pluto-primary-z-50),
                    #ff007b66
                );
            }
        }

        &.boxes {
            background-size: cover;
            background-position: center center;
            background-repeat: repeat;
            background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 2000 1400%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cmask id=%22b%22 x=%220%22 y=%220%22 width=%222000%22 height=%221400%22%3E%3Cpath fill=%22url(%23a)%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3C%2Fmask%3E%3Cpath d=%22M0 0h2000v1400H0z%22%2F%3E%3Cg style=%22transform-origin:center center%22 stroke=%22%23111%22 stroke-width=%222%22 mask=%22url(%23b)%22%3E%3Cpath fill=%22%2311111166%22 d=%22M0 0h100v100H0z%22%2F%3E%3Cpath fill=%22none%22 d=%22M100 0h100v100H100z%22%2F%3E%3Cpath fill=%22%2311111167%22 d=%22M200 0h100v100H200z%22%2F%3E%3Cpath fill=%22none%22 d=%22M300 0h100v100H300zM400 0h100v100H400zM500 0h100v100H500z%22%2F%3E%3Cpath fill=%22%2311111155%22 d=%22M600 0h100v100H600z%22%2F%3E%3Cpath fill=%22%23111111b9%22 d=%22M700 0h100v100H700z%22%2F%3E%3Cpath fill=%22none%22 d=%22M800 0h100v100H800zM900 0h100v100H900zM1000 0h100v100h-100zM1100 0h100v100h-100z%22%2F%3E%3Cpath fill=%22%231111112e%22 d=%22M1200 0h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1300 0h100v100h-100zM1400 0h100v100h-100zM1500 0h100v100h-100zM1600 0h100v100h-100z%22%2F%3E%3Cpath fill=%22%231111119c%22 d=%22M1700 0h100v100h-100z%22%2F%3E%3Cpath fill=%22%231111111a%22 d=%22M1800 0h100v100h-100z%22%2F%3E%3Cpath fill=%22%231111117c%22 d=%22M1900 0h100v100h-100z%22%2F%3E%3Cpath fill=%22%2311111148%22 d=%22M0 100h100v100H0z%22%2F%3E%3Cpath fill=%22none%22 d=%22M100 100h100v100H100zM200 100h100v100H200zM300 100h100v100H300zM400 100h100v100H400zM500 100h100v100H500zM600 100h100v100H600z%22%2F%3E%3Cpath fill=%22%23111111db%22 d=%22M700 100h100v100H700z%22%2F%3E%3Cpath fill=%22none%22 d=%22M800 100h100v100H800z%22%2F%3E%3Cpath fill=%22%23111111d3%22 d=%22M900 100h100v100H900z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1000 100h100v100h-100zM1100 100h100v100h-100zM1200 100h100v100h-100zM1300 100h100v100h-100zM1400 100h100v100h-100z%22%2F%3E%3Cpath fill=%22%23111111f3%22 d=%22M1500 100h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1600 100h100v100h-100z%22%2F%3E%3Cpath fill=%22%23111111f6%22 d=%22M1700 100h100v100h-100z%22%2F%3E%3Cpath fill=%22%23111111a8%22 d=%22M1800 100h100v100h-100z%22%2F%3E%3Cpath fill=%22%2311111143%22 d=%22M1900 100h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M0 200h100v100H0zM100 200h100v100H100zM200 200h100v100H200z%22%2F%3E%3Cpath fill=%22%2311111181%22 d=%22M300 200h100v100H300z%22%2F%3E%3Cpath fill=%22none%22 d=%22M400 200h100v100H400zM500 200h100v100H500z%22%2F%3E%3Cpath fill=%22%2311111134%22 d=%22M600 200h100v100H600z%22%2F%3E%3Cpath fill=%22none%22 d=%22M700 200h100v100H700zM800 200h100v100H800zM900 200h100v100H900zM1000 200h100v100h-100zM1100 200h100v100h-100zM1200 200h100v100h-100zM1300 200h100v100h-100zM1400 200h100v100h-100zM1500 200h100v100h-100zM1600 200h100v100h-100zM1700 200h100v100h-100zM1800 200h100v100h-100zM1900 200h100v100h-100zM0 300h100v100H0zM100 300h100v100H100zM200 300h100v100H200z%22%2F%3E%3Cpath fill=%22%23111111e7%22 d=%22M300 300h100v100H300z%22%2F%3E%3Cpath fill=%22none%22 d=%22M400 300h100v100H400z%22%2F%3E%3Cpath fill=%22%2311111167%22 d=%22M500 300h100v100H500z%22%2F%3E%3Cpath fill=%22none%22 d=%22M600 300h100v100H600z%22%2F%3E%3Cpath fill=%22%231111110c%22 d=%22M700 300h100v100H700z%22%2F%3E%3Cpath fill=%22%231111113d%22 d=%22M800 300h100v100H800z%22%2F%3E%3Cpath fill=%22none%22 d=%22M900 300h100v100H900z%22%2F%3E%3Cpath fill=%22%2311111181%22 d=%22M1000 300h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1100 300h100v100h-100z%22%2F%3E%3Cpath fill=%22%23111111b3%22 d=%22M1200 300h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1300 300h100v100h-100zM1400 300h100v100h-100zM1500 300h100v100h-100zM1600 300h100v100h-100z%22%2F%3E%3Cpath fill=%22%23111111fe%22 d=%22M1700 300h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1800 300h100v100h-100zM1900 300h100v100h-100zM0 400h100v100H0zM100 400h100v100H100zM200 400h100v100H200zM300 400h100v100H300zM400 400h100v100H400z%22%2F%3E%3Cpath fill=%22%2311111180%22 d=%22M500 400h100v100H500z%22%2F%3E%3Cpath fill=%22none%22 d=%22M600 400h100v100H600z%22%2F%3E%3Cpath fill=%22%231111119e%22 d=%22M700 400h100v100H700z%22%2F%3E%3Cpath fill=%22none%22 d=%22M800 400h100v100H800z%22%2F%3E%3Cpath fill=%22%231111115c%22 d=%22M900 400h100v100H900z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1000 400h100v100h-100zM1100 400h100v100h-100z%22%2F%3E%3Cpath fill=%22%23111111c3%22 d=%22M1200 400h100v100h-100z%22%2F%3E%3Cpath fill=%22%23111111e5%22 d=%22M1300 400h100v100h-100z%22%2F%3E%3Cpath fill=%22%231111112c%22 d=%22M1400 400h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1500 400h100v100h-100zM1600 400h100v100h-100zM1700 400h100v100h-100z%22%2F%3E%3Cpath fill=%22%23111111eb%22 d=%22M1800 400h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1900 400h100v100h-100zM0 500h100v100H0zM100 500h100v100H100z%22%2F%3E%3Cpath fill=%22%23111111fc%22 d=%22M200 500h100v100H200z%22%2F%3E%3Cpath fill=%22none%22 d=%22M300 500h100v100H300zM400 500h100v100H400zM500 500h100v100H500zM600 500h100v100H600z%22%2F%3E%3Cpath fill=%22%23111111ee%22 d=%22M700 500h100v100H700z%22%2F%3E%3Cpath fill=%22%23111111f7%22 d=%22M800 500h100v100H800z%22%2F%3E%3Cpath fill=%22none%22 d=%22M900 500h100v100H900z%22%2F%3E%3Cpath fill=%22%231111110f%22 d=%22M1000 500h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1100 500h100v100h-100zM1200 500h100v100h-100z%22%2F%3E%3Cpath fill=%22%2311111193%22 d=%22M1300 500h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1400 500h100v100h-100zM1500 500h100v100h-100z%22%2F%3E%3Cpath fill=%22%231111117d%22 d=%22M1600 500h100v100h-100z%22%2F%3E%3Cpath fill=%22%23111111e7%22 d=%22M1700 500h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1800 500h100v100h-100zM1900 500h100v100h-100zM0 600h100v100H0zM100 600h100v100H100zM200 600h100v100H200z%22%2F%3E%3Cpath fill=%22%231111116a%22 d=%22M300 600h100v100H300z%22%2F%3E%3Cpath fill=%22%2311111151%22 d=%22M400 600h100v100H400z%22%2F%3E%3Cpath fill=%22none%22 d=%22M500 600h100v100H500z%22%2F%3E%3Cpath fill=%22%231111116d%22 d=%22M600 600h100v100H600z%22%2F%3E%3Cpath fill=%22none%22 d=%22M700 600h100v100H700zM800 600h100v100H800zM900 600h100v100H900zM1000 600h100v100h-100zM1100 600h100v100h-100zM1200 600h100v100h-100z%22%2F%3E%3Cpath fill=%22%2311111168%22 d=%22M1300 600h100v100h-100z%22%2F%3E%3Cpath fill=%22%231111115e%22 d=%22M1400 600h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1500 600h100v100h-100zM1600 600h100v100h-100z%22%2F%3E%3Cpath fill=%22%23111111ad%22 d=%22M1700 600h100v100h-100z%22%2F%3E%3Cpath fill=%22%231111119b%22 d=%22M1800 600h100v100h-100z%22%2F%3E%3Cpath fill=%22%2311111165%22 d=%22M1900 600h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M0 700h100v100H0zM100 700h100v100H100zM200 700h100v100H200zM300 700h100v100H300z%22%2F%3E%3Cpath fill=%22%231111115f%22 d=%22M400 700h100v100H400z%22%2F%3E%3Cpath fill=%22none%22 d=%22M500 700h100v100H500zM600 700h100v100H600z%22%2F%3E%3Cpath fill=%22%231111116a%22 d=%22M700 700h100v100H700z%22%2F%3E%3Cpath fill=%22none%22 d=%22M800 700h100v100H800zM900 700h100v100H900zM1000 700h100v100h-100zM1100 700h100v100h-100z%22%2F%3E%3Cpath fill=%22%2311111163%22 d=%22M1200 700h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1300 700h100v100h-100z%22%2F%3E%3Cpath fill=%22%23111111f1%22 d=%22M1400 700h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1500 700h100v100h-100zM1600 700h100v100h-100zM1700 700h100v100h-100zM1800 700h100v100h-100z%22%2F%3E%3Cpath fill=%22%2311111183%22 d=%22M1900 700h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M0 800h100v100H0zM100 800h100v100H100z%22%2F%3E%3Cpath fill=%22%231111113c%22 d=%22M200 800h100v100H200z%22%2F%3E%3Cpath fill=%22none%22 d=%22M300 800h100v100H300zM400 800h100v100H400zM500 800h100v100H500z%22%2F%3E%3Cpath fill=%22%2311111168%22 d=%22M600 800h100v100H600z%22%2F%3E%3Cpath fill=%22%23111111af%22 d=%22M700 800h100v100H700z%22%2F%3E%3Cpath fill=%22%2311111134%22 d=%22M800 800h100v100H800z%22%2F%3E%3Cpath fill=%22none%22 d=%22M900 800h100v100H900z%22%2F%3E%3Cpath fill=%22%23111111c3%22 d=%22M1000 800h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1100 800h100v100h-100zM1200 800h100v100h-100zM1300 800h100v100h-100zM1400 800h100v100h-100z%22%2F%3E%3Cpath fill=%22%2311111126%22 d=%22M1500 800h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1600 800h100v100h-100zM1700 800h100v100h-100zM1800 800h100v100h-100zM1900 800h100v100h-100zM0 900h100v100H0zM100 900h100v100H100zM200 900h100v100H200z%22%2F%3E%3Cpath fill=%22%23111111f7%22 d=%22M300 900h100v100H300z%22%2F%3E%3Cpath fill=%22%231111119a%22 d=%22M400 900h100v100H400z%22%2F%3E%3Cpath fill=%22%23111111de%22 d=%22M500 900h100v100H500z%22%2F%3E%3Cpath fill=%22%231111116d%22 d=%22M600 900h100v100H600z%22%2F%3E%3Cpath fill=%22%2311111150%22 d=%22M700 900h100v100H700z%22%2F%3E%3Cpath fill=%22none%22 d=%22M800 900h100v100H800zM900 900h100v100H900zM1000 900h100v100h-100z%22%2F%3E%3Cpath fill=%22%2311111109%22 d=%22M1100 900h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1200 900h100v100h-100zM1300 900h100v100h-100z%22%2F%3E%3Cpath fill=%22%2311111193%22 d=%22M1400 900h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1500 900h100v100h-100zM1600 900h100v100h-100zM1700 900h100v100h-100zM1800 900h100v100h-100z%22%2F%3E%3Cpath fill=%22%23111111b0%22 d=%22M1900 900h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M0 1000h100v100H0zM100 1000h100v100H100zM200 1000h100v100H200zM300 1000h100v100H300z%22%2F%3E%3Cpath fill=%22%23111111d5%22 d=%22M400 1000h100v100H400z%22%2F%3E%3Cpath fill=%22none%22 d=%22M500 1000h100v100H500zM600 1000h100v100H600zM700 1000h100v100H700zM800 1000h100v100H800zM900 1000h100v100H900zM1000 1000h100v100h-100zM1100 1000h100v100h-100zM1200 1000h100v100h-100zM1300 1000h100v100h-100zM1400 1000h100v100h-100z%22%2F%3E%3Cpath fill=%22%2311111131%22 d=%22M1500 1000h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1600 1000h100v100h-100z%22%2F%3E%3Cpath fill=%22%2311111119%22 d=%22M1700 1000h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1800 1000h100v100h-100zM1900 1000h100v100h-100z%22%2F%3E%3Cpath fill=%22%231111117e%22 d=%22M0 1100h100v100H0z%22%2F%3E%3Cpath fill=%22none%22 d=%22M100 1100h100v100H100zM200 1100h100v100H200zM300 1100h100v100H300zM400 1100h100v100H400z%22%2F%3E%3Cpath fill=%22%2311111165%22 d=%22M500 1100h100v100H500z%22%2F%3E%3Cpath fill=%22none%22 d=%22M600 1100h100v100H600zM700 1100h100v100H700zM800 1100h100v100H800zM900 1100h100v100H900zM1000 1100h100v100h-100zM1100 1100h100v100h-100z%22%2F%3E%3Cpath fill=%22%2311111197%22 d=%22M1200 1100h100v100h-100z%22%2F%3E%3Cpath fill=%22%231111112c%22 d=%22M1300 1100h100v100h-100z%22%2F%3E%3Cpath fill=%22%2311111196%22 d=%22M1400 1100h100v100h-100z%22%2F%3E%3Cpath fill=%22%2311111185%22 d=%22M1500 1100h100v100h-100z%22%2F%3E%3Cpath fill=%22%231111113d%22 d=%22M1600 1100h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1700 1100h100v100h-100z%22%2F%3E%3Cpath fill=%22%2311111196%22 d=%22M1800 1100h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1900 1100h100v100h-100zM0 1200h100v100H0zM100 1200h100v100H100zM200 1200h100v100H200z%22%2F%3E%3Cpath fill=%22%23111111d6%22 d=%22M300 1200h100v100H300z%22%2F%3E%3Cpath fill=%22none%22 d=%22M400 1200h100v100H400zM500 1200h100v100H500zM600 1200h100v100H600zM700 1200h100v100H700z%22%2F%3E%3Cpath fill=%22%231111115b%22 d=%22M800 1200h100v100H800z%22%2F%3E%3Cpath fill=%22none%22 d=%22M900 1200h100v100H900z%22%2F%3E%3Cpath fill=%22%2311111126%22 d=%22M1000 1200h100v100h-100z%22%2F%3E%3Cpath fill=%22%23111111f2%22 d=%22M1100 1200h100v100h-100z%22%2F%3E%3Cpath fill=%22%2311111135%22 d=%22M1200 1200h100v100h-100z%22%2F%3E%3Cpath fill=%22%2311111134%22 d=%22M1300 1200h100v100h-100z%22%2F%3E%3Cpath fill=%22%2311111197%22 d=%22M1400 1200h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1500 1200h100v100h-100zM1600 1200h100v100h-100zM1700 1200h100v100h-100zM1800 1200h100v100h-100zM1900 1200h100v100h-100z%22%2F%3E%3Cpath fill=%22%23111111a9%22 d=%22M0 1300h100v100H0z%22%2F%3E%3Cpath fill=%22%23111111dc%22 d=%22M100 1300h100v100H100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M200 1300h100v100H200z%22%2F%3E%3Cpath fill=%22%231111116f%22 d=%22M300 1300h100v100H300z%22%2F%3E%3Cpath fill=%22none%22 d=%22M400 1300h100v100H400zM500 1300h100v100H500zM600 1300h100v100H600zM700 1300h100v100H700zM800 1300h100v100H800zM900 1300h100v100H900zM1000 1300h100v100h-100z%22%2F%3E%3Cpath fill=%22%23111111b4%22 d=%22M1100 1300h100v100h-100z%22%2F%3E%3Cpath fill=%22%231111115d%22 d=%22M1200 1300h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1300 1300h100v100h-100zM1400 1300h100v100h-100zM1500 1300h100v100h-100z%22%2F%3E%3Cpath fill=%22%2311111190%22 d=%22M1600 1300h100v100h-100z%22%2F%3E%3Cpath fill=%22%23111111b7%22 d=%22M1700 1300h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1800 1300h100v100h-100zM1900 1300h100v100h-100z%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CradialGradient id=%22a%22%3E%3Cstop offset=%220%22 stop-color=%22%23fff%22%2F%3E%3Cstop offset=%221%22 stop-color=%22%23fff%22%2F%3E%3C%2FradialGradient%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");
        }
    }
</style>
