/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-tabs-content {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.pluto-tabs-selector {
    height: 0 !important;
    .pluto-tabs-selector__icon {
        flex-shrink: 0;
        margin-left: 1.5rem;
        margin-right: 1rem;
    }

    .pluto-tabs-selector__tabs {
        height: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        flex-grow: 1;
        width: 100%;
        max-width: 100%;

        &::-webkit-scrollbar {
            height: 3px;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: var(--pluto-gray-l6);
        }
    }

    &.pluto--direction-x {
        box-shadow: inset 0 calc(-1 * var(--pluto-border-width)) 0
            var(--pluto-border-color);
        z-index: 3;
        & .pluto-tabs-selector__tabs > .pluto-btn {
            margin-bottom: -1px;
            height: 100% !important;
            font-weight: 450;
            position: relative;
            &.pluto--selected {
                --box-shadow: inset 0 -2px 0 var(--pluto-primary-z);
                box-shadow: var(--box-shadow);
                .pluto-btn-icon:hover {
                    box-shadow: var(--box-shadow);
                }
            }
        }
    }

    &.pluto--drag-over .pluto-tabs-selector__tabs > *:last-child {
        border-left: 2px solid var(--pluto-primary-z);
        height: 100%;
    }

    & .pluto-tabs-selector__tabs > .pluto-btn {
        cursor: pointer;
        border: none;
        padding: 0;
        transition:
            box-shadow 0.15s,
            background 0.15s ease-in-out,
            border-color 0.15s ease-in-out;

        &.pluto--drag-over {
            &::after {
                content: "";
                position: absolute;
                width: 2px;
                height: 100%;
                background: var(--pluto-primary-z);
            }
            &.pluto--location-left {
                &::after {
                    top: 0;
                    left: -1px;
                }
                &:first-child::after {
                    left: 0;
                }
            }
            &.pluto--location-right::after {
                top: 0;
                right: -1px;
            }
        }

        .pluto-text {
            color: var(--pluto-gray-l9);
            margin: 0 2rem;
            padding: 0 0.25rem;
        }

        &.pluto--selected {
            .pluto-text {
                color: var(--pluto-gray-l11);
            }
            &.pluto--alt-color {
                .pluto-text,
                .pluto-tabs-selector__icon {
                    color: var(--pluto-primary-z) !important;
                    font-weight: 500;
                }
            }
        }

        &:not(.pluto--selected) {
            &:hover {
                background: var(--pluto-gray-l2);
                .pluto-btn.pluto__close {
                    background: none;
                }
            }
            &:active:not(:has(.pluto-btn.pluto__close:active)) {
                background: var(--pluto-gray-l3);
                .pluto-btn.pluto__close {
                    background: none;
                }
            }
        }

        &.pluto--closable .pluto-text {
            margin-right: 0;
        }

        &:has(.pluto-tabs-selector__icon) .pluto-text {
            margin-left: 0;
        }

        &:not(:has([contenteditable="true"])) {
            flex: 1 1 auto !important;
            max-width: fit-content;
            overflow: hidden;
            min-width: 80px;
        }

        &:not(.pluto--selected) .pluto-btn.pluto__close {
            background: none;
            &:hover {
                background: var(--pluto-gray-l4);
            }
            &:active {
                background: var(--pluto-gray-l5);
            }
        }

        & .pluto-btn.pluto__close {
            opacity: 0;
            right: 0;
            margin-left: 1px !important;
            & svg {
                fill: var(--pluto-gray-l8);
            }
            .pluto-icon--circle {
                height: 0.9em;
                width: 0.9em;
            }
            &:has(.pluto-icon--circle) {
                opacity: 1;
                .pluto-icon--close {
                    display: none;
                }
                &:hover {
                    .pluto-icon--circle {
                        display: none;
                    }
                    .pluto-icon--close {
                        display: block;
                    }
                }
            }
        }

        &.pluto--selected .pluto-btn.pluto__close {
            box-shadow: inset 0 -2px 0 var(--pluto-primary-z);
        }

        &:is(:hover, .pluto--selected) .pluto-btn.pluto__close {
            opacity: 1;
        }
    }

    &.pluto--direction-y {
        border-right: var(--pluto-border);
        height: 100%;

        & > .pluto-btn {
            justify-content: flex-start !important;
            margin-right: -1px;
            border-right: var(--pluto-border);

            &.pluto--selected {
                border-color: var(--pluto-primary-z);
                --box-shadow: inset -1px 0 0 var(--pluto-primary-z);
                box-shadow: var(--box-shadow);
                .pluto-btn-icon,
                .pluto-btn-icon:hover {
                    box-shadow: var(--box-shadow);
                }
            }
        }
    }

    .pluto-tabs-selector__actions {
        border-left: var(--pluto-border);
    }
}

.pluto-header .pluto-tabs-selector {
    &.pluto--direction-x {
        box-shadow: none;
    }
}
