/*
 * Copyright 2025 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-tabs-content {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.pluto-tabs-selector__btn--closable:not(.pluto-tabs-selector__btn--has-icon)
    .pluto-tabs-selector__name {
    margin: 0 1rem 0 2.5rem !important;
    padding: 0 0.25rem;
}

.pluto-tabs-selector__icon {
    margin-left: 1.5rem;
    margin-right: 1rem;
}

.pluto-tabs-selector__btn.pluto--selected :is(.pluto-text, .pluto-text-icon) {
    color: var(--pluto-text-color);
}

.pluto-tabs-selector__tabs {
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;

    &::-webkit-scrollbar {
        height: 3px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: var(--pluto-gray-l4);
    }
}

.pluto-tabs-selector__btn--uneditable {
    user-select: none;
    padding: 0 1rem;
}

.pluto-tabs-selector.pluto--x {
    box-shadow: inset 0 -1px 0 var(--pluto-border-color);
    z-index: 3;
}

.pluto-header .pluto-tabs-selector.pluto--x {
    box-shadow: none;
}

.pluto-header .pluto-tabs-selector {
    margin-top: 1px;
    height: 100%;
}

.pluto-tabs-selector__btn {
    cursor: pointer;
    border: none;
    transition: box-shadow 0.25s;
    &.pluto--selected.pluto--alt-color {
        .pluto-text {
            color: var(--pluto-primary-z);
            font-weight: 500;
        }
        .pluto-tabs-selector__icon {
            color: var(--pluto-primary-z) !important;
        }
    }
    .pluto-btn-icon {
        opacity: 0;
        height: 100% !important;
        transition: unset;
        margin-left: 1px !important;
        > svg {
            fill: var(--pluto-gray-l6);
        }
    }

    &:not(.pluto--selected) .pluto-btn-icon {
        &:hover {
            background: var(--pluto-gray-l3);
        }

        &:active {
            background: var(--pluto-gray-l4);
        }
    }

    &:not(.pluto--selected)
        svg:not(.logo)
        path:is(:not([fill="none"]), [stroke="#000"]) {
        fill: var(--pluto-gray-l6);
    }

    &:hover,
    &.pluto--selected {
        .pluto-btn-icon {
            opacity: 1;
        }
    }

    &:hover:not(.pluto--selected) {
        background: var(--pluto-gray-l2-80);
    }

    &:active:not(.pluto--selected) {
        background: var(--pluto-gray-l2);
    }

    .pluto-text-icon {
        color: var(--pluto-gray-l6);
    }

    .pluto-tabs-selector__name {
        margin: 0 2rem;
        padding: 0 0.25rem;
        color: var(--pluto-gray-l6);
        display: inline-flex;
        align-items: center;
    }
}

.pluto-tabs-selector.pluto--y {
    border-right: var(--pluto-border);
    height: 100%;

    & .pluto-tabs-selector__btn {
        justify-content: flex-start !important;
        margin-right: -1px;
        border-right: var(--pluto-border);

        &.pluto--selected {
            border-color: var(--pluto-primary-z);
            --box-shadow: inset -1px 0 0 var(--pluto-primary-z);
            box-shadow: var(--box-shadow);
            .pluto-btn-icon,
            .pluto-btn-icon:hover {
                box-shadow: var(--box-shadow);
            }
        }
    }
}

.pluto--x {
    > .pluto-tabs-selector__btn {
        margin-bottom: -1px;
        height: 100% !important;
        font-weight: 450;
        position: relative;
        &.pluto--selected {
            --box-shadow: inset 0 -2px 0 var(--pluto-primary-z);
            box-shadow: var(--box-shadow);
            .pluto-btn-icon:hover {
                box-shadow: var(--box-shadow);
            }
        }
    }
}
