/*
 * Copyright 2023 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-tag {
    padding: 0rem 1rem;
    border-radius: var(--pluto-border-radius);
    user-select: none;
    width: fit-content;
    height: 100%;
    max-height: 5rem;
}

.pluto-tag__close {
    height: var(--pluto-height-small) !important;
}
