/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-tag {
    border: var(--pluto-border-l5);
    border-width: 0.5px;
    width: fit-content;
    will-change: transform;
    background: var(--pluto-gray-l0);
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-shadow: var(--pluto-shadow-v1);
    position: relative;

    .pluto-tag__close {
        position: absolute;
        left: 0;
        transition:
            min-width 0.1s ease-out,
            opacity 0.1s ease-out;
    }

    &:not(:hover) .pluto-tag__close {
        min-width: 0;
        min-height: 0;
        width: 0;
        height: 0;
        overflow: hidden;
        transition:
            min-width 0.1s ease-in,
            opacity 0.1s ease-in;
        & svg {
            transform: scale(0.9);
        }
    }
}
