/*
 * Copyright 2024 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-tag {
    padding: 0rem 1.5rem;
    border-radius: var(--pluto-border-radius);
    border: var(--pluto-border);
    width: fit-content;
    height: 4.5rem;
    background: var(--pluto-gray-l1);
    transition: padding-right 0.3s ease;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    & .pluto-text {
        text-overflow: ellipsis;
        overflow: hidden;
    }

    position: relative;

    .pluto-tag__close {
        z-index: 3;
        opacity: 0;
        position: absolute;
        background-color: var(--pluto-gray-l0);
        z-index: 20;
        left: 0;
        transition:
            width 0.1s ease-in,
            opacity 0.1s ease-in;
        width: 0;

        & svg {
            color: var(--pluto-gray-l6);
            height: 50%;
            width: 50%;
        }
    }

    &:hover .pluto-tag__close {
        opacity: 1;
        transition:
            width 0.1s ease-out,
            opacity 0.1s ease-out;
        width: 3.5rem;
    }
}
