/*
 * Copyright 2024 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-tag {
    padding: 0rem 1rem;
    border-radius: var(--pluto-border-radius);
    border: var(--pluto-border);
    user-select: none;
    width: fit-content;
    height: 100%;
    height: 4rem;
    background: var(--pluto-gray-l0);


    &.pluto-tag--closeable {
        padding-right: 0;
    }

    .pluto-tag__close {
        z-index: 3;
        & svg {
            color: var(--pluto-gray-l6);
            height: 50%;
            width: 50%;
        }
    }
}


