/*
 * Copyright 2025 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-tag {
    padding: 0rem 1.5rem 0rem 1rem;
    border-radius: var(--pluto-border-radius);
    border: var(--pluto-border-l5);
    border-width: 0.5px;
    width: fit-content;
    background: var(--pluto-gray-l0);
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-shadow: var(--pluto-shadow-v1);
    & .pluto-text {
        text-overflow: ellipsis;
        overflow: hidden;
    }

    position: relative;

    .pluto-tag__close {
        opacity: 0;
        position: absolute;
        left: 0;
        width: 0;
        transition:
            width 0.1s ease-in,
            opacity 0.1s ease-in;

        & svg {
            color: var(--pluto-gray-l8);
            height: 50%;
            width: 50%;
        }
    }

    &:hover .pluto-tag__close {
        opacity: 1;
        width: var(--pluto-height-small);
        transition:
            width 0.1s ease-out,
            opacity 0.1s ease-out;
    }
    &.pluto--small {
        padding: 0rem 1.5rem 0rem 1rem;
        height: 3.5rem;
    }
    &.pluto--medium {
        padding: 0rem 1.5rem 0rem 1rem;
        height: 4rem;
    }
}
