/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-caret-animated {
    transition: transform 0.2s ease;
    transform-origin: center;
    will-change: transform;
    color: var(--pluto-gray-l8);

    &.pluto--location-left {
        transform: rotate(270deg) scale(0.8);
    }

    &.pluto--location-right {
        transform: rotate(90deg) scale(0.8);
    }

    &.pluto--location-bottom {
        transform: rotate(180deg) scale(0.8);
    }

    &.pluto--location-top {
        transform: rotate(0deg) scale(0.8);
    }
}
