# |||| INTELLIJ ||||

.idea/
.iml

# |||| COVERAGE ||||

coverprofile.out
coverage.txt

# |||| MEMORY PROFILING ||||

heap_profiler
goroutine_dump
inflight_trace_dump

# |||| EXECUTABLE ||||

main

# |||| BAZEL ||||

# Ignore all bazel-* symlinks. There is no full list since this can change
# based on the name of the directory bazel is cloned into.
/bazel-*

# Directories for the Bazel IntelliJ plugin containing the generated
# IntelliJ project files and plugin configuration. Seperate directories are
# for the IntelliJ, Android Studio and CLion versions of the plugin.
/.ijwb/
/.aswb/
/.clwb/

# |||| TEST DATA ||||

testdata/*
!testdata/.gitkeep

# |||| DARWIN ||||

.DS_Store
