/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.console-error-overlay {
    height: 100vh;

    & .pluto-navbar.pluto--location-top {
        padding-left: 2rem;
        padding-right: 1rem;

        & .synnax-logo {
            height: 3rem;
            width: 3rem;
        }
    }
}
