UseColor: true
FormatStyle: file  
Checks: '-*,
        bugprone-*,
        clang-analyzer-*,
        concurrency-*,
        cppcoreguidelines-*,
        hicpp-*,
        misc-*,
        modernize-*,
        performance-*,
        portability-*,
        readability-*,
        -readability-identifier-length,
        -readability-magic-numbers,
        -readability-function-cognitive-complexity,
        -readability-braces-around-statements,
        -bugprone-easily-swappable-parameters,
        -modernize-use-trailing-return-type,
        -cppcoreguidelines-avoid-magic-numbers,
        -hicpp-special-member-functions,
        -cppcoreguidelines-special-member-functions,
        -cppcoreguidelines-owning-memory,
        -hicpp-braces-around-statements,
        -misc-include-cleaner,
        -misc-use-internal-linkage,
        -misc-non-private-member-variables-in-classes,
        -misc-use-anonymous-namespace,
        -misc-non-private-member-variables-in-classes,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -clang-analyzer-unix.Stream,
        -cppcoreguidelines-avoid-c-arrays,
        -hicpp-avoid-c-arrays,
        -modernize-avoid-c-arrays
        -cppcoreguidelines-avoid-const-or-ref-data-members'
WarningsAsErrors: ''
HeaderFilterRegex: '^(?!.*(/driver/ni/nidaqmx/|/driver/ni/nisyscfg/)).*$'
CheckOptions:
    - key: diagnostics.showLine
      value: true
    - key: diagnostics.showColumn
      value: true