Checks: '-*,
        bugprone-*,
        clang-analyzer-*,
        concurrency-*,
        cppcoreguidelines-*,
        hicpp-*,
        modernize-*,
        performance-*,
        portability-*,
        readability-*,
        -readability-identifier-length,
        -readability-magic-numbers,
        -readability-function-cognitive-complexity,
        -bugprone-easily-swappable-parameters,
        -modernize-use-trailing-return-type,
        -cppcoreguidelines-avoid-magic-numbers,
        -hicpp-special-member-functions,
        -cppcoreguidelines-special-member-functions,
        -cppcoreguidelines-owning-memory'
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: none