---
Language: Cpp
BasedOnStyle: LLVM
AccessModifierOffset: -4
AlignOperands: AlignAfterOperator
AlwaysBreakTemplateDeclarations: Yes
AlignAfterOpenBracket: BlockIndent
BinPackArguments: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
PackConstructorInitializers: Never
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortLambdasOnASingleLine: None
Cpp11BracedListStyle: false
BreakArrays: true
BreakBeforeBraces: Custom
BraceWrapping:
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
BreakConstructorInitializers: BeforeColon
ColumnLimit: 88
IncludeCategories:
  - Regex: '^<.*'
    Priority: 1
  - Regex: '^".*'
    Priority: 2
  - Regex: '.*'
    Priority: 3
IndentCaseLabels: true
IndentWidth: 4
InsertNewlineAtEOF: true
LambdaBodyIndentation: Signature