root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 88

# |||| GO ||||

[{go.mod,go.sum,*.go}]
indent_style = tab

# |||| PYTHON ||||
# uses defaults

# |||| TYPESCRIPT ||||

[*.{ts,tsx}]
indent_size = 2

# |||| JSON ||||

[*.{json,code-workspace}]
indent_size = 2

# |||| MARKDOWN ||||

[*.{md,mdx}]
indent_size = 2

# |||| YAML ||||

[*.{yml,yaml}]
indent_size = 2


