# |||| INTELLIJ ||||

.idea/

# |||| DARWIN ||||

.DS_Store

# |||| JS ||||

node_modules
dist
coverage
yarn-error.log
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
dist-ssr
*.local
nyc_output
*.tsbuildinfo
*.ts.timestamp-*

# |||| RUST ||||

/target/

# |||| TURBO REPO ||||

.turbo/
.turbo-cache/

# |||| LOGS ||||

logs

# |||| WORK ||||    

work
