# |||||| INTELLIJ ||||||

.idea/

# |||||| DARWIN |||||||

.DS_Store

# |||||| JS ||||||

node_modules
dist
coverage

# |||||| RUST ||||||

/target/

# |||||| TURBO REPO ||||||

.turbo/

# |||||| SYNNAX ||||||

synnax-data/
