{
  "printWidth": 88,
  "proseWrap": "always",
  "overrides": [
    {
      "files": ["synnax.code-workspace", ".prettierrc", ".madgerc"],
      "options": { "parser": "json", "tabWidth": 2 }
    },
    {
      "files": [".github/PULL_REQUEST_TEMPLATE/**/*"],
      "options": { "proseWrap": "never" }
    }
  ],
  "plugins": [
    "@prettier/plugin-xml",
    "prettier-plugin-astro",
    "prettier-plugin-sh",
    "prettier-plugin-toml"
  ]
}
