go 1.25.6

use (
	./alamos/go
	./arc/go
	./aspen
	./cesium
	./core
	./driver/ethercat/esi/parser
	./freighter/go
	./freighter/integration
	./x/go
)

replace google.golang.org/genproto => google.golang.org/genproto v0.0.0-20260128011058-8636f8732409
