go 1.25.4

use (
	./alamos/go
	./arc/go
	./aspen
	./cesium
	./core
	./freighter/go
	./freighter/integration
	./x/go
)

replace google.golang.org/genproto => google.golang.org/genproto v0.0.0-20251002232023-7c0ddcbb5797
