go 1.25.5

use (
	./alamos/go
	./arc/go
	./aspen
	./cesium
	./core
	./freighter/go
	./freighter/integration
	./x/go
)

replace google.golang.org/genproto => google.golang.org/genproto v0.0.0-20251202230838-ff82c1b0f217
