/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-solenoid-valve.pluto--normally-open {
    &:hover {
        & svg {
            stroke: oklch(from var(--pluto-symbol-display) l c h / 95%) !important;
            fill: oklch(from var(--pluto-symbol-display) l c h / 95%) !important;
        }

        &:not(.pluto--enabled) svg {
            fill: oklch(from var(--pluto-symbol-display) l c h / 25%) !important;
        }
    }

    & .pluto-body {
        fill: var(--pluto-symbol-display);
    }

    &.pluto--enabled {
        & .pluto-body {
            fill: none;
        }
    }
}
