
.pluto-tag__close {
    cursor: pointer;
}

.pluto-tag {
    padding: calc(var(--pluto-base-size) / 2) calc(var(--pluto-base-size) * 1.5);
    border-radius: var(--pluto-border-radius);
    user-select: none;
}