.pluto-input__input {
  border-radius: var(--pluto-border-radius);
  border: var(--pluto-border-width) solid var(--pluto-border-color);
  background: none;
  color: var(--pluto-text-color);
  padding: 0 2rem;
}

.pluto-input__input::placeholder {
  color: var(--pluto-gray-m0);
}

.pluto-input--medium {
  height: 4.5rem;
  font-size: var(--pluto-p-size);
  font-weight: var(--pluto-p-weight);
  line-height: var(--pluto-p-line-height);
}

.pluto-input--small {
  height: 4rem;
  font-size: var(--pluto-small-size);
  font-weight: var(--pluto-small-font-weight);
  line-height: var(--pluto-small-line-height);
}

.pluto-input__input:focus {
  outline: none;
  border-color: var(--pluto-primary-z);
}

.pluto-input__label {
  color: var(--pluto-gray-m1);
  font-size: var(--pluto-small-size);
  font-weight: var(--pluto-small-font-weight);
  line-height: var(--pluto-small-line-height);
}

.pluto-input__container:focus-within .pluto-input__label {
  color: var(--pluto-primary-z);
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
