.pluto-btn, .pluto-btn * {
  transition: 0.15s ease-in-out;
}

.pluto-btn {
  cursor: pointer;
  border-radius: var(--pluto-border-radius);
  padding: 0 calc(var(--pluto-base-size) * 2);
  font-family: var(--pluto-font-family);
}

.pluto-btn--medium {
  height: calc(var(--pluto-base-size) * 5);
}

.pluto-btn--small {
  height: calc(var(--pluto-base-size) * 4);
}

/* |||| FILLED |||| */

.pluto-btn--filled {
  border: none;
  color: var(--pluto-white);
  background-color: var(--pluto-primary-z);
}

.pluto-btn--filled:hover {
  background-color: var(--pluto-primary-p1);
}

.pluto-btn--filled:active {
  background-color: var(--pluto-primary-m1);
}

/* |||| OUTLINED |||| */

.pluto-btn--outlined {
  background: none;
  border: var(--pluto-border-width) solid var(--pluto-border-color);
}

.pluto-btn--outlined:hover {
  border-color: var(--pluto-gray-m0);
}

.pluto-btn--outlined:hover * {
  color: var(--pluto-gray-p1);
}

.pluto-btn--outlined:active {
  border-color: var(--pluto-gray-p1);
}

.pluto-btn--outlined:active *{
  color: var(--pluto-gray-p1);
}

/* |||| TEXT |||| */

.pluto-btn--text {
  background: none;
  border: none;
}

.pluto-btn--text:hover {
  background-color: var(--pluto-gray-m1);
}

.pluto-btn--text:active {
  background-color: var(--pluto-gray-m2);
}

/* |||| ICON |||| */

.pluto-btn-icon {
  color: var(--pluto-text-color);
  padding: 0 var(--pluto-base-size);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pluto-btn--medium .pluto-btn-icon__icon {
  font-size: calc(var(--pluto-base-size) * 3);
}

.pluto-btn--small .pluto-btn-icon__icon {
  font-size: calc(var(--pluto-base-size) * 2.5);
}


