.pluto-btn-toggle--checked {
    color: var(--pluto-white);
    background-color: var(--pluto-primary-z-60);
    border: var(--pluto-border-width) solid var(--pluto-primary-z-80);
}

.pluto-btn-toggle--checked:hover {
    background-color: var(--pluto-primary-z-80);
    border-color: var(--pluto-primary-z-80);
}
