.pluto-btn {
  border-radius: var(--border-radius);
  border: none;
  padding-left: calc(var(--base-size) * 2);
  padding-right: calc(var(--base-size) * 2);
  font-family: var(--font-family);
  cursor: pointer;
}

.pluto-btn--medium {
  height: calc(var(--base-size) * 5);
  font-size: var(--p-font-size);
  font-weight: var(--p-weight);
  line-height: var(--p-line-height);
}

.pluto-btn--small {
  height: calc(var(--base-size) * 4);
  font-size: var(--small-font-size);
  font-weight: var(--small-font-weight);
  line-height: var(--small-line-height);
}

.pluto-btn--filled {
  color: var(--white);
  background-color: var(--primary-z);
}

.pluto-btn--filled:hover {
  background-color: var(--primary-p1);
}

.pluto-btn--filled:active {
  background-color: var(--primary-m1);
}

.pluto-btn--outlined {
  background: none;
  border: var(--border-width) solid var(--primary-z);
  color: var(--primary-z);
}

.pluto-btn--outlined:hover {
  border-color: var(--primary-p1);
  color: var(--primary-p1);
}

.pluto-btn--outlined:active {
  border-color: var(--primary-m1);
  color: var(--primary-m1);
}
