/*
 * Copyright 2024 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

/* .console-configure {
    position: relative;
    height: 100%;
    width: 100%;

    & .console-description {
        width: 100%;
        max-width: 450px;
        padding: 4rem;
        & p {
            font-size: 2.4rem;
            line-height: 150%;
        }
    }

    .console-connect {
        flex-grow: 0 !important;
        height: 850px !important;
    }

    .console-content {
        width: 100%;
        flex-grow: 1;
        padding: 3rem;
    }

    .console-form {
        border: var(--pluto-border);
        border-radius: 1.5rem;
        height: 100%;
    }

    .pluto-navbar {
        .pluto--end {
            padding-right: 2rem;
        }
        .pluto--start {
            padding-left: 2rem;
        }
    }
} */
