/*
 * Copyright 2025 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-tooltip {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    pointer-events: none;
    background: var(--pluto-gray-l0);
    border: var(--pluto-border);
    border-color: var(--pluto-gray-l6);
    border-radius: calc(var(--pluto-border-radius) * 2);
    box-shadow: var(--pluto-shadow-v1);
    padding: 1rem 1.5rem;
    opacity: 0;
    max-width: 70rem;
    --translate-amount: 0.666rem;
    --transform-x: 0;
    --transform-y: 0;
    --scale: 0.95;
    transform: translate(var(--transform-x), var(--transform-y)) scale(var(--scale));
    transition:
        opacity 0.15s cubic-bezier(0.16, 1, 0.3, 1),
        transform 0.15s cubic-bezier(0.16, 1, 0.3, 1);

    .pluto-text {
        font-weight: 350;
    }

    &.pluto--loaded {
        opacity: 1;
        --scale: 1;
    }

    &.pluto--location-center {
        &.pluto--location-top {
            --transform-x: calc(var(--pluto-pos-x) - 50%);
            --transform-y: calc(
                var(--pluto-pos-y) + calc(-100% - var(--translate-amount))
            );
        }
        &.pluto--location-bottom {
            --transform-x: calc(var(--pluto-pos-x) - 50%);
            --transform-y: calc(var(--pluto-pos-y) + var(--translate-amount));
        }
        &.pluto--location-left {
            --transform-x: calc(
                var(--pluto-pos-x) + calc(-100% - var(--translate-amount))
            );
            --transform-y: calc(var(--pluto-pos-y) - 50%);
        }
        &.pluto--location-right {
            --transform-x: calc(var(--pluto-pos-x) + var(--translate-amount));
            --transform-y: calc(var(--pluto-pos-y) - 50%);
        }
    }

    &.pluto--location-top {
        &.pluto--location-right {
            --transform-x: var(--pluto-pos-x);
            --transform-y: calc(
                var(--pluto-pos-y) + calc(-100% - var(--translate-amount))
            );
        }
        &.pluto--location-left {
            --transform-x: calc(var(--pluto-pos-x) - 100%);
            --transform-y: calc(
                var(--pluto-pos-y) + calc(-100% - var(--translate-amount))
            );
        }
    }

    &.pluto--location-bottom {
        &.pluto--location-right {
            --transform-x: var(--pluto-pos-x);
            --transform-y: calc(var(--pluto-pos-y) - var(--translate-amount));
        }
        &.pluto--location-left {
            --transform-x: calc(var(--pluto-pos-x) - 100%);
            --transform-y: calc(var(--pluto-pos-y) + var(--translate-amount));
        }
    }
}
