/*
 * Copyright 2024 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-tooltip {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
    pointer-events: none;
    background: var(--pluto-gray-l1);
    border: var(--pluto-border);
    border-radius: var(--pluto-border-radius);
    box-shadow: var(--pluto-shadow-menu);
    padding: 1rem;

    &.pluto--center {
        &.pluto--top {
            transform: translate(
                calc(var(--pos-x) - 50%),
                calc(var(--pos-y) + calc(-100% - 1rem))
            );
        }
        &.pluto--bottom {
            transform: translate(calc(var(--pos-x) - 50%), calc(var(--pos-y) + 1rem));
        }
        &.pluto--left {
            transform: translate(
                calc(var(--pos-x) + calc(-100% - 1rem)),
                calc(var(--pos-y) - 50%)
            );
            &::after {
                right: -2rem;
                border-color: transparent transparent transparent
                    var(--pluto-border-color);
            }
        }
        &.pluto--right {
            transform: translate(calc(var(--pos-x) + 1rem), calc(var(--pos-y) - 50%));
            &::after {
                left: -2rem;
                border-color: transparent var(--pluto-border-color) transparent
                    transparent;
            }
        }

        &.pluto--top,
        &.pluto--bottom {
            &::after {
                left: calc(50% - 1rem);
            }
        }

        &.pluto--left,
        &.pluto--right {
            &::after {
                top: calc(50% - 1rem);
            }
        }
    }

    &.pluto--left {
        &::after {
            right: calc(var(--el-width) / 2 - 1rem);
        }
    }

    &.pluto--right {
        &::after {
            left: calc(var(--el-width) / 2 - 1rem);
        }
    }

    &.pluto--top {
        &::after {
            border-color: var(--pluto-border-color) transparent transparent transparent;
            top: 100%;
        }
        &.pluto--right {
            transform: translate(var(--pos-x), calc(var(--pos-y) + calc(-100% - 1rem)));
        }
        &.pluto--left {
            transform: translate(
                calc(var(--pos-x) - 100%),
                calc(var(--pos-y) + calc(-100% - 1rem))
            );
        }
    }

    &.pluto--bottom {
        &::after {
            border-color: transparent transparent var(--pluto-border-color) transparent;
            bottom: 100%;
        }
        &.pluto--right {
            transform: translate(var(--pos-x), calc(var(--pos-y) - 1rem));
        }
        &.pluto--left {
            transform: translate(calc(var(--pos-x) - 100%), calc(var(--pos-y) + 1rem));
        }
    }

    &::after {
        content: " ";
        position: absolute;
        border-width: 1rem;
        border-style: solid;
    }
}
