/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.synnax-logo--auto {
    --logo-color: var(--pluto-logo-color, #ffffff);
    --text-color: var(--pluto-text-color, #ffffff);

    &:not(.synnax-logo--loader) {
        & path {
            fill: var(--logo-color);
        }
        & text {
            font-size: 252px;
            font-weight: unset;
            fill: var(--text-color);
            font-family: Roboto-Regular, Roboto, sans-serif;
        }
    }

    &.synnax-logo--loader {
        & path {
            fill: var(--pluto-gray-l0);
        }

        & feFlood {
            flood-color: var(--pluto-gray-l10);
        }
    }
}
