/*
 * Copyright 2023 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-tree {
    height: 100%;


    & button {
        border-radius: 0;
        width: 100%;

        & .pluto-caret path {
            fill: var(--pluto-gray-p0) !important;
        }
    }

    .pluto--dragging-over {
        background: var(--pluto-primary-z-20);
        border-bottom: var(--pluto-border);
        border-color: var(--pluto-primary-z);
    }

    .pluto--selected {
        background: var(--pluto-primary-z-20);
    }
}