/*
 * Copyright 2024 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-tree {
    height: 100%;

    & .pluto-btn {
        border-radius: 0;
        width: 100%;
        border-bottom: none !important;

        & .pluto-caret-animated path {
            fill: var(--pluto-gray-l6) !important;
        }
    }

    .pluto--dragging-over {
        background: var(--pluto-gray-l3);
        box-shadow: 0 0.3rem 0 var(--pluto-primary-z);
    }

    .pluto-loading-indicator {
        margin-left: auto;
    }
}
