/*
 * Copyright 2023 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */


.pluto-table {
    width: 100%;
    border-spacing: 0;
    background: transparent;
    border-collapse: collapse;
    overflow-x: auto;
    border-style: hidden;
    border-radius: var(--pluto-border-radius);
    box-shadow: 0 0 0 1px var(--pluto-border-color);

    .pluto-table__virtual-row {
        visibility: collapse;
        height: 0 !important;
        border-style: hidden;
    }

    & > :not(caption) > *:not(.pluto-table__virtual-row) {
        border-width: 1px 0;
        border-color: var(--pluto-border-color);
        border-style: solid;
    }

    & > :not(caption) > * > * {
      position: relative;
      border-width: 0 1px;
      border-color: var(--pluto-border-color);
      border-style: solid;
    }
}