<div>
    <svg
        xmlns="http://www.w3.org/2000/svg"
        version="1.1"
        viewBox="0.00 0.00 360.00 63.00"
    >
        <path
            fill="#8d0200"
            d="
  M 0.00 35.85
  L 0.00 7.80
  L 0.00 2.33
  L 0.00 0.65
  L 14.75 0.68
  Q 15.26 0.68 15.27 1.20
  Q 15.29 17.13 15.27 32.97
  Q 15.26 40.95 16.59 43.81
  Q 18.47 47.84 22.83 49.47
  Q 25.32 50.40 30.79 50.43
  Q 39.60 50.47 48.48 50.45
  Q 48.98 50.45 48.98 50.95
  L 48.98 59.51
  Q 48.98 59.98 48.51 59.99
  Q 35.00 60.29 23.34 59.85
  Q 18.49 59.67 13.45 58.14
  Q 1.44 54.49 0.48 41.50
  Q 0.27 38.66 0.00 35.85
  Z"
        ></path>
        <path
            fill="#8d0200"
            d="
  M 120.13 15.06
  Q 120.13 15.75 120.82 15.77
  Q 126.45 15.88 131.10 15.81
  Q 138.46 15.71 141.31 16.71
  Q 148.04 19.08 151.14 25.88
  Q 158.64 42.37 146.86 55.60
  Q 144.41 58.35 140.56 59.39
  Q 138.19 60.03 133.43 60.06
  Q 124.97 60.12 108.77 60.00
  Q 108.23 59.99 108.23 59.45
  L 108.23 1.03
  A 0.48 0.48 0.0 0 1 108.71 0.55
  L 119.61 0.55
  Q 120.13 0.55 120.13 1.09
  L 120.13 15.06
  Z
  M 120.31 25.62
  L 120.35 50.00
  A 0.57 0.57 0.0 0 0 120.92 50.57
  L 130.93 50.55
  A 12.03 10.92 89.9 0 0 141.83 38.50
  L 141.83 37.04
  A 12.03 10.92 89.9 0 0 130.89 25.03
  L 120.88 25.05
  A 0.57 0.57 0.0 0 0 120.31 25.62
  Z"
        ></path>
        <path
            fill="#8d0200"
            d="
  M 184.29 49.56
  C 188.56 47.61 190.86 43.41 190.93 38.54
  Q 191.12 26.53 191.00 0.85
  Q 191.00 0.55 191.30 0.55
  L 205.69 0.55
  Q 206.16 0.55 206.16 1.02
  Q 206.28 29.07 206.07 41.99
  Q 205.97 48.66 200.20 54.20
  Q 194.88 59.33 187.00 59.75
  Q 182.14 60.01 157.75 60.05
  Q 157.21 60.05 157.21 59.51
  L 157.21 51.29
  Q 157.21 50.80 157.69 50.80
  Q 161.10 50.83 175.04 50.84
  Q 181.47 50.85 184.29 49.56
  Z"
        ></path>
        <rect fill="#8d0200" x="312.69" y="0.55" width="11.80" height="59.40" rx="0.46"
        ></rect>
        <path
            fill="#8d0200"
            d="
  M 340.17 37.97
  A 0.21 0.21 0.0 0 0 340.17 38.25
  L 359.60 59.61
  A 0.32 0.31 70.5 0 1 359.35 60.14
  Q 353.16 59.76 346.31 60.10
  Q 343.64 60.23 341.62 57.83
  Q 333.85 48.55 326.09 39.39
  A 1.33 1.32 44.5 0 1 326.07 37.70
  C 330.92 31.73 335.18 26.55 339.15 21.04
  Q 340.86 18.66 342.87 17.12
  C 344.20 16.09 346.39 15.47 348.35 15.63
  Q 353.43 16.03 359.05 15.70
  Q 359.92 15.65 359.34 16.30
  L 340.17 37.97
  Z"
        ></path>
        <path
            fill="#8d0200"
            d="
  M 84.70 34.16
  Q 88.68 34.19 87.32 30.47
  L 86.99 29.55
  A 6.34 6.34 0.0 0 0 81.02 25.37
  L 58.25 25.40
  A 0.39 0.39 0.0 0 1 57.86 25.01
  L 57.85 16.27
  A 0.46 0.46 0.0 0 1 58.31 15.81
  Q 68.68 15.78 78.28 15.82
  C 86.22 15.84 94.65 16.31 98.10 24.72
  Q 99.19 27.37 99.36 33.42
  Q 99.67 43.87 99.52 59.78
  A 0.27 0.27 0.0 0 1 99.25 60.05
  Q 83.07 60.08 70.92 60.05
  Q 65.22 60.03 62.76 59.13
  C 49.92 54.34 53.20 33.90 67.55 34.01
  Q 81.75 34.13 84.70 34.16
  Z
  M 87.41 50.74
  L 87.43 43.00
  A 0.44 0.44 0.0 0 0 86.99 42.56
  L 72.81 42.53
  A 5.64 4.16 0.1 0 0 67.16 46.68
  L 67.16 46.98
  A 5.64 4.16 0.1 0 0 72.79 51.15
  L 86.97 51.18
  A 0.44 0.44 0.0 0 0 87.41 50.74
  Z"
        ></path>
        <path
            fill="#8d0200"
            d="
  M 242.94 34.17
  Q 246.91 34.21 245.56 30.49
  L 245.23 29.57
  A 6.34 6.33 -9.9 0 0 239.27 25.39
  L 216.51 25.39
  A 0.39 0.39 0.0 0 1 216.12 25.00
  L 216.12 16.27
  A 0.46 0.46 0.0 0 1 216.58 15.81
  Q 226.95 15.79 236.54 15.84
  C 244.47 15.87 252.90 16.35 256.34 24.75
  Q 257.42 27.40 257.59 33.45
  Q 257.89 43.89 257.72 59.79
  A 0.27 0.27 0.0 0 1 257.45 60.06
  Q 241.28 60.07 229.14 60.03
  Q 223.44 60.01 220.98 59.10
  C 208.16 54.30 211.46 33.88 225.80 34.01
  Q 239.99 34.14 242.94 34.17
  Z
  M 245.62 50.68
  L 245.62 43.02
  A 0.47 0.47 0.0 0 0 245.15 42.55
  L 230.38 42.55
  A 4.96 4.17 0.0 0 0 225.42 46.72
  L 225.42 46.98
  A 4.96 4.17 -0.0 0 0 230.38 51.15
  L 245.15 51.15
  A 0.47 0.47 0.0 0 0 245.62 50.68
  Z"
        ></path>
        <path
            fill="#8d0200"
            d="
  M 305.05 50.77
  L 305.05 59.51
  Q 305.05 59.88 304.69 59.89
  Q 289.92 60.58 280.73 59.29
  C 272.36 58.13 266.34 51.21 264.94 42.76
  Q 263.30 32.89 268.26 25.00
  C 271.50 19.84 277.14 16.49 283.03 16.04
  Q 289.69 15.54 304.59 16.02
  Q 305.11 16.04 305.11 16.55
  L 305.11 25.47
  Q 305.11 26.13 304.44 26.13
  Q 302.19 26.13 291.49 26.14
  Q 285.60 26.15 283.22 27.46
  C 274.62 32.22 274.78 45.65 284.22 49.62
  Q 286.11 50.41 290.35 50.44
  Q 298.07 50.47 304.72 50.44
  Q 305.05 50.44 305.05 50.77
  Z"
        ></path>
    </svg>
</div>

<style>
    div {
        margin: 5rem 0;
        border: var(--pluto-border-l4);
        border-radius: 2rem;
        box-shadow: var(--pluto-shadow-menu);
        padding: 20rem;
        * {
            fill: white;
        }
        width: 100%;
        background-size: cover;
        background-position: center center;
        background-repeat: repeat;

        background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22 width=%222000%22 height=%221400%22%3E%3Cg filter=%22url(%23a)%22%3E%3Cpath fill=%22%23a90300%22 d=%22M-1000-700h4000v2800h-4000z%22%2F%3E%3Cpath d=%22m-151-397-250 799 44 637 1486-626%22 fill=%22%23600200%22%2F%3E%3Cpath d=%22M1465-209 207 768l1332 531 116-156%22 fill=%22%23600200%22%2F%3E%3Cpath d=%22M2325 298 1001 850l564 745 857-1236%22 fill=%22%23600200%22%2F%3E%3Cpath d=%22M747 332-503 774 558 1880l536-951%22 fill=%22%23a90300%22%2F%3E%3Cpath d=%22M376 1137 265 2354l68 256 1410-82%22 fill=%22%23600200%22%2F%3E%3Cpath d=%22m1016 1107-72 772 1047 548 356-503%22 fill=%22%23600200%22%2F%3E%3C%2Fg%3E%3Cpath fill=%22%23fff%22 filter=%22url(%23b)%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3Cdefs%3E%3Cfilter id=%22b%22 x=%22-800%22 y=%22-560%22 width=%222800%22 height=%221960%22 filterUnits=%22userSpaceOnUse%22 primitiveUnits=%22userSpaceOnUse%22 color-interpolation-filters=%22linearRGB%22%3E%3CfeTurbulence type=%22fractalNoise%22 baseFrequency=%22.066%22 numOctaves=%224%22 seed=%2215%22 stitchTiles=%22no-stitch%22 x=%220%22 y=%220%22 width=%222000%22 height=%221400%22 result=%22turbulence%22%2F%3E%3CfeSpecularLighting surfaceScale=%2210%22 specularConstant=%22.202%22 specularExponent=%2220%22 lighting-color=%22%23fff%22 x=%220%22 y=%220%22 width=%222000%22 height=%221400%22 in=%22turbulence%22 result=%22specularLighting%22%3E%3CfeDistantLight azimuth=%223%22 elevation=%22100%22%2F%3E%3C%2FfeSpecularLighting%3E%3C%2Ffilter%3E%3Cfilter id=%22a%22 x=%22-146%22 y=%22-146%22 width=%222292%22 height=%221692%22 filterUnits=%22userSpaceOnUse%22 color-interpolation-filters=%22sRGB%22%3E%3CfeFlood flood-opacity=%220%22 result=%22BackgroundImageFix%22%2F%3E%3CfeBlend in=%22SourceGraphic%22 in2=%22BackgroundImageFix%22 result=%22shape%22%2F%3E%3CfeGaussianBlur stdDeviation=%22146%22 result=%22effect1_foregroundBlur_1_2%22%2F%3E%3C%2Ffilter%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");
    }
</style>
