/*
 * Copyright 2024 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.console-physical-plan {
    height: 100%;

    & .console-groups {
        width: 240px;
        max-width: 240px;
    }

    & .console-channels {
        border-left: var(--pluto-border);
        height: 440px;
    }

    & .console-form-details {
        border-radius: 1rem;
    }

    & .console-details {
        padding: 3rem;
        flex-grow: 1;
    }

    & .console-bad-port .console-port {
        color: var(--pluto-error-z) !important;
    }
}
