/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-macos-controls:hover:not(:disabled) svg {
    display: block;
}

.pluto-macos-control {
    border-radius: 50% !important;
    height: 12px !important;
    width: 12px !important;
    border-width: 1px;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
}

.pluto-macos-controls--blurred .pluto-macos-control {
    background: var(--pluto-gray-l3);
    border-color: var(--pluto-gray-l3);
}

.pluto-macos-control svg {
    width: 80%;
    height: 80%;
    display: none;
}

.pluto-macos-control:disabled {
    border: none;
    background: var(--pluto-gray-l6);
    border-color: var(--pluto-gray-l7);
    & * {
        display: none;
    }
}

.pluto-macos-control:not(:disabled) {
    &.pluto-macos-control--close {
        border-color: #df4744;
        background: #fc5753;
    }

    &.pluto-macos-control--minimize {
        border-color: #de9f34;
        background: #fdbc40;
    }

    &.pluto-macos-control--maximize {
        border-color: #27aa35;
        background: #36c84b;
    }
}

.pluto-macos-control:active:not(:disabled) {
    filter: brightness(0.8);
}
