/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-windows-control--close {
    border-top-right-radius: 1rem !important;
    &:hover {
        background: var(--pluto-error-z) !important;
        border-color: var(--pluto-error-z) !important;

        & svg {
            fill: var(--pluto-white);
            transition: none;
        }
    }

    &:active {
        background: var(--pluto-error-m1) !important;
        border-color: var(--pluto-error-m1) !important;
    }
}

.pluto-windows-control {
    border: none;
    width: 7rem;
}

.pluto-windows-control--maximize > svg {
    top: 30% !important;
    left: 30% !important;
    width: 40% !important;
    height: 40% !important;
}

.pluto-windows-control--close,
.pluto-windows-control--minimize {
    & > svg {
        top: 27.5% !important;
        left: 27.5% !important;
        width: 45% !important;
        height: 45% !important;
    }
}
