/*
 * Copyright 2024 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

html {
    overflow: hidden;
}

body {
    overflow: hidden;
}

#root {
    overflow: hidden;
}

.console-main {
    height: 100%;
    width: 100%;
}

.console-controls--windows button {
    height: 100% !important;
    border-radius: 0 !important;
    padding: 1.5rem;
    border: none !important;
}

.console-controls--windows {
    height: 100%;
}

.console-main-nav-top__logo {
    height: 55%;
}

.console-main-nav-left__logo {
    width: 100%;
}

.console-main-nav-top__title {
    cursor: default;
}
