/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-value {
    display: flex;
    flex-direction: row;
    border: var(--pluto-border);
    border-color: var(--pluto-symbol-display);
    border-radius: var(--pluto-border-radius);
    border-width: 2px;
    padding: 0;
    flex-grow: 0;
    align-items: center;
    justify-content: center;

    & .pluto-value__content {
        padding-left: 1.5rem;
    }

    & .pluto-value__units {
        display: flex;
        align-items: center;
        height: calc(100% + 2px);
        padding: 0 1rem;
        background: var(--pluto-symbol-display);
        color: var(--pluto-symbol-contrast);
        padding-top: 1px;
        margin-right: -1px;
        text-align: center;

        &.pluto--h4 {
            padding: 0 1.5rem;
        }

        &.pluto--h3 {
            padding: 0 2rem;
        }

        & .pluto-text {
            color: var(--pluto-symbol-contrast);
            font-weight: 500;
        }
    }
}
