/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.console-arc-create-modal {
    .console-arc-create-modal__mode-select-button {
        padding: 2rem 3rem;
        max-width: 50%;
        overflow: hidden;
        text-align: start;

        &.pluto--selected {
            background-color: var(--pluto-primary-z-20);
            border-color: var(--pluto-primary-z);
        }
    }
}
