/*
 * Copyright 2023 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.delta-connect-cluster .delta-input__port {
    width: 20rem;
}

.delta-connect-cluster .delta-input__host {
     width: 20rem;
}

.delta-connect-cluster .delta-input__password {
    width: 100%;
}

.delta-connect-cluster .delta-footer__start {
    padding: 0 2rem;
}

.delta-connect-cluster .delta-footer__end {
        padding: 1rem;
}
