/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.console-mosaic-window {
    .console-nav__drawer:is(.console--hover, .pluto--hidden) {
        left: 0.5rem;
        width: calc(100vw - 1rem - 1px);
    }
}

.console--os-macos {
    .console-mosaic__controls-button {
        border-top-right-radius: 1rem;
    }
}

.console--os-windows {
    .console-mosaic__controls-button {
        border-top-left-radius: 1rem;
    }
}

.console-mosaic {
    .console-mosaic-modal {
        animation: none !important;
    }
    .console-mosaic-modal-bar {
        display: none;
        &.console-mosaic-modal-bar--focused {
            display: flex;
            z-index: 10;
        }
        & .pluto-navbar__content {
            &.pluto--start {
                padding-left: 2rem;
            }
            &.pluto--end {
                padding-right: 1rem;
            }
        }
    }
}
