/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-navbar {
    position: relative;
    flex-shrink: 0;
}

.pluto-navbar.pluto--direction-y {
    padding: 0;
    height: 100%;
}

.pluto-navbar.pluto--direction-x {
    width: 100%;
}

.pluto-navbar.pluto--direction-y .pluto-navbar__content {
    flex-direction: column !important;
    width: 100%;
}

.pluto-navbar.pluto--direction-x .pluto-navbar__content {
    flex-direction: row !important;
    height: 100%;
}

.pluto-navbar.pluto--direction-x .pluto-navbar__content.pluto--location-center {
    margin-left: auto;
    margin-right: auto;
}

.pluto-navbar.pluto--direction-x .pluto-navbar__content.pluto--end {
    margin-left: auto;
}

.pluto-navbar.pluto--direction-y .pluto-navbar__content.pluto--location-center {
    margin-top: auto;
    margin-bottom: auto;
    order: 2;
}

.pluto-navbar.pluto--direction-y .pluto-navbar__content.pluto--end {
    order: 100;
    margin-top: auto;
}

.pluto-navbar.pluto--direction-x .pluto-navbar__content.pluto--absolute-center {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}
