.pluto-text-link {
    color: var(--pluto-primary-p1);
    cursor: pointer;
    text-decoration: none;
}

.pluto-text-link:hover {
    text-decoration: underline;
}

.pluto-text-link__text {
    color: var(--pluto-primary-p1);
}
