/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

@container (max-width: 500px) {
    .console-range__list-item {
        .pluto-tags {
            display: none;
        }
    }
}

.console-range-list-search {
    padding: 1.5rem;
}

.console-range-list-filters {
    padding: 1rem 2rem;
    border-top: none;
}

.console-range-select-filters-dialog {
    padding: 1rem;
}

.console-range-has-labels-filter {
    padding: 0 1rem;
    box-shadow: var(--pluto-shadow-v1);
}
