/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-select-dropdown-button {
    & .pluto-caret-animated {
        margin-left: auto;
    }

    &.pluto--preview svg {
        display: none;
    }
}

.pluto-select-button {
    & .pluto--filled {
        z-index: 3;
    }
}

.pluto--visible.pluto--location-top .pluto-select-button__indicator {
    transform: rotate(90deg);
}

.pluto--visible.pluto--location-bottom .pluto-select-button__indicator {
    transform: rotate(-90deg);
}
