/*
 * Copyright 2023 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-select-button {
    /* This is so it matches the background style of input components */
    background: var(--pluto-gray-l1) !important;

    & .pluto-select-button__indicator {
        transition: transform 0.2s ease-in-out;
        transform-origin: center;
        margin-left: auto;
        color: var(--pluto-gray-l6);
    }
}

.pluto--visible.pluto--top .pluto-select-button__indicator {
    transform: rotate(90deg);
}

.pluto--visible.pluto--bottom .pluto-select-button__indicator {
    transform: rotate(-90deg);
}
