/*
 * Copyright 2024 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-select-multiple__input {
    width: 100%;

    & .pluto-input__internal {
        width: 200px;
        flex-shrink: 0;
        flex-grow: 0 !important;
    }
    &:not(:focus-within) input {
        cursor: pointer !important;
    }
}

.pluto-select-multiple__input.pluto-haul-drop-region > * {
    background: var(--haul-background) !important;
    border-color: var(--haul-border-color) !important;
}

.pluto-select-multiple__tags {
    background: var(--pluto-gray-l2);
    padding: 0.25rem 1rem;
    overflow-x: scroll;
    flex-wrap: wrap;
}

.pluto-select-multiple__tags::-webkit-scrollbar {
    display: none;
}

.pluto-select-multiple__tag--invalid {
    & .pluto-text {
        color: var(--pluto-error-z);
    }
}
