/*
 * Copyright 2023 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-select-multiple {
    width: 100%;
    background-color: var(--pluto-background-color);
}

.pluto-select-multiple.pluto-haul-drop-region > * {
    background-color: var(--haul-background-color) !important;
    border-color: var(--haul-border-color) !important;
}

.pluto-select-multiple__input {
    width: 20%;
    flex-shrink: 0;
    flex-grow: 0 !important;
}

.pluto-select-multiple__tags {
    padding: 0.25rem 1rem;
    overflow-x: scroll;
    flex-wrap: wrap;
}

.pluto-select-multiple__tags::-webkit-scrollbar {
    display: none;
}
