/*
 * Copyright 2024 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

 .pluto-select {
    .pluto-list__container.pluto-list--empty {
        height: 1px;
        min-height: 150px;
    }
 }

.pluto-select__clear {
    background: var(--pluto-gray-l0);
}

.pluto-select__input {
    flex-grow: 1;
}

.pluto-select__input.pluto-haul-drop-region > * {
    background: var(--haul-background) !important;
    border-color: var(--haul-border-color) !important;
}
