/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-input__datetime {
    width: min-content;
    & input {
        padding-right: 0 !important;
    }
}

input::-webkit-calendar-picker-indicator {
    display: none;
}
input[type="date"]::-moz-calendar-picker-indicator {
    display: none;
}

@media (max-width: 800px) {
    .pluto-datetime-modal {
        width: 100%;
        .pluto-content {
            flex-direction: column !important;
        }
        .pluto-ai-selector {
            min-height: 200px;
        }
        max-width: 445px !important;
    }
}

.pluto-datetime-modal {
    width: calc(98vw - 6rem);
    max-width: 800px;
    min-width: 78rem;

    .pluto-content {
        padding: 2rem;
        overflow: hidden;
    }

    .pluto-navbar__content {
        &.pluto--end {
            padding-right: 2rem;
        }
        &.pluto--start {
            padding-left: 2rem;
        }
    }

    .pluto-header {
        padding-left: 1rem;
    }

    .pluto-ai-selector {
        width: 100%;
    }

    .pluto-datetime-picker {
        min-width: 70rem;
        height: 38rem;
    }

    .pluto-calendar {
        width: 37rem;
        & div:nth-child(3) {
            border: var(--pluto-border-l5);
        }
        .pluto-calendar-header {
            border-top-left-radius: var(--pluto-border-radius) !important;
        }
        .pluto-calendar-header__month {
            border-top: var(--pluto-border-l5);
            border-bottom: var(--pluto-border-l5);
        }
        & > * > .pluto-text-icon {
            border-top: var(--pluto-border-l5);
        }
    }

    .pluto-datetime-modal-container {
        padding: 2rem;
    }

    .pluto-time-selector-list {
        height: calc(100% - 4rem);
    }

    .pluto-time-list {
        width: 100%;
        max-height: 100%;
        border-top-left-radius: 0 !important;
        border-right: var(--pluto-border-l5);
        border-right-color: var(--pluto-gray-l6);
        border-top: var(--pluto-border-l5);

        .pluto-list__item {
            border-left: var(--pluto-border);
            border-color: transparent;

            &:hover {
                border-color: var(--pluto-gray-l5);
            }
        }
    }

    .pluto-close-btn {
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    .pluto-datetime-picker {
        border-top-left-radius: 0 !important;
        background: var(--pluto-gray-l1);

        ::-webkit-scrollbar {
            width: 0.5rem;
        }

        ::-webkit-scrollbar-track {
            background: transparent;
        }

        ::-webkit-scrollbar-thumb {
            background: var(--pluto-gray-l3);
            border-radius: var(--pluto-border-radius);
        }

        .pluto-input {
            width: 100%;
            border-bottom-left-radius: 0 !important;
            background: none !important;
        }

        .pluto-time-selector {
            & > div {
                overflow: hidden;
            }
            overflow: hidden;
        }
    }
}
