/*
 * Copyright 2025 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto--warning {
    border-color: var(--pluto-warning-z-65) !important;
}

.pluto--error {
    border-color: var(--pluto-error-z-65) !important;
}

.pluto-input {
    position: relative;
    display: inline-flex;
    align-items: center;
    max-height: fit-content;
    padding: 0 !important;
    flex-grow: 1;

    &.pluto--outlined.pluto-input--custom-color {
        border-color: rgba(
            var(--pluto-input-color),
            var(--pluto-input-border-opacity, 1)
        );
    }

    &:focus-within {
        &:not(.pluto--natural):not(.pluto--preview) {
            border-color: var(--c, var(--pluto-primary-z)) !important;
            box-shadow: inset 0 0 0 0.5px var(--pluto-primary-z);
            background-color: var(--pluto-bg) !important;
        }
    }

    & input {
        outline: none;
        border: none;
        background: none;
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        height: 100%;
        padding: 0 1.5rem;
        font-size: inherit;
        line-height: inherit;

        &::placeholder,
        &::-webkit-input-placeholder {
            color: transparent;
            text-overflow: ellipsis;
            max-width: 100%;
        }
    }

    .pluto-input__placeholder,
    .pluto-input__end-content {
        display: flex;
        align-items: center;
        pointer-events: none;
        white-space: nowrap;
        color: var(--pluto-gray-l8);
    }

    .pluto-input__placeholder {
        position: absolute;
        padding-left: 1.5rem;
        width: calc(100% - 1.5rem);
    }

    &.pluto--disabled {
        & .pluto-input__placeholder,
        & .pluto-input__end-content {
            color: var(--pluto-gray-l6);
        }
    }

    .pluto-input__end-content {
        padding-right: 1.5rem;
    }

    &.pluto--shadow:not(:focus):not(:focus-within):not(:hover) {
        background: var(--pluto-gray-l0);
        & > * {
            border-color: transparent;
        }
        & > *:not(.pluto-input) {
            opacity: 0;
        }
    }

    &.pluto--natural,
    &.pluto--preview {
        background: none;
        border-radius: 0;
        border: none;
    }

    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
}
