/*
 * Copyright 2025 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto--warning .pluto-input__internal {
    border-color: var(--pluto-warning-z-65) !important;
    border-width: 1px !important;
}

.pluto--error .pluto-input__internal {
    border-color: var(--pluto-error-z-65) !important;
    border-width: 1px !important;
}

.pluto-input {
    &.pluto--outlined.pluto-input--custom-color .pluto-input__internal {
        border-width: 1px;
        border-color: rgba(
            var(--pluto-input-color),
            var(--pluto-input-border-opacity, 1)
        );
    }

    & .pluto-input__internal {
        position: relative;
        display: inline-flex;
        align-items: center;
        height: 100%;
        flex-grow: 1;

        &:focus-within {
            --c: rgba(var(--pluto-input-color), 1);
            border-color: var(--c, var(--pluto-primary-z)) !important;
            border-width: 1px;
            background-color: var(--pluto-bg) !important;
            & input {
                outline: none;
                padding: 0 calc(1.5rem - 0.5px);
            }
            & .pluto-input__placeholder {
                padding-left: calc(1.75rem - 0.5px);
            }
            & .pluto-input__end-content {
                padding-right: calc(1.5rem - 0.5px);
            }
        }
    }

    &.pluto--disabled {
        & .pluto-input__internal {
            background-color: var(--pluto-gray-l2);
        }
        & :not(.pluto-input__disabled-overlay) {
            cursor: not-allowed !important;
            color: var(--pluto-gray-l7) !important;
        }
        &:not(.pluto-input--custom-color) {
            .pluto-input__internal {
                border-color: var(--pluto-gray-l3) !important;
            }
        }
    }

    & input {
        border: none;
        background: none;
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        height: 100%;
        padding: 0 1.5rem;
        font-size: inherit;
        line-height: inherit;

        &::placeholder,
        &::-webkit-input-placeholder {
            color: transparent;
            text-overflow: ellipsis;
            max-width: 100%;
        }
    }

    .pluto-input__placeholder,
    .pluto-input__end-content {
        display: flex;
        align-items: center;
        pointer-events: none;
        white-space: nowrap;
        & * {
            color: var(--pluto-gray-l8);
        }
    }

    .pluto-input__placeholder {
        position: absolute;
        padding-left: 1.75rem;
        width: calc(100% - 1.5rem);
    }

    .pluto-input__end-content {
        padding-right: 1.5rem;
    }

    &.pluto--shadow:not(:focus):not(:focus-within):not(:hover) {
        .pluto-input__internal {
            background: var(--pluto-bg);
        }
        & > * {
            border-color: transparent;
        }
        & > *:not(.pluto-input__internal) {
            opacity: 0;
        }
    }

    &.pluto--natural,
    &.pluto--preview {
        background: none !important;
        border-radius: 0 !important;
        align-items: center;
        & > * {
            border-color: transparent !important;
        }

        & .pluto-input__internal {
            border: none !important;
            background: none !important;
            height: initial !important;
            &:focus-within {
                & input {
                    padding: 0;
                }
                & .pluto-input__placeholder {
                    padding-left: 1px;
                }
            }
        }

        & input {
            padding: 0;
        }

        & .pluto-input__placeholder {
            padding-left: 1px;
            & * {
                color: var(--pluto-gray-l6);
            }
        }
    }

    input[type="number"]::-webkit-inner-spin-button {
        /* stylelint-disable-next-line property-no-vendor-prefix */
        -webkit-appearance: none;
    }
}
