/*
 * Copyright 2025 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-input {
    position: relative;
    display: inline-flex;
    align-items: center;
    max-height: fit-content;
    flex-grow: 1;

    /* Increased the specificity of the button class to override the padding. */
    &.pluto-btn {
        padding: 0;
    }

    &:focus-within:not(.pluto-btn--text):not(.pluto--status-warning):not(
            .pluto--status-error
        ) {
        --pluto-border-color: rgb(var(--pluto-btn-color, var(--pluto-primary-z-rgb)));
        border-color: var(--pluto-border-color);
        box-shadow: inset 0 0 0 0.5px var(--pluto-border-color);
    }

    & input,
    & textarea {
        outline: none;
        border: none;
        background: none;
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        height: 100%;
        padding: 0 1.5rem;
        font-size: inherit;
        line-height: inherit;
        color: inherit;

        &::placeholder,
        &::-webkit-input-placeholder {
            text-overflow: ellipsis;
            max-width: 100%;
        }
    }

    & textarea {
        resize: none;
        &::placeholder,
        &::-webkit-input-placeholder {
            padding-left: 2px;
        }
    }

    .pluto-input__placeholder,
    .pluto-input__end-content,
    .pluto-input__start-content {
        display: flex;
        align-items: center;
        pointer-events: none;
        white-space: nowrap;
    }

    .pluto-input__placeholder,
    .pluto-input__end-content {
        color: var(--pluto-gray-l8);
    }

    .pluto-input__start-content {
        padding-left: 1rem;
    }

    .pluto-input__placeholder {
        position: absolute;
        padding-left: 1.5rem;
        width: calc(100% - 1.5rem);
    }

    &.pluto--disabled {
        & .pluto-input__placeholder,
        & .pluto-input__end-content,
        & input::placeholder {
            color: var(--pluto-gray-l6);
        }
    }

    .pluto-input__end-content {
        padding-right: 1.5rem;
    }

    &.pluto--shadow:not(:focus):not(:focus-within):not(:hover) {
        background: var(--pluto-gray-l0);
        & > * {
            border-color: transparent;
        }
        & > *:not(.pluto-input) {
            opacity: 0;
        }
    }

    &.pluto-btn--text,
    &.pluto--preview {
        background: none;
        border-radius: 0;
        border: none;
        & input {
            padding: 0 0.5rem;
        }
    }

    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
}

.pluto-input__container:has(.pluto-btn--shadow) {
    .pluto-btn--outlined,
    .pluto-btn--text {
        opacity: 0;
    }
    &:hover {
        & .pluto-btn--outlined,
        & .pluto-btn--text {
            opacity: 1;
        }
        & .pluto-btn--shadow {
            border-color: var(--pluto-hover-border-color);
            background: var(--pluto-hover-bg);
        }
    }
}
