/*
 * Copyright 2024 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto--warning .pluto-input__internal {
    border-color: var(--pluto-warning-z-65) !important;
}

.pluto--error .pluto-input__internal {
    border-color: var(--pluto-error-z-65) !important;
}

.pluto-input {
    color: var(--pluto-text-color);
    margin: 0;
    width: 100%;
    flex-shrink: 0;
    overflow: hidden;

    & .pluto-input__internal {
        position: relative;
        height: 100%;
        background: var(--pluto-gray-l2);
        flex-grow: 1;
    }

    &.pluto-input--disabled {
        & .pluto-input__placeholder * {
            color: var(--pluto-gray-l5) !important;
        }
        & .pluto-input__internal {
            background-color: var(--pluto-gray-l2);
            opacity: 0.8;
            border-color: var(--pluto-gray-l3);
        }
    }

    & input {
        border: none;
        background: none;
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        height: 100%;

        padding: 0 1.5rem;

        &::-webkit-input-placeholder {
            color: transparent;
        }

        &::placeholder {
            color: transparent;
            text-overflow: ellipsis;
            max-width: 100%;
        }
    }

    & > .pluto-input__internal:focus-within {
        border-color: var(--pluto-primary-z) !important;
        & input {
            outline: none;
        }
    }

    &.pluto--medium input {
        font-size: var(--pluto-p-size);
        font-weight: var(--pluto-p-weight);
        line-height: var(--pluto-p-line-height);
    }

    &.pluto--small input {
        font-size: var(--pluto-small-size);
        font-weight: var(--pluto-small-font-weight);
        line-height: var(--pluto-small-line-height);
    }

    &.pluto--large input {
        font-size: var(--pluto-h5-size);
        font-weight: var(--pluto-h5-weight);
        line-height: var(--pluto-h5-line-height);
    }

    &.pluto--huge input {
        font-size: var(--pluto-h2-size);
        font-weight: var(--pluto-h2-weight);
        line-height: var(--pluto-h2-line-height);
    }

    &:not(:focus-within) .pluto--centered {
        justify-content: center;
    }
}

.pluto-input__placeholder {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    /* z-index of placeholder is above that of input, so we move it a bit to the right
    to make sure the cursor doesn't look weird. */
    padding-left: 1.75rem;
    width: calc(100% - 1.5rem);
    overflow: hidden;
    display: flex;
    align-items: center;
    pointer-events: none;
    border: none !important;

    & * {
        color: var(--pluto-gray-l6);
    }

    & .pluto-text-icon svg:not(.logo) path:is(:not([fill="none"]), [stroke="#000"]) {
        stroke: var(--pluto-gray-l6);
        fill: var(--pluto-gray-l6);
    }
}

.pluto-input__end-content {
    position: absolute;
    right: -0.5rem;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 1.5rem;
    pointer-events: none;
    z-index: 0;
    * {
        color: var(--pluto-gray-l6);
        transform: scale(0.9);
    }
}

.pluto-input--shadow {
    & .pluto-input__internal {
        background: var(--pluto-bg);
    }
    &:hover {
        & > .pluto-input__internal {
            background: var(--pluto-gray-l3) !important;
            cursor: pointer;
            & input {
                cursor: pointer;
            }
        }
    }
    /* When not focused or hovered, hide the border */
    &:not(:focus):not(:focus-within):not(:hover) {
        & > * {
            border-color: transparent;
        }
        & > *:not(.pluto-input__internal) {
            opacity: 0;
        }
    }
}

.pluto-input--natural,
.pluto-input--preview {
    background: none !important;
    border-radius: 0 !important;
    & > * {
        border-color: transparent;
    }

    &:not(:hover) {
        & > *:not(.pluto-input__internal) {
            opacity: 0;
        }
    }

    & .pluto-input__internal {
        border: none !important;
        background: none !important;
        height: initial !important;
    }

    & input {
        padding: 0;
    }

    & .pluto-input__placeholder {
        padding-left: 1px;
        & * {
            color: var(--pluto-gray-l5);
        }
    }
}

input[type="number"]::-webkit-inner-spin-button {
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-appearance: none;
}

.pluto-input--placeholder-centered::placeholder {
    text-align: center;
}
