/*
 * Copyright 2025 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-input__item {
    & .pluto-input__switch {
        width: 100%;
    }
}

.pluto-input__switch {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer !important;
    padding: 0;

    &:focus-within {
        .pluto-input__switch-indicator {
            box-shadow:
                0 0 0 2px var(--pluto-gray-l1),
                0 0 0 3px var(--pluto-primary-z);
        }
    }

    &:not(.pluto--disabled).pluto-btn--prevent-click input {
        cursor: pointer;
    }

    input {
        position: absolute;
        width: 100%;
        opacity: 0;
        height: 100%;
        z-index: 100;
    }

    .pluto-input__switch-indicator {
        position: relative;
        display: inline-block;
        width: 5rem;
        height: 2.5rem;
        border-radius: 1.5rem;
        background: var(--pluto-gray-l4);
        cursor: pointer;
        transition: 0.15s;
    }

    .pluto-input__switch-indicator::before {
        position: absolute;
        content: "";
        height: 2rem;
        width: 2rem;
        left: 0.25rem;
        bottom: 0.25rem;
        background: var(--pluto-gray-l7);
        transition: 0.15s;
        cursor: pointer;
        border-radius: 50%;
    }

    input:checked ~ .pluto-input__switch-indicator {
        background: var(--pluto-primary-m1);
    }

    input:checked ~ .pluto-input__switch-indicator::before {
        transform: translateX(2.5rem);
        background: var(--pluto-primary-p1);
    }

    &.pluto--disabled {
        * {
            cursor: not-allowed !important;
        }
        .pluto-input__switch-indicator {
            background: var(--pluto-gray-l3-50);
        }
        .pluto-input__switch-indicator::before {
            background: var(--pluto-gray-l6-70);
        }

        input:checked ~ .pluto-input__switch-indicator {
            background: color-mix(
                in srgb,
                var(--pluto-gray-l3),
                var(--pluto-primary-m1)
            );
        }

        input:checked ~ .pluto-input__switch-indicator::before {
            background: color-mix(
                in srgb,
                var(--pluto-gray-l6),
                var(--pluto-primary-p1)
            );
        }
    }
}
