.console-cluster-list {
    width: 400px;
}

.console-cluster-list-title {
    padding-left: 1rem;
}

.console-cluster-list-add {
    z-index: 6;
}

.console-cluster-list-item {
    &.local.pluto--selected {
        box-shadow: inset 2px 0 0 var(--pluto-secondary-z);
    }
}