/*
 * Copyright 2025 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-login-screen {
    min-height: 100vh;
    .pluto-login-container {
        .synnax-logo {
            width: min(60rem, 80vw);
        }
        position: absolute;
        top: 20%;
        width: 400px;
        padding: 4rem 8rem;
    }
}
