/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-table {
    table-layout: fixed;
    border-spacing: 0;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
    width: fit-content;
    height: fit-content;
    flex-shrink: 1;
    min-width: 0;

    .pluto-table__row:not(.pluto-table__col-resizer) {
        &:has(.pluto--selected) {
            .pluto-table__resizer {
                background: var(--pluto-primary-z-30);
                .pluto-text {
                    color: var(--pluto-gray-l11) !important;
                }
            }
        }
    }

    .pluto-table__resizer {
        background: var(--pluto-gray-l2);
        z-index: 6;
        &.pluto--selected {
            background: var(--pluto-primary-z-30);
            .pluto-text {
                color: var(--pluto-gray-l11) !important;
            }
        }

        &.pluto--direction-y {
            border-right: var(--pluto-border-l5);
            border-bottom: var(--pluto-border-l5);

            & button {
                transform: translateY(-3px);
                left: 0;
                cursor: row-resize;
                height: 6px;
                width: calc(100% + 3.5rem);
                border-bottom: var(--pluto-border);
                border-color: transparent;

                &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 0;
                    width: 100%;
                    height: 2px;
                }
            }
        }

        &.pluto--direction-x {
            height: 3.5rem;
            border-bottom: var(--pluto-border-l5);
            border-right: var(--pluto-border-l5);

            & button {
                top: 0;
                transform: translateX(-1px);
                cursor: col-resize;
                height: 100%;
                width: 6px;
                border-right: var(--pluto-border);
                border-color: transparent;
                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 50%;
                    width: 2px;
                    height: 100%;
                }
            }
        }
        & button {
            border: none;
            z-index: 10;
            background: none;
            position: absolute;
            box-sizing: border-box;

            &:hover::after {
                background-color: var(--pluto-primary-z);
            }

            &:active::after {
                background-color: var(--pluto-primary-p1);
            }
        }
    }

    .pluto-table__cell {
        border: var(--pluto-border);
        z-index: 5;
        position: relative;
        border-top: none;
        border-left: none;
        padding: 0;
        &::after {
            content: "";
            box-sizing: content-box;
            position: absolute;
            pointer-events: none;
            opacity: 0;
            top: -1px;
            left: -1px;
            right: -1px;
            bottom: -1px;
            border: var(--pluto-border);
            border-width: 2px;
            border-radius: 1px;
            z-index: 7;
        }
        &.pluto--selected {
            border: none;
            &::after {
                opacity: 1;
                border-color: var(
                    --pluto-primary-p1
                ); /* Border is now handled by the pseudo-element */
            }
        }
    }

    .pluto-table__col-resizer {
        & > *:first-child {
            width: 3.5rem;
            height: 3.5rem;
            max-width: 3.5rem;
            min-width: 3.5rem;
            margin: 0;
            border-right: var(--pluto-border-l5);
            border-bottom: var(--pluto-border-l5);
            background: var(--pluto-gray-l2);
        }
    }
}
