/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

html {
    overscroll-behavior: none;
    overflow: hidden;
    background: var(--pluto-gray-l0);
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
}

#root {
    height: 100%;
    width: 100%;
}

* :not(svg *) {
    box-sizing: border-box;
}
