/*
 * Copyright 2025 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.console-workspace-create,
.console-workspace-select {
    border-radius: var(--pluto-border-radius);
    box-shadow: var(--pluto-shadow-v2);
    background: var(--pluto-gray-l0);
    max-width: 600px;
    width: 100%;
}
