/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.console-workspace__selector {
    flex-shrink: 1;
    width: 200px;
    max-width: 300px;

    @media (max-width: 1400px) {
        max-width: 150px;
    }

    > :first-child {
        > :nth-child(2) {
            flex-shrink: 1;
            overflow: hidden;
            margin-right: auto;
            text-wrap: none;
            text-overflow: ellipsis;
        }
    }
}
