/*
 * Copyright 2025 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-dialog__dialog {
    .console-line-plot__nav-controls {
        position: absolute;
        top: 0rem;
        right: 2rem;
        z-index: 20;
        opacity: 0;
        transition: opacity 0.1s ease-in-out;

        .console-control__measure {
            justify-content: flex-end;
            margin-right: 3rem;
        }
    }
    &:hover {
        .console-line-plot__nav-controls {
            opacity: 1;
        }
    }
    &.pluto--visible {
        .console-line-plot__nav-controls {
            top: 2rem;
            opacity: 1;
        }
    }
}
