/*
 * Copyright 2025 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.console-nav-controls {
    .console-control__pause.pluto-btn--filled {
        background: var(--pluto-secondary-z);
        border: var(--pluto-secondary-z);

        &:hover {
            background: var(--pluto-secondary-p1);
            border: var(--pluto-secondary-p1);
        }

        &:active {
            background: var(--pluto-secondary-m1);
            border: var(--pluto-secondary-m1);
        }
    }
}
