/*
 * Copyright 2023 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.delta-cluster-toolbar-list__item {
    padding: 0 0 0 10px;
    width: 100%;
    height: 30px;
    cursor: pointer;
}

.delta-cluster-toolbar-list__item--selected {
    background-color: var(--pluto-primary-z-20);
    border-left: 0.5rem solid var(--pluto-primary-p1);
}
