/* Copyright 2022 Synnax Labs, Inc. */
/* */
/* Use of this software is governed by the Business Source License included in the file */
/* licenses/BSL.txt. */
/* */
/* As of the Change Date specified in that file, in accordance with the Business Source */
/* License, use of this software will be governed by the Apache License, Version 2.0, */
/* included in the file licenses/APL.txt. */

.delta-connect-cluster__input--host {
    flex-grow: 1;
}

.delta-connect-cluster__input--port {
    width: 20rem;
}

.delta-connect-cluster__input--password {
    width: 100%;
}

.delta-connect-cluster-footer__left {
    padding: 0 2rem;
}

.delta-connect-cluster-footer__right {
    padding: 1rem;
}
