.delta-connect-cluster__input--host {
    flex-grow: 1;
}

.delta-connect-cluster__input--port {
    width: 20rem;
}

.delta-connect-cluster__input--password {
    width: 100%;
}

.delta-connect-cluster-footer__left {
    padding: 0 2rem;
}

.delta-connect-cluster-footer__right {
    padding: 1rem;
}
