/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

:root {
    --pluto-theme-name: Synnax Light;
    --pluto-theme-key: synnaxLight;
    --pluto-primary-m1: #356fc5;
    --pluto-primary-m1-rgb: 53, 111, 197;
    --pluto-primary-z: #3774d0;
    --pluto-primary-z-rgb: 55, 116, 208;
    --pluto-primary-p1: #5e94ee;
    --pluto-primary-p1-rgb: 94, 148, 238;
    --pluto-primary-p2: #8ab8ff;
    --pluto-primary-z-95: #3774d0f2;
    --pluto-primary-z-90: #3774d0e6;
    --pluto-primary-z-85: #3774d0d9;
    --pluto-primary-z-80: #3774d0cc;
    --pluto-primary-z-75: #3774d0bf;
    --pluto-primary-z-70: #3774d0b3;
    --pluto-primary-z-65: #3774d0a6;
    --pluto-primary-z-60: #3774d099;
    --pluto-primary-z-55: #3774d08c;
    --pluto-primary-z-50: #3774d080;
    --pluto-primary-z-45: #3774d073;
    --pluto-primary-z-40: #3774d066;
    --pluto-primary-z-35: #3774d059;
    --pluto-primary-z-30: #3774d04d;
    --pluto-primary-z-25: #3774d040;
    --pluto-primary-z-20: #3774d033;
    --pluto-primary-z-15: #3774d026;
    --pluto-primary-z-10: #3774d01a;
    --pluto-primary-z-5: #3774d00d;
    --pluto-secondary-m1: #38b261;
    --pluto-secondary-z: #50c878;
    --pluto-secondary-p1: #73d393;
    --pluto-secondary-z-95: #50c878f2;
    --pluto-secondary-z-90: #50c878e6;
    --pluto-secondary-z-85: #50c878d9;
    --pluto-secondary-z-80: #50c878cc;
    --pluto-secondary-z-75: #50c878bf;
    --pluto-secondary-z-70: #50c878b3;
    --pluto-secondary-z-65: #50c878a6;
    --pluto-secondary-z-60: #50c87899;
    --pluto-secondary-z-55: #50c8788c;
    --pluto-secondary-z-50: #50c87880;
    --pluto-secondary-z-45: #50c87873;
    --pluto-secondary-z-40: #50c87866;
    --pluto-secondary-z-35: #50c87859;
    --pluto-secondary-z-30: #50c8784d;
    --pluto-secondary-z-25: #50c87840;
    --pluto-secondary-z-20: #50c87833;
    --pluto-secondary-z-15: #50c87826;
    --pluto-secondary-z-10: #50c8781a;
    --pluto-secondary-z-5: #50c8780d;
    --pluto-gray-l0: #fdfdff;
    --pluto-gray-l0-rgb: 253, 253, 255;
    --pluto-gray-l0-95: #fdfdfff2;
    --pluto-gray-l0-90: #fdfdffe6;
    --pluto-gray-l0-85: #fdfdffd9;
    --pluto-gray-l0-80: #fdfdffcc;
    --pluto-gray-l0-75: #fdfdffbf;
    --pluto-gray-l0-70: #fdfdffb3;
    --pluto-gray-l0-65: #fdfdffa6;
    --pluto-gray-l0-60: #fdfdff99;
    --pluto-gray-l0-55: #fdfdff8c;
    --pluto-gray-l0-50: #fdfdff80;
    --pluto-gray-l0-45: #fdfdff73;
    --pluto-gray-l0-40: #fdfdff66;
    --pluto-gray-l0-35: #fdfdff59;
    --pluto-gray-l0-30: #fdfdff4d;
    --pluto-gray-l0-25: #fdfdff40;
    --pluto-gray-l0-20: #fdfdff33;
    --pluto-gray-l0-15: #fdfdff26;
    --pluto-gray-l0-10: #fdfdff1a;
    --pluto-gray-l0-5: #fdfdff0d;
    --pluto-gray-l1: #f6f7f9;
    --pluto-gray-l1-95: #f6f7f9f2;
    --pluto-gray-l1-90: #f6f7f9e6;
    --pluto-gray-l1-85: #f6f7f9d9;
    --pluto-gray-l1-80: #f6f7f9cc;
    --pluto-gray-l1-75: #f6f7f9bf;
    --pluto-gray-l1-70: #f6f7f9b3;
    --pluto-gray-l1-65: #f6f7f9a6;
    --pluto-gray-l1-60: #f6f7f999;
    --pluto-gray-l1-55: #f6f7f98c;
    --pluto-gray-l1-50: #f6f7f980;
    --pluto-gray-l1-45: #f6f7f973;
    --pluto-gray-l1-40: #f6f7f966;
    --pluto-gray-l1-35: #f6f7f959;
    --pluto-gray-l1-30: #f6f7f94d;
    --pluto-gray-l1-25: #f6f7f940;
    --pluto-gray-l1-20: #f6f7f933;
    --pluto-gray-l1-15: #f6f7f926;
    --pluto-gray-l1-10: #f6f7f91a;
    --pluto-gray-l1-5: #f6f7f90d;
    --pluto-gray-l2: #eff1f4;
    --pluto-gray-l2-95: #eff1f4f2;
    --pluto-gray-l2-90: #eff1f4e6;
    --pluto-gray-l2-85: #eff1f4d9;
    --pluto-gray-l2-80: #eff1f4cc;
    --pluto-gray-l2-75: #eff1f4bf;
    --pluto-gray-l2-70: #eff1f4b3;
    --pluto-gray-l2-65: #eff1f4a6;
    --pluto-gray-l2-60: #eff1f499;
    --pluto-gray-l2-55: #eff1f48c;
    --pluto-gray-l2-50: #eff1f480;
    --pluto-gray-l2-45: #eff1f473;
    --pluto-gray-l2-40: #eff1f466;
    --pluto-gray-l2-35: #eff1f459;
    --pluto-gray-l2-30: #eff1f44d;
    --pluto-gray-l2-25: #eff1f440;
    --pluto-gray-l2-20: #eff1f433;
    --pluto-gray-l2-15: #eff1f426;
    --pluto-gray-l2-10: #eff1f41a;
    --pluto-gray-l2-5: #eff1f40d;
    --pluto-gray-l3: #e8eaed;
    --pluto-gray-l3-95: #e8eaedf2;
    --pluto-gray-l3-90: #e8eaede6;
    --pluto-gray-l3-85: #e8eaedd9;
    --pluto-gray-l3-80: #e8eaedcc;
    --pluto-gray-l3-75: #e8eaedbf;
    --pluto-gray-l3-70: #e8eaedb3;
    --pluto-gray-l3-65: #e8eaeda6;
    --pluto-gray-l3-60: #e8eaed99;
    --pluto-gray-l3-55: #e8eaed8c;
    --pluto-gray-l3-50: #e8eaed80;
    --pluto-gray-l3-45: #e8eaed73;
    --pluto-gray-l3-40: #e8eaed66;
    --pluto-gray-l3-35: #e8eaed59;
    --pluto-gray-l3-30: #e8eaed4d;
    --pluto-gray-l3-25: #e8eaed40;
    --pluto-gray-l3-20: #e8eaed33;
    --pluto-gray-l3-15: #e8eaed26;
    --pluto-gray-l3-10: #e8eaed1a;
    --pluto-gray-l3-5: #e8eaed0d;
    --pluto-gray-l4: #dfe2e6;
    --pluto-gray-l4-95: #dfe2e6f2;
    --pluto-gray-l4-90: #dfe2e6e6;
    --pluto-gray-l4-85: #dfe2e6d9;
    --pluto-gray-l4-80: #dfe2e6cc;
    --pluto-gray-l4-75: #dfe2e6bf;
    --pluto-gray-l4-70: #dfe2e6b3;
    --pluto-gray-l4-65: #dfe2e6a6;
    --pluto-gray-l4-60: #dfe2e699;
    --pluto-gray-l4-55: #dfe2e68c;
    --pluto-gray-l4-50: #dfe2e680;
    --pluto-gray-l4-45: #dfe2e673;
    --pluto-gray-l4-40: #dfe2e666;
    --pluto-gray-l4-35: #dfe2e659;
    --pluto-gray-l4-30: #dfe2e64d;
    --pluto-gray-l4-25: #dfe2e640;
    --pluto-gray-l4-20: #dfe2e633;
    --pluto-gray-l4-15: #dfe2e626;
    --pluto-gray-l4-10: #dfe2e61a;
    --pluto-gray-l4-5: #dfe2e60d;
    --pluto-gray-l5: #d6d9de;
    --pluto-gray-l5-95: #d6d9def2;
    --pluto-gray-l5-90: #d6d9dee6;
    --pluto-gray-l5-85: #d6d9ded9;
    --pluto-gray-l5-80: #d6d9decc;
    --pluto-gray-l5-75: #d6d9debf;
    --pluto-gray-l5-70: #d6d9deb3;
    --pluto-gray-l5-65: #d6d9dea6;
    --pluto-gray-l5-60: #d6d9de99;
    --pluto-gray-l5-55: #d6d9de8c;
    --pluto-gray-l5-50: #d6d9de80;
    --pluto-gray-l5-45: #d6d9de73;
    --pluto-gray-l5-40: #d6d9de66;
    --pluto-gray-l5-35: #d6d9de59;
    --pluto-gray-l5-30: #d6d9de4d;
    --pluto-gray-l5-25: #d6d9de40;
    --pluto-gray-l5-20: #d6d9de33;
    --pluto-gray-l5-15: #d6d9de26;
    --pluto-gray-l5-10: #d6d9de1a;
    --pluto-gray-l5-5: #d6d9de0d;
    --pluto-gray-l6: #ccd0d5;
    --pluto-gray-l6-95: #ccd0d5f2;
    --pluto-gray-l6-90: #ccd0d5e6;
    --pluto-gray-l6-85: #ccd0d5d9;
    --pluto-gray-l6-80: #ccd0d5cc;
    --pluto-gray-l6-75: #ccd0d5bf;
    --pluto-gray-l6-70: #ccd0d5b3;
    --pluto-gray-l6-65: #ccd0d5a6;
    --pluto-gray-l6-60: #ccd0d599;
    --pluto-gray-l6-55: #ccd0d58c;
    --pluto-gray-l6-50: #ccd0d580;
    --pluto-gray-l6-45: #ccd0d573;
    --pluto-gray-l6-40: #ccd0d566;
    --pluto-gray-l6-35: #ccd0d559;
    --pluto-gray-l6-30: #ccd0d54d;
    --pluto-gray-l6-25: #ccd0d540;
    --pluto-gray-l6-20: #ccd0d533;
    --pluto-gray-l6-15: #ccd0d526;
    --pluto-gray-l6-10: #ccd0d51a;
    --pluto-gray-l6-5: #ccd0d50d;
    --pluto-gray-l7: #bbbec3;
    --pluto-gray-l7-95: #bbbec3f2;
    --pluto-gray-l7-90: #bbbec3e6;
    --pluto-gray-l7-85: #bbbec3d9;
    --pluto-gray-l7-80: #bbbec3cc;
    --pluto-gray-l7-75: #bbbec3bf;
    --pluto-gray-l7-70: #bbbec3b3;
    --pluto-gray-l7-65: #bbbec3a6;
    --pluto-gray-l7-60: #bbbec399;
    --pluto-gray-l7-55: #bbbec38c;
    --pluto-gray-l7-50: #bbbec380;
    --pluto-gray-l7-45: #bbbec373;
    --pluto-gray-l7-40: #bbbec366;
    --pluto-gray-l7-35: #bbbec359;
    --pluto-gray-l7-30: #bbbec34d;
    --pluto-gray-l7-25: #bbbec340;
    --pluto-gray-l7-20: #bbbec333;
    --pluto-gray-l7-15: #bbbec326;
    --pluto-gray-l7-10: #bbbec31a;
    --pluto-gray-l7-5: #bbbec30d;
    --pluto-gray-l8: #9ea2a7;
    --pluto-gray-l8-95: #9ea2a7f2;
    --pluto-gray-l8-90: #9ea2a7e6;
    --pluto-gray-l8-85: #9ea2a7d9;
    --pluto-gray-l8-80: #9ea2a7cc;
    --pluto-gray-l8-75: #9ea2a7bf;
    --pluto-gray-l8-70: #9ea2a7b3;
    --pluto-gray-l8-65: #9ea2a7a6;
    --pluto-gray-l8-60: #9ea2a799;
    --pluto-gray-l8-55: #9ea2a78c;
    --pluto-gray-l8-50: #9ea2a780;
    --pluto-gray-l8-45: #9ea2a773;
    --pluto-gray-l8-40: #9ea2a766;
    --pluto-gray-l8-35: #9ea2a759;
    --pluto-gray-l8-30: #9ea2a74d;
    --pluto-gray-l8-25: #9ea2a740;
    --pluto-gray-l8-20: #9ea2a733;
    --pluto-gray-l8-15: #9ea2a726;
    --pluto-gray-l8-10: #9ea2a71a;
    --pluto-gray-l8-5: #9ea2a70d;
    --pluto-gray-l9: #63666c;
    --pluto-gray-l9-95: #63666cf2;
    --pluto-gray-l9-90: #63666ce6;
    --pluto-gray-l9-85: #63666cd9;
    --pluto-gray-l9-80: #63666ccc;
    --pluto-gray-l9-75: #63666cbf;
    --pluto-gray-l9-70: #63666cb3;
    --pluto-gray-l9-65: #63666ca6;
    --pluto-gray-l9-60: #63666c99;
    --pluto-gray-l9-55: #63666c8c;
    --pluto-gray-l9-50: #63666c80;
    --pluto-gray-l9-45: #63666c73;
    --pluto-gray-l9-40: #63666c66;
    --pluto-gray-l9-35: #63666c59;
    --pluto-gray-l9-30: #63666c4d;
    --pluto-gray-l9-25: #63666c40;
    --pluto-gray-l9-20: #63666c33;
    --pluto-gray-l9-15: #63666c26;
    --pluto-gray-l9-10: #63666c1a;
    --pluto-gray-l9-5: #63666c0d;
    --pluto-gray-l10: #2e3034;
    --pluto-gray-l10-95: #2e3034f2;
    --pluto-gray-l10-90: #2e3034e6;
    --pluto-gray-l10-85: #2e3034d9;
    --pluto-gray-l10-80: #2e3034cc;
    --pluto-gray-l10-75: #2e3034bf;
    --pluto-gray-l10-70: #2e3034b3;
    --pluto-gray-l10-65: #2e3034a6;
    --pluto-gray-l10-60: #2e303499;
    --pluto-gray-l10-55: #2e30348c;
    --pluto-gray-l10-50: #2e303480;
    --pluto-gray-l10-45: #2e303473;
    --pluto-gray-l10-40: #2e303466;
    --pluto-gray-l10-35: #2e303459;
    --pluto-gray-l10-30: #2e30344d;
    --pluto-gray-l10-25: #2e303440;
    --pluto-gray-l10-20: #2e303433;
    --pluto-gray-l10-15: #2e303426;
    --pluto-gray-l10-10: #2e30341a;
    --pluto-gray-l10-5: #2e30340d;
    --pluto-gray-l11: #07080a;
    --pluto-gray-l11-rgb: 7, 8, 10;
    --pluto-gray-l11-95: #07080af2;
    --pluto-gray-l11-90: #07080ae6;
    --pluto-gray-l11-85: #07080ad9;
    --pluto-gray-l11-80: #07080acc;
    --pluto-gray-l11-75: #07080abf;
    --pluto-gray-l11-70: #07080ab3;
    --pluto-gray-l11-65: #07080aa6;
    --pluto-gray-l11-60: #07080a99;
    --pluto-gray-l11-55: #07080a8c;
    --pluto-gray-l11-50: #07080a80;
    --pluto-gray-l11-45: #07080a73;
    --pluto-gray-l11-40: #07080a66;
    --pluto-gray-l11-35: #07080a59;
    --pluto-gray-l11-30: #07080a4d;
    --pluto-gray-l11-25: #07080a40;
    --pluto-gray-l11-20: #07080a33;
    --pluto-gray-l11-15: #07080a26;
    --pluto-gray-l11-10: #07080a1a;
    --pluto-gray-l11-5: #07080a0d;
    --pluto-logo-color: url(#synnax-linear-gradient);
    --pluto-error-m2: #92070e;
    --pluto-error-m1: #c30912;
    --pluto-error-z: #f5242e;
    --pluto-error-z-95: #f5242ef2;
    --pluto-error-z-90: #f5242ee6;
    --pluto-error-z-85: #f5242ed9;
    --pluto-error-z-80: #f5242ecc;
    --pluto-error-z-75: #f5242ebf;
    --pluto-error-z-70: #f5242eb3;
    --pluto-error-z-65: #f5242ea6;
    --pluto-error-z-60: #f5242e99;
    --pluto-error-z-55: #f5242e8c;
    --pluto-error-z-50: #f5242e80;
    --pluto-error-z-45: #f5242e73;
    --pluto-error-z-40: #f5242e66;
    --pluto-error-z-35: #f5242e59;
    --pluto-error-z-30: #f5242e4d;
    --pluto-error-z-25: #f5242e40;
    --pluto-error-z-20: #f5242e33;
    --pluto-error-z-15: #f5242e26;
    --pluto-error-z-10: #f5242e1a;
    --pluto-error-z-5: #f5242e0d;
    --pluto-error-p1: #f7555d;
    --pluto-error-p2: #fa8f94;
    --pluto-warning-m2: #895906;
    --pluto-warning-m1: #b07207;
    --pluto-warning-z: #e19209;
    --pluto-warning-z-95: #e19209f2;
    --pluto-warning-z-90: #e19209e6;
    --pluto-warning-z-85: #e19209d9;
    --pluto-warning-z-80: #e19209cc;
    --pluto-warning-z-75: #e19209bf;
    --pluto-warning-z-70: #e19209b3;
    --pluto-warning-z-65: #e19209a6;
    --pluto-warning-z-60: #e1920999;
    --pluto-warning-z-55: #e192098c;
    --pluto-warning-z-50: #e1920980;
    --pluto-warning-z-45: #e1920973;
    --pluto-warning-z-40: #e1920966;
    --pluto-warning-z-35: #e1920959;
    --pluto-warning-z-30: #e192094d;
    --pluto-warning-z-25: #e1920940;
    --pluto-warning-z-20: #e1920933;
    --pluto-warning-z-15: #e1920926;
    --pluto-warning-z-10: #e192091a;
    --pluto-warning-z-5: #e192090d;
    --pluto-warning-p1: #f6a61e;
    --pluto-success-m2: #2d8f4e;
    --pluto-success-m1: #38b261;
    --pluto-success-z: #50c878;
    --pluto-success-z-95: #50c878f2;
    --pluto-success-z-90: #50c878e6;
    --pluto-success-z-85: #50c878d9;
    --pluto-success-z-80: #50c878cc;
    --pluto-success-z-75: #50c878bf;
    --pluto-success-z-70: #50c878b3;
    --pluto-success-z-65: #50c878a6;
    --pluto-success-z-60: #50c87899;
    --pluto-success-z-55: #50c8788c;
    --pluto-success-z-50: #50c87880;
    --pluto-success-z-45: #50c87873;
    --pluto-success-z-40: #50c87866;
    --pluto-success-z-35: #50c87859;
    --pluto-success-z-30: #50c8784d;
    --pluto-success-z-25: #50c87840;
    --pluto-success-z-20: #50c87833;
    --pluto-success-z-15: #50c87826;
    --pluto-success-z-10: #50c8781a;
    --pluto-success-z-5: #50c8780d;
    --pluto-success-p1: #73d393;
    --pluto-success-p2: #96deae;
    --pluto-white: #ffffff;
    --pluto-white-rgb: 255, 255, 255;
    --pluto-black: #000000;
    --pluto-black-rgb: 0, 0, 0;
    --pluto-text-color: #2e3034;
    --pluto-text-color-rgb: 46, 48, 52;
    --pluto-text-disabled: #63666c73;
    --pluto-text-placeholder: #63666ca6;
    --pluto-text-on-primary: #fdfdff;
    --pluto-text-on-warning: #fdfdff;
    --pluto-primary-text: #3b82f6;
    --pluto-error-text: #ef4444;
    --pluto-warning-text: #f59e0b;
    --pluto-border-color: #ccd0d5;
    --pluto-base-size: 6px;
    --pluto-border-radius: var(--pluto-border-radius-tiny);
    --pluto-border-radius-tiny: round(0.6666666666666666rem, 1px);
    --pluto-border-radius-small: round(1rem, 1px);
    --pluto-border-radius-medium: round(1.5rem, 1px);
    --pluto-border-radius-large: round(2rem, 1px);
    --pluto-border-radius-huge: round(3rem, 1px);
    --pluto-border-width: 1px;
    --pluto-border-thick-width: 1px;
    --pluto-schematic-element-stroke-width: 2px;
    --pluto-font-family: "Inter Variable", sans-serif;
    --pluto-code-font-family: "Geist Mono", monospace;
    --pluto-h1-size: round(5.5rem, 1px);
    --pluto-h1-weight: 500;
    --pluto-h1-line-height: round(8.25rem, 1px);
    --pluto-h2-size: round(4.5rem, 1px);
    --pluto-h2-weight: medium;
    --pluto-h2-line-height: round(6.75rem, 1px);
    --pluto-h3-size: round(3.5rem, 1px);
    --pluto-h3-weight: medium;
    --pluto-h3-line-height: round(5.25rem, 1px);
    --pluto-h4-size: round(2.6666rem, 1px);
    --pluto-h4-weight: medium;
    --pluto-h4-line-height: round(3.9999rem, 1px);
    --pluto-h5-size: round(2.333333rem, 1px);
    --pluto-h5-weight: 450;
    --pluto-h5-line-height: round(3.4999995000000004rem, 1px);
    --pluto-p-size: round(2.1666666666rem, 1px);
    --pluto-p-weight: regular;
    --pluto-p-line-height: round(3rem, 1px);
    --pluto-small-size: round(1.916666rem, 1px);
    --pluto-small-weight: regular;
    --pluto-small-line-height: round(2.3333333rem, 1px);
    --pluto-dark-theme-name: Synnax Dark;
    --pluto-dark-theme-key: synnaxDark;
    --pluto-dark-primary-m1: #356fc5;
    --pluto-dark-primary-m1-rgb: 53, 111, 197;
    --pluto-dark-primary-z: #3774d0;
    --pluto-dark-primary-z-rgb: 55, 116, 208;
    --pluto-dark-primary-p1: #5e94ee;
    --pluto-dark-primary-p1-rgb: 94, 148, 238;
    --pluto-dark-primary-p2: #8ab8ff;
    --pluto-dark-primary-z-95: #3774d0f2;
    --pluto-dark-primary-z-90: #3774d0e6;
    --pluto-dark-primary-z-85: #3774d0d9;
    --pluto-dark-primary-z-80: #3774d0cc;
    --pluto-dark-primary-z-75: #3774d0bf;
    --pluto-dark-primary-z-70: #3774d0b3;
    --pluto-dark-primary-z-65: #3774d0a6;
    --pluto-dark-primary-z-60: #3774d099;
    --pluto-dark-primary-z-55: #3774d08c;
    --pluto-dark-primary-z-50: #3774d080;
    --pluto-dark-primary-z-45: #3774d073;
    --pluto-dark-primary-z-40: #3774d066;
    --pluto-dark-primary-z-35: #3774d059;
    --pluto-dark-primary-z-30: #3774d04d;
    --pluto-dark-primary-z-25: #3774d040;
    --pluto-dark-primary-z-20: #3774d033;
    --pluto-dark-primary-z-15: #3774d026;
    --pluto-dark-primary-z-10: #3774d01a;
    --pluto-dark-primary-z-5: #3774d00d;
    --pluto-dark-secondary-m1: #38b261;
    --pluto-dark-secondary-z: #50c878;
    --pluto-dark-secondary-p1: #73d393;
    --pluto-dark-secondary-z-95: #50c878f2;
    --pluto-dark-secondary-z-90: #50c878e6;
    --pluto-dark-secondary-z-85: #50c878d9;
    --pluto-dark-secondary-z-80: #50c878cc;
    --pluto-dark-secondary-z-75: #50c878bf;
    --pluto-dark-secondary-z-70: #50c878b3;
    --pluto-dark-secondary-z-65: #50c878a6;
    --pluto-dark-secondary-z-60: #50c87899;
    --pluto-dark-secondary-z-55: #50c8788c;
    --pluto-dark-secondary-z-50: #50c87880;
    --pluto-dark-secondary-z-45: #50c87873;
    --pluto-dark-secondary-z-40: #50c87866;
    --pluto-dark-secondary-z-35: #50c87859;
    --pluto-dark-secondary-z-30: #50c8784d;
    --pluto-dark-secondary-z-25: #50c87840;
    --pluto-dark-secondary-z-20: #50c87833;
    --pluto-dark-secondary-z-15: #50c87826;
    --pluto-dark-secondary-z-10: #50c8781a;
    --pluto-dark-secondary-z-5: #50c8780d;
    --pluto-dark-gray-l0: #040506;
    --pluto-dark-gray-l0-rgb: 4, 5, 6;
    --pluto-dark-gray-l0-95: #040506f2;
    --pluto-dark-gray-l0-90: #040506e6;
    --pluto-dark-gray-l0-85: #040506d9;
    --pluto-dark-gray-l0-80: #040506cc;
    --pluto-dark-gray-l0-75: #040506bf;
    --pluto-dark-gray-l0-70: #040506b3;
    --pluto-dark-gray-l0-65: #040506a6;
    --pluto-dark-gray-l0-60: #04050699;
    --pluto-dark-gray-l0-55: #0405068c;
    --pluto-dark-gray-l0-50: #04050680;
    --pluto-dark-gray-l0-45: #04050673;
    --pluto-dark-gray-l0-40: #04050666;
    --pluto-dark-gray-l0-35: #04050659;
    --pluto-dark-gray-l0-30: #0405064d;
    --pluto-dark-gray-l0-25: #04050640;
    --pluto-dark-gray-l0-20: #04050633;
    --pluto-dark-gray-l0-15: #04050626;
    --pluto-dark-gray-l0-10: #0405061a;
    --pluto-dark-gray-l0-5: #0405060d;
    --pluto-dark-gray-l1: #0a0b0d;
    --pluto-dark-gray-l1-95: #0a0b0df2;
    --pluto-dark-gray-l1-90: #0a0b0de6;
    --pluto-dark-gray-l1-85: #0a0b0dd9;
    --pluto-dark-gray-l1-80: #0a0b0dcc;
    --pluto-dark-gray-l1-75: #0a0b0dbf;
    --pluto-dark-gray-l1-70: #0a0b0db3;
    --pluto-dark-gray-l1-65: #0a0b0da6;
    --pluto-dark-gray-l1-60: #0a0b0d99;
    --pluto-dark-gray-l1-55: #0a0b0d8c;
    --pluto-dark-gray-l1-50: #0a0b0d80;
    --pluto-dark-gray-l1-45: #0a0b0d73;
    --pluto-dark-gray-l1-40: #0a0b0d66;
    --pluto-dark-gray-l1-35: #0a0b0d59;
    --pluto-dark-gray-l1-30: #0a0b0d4d;
    --pluto-dark-gray-l1-25: #0a0b0d40;
    --pluto-dark-gray-l1-20: #0a0b0d33;
    --pluto-dark-gray-l1-15: #0a0b0d26;
    --pluto-dark-gray-l1-10: #0a0b0d1a;
    --pluto-dark-gray-l1-5: #0a0b0d0d;
    --pluto-dark-gray-l2: #111315;
    --pluto-dark-gray-l2-95: #111315f2;
    --pluto-dark-gray-l2-90: #111315e6;
    --pluto-dark-gray-l2-85: #111315d9;
    --pluto-dark-gray-l2-80: #111315cc;
    --pluto-dark-gray-l2-75: #111315bf;
    --pluto-dark-gray-l2-70: #111315b3;
    --pluto-dark-gray-l2-65: #111315a6;
    --pluto-dark-gray-l2-60: #11131599;
    --pluto-dark-gray-l2-55: #1113158c;
    --pluto-dark-gray-l2-50: #11131580;
    --pluto-dark-gray-l2-45: #11131573;
    --pluto-dark-gray-l2-40: #11131566;
    --pluto-dark-gray-l2-35: #11131559;
    --pluto-dark-gray-l2-30: #1113154d;
    --pluto-dark-gray-l2-25: #11131540;
    --pluto-dark-gray-l2-20: #11131533;
    --pluto-dark-gray-l2-15: #11131526;
    --pluto-dark-gray-l2-10: #1113151a;
    --pluto-dark-gray-l2-5: #1113150d;
    --pluto-dark-gray-l3: #191c20;
    --pluto-dark-gray-l3-95: #191c20f2;
    --pluto-dark-gray-l3-90: #191c20e6;
    --pluto-dark-gray-l3-85: #191c20d9;
    --pluto-dark-gray-l3-80: #191c20cc;
    --pluto-dark-gray-l3-75: #191c20bf;
    --pluto-dark-gray-l3-70: #191c20b3;
    --pluto-dark-gray-l3-65: #191c20a6;
    --pluto-dark-gray-l3-60: #191c2099;
    --pluto-dark-gray-l3-55: #191c208c;
    --pluto-dark-gray-l3-50: #191c2080;
    --pluto-dark-gray-l3-45: #191c2073;
    --pluto-dark-gray-l3-40: #191c2066;
    --pluto-dark-gray-l3-35: #191c2059;
    --pluto-dark-gray-l3-30: #191c204d;
    --pluto-dark-gray-l3-25: #191c2040;
    --pluto-dark-gray-l3-20: #191c2033;
    --pluto-dark-gray-l3-15: #191c2026;
    --pluto-dark-gray-l3-10: #191c201a;
    --pluto-dark-gray-l3-5: #191c200d;
    --pluto-dark-gray-l4: #23252a;
    --pluto-dark-gray-l4-95: #23252af2;
    --pluto-dark-gray-l4-90: #23252ae6;
    --pluto-dark-gray-l4-85: #23252ad9;
    --pluto-dark-gray-l4-80: #23252acc;
    --pluto-dark-gray-l4-75: #23252abf;
    --pluto-dark-gray-l4-70: #23252ab3;
    --pluto-dark-gray-l4-65: #23252aa6;
    --pluto-dark-gray-l4-60: #23252a99;
    --pluto-dark-gray-l4-55: #23252a8c;
    --pluto-dark-gray-l4-50: #23252a80;
    --pluto-dark-gray-l4-45: #23252a73;
    --pluto-dark-gray-l4-40: #23252a66;
    --pluto-dark-gray-l4-35: #23252a59;
    --pluto-dark-gray-l4-30: #23252a4d;
    --pluto-dark-gray-l4-25: #23252a40;
    --pluto-dark-gray-l4-20: #23252a33;
    --pluto-dark-gray-l4-15: #23252a26;
    --pluto-dark-gray-l4-10: #23252a1a;
    --pluto-dark-gray-l4-5: #23252a0d;
    --pluto-dark-gray-l5: #2c2f34;
    --pluto-dark-gray-l5-95: #2c2f34f2;
    --pluto-dark-gray-l5-90: #2c2f34e6;
    --pluto-dark-gray-l5-85: #2c2f34d9;
    --pluto-dark-gray-l5-80: #2c2f34cc;
    --pluto-dark-gray-l5-75: #2c2f34bf;
    --pluto-dark-gray-l5-70: #2c2f34b3;
    --pluto-dark-gray-l5-65: #2c2f34a6;
    --pluto-dark-gray-l5-60: #2c2f3499;
    --pluto-dark-gray-l5-55: #2c2f348c;
    --pluto-dark-gray-l5-50: #2c2f3480;
    --pluto-dark-gray-l5-45: #2c2f3473;
    --pluto-dark-gray-l5-40: #2c2f3466;
    --pluto-dark-gray-l5-35: #2c2f3459;
    --pluto-dark-gray-l5-30: #2c2f344d;
    --pluto-dark-gray-l5-25: #2c2f3440;
    --pluto-dark-gray-l5-20: #2c2f3433;
    --pluto-dark-gray-l5-15: #2c2f3426;
    --pluto-dark-gray-l5-10: #2c2f341a;
    --pluto-dark-gray-l5-5: #2c2f340d;
    --pluto-dark-gray-l6: #36393f;
    --pluto-dark-gray-l6-95: #36393ff2;
    --pluto-dark-gray-l6-90: #36393fe6;
    --pluto-dark-gray-l6-85: #36393fd9;
    --pluto-dark-gray-l6-80: #36393fcc;
    --pluto-dark-gray-l6-75: #36393fbf;
    --pluto-dark-gray-l6-70: #36393fb3;
    --pluto-dark-gray-l6-65: #36393fa6;
    --pluto-dark-gray-l6-60: #36393f99;
    --pluto-dark-gray-l6-55: #36393f8c;
    --pluto-dark-gray-l6-50: #36393f80;
    --pluto-dark-gray-l6-45: #36393f73;
    --pluto-dark-gray-l6-40: #36393f66;
    --pluto-dark-gray-l6-35: #36393f59;
    --pluto-dark-gray-l6-30: #36393f4d;
    --pluto-dark-gray-l6-25: #36393f40;
    --pluto-dark-gray-l6-20: #36393f33;
    --pluto-dark-gray-l6-15: #36393f26;
    --pluto-dark-gray-l6-10: #36393f1a;
    --pluto-dark-gray-l6-5: #36393f0d;
    --pluto-dark-gray-l7: #44484d;
    --pluto-dark-gray-l7-95: #44484df2;
    --pluto-dark-gray-l7-90: #44484de6;
    --pluto-dark-gray-l7-85: #44484dd9;
    --pluto-dark-gray-l7-80: #44484dcc;
    --pluto-dark-gray-l7-75: #44484dbf;
    --pluto-dark-gray-l7-70: #44484db3;
    --pluto-dark-gray-l7-65: #44484da6;
    --pluto-dark-gray-l7-60: #44484d99;
    --pluto-dark-gray-l7-55: #44484d8c;
    --pluto-dark-gray-l7-50: #44484d80;
    --pluto-dark-gray-l7-45: #44484d73;
    --pluto-dark-gray-l7-40: #44484d66;
    --pluto-dark-gray-l7-35: #44484d59;
    --pluto-dark-gray-l7-30: #44484d4d;
    --pluto-dark-gray-l7-25: #44484d40;
    --pluto-dark-gray-l7-20: #44484d33;
    --pluto-dark-gray-l7-15: #44484d26;
    --pluto-dark-gray-l7-10: #44484d1a;
    --pluto-dark-gray-l7-5: #44484d0d;
    --pluto-dark-gray-l8: #5d6166;
    --pluto-dark-gray-l8-95: #5d6166f2;
    --pluto-dark-gray-l8-90: #5d6166e6;
    --pluto-dark-gray-l8-85: #5d6166d9;
    --pluto-dark-gray-l8-80: #5d6166cc;
    --pluto-dark-gray-l8-75: #5d6166bf;
    --pluto-dark-gray-l8-70: #5d6166b3;
    --pluto-dark-gray-l8-65: #5d6166a6;
    --pluto-dark-gray-l8-60: #5d616699;
    --pluto-dark-gray-l8-55: #5d61668c;
    --pluto-dark-gray-l8-50: #5d616680;
    --pluto-dark-gray-l8-45: #5d616673;
    --pluto-dark-gray-l8-40: #5d616666;
    --pluto-dark-gray-l8-35: #5d616659;
    --pluto-dark-gray-l8-30: #5d61664d;
    --pluto-dark-gray-l8-25: #5d616640;
    --pluto-dark-gray-l8-20: #5d616633;
    --pluto-dark-gray-l8-15: #5d616626;
    --pluto-dark-gray-l8-10: #5d61661a;
    --pluto-dark-gray-l8-5: #5d61660d;
    --pluto-dark-gray-l9: #a2a5a8;
    --pluto-dark-gray-l9-95: #a2a5a8f2;
    --pluto-dark-gray-l9-90: #a2a5a8e6;
    --pluto-dark-gray-l9-85: #a2a5a8d9;
    --pluto-dark-gray-l9-80: #a2a5a8cc;
    --pluto-dark-gray-l9-75: #a2a5a8bf;
    --pluto-dark-gray-l9-70: #a2a5a8b3;
    --pluto-dark-gray-l9-65: #a2a5a8a6;
    --pluto-dark-gray-l9-60: #a2a5a899;
    --pluto-dark-gray-l9-55: #a2a5a88c;
    --pluto-dark-gray-l9-50: #a2a5a880;
    --pluto-dark-gray-l9-45: #a2a5a873;
    --pluto-dark-gray-l9-40: #a2a5a866;
    --pluto-dark-gray-l9-35: #a2a5a859;
    --pluto-dark-gray-l9-30: #a2a5a84d;
    --pluto-dark-gray-l9-25: #a2a5a840;
    --pluto-dark-gray-l9-20: #a2a5a833;
    --pluto-dark-gray-l9-15: #a2a5a826;
    --pluto-dark-gray-l9-10: #a2a5a81a;
    --pluto-dark-gray-l9-5: #a2a5a80d;
    --pluto-dark-gray-l10: #cfd1d4;
    --pluto-dark-gray-l10-95: #cfd1d4f2;
    --pluto-dark-gray-l10-90: #cfd1d4e6;
    --pluto-dark-gray-l10-85: #cfd1d4d9;
    --pluto-dark-gray-l10-80: #cfd1d4cc;
    --pluto-dark-gray-l10-75: #cfd1d4bf;
    --pluto-dark-gray-l10-70: #cfd1d4b3;
    --pluto-dark-gray-l10-65: #cfd1d4a6;
    --pluto-dark-gray-l10-60: #cfd1d499;
    --pluto-dark-gray-l10-55: #cfd1d48c;
    --pluto-dark-gray-l10-50: #cfd1d480;
    --pluto-dark-gray-l10-45: #cfd1d473;
    --pluto-dark-gray-l10-40: #cfd1d466;
    --pluto-dark-gray-l10-35: #cfd1d459;
    --pluto-dark-gray-l10-30: #cfd1d44d;
    --pluto-dark-gray-l10-25: #cfd1d440;
    --pluto-dark-gray-l10-20: #cfd1d433;
    --pluto-dark-gray-l10-15: #cfd1d426;
    --pluto-dark-gray-l10-10: #cfd1d41a;
    --pluto-dark-gray-l10-5: #cfd1d40d;
    --pluto-dark-gray-l11: #f1f2f3;
    --pluto-dark-gray-l11-rgb: 241, 242, 243;
    --pluto-dark-gray-l11-95: #f1f2f3f2;
    --pluto-dark-gray-l11-90: #f1f2f3e6;
    --pluto-dark-gray-l11-85: #f1f2f3d9;
    --pluto-dark-gray-l11-80: #f1f2f3cc;
    --pluto-dark-gray-l11-75: #f1f2f3bf;
    --pluto-dark-gray-l11-70: #f1f2f3b3;
    --pluto-dark-gray-l11-65: #f1f2f3a6;
    --pluto-dark-gray-l11-60: #f1f2f399;
    --pluto-dark-gray-l11-55: #f1f2f38c;
    --pluto-dark-gray-l11-50: #f1f2f380;
    --pluto-dark-gray-l11-45: #f1f2f373;
    --pluto-dark-gray-l11-40: #f1f2f366;
    --pluto-dark-gray-l11-35: #f1f2f359;
    --pluto-dark-gray-l11-30: #f1f2f34d;
    --pluto-dark-gray-l11-25: #f1f2f340;
    --pluto-dark-gray-l11-20: #f1f2f333;
    --pluto-dark-gray-l11-15: #f1f2f326;
    --pluto-dark-gray-l11-10: #f1f2f31a;
    --pluto-dark-gray-l11-5: #f1f2f30d;
    --pluto-dark-logo-color: var(--pluto-text-color);
    --pluto-dark-error-m2: #92070e;
    --pluto-dark-error-m1: #c30912;
    --pluto-dark-error-z: #f5242e;
    --pluto-dark-error-z-95: #f5242ef2;
    --pluto-dark-error-z-90: #f5242ee6;
    --pluto-dark-error-z-85: #f5242ed9;
    --pluto-dark-error-z-80: #f5242ecc;
    --pluto-dark-error-z-75: #f5242ebf;
    --pluto-dark-error-z-70: #f5242eb3;
    --pluto-dark-error-z-65: #f5242ea6;
    --pluto-dark-error-z-60: #f5242e99;
    --pluto-dark-error-z-55: #f5242e8c;
    --pluto-dark-error-z-50: #f5242e80;
    --pluto-dark-error-z-45: #f5242e73;
    --pluto-dark-error-z-40: #f5242e66;
    --pluto-dark-error-z-35: #f5242e59;
    --pluto-dark-error-z-30: #f5242e4d;
    --pluto-dark-error-z-25: #f5242e40;
    --pluto-dark-error-z-20: #f5242e33;
    --pluto-dark-error-z-15: #f5242e26;
    --pluto-dark-error-z-10: #f5242e1a;
    --pluto-dark-error-z-5: #f5242e0d;
    --pluto-dark-error-p1: #f7555d;
    --pluto-dark-error-p2: #fa8f94;
    --pluto-dark-warning-m2: #917608;
    --pluto-dark-warning-m1: #c29d0a;
    --pluto-dark-warning-z: #f4ca25;
    --pluto-dark-warning-z-95: #f4ca25f2;
    --pluto-dark-warning-z-90: #f4ca25e6;
    --pluto-dark-warning-z-85: #f4ca25d9;
    --pluto-dark-warning-z-80: #f4ca25cc;
    --pluto-dark-warning-z-75: #f4ca25bf;
    --pluto-dark-warning-z-70: #f4ca25b3;
    --pluto-dark-warning-z-65: #f4ca25a6;
    --pluto-dark-warning-z-60: #f4ca2599;
    --pluto-dark-warning-z-55: #f4ca258c;
    --pluto-dark-warning-z-50: #f4ca2580;
    --pluto-dark-warning-z-45: #f4ca2573;
    --pluto-dark-warning-z-40: #f4ca2566;
    --pluto-dark-warning-z-35: #f4ca2559;
    --pluto-dark-warning-z-30: #f4ca254d;
    --pluto-dark-warning-z-25: #f4ca2540;
    --pluto-dark-warning-z-20: #f4ca2533;
    --pluto-dark-warning-z-15: #f4ca2526;
    --pluto-dark-warning-z-10: #f4ca251a;
    --pluto-dark-warning-z-5: #f4ca250d;
    --pluto-dark-warning-p1: #f6d655;
    --pluto-dark-success-m2: #2d8f4e;
    --pluto-dark-success-m1: #38b261;
    --pluto-dark-success-z: #50c878;
    --pluto-dark-success-z-95: #50c878f2;
    --pluto-dark-success-z-90: #50c878e6;
    --pluto-dark-success-z-85: #50c878d9;
    --pluto-dark-success-z-80: #50c878cc;
    --pluto-dark-success-z-75: #50c878bf;
    --pluto-dark-success-z-70: #50c878b3;
    --pluto-dark-success-z-65: #50c878a6;
    --pluto-dark-success-z-60: #50c87899;
    --pluto-dark-success-z-55: #50c8788c;
    --pluto-dark-success-z-50: #50c87880;
    --pluto-dark-success-z-45: #50c87873;
    --pluto-dark-success-z-40: #50c87866;
    --pluto-dark-success-z-35: #50c87859;
    --pluto-dark-success-z-30: #50c8784d;
    --pluto-dark-success-z-25: #50c87840;
    --pluto-dark-success-z-20: #50c87833;
    --pluto-dark-success-z-15: #50c87826;
    --pluto-dark-success-z-10: #50c8781a;
    --pluto-dark-success-z-5: #50c8780d;
    --pluto-dark-success-p1: #73d393;
    --pluto-dark-success-p2: #96deae;
    --pluto-dark-white: #ffffff;
    --pluto-dark-white-rgb: 255, 255, 255;
    --pluto-dark-black: #000000;
    --pluto-dark-black-rgb: 0, 0, 0;
    --pluto-dark-text-color: #cfd1d4;
    --pluto-dark-text-color-rgb: 207, 209, 212;
    --pluto-dark-text-disabled: #a2a5a873;
    --pluto-dark-text-placeholder: #a2a5a8a6;
    --pluto-dark-text-on-primary: #f1f2f3;
    --pluto-dark-text-on-warning: #040506;
    --pluto-dark-primary-text: #93c5fd;
    --pluto-dark-error-text: #fca5a5;
    --pluto-dark-warning-text: #fcd34d;
    --pluto-dark-border-color: #36393f;
    --pluto-dark-base-size: 6px;
    --pluto-dark-border-radius: var(--pluto-dark-border-radius-tiny);
    --pluto-dark-border-radius-tiny: round(0.6666666666666666rem, 1px);
    --pluto-dark-border-radius-small: round(1rem, 1px);
    --pluto-dark-border-radius-medium: round(1.5rem, 1px);
    --pluto-dark-border-radius-large: round(2rem, 1px);
    --pluto-dark-border-radius-huge: round(3rem, 1px);
    --pluto-dark-border-width: 1px;
    --pluto-dark-border-thick-width: 1px;
    --pluto-dark-schematic-element-stroke-width: 2px;
    --pluto-dark-font-family: "Inter Variable", sans-serif;
    --pluto-dark-code-font-family: "Geist Mono", monospace;
    --pluto-dark-h1-size: round(5.5rem, 1px);
    --pluto-dark-h1-weight: 500;
    --pluto-dark-h1-line-height: round(8.25rem, 1px);
    --pluto-dark-h2-size: round(4.5rem, 1px);
    --pluto-dark-h2-weight: medium;
    --pluto-dark-h2-line-height: round(6.75rem, 1px);
    --pluto-dark-h3-size: round(3.5rem, 1px);
    --pluto-dark-h3-weight: medium;
    --pluto-dark-h3-line-height: round(5.25rem, 1px);
    --pluto-dark-h4-size: round(2.6666rem, 1px);
    --pluto-dark-h4-weight: medium;
    --pluto-dark-h4-line-height: round(3.9999rem, 1px);
    --pluto-dark-h5-size: round(2.333333rem, 1px);
    --pluto-dark-h5-weight: 450;
    --pluto-dark-h5-line-height: round(3.4999995000000004rem, 1px);
    --pluto-dark-p-size: round(2.1666666666rem, 1px);
    --pluto-dark-p-weight: regular;
    --pluto-dark-p-line-height: round(3rem, 1px);
    --pluto-dark-small-size: round(1.916666rem, 1px);
    --pluto-dark-small-weight: regular;
    --pluto-dark-small-line-height: round(2.3333333rem, 1px);
}
