:root {
    --pluto-theme-name: Synnax Light;
    --pluto-theme-key: synnaxLight;
    --pluto-primary-m1: #164fa0;
    --pluto-primary-m1-rgb: 22, 79, 160;
    --pluto-primary-z: #3774d0;
    --pluto-primary-z-rgb: 55, 116, 208;
    --pluto-primary-p1: #5e94ee;
    --pluto-primary-p1-rgb: 94, 148, 238;
    --pluto-primary-z-95: #3774d0f2;
    --pluto-primary-z-90: #3774d0e5;
    --pluto-primary-z-85: #3774d0d8;
    --pluto-primary-z-80: #3774d0cc;
    --pluto-primary-z-75: #3774d0bf;
    --pluto-primary-z-70: #3774d0b2;
    --pluto-primary-z-65: #3774d0a5;
    --pluto-primary-z-60: #3774d099;
    --pluto-primary-z-55: #3774d08c;
    --pluto-primary-z-50: #3774d07f;
    --pluto-primary-z-45: #3774d072;
    --pluto-primary-z-40: #3774d066;
    --pluto-primary-z-35: #3774d059;
    --pluto-primary-z-30: #3774d04c;
    --pluto-primary-z-25: #3774d03f;
    --pluto-primary-z-20: #3774d033;
    --pluto-primary-z-15: #3774d026;
    --pluto-primary-z-10: #3774d019;
    --pluto-primary-z-5: #3774d00c;
    --pluto-secondary-m1: #38b261;
    --pluto-secondary-z: #50c878;
    --pluto-secondary-p1: #73d393;
    --pluto-secondary-z-95: #50c878f2;
    --pluto-secondary-z-90: #50c878e5;
    --pluto-secondary-z-85: #50c878d8;
    --pluto-secondary-z-80: #50c878cc;
    --pluto-secondary-z-75: #50c878bf;
    --pluto-secondary-z-70: #50c878b2;
    --pluto-secondary-z-65: #50c878a5;
    --pluto-secondary-z-60: #50c87899;
    --pluto-secondary-z-55: #50c8788c;
    --pluto-secondary-z-50: #50c8787f;
    --pluto-secondary-z-45: #50c87872;
    --pluto-secondary-z-40: #50c87866;
    --pluto-secondary-z-35: #50c87859;
    --pluto-secondary-z-30: #50c8784c;
    --pluto-secondary-z-25: #50c8783f;
    --pluto-secondary-z-20: #50c87833;
    --pluto-secondary-z-15: #50c87826;
    --pluto-secondary-z-10: #50c87819;
    --pluto-secondary-z-5: #50c8780c;
    --pluto-gray-l0: #fdfdfd;
    --pluto-gray-l0-rgb: 253, 253, 253;
    --pluto-gray-l0-95: #fdfdfdf2;
    --pluto-gray-l0-90: #fdfdfde5;
    --pluto-gray-l0-85: #fdfdfdd8;
    --pluto-gray-l0-80: #fdfdfdcc;
    --pluto-gray-l0-75: #fdfdfdbf;
    --pluto-gray-l0-70: #fdfdfdb2;
    --pluto-gray-l0-65: #fdfdfda5;
    --pluto-gray-l0-60: #fdfdfd99;
    --pluto-gray-l0-55: #fdfdfd8c;
    --pluto-gray-l0-50: #fdfdfd7f;
    --pluto-gray-l0-45: #fdfdfd72;
    --pluto-gray-l0-40: #fdfdfd66;
    --pluto-gray-l0-35: #fdfdfd59;
    --pluto-gray-l0-30: #fdfdfd4c;
    --pluto-gray-l0-25: #fdfdfd3f;
    --pluto-gray-l0-20: #fdfdfd33;
    --pluto-gray-l0-15: #fdfdfd26;
    --pluto-gray-l0-10: #fdfdfd19;
    --pluto-gray-l0-5: #fdfdfd0c;
    --pluto-gray-l1: #f9f9f9;
    --pluto-gray-l1-95: #f9f9f9f2;
    --pluto-gray-l1-90: #f9f9f9e5;
    --pluto-gray-l1-85: #f9f9f9d8;
    --pluto-gray-l1-80: #f9f9f9cc;
    --pluto-gray-l1-75: #f9f9f9bf;
    --pluto-gray-l1-70: #f9f9f9b2;
    --pluto-gray-l1-65: #f9f9f9a5;
    --pluto-gray-l1-60: #f9f9f999;
    --pluto-gray-l1-55: #f9f9f98c;
    --pluto-gray-l1-50: #f9f9f97f;
    --pluto-gray-l1-45: #f9f9f972;
    --pluto-gray-l1-40: #f9f9f966;
    --pluto-gray-l1-35: #f9f9f959;
    --pluto-gray-l1-30: #f9f9f94c;
    --pluto-gray-l1-25: #f9f9f93f;
    --pluto-gray-l1-20: #f9f9f933;
    --pluto-gray-l1-15: #f9f9f926;
    --pluto-gray-l1-10: #f9f9f919;
    --pluto-gray-l1-5: #f9f9f90c;
    --pluto-gray-l2: #f2f2f2;
    --pluto-gray-l2-95: #f2f2f2f2;
    --pluto-gray-l2-90: #f2f2f2e5;
    --pluto-gray-l2-85: #f2f2f2d8;
    --pluto-gray-l2-80: #f2f2f2cc;
    --pluto-gray-l2-75: #f2f2f2bf;
    --pluto-gray-l2-70: #f2f2f2b2;
    --pluto-gray-l2-65: #f2f2f2a5;
    --pluto-gray-l2-60: #f2f2f299;
    --pluto-gray-l2-55: #f2f2f28c;
    --pluto-gray-l2-50: #f2f2f27f;
    --pluto-gray-l2-45: #f2f2f272;
    --pluto-gray-l2-40: #f2f2f266;
    --pluto-gray-l2-35: #f2f2f259;
    --pluto-gray-l2-30: #f2f2f24c;
    --pluto-gray-l2-25: #f2f2f23f;
    --pluto-gray-l2-20: #f2f2f233;
    --pluto-gray-l2-15: #f2f2f226;
    --pluto-gray-l2-10: #f2f2f219;
    --pluto-gray-l2-5: #f2f2f20c;
    --pluto-gray-l3: #e1e1e1;
    --pluto-gray-l3-95: #e1e1e1f2;
    --pluto-gray-l3-90: #e1e1e1e5;
    --pluto-gray-l3-85: #e1e1e1d8;
    --pluto-gray-l3-80: #e1e1e1cc;
    --pluto-gray-l3-75: #e1e1e1bf;
    --pluto-gray-l3-70: #e1e1e1b2;
    --pluto-gray-l3-65: #e1e1e1a5;
    --pluto-gray-l3-60: #e1e1e199;
    --pluto-gray-l3-55: #e1e1e18c;
    --pluto-gray-l3-50: #e1e1e17f;
    --pluto-gray-l3-45: #e1e1e172;
    --pluto-gray-l3-40: #e1e1e166;
    --pluto-gray-l3-35: #e1e1e159;
    --pluto-gray-l3-30: #e1e1e14c;
    --pluto-gray-l3-25: #e1e1e13f;
    --pluto-gray-l3-20: #e1e1e133;
    --pluto-gray-l3-15: #e1e1e126;
    --pluto-gray-l3-10: #e1e1e119;
    --pluto-gray-l3-5: #e1e1e10c;
    --pluto-gray-l4: #d5d5d5;
    --pluto-gray-l5: #adadad;
    --pluto-gray-l5-95: #adadadf2;
    --pluto-gray-l5-90: #adadade5;
    --pluto-gray-l5-85: #adadadd8;
    --pluto-gray-l5-80: #adadadcc;
    --pluto-gray-l5-75: #adadadbf;
    --pluto-gray-l5-70: #adadadb2;
    --pluto-gray-l5-65: #adadada5;
    --pluto-gray-l5-60: #adadad99;
    --pluto-gray-l5-55: #adadad8c;
    --pluto-gray-l5-50: #adadad7f;
    --pluto-gray-l5-45: #adadad72;
    --pluto-gray-l5-40: #adadad66;
    --pluto-gray-l5-35: #adadad59;
    --pluto-gray-l5-30: #adadad4c;
    --pluto-gray-l5-25: #adadad3f;
    --pluto-gray-l5-20: #adadad33;
    --pluto-gray-l5-15: #adadad26;
    --pluto-gray-l5-10: #adadad19;
    --pluto-gray-l5-5: #adadad0c;
    --pluto-gray-l6: #878787;
    --pluto-gray-l6-95: #878787f2;
    --pluto-gray-l6-90: #878787e5;
    --pluto-gray-l6-85: #878787d8;
    --pluto-gray-l6-80: #878787cc;
    --pluto-gray-l6-75: #878787bf;
    --pluto-gray-l6-70: #878787b2;
    --pluto-gray-l6-65: #878787a5;
    --pluto-gray-l6-60: #87878799;
    --pluto-gray-l6-55: #8787878c;
    --pluto-gray-l6-50: #8787877f;
    --pluto-gray-l6-45: #87878772;
    --pluto-gray-l6-40: #87878766;
    --pluto-gray-l6-35: #87878759;
    --pluto-gray-l6-30: #8787874c;
    --pluto-gray-l6-25: #8787873f;
    --pluto-gray-l6-20: #87878733;
    --pluto-gray-l6-15: #87878726;
    --pluto-gray-l6-10: #87878719;
    --pluto-gray-l6-5: #8787870c;
    --pluto-gray-l7: #636363;
    --pluto-gray-l7-95: #636363f2;
    --pluto-gray-l7-90: #636363e5;
    --pluto-gray-l7-85: #636363d8;
    --pluto-gray-l7-80: #636363cc;
    --pluto-gray-l7-75: #636363bf;
    --pluto-gray-l7-70: #636363b2;
    --pluto-gray-l7-65: #636363a5;
    --pluto-gray-l7-60: #63636399;
    --pluto-gray-l7-55: #6363638c;
    --pluto-gray-l7-50: #6363637f;
    --pluto-gray-l7-45: #63636372;
    --pluto-gray-l7-40: #63636366;
    --pluto-gray-l7-35: #63636359;
    --pluto-gray-l7-30: #6363634c;
    --pluto-gray-l7-25: #6363633f;
    --pluto-gray-l7-20: #63636333;
    --pluto-gray-l7-15: #63636326;
    --pluto-gray-l7-10: #63636319;
    --pluto-gray-l7-5: #6363630c;
    --pluto-gray-l8: #444444;
    --pluto-gray-l9: #1c1c1c;
    --pluto-gray-l9-95: #1c1c1cf2;
    --pluto-gray-l9-90: #1c1c1ce5;
    --pluto-gray-l9-85: #1c1c1cd8;
    --pluto-gray-l9-80: #1c1c1ccc;
    --pluto-gray-l9-75: #1c1c1cbf;
    --pluto-gray-l9-70: #1c1c1cb2;
    --pluto-gray-l9-65: #1c1c1ca5;
    --pluto-gray-l9-60: #1c1c1c99;
    --pluto-gray-l9-55: #1c1c1c8c;
    --pluto-gray-l9-50: #1c1c1c7f;
    --pluto-gray-l9-45: #1c1c1c72;
    --pluto-gray-l9-40: #1c1c1c66;
    --pluto-gray-l9-35: #1c1c1c59;
    --pluto-gray-l9-30: #1c1c1c4c;
    --pluto-gray-l9-25: #1c1c1c3f;
    --pluto-gray-l9-20: #1c1c1c33;
    --pluto-gray-l9-15: #1c1c1c26;
    --pluto-gray-l9-10: #1c1c1c19;
    --pluto-gray-l9-5: #1c1c1c0c;
    --pluto-gray-l10: #050505;
    --pluto-logo-color: url(#synnax-linear-gradient);
    --pluto-error-m2: #92070e;
    --pluto-error-m1: #c30912;
    --pluto-error-z: #f5242e;
    --pluto-error-z-95: #f5242ef2;
    --pluto-error-z-90: #f5242ee5;
    --pluto-error-z-85: #f5242ed8;
    --pluto-error-z-80: #f5242ecc;
    --pluto-error-z-75: #f5242ebf;
    --pluto-error-z-70: #f5242eb2;
    --pluto-error-z-65: #f5242ea5;
    --pluto-error-z-60: #f5242e99;
    --pluto-error-z-55: #f5242e8c;
    --pluto-error-z-50: #f5242e7f;
    --pluto-error-z-45: #f5242e72;
    --pluto-error-z-40: #f5242e66;
    --pluto-error-z-35: #f5242e59;
    --pluto-error-z-30: #f5242e4c;
    --pluto-error-z-25: #f5242e3f;
    --pluto-error-z-20: #f5242e33;
    --pluto-error-z-15: #f5242e26;
    --pluto-error-z-10: #f5242e19;
    --pluto-error-z-5: #f5242e0c;
    --pluto-error-p1: #f7555d;
    --pluto-error-p2: #fa8f94;
    --pluto-warning-m2: #999400;
    --pluto-warning-m1: #ccc500;
    --pluto-warning-z: #fff700;
    --pluto-warning-z-95: #fff700f2;
    --pluto-warning-z-90: #fff700e5;
    --pluto-warning-z-85: #fff700d8;
    --pluto-warning-z-80: #fff700cc;
    --pluto-warning-z-75: #fff700bf;
    --pluto-warning-z-70: #fff700b2;
    --pluto-warning-z-65: #fff700a5;
    --pluto-warning-z-60: #fff70099;
    --pluto-warning-z-55: #fff7008c;
    --pluto-warning-z-50: #fff7007f;
    --pluto-warning-z-45: #fff70072;
    --pluto-warning-z-40: #fff70066;
    --pluto-warning-z-35: #fff70059;
    --pluto-warning-z-30: #fff7004c;
    --pluto-warning-z-25: #fff7003f;
    --pluto-warning-z-20: #fff70033;
    --pluto-warning-z-15: #fff70026;
    --pluto-warning-z-10: #fff70019;
    --pluto-warning-z-5: #fff7000c;
    --pluto-warning-p1: #fff94d;
    --pluto-success-m2: #2d8f4e;
    --pluto-success-m1: #38b261;
    --pluto-success-z: #50c878;
    --pluto-success-z-95: #50c878f2;
    --pluto-success-z-90: #50c878e5;
    --pluto-success-z-85: #50c878d8;
    --pluto-success-z-80: #50c878cc;
    --pluto-success-z-75: #50c878bf;
    --pluto-success-z-70: #50c878b2;
    --pluto-success-z-65: #50c878a5;
    --pluto-success-z-60: #50c87899;
    --pluto-success-z-55: #50c8788c;
    --pluto-success-z-50: #50c8787f;
    --pluto-success-z-45: #50c87872;
    --pluto-success-z-40: #50c87866;
    --pluto-success-z-35: #50c87859;
    --pluto-success-z-30: #50c8784c;
    --pluto-success-z-25: #50c8783f;
    --pluto-success-z-20: #50c87833;
    --pluto-success-z-15: #50c87826;
    --pluto-success-z-10: #50c87819;
    --pluto-success-z-5: #50c8780c;
    --pluto-success-p1: #73d393;
    --pluto-success-p2: #96deae;
    --pluto-white: #ffffff;
    --pluto-white-rgb: 255, 255, 255;
    --pluto-black: #000000;
    --pluto-black-rgb: 0, 0, 0;
    --pluto-text-color: #1c1c1c;
    --pluto-text-color-rgb: 28, 28, 28;
    --pluto-text-on-primary: #fdfdfd;
    --pluto-border-color: #e1e1e1;
    --pluto-base-size: 6px;
    --pluto-border-radius: 3px;
    --pluto-border-width: 0.5px;
    --pluto-schematic-element-stroke-width: 2px;
    --pluto-font-family: "Inter Variable", sans-serif;
    --pluto-code-font-family: "Geist Mono", monospace;
    --pluto-h1-size: 6rem;
    --pluto-h1-weight: 500;
    --pluto-h1-line-height: 9rem;
    --pluto-h2-size: 4.5rem;
    --pluto-h2-weight: medium;
    --pluto-h2-line-height: 6.75rem;
    --pluto-h3-size: 3.5rem;
    --pluto-h3-weight: medium;
    --pluto-h3-line-height: 5.25rem;
    --pluto-h4-size: 2.6666rem;
    --pluto-h4-weight: medium;
    --pluto-h4-line-height: 3.9999rem;
    --pluto-h5-size: 2.333333rem;
    --pluto-h5-weight: 450;
    --pluto-h5-line-height: 3.4999995000000004rem;
    --pluto-p-size: 2.1666666666rem;
    --pluto-p-weight: regular;
    --pluto-p-line-height: 3rem;
    --pluto-small-size: 1.916666rem;
    --pluto-small-weight: regular;
    --pluto-small-line-height: 2.8749999rem;
}

@media (prefers-color-scheme: dark) {
    :root {
        --pluto-theme-name: Synnax Dark;
        --pluto-theme-key: synnaxDark;
        --pluto-primary-m1: #164fa0;
        --pluto-primary-m1-rgb: 22, 79, 160;
        --pluto-primary-z: #3774d0;
        --pluto-primary-z-rgb: 55, 116, 208;
        --pluto-primary-p1: #5e94ee;
        --pluto-primary-p1-rgb: 94, 148, 238;
        --pluto-primary-z-95: #3774d0f2;
        --pluto-primary-z-90: #3774d0e5;
        --pluto-primary-z-85: #3774d0d8;
        --pluto-primary-z-80: #3774d0cc;
        --pluto-primary-z-75: #3774d0bf;
        --pluto-primary-z-70: #3774d0b2;
        --pluto-primary-z-65: #3774d0a5;
        --pluto-primary-z-60: #3774d099;
        --pluto-primary-z-55: #3774d08c;
        --pluto-primary-z-50: #3774d07f;
        --pluto-primary-z-45: #3774d072;
        --pluto-primary-z-40: #3774d066;
        --pluto-primary-z-35: #3774d059;
        --pluto-primary-z-30: #3774d04c;
        --pluto-primary-z-25: #3774d03f;
        --pluto-primary-z-20: #3774d033;
        --pluto-primary-z-15: #3774d026;
        --pluto-primary-z-10: #3774d019;
        --pluto-primary-z-5: #3774d00c;
        --pluto-secondary-m1: #38b261;
        --pluto-secondary-z: #50c878;
        --pluto-secondary-p1: #73d393;
        --pluto-secondary-z-95: #50c878f2;
        --pluto-secondary-z-90: #50c878e5;
        --pluto-secondary-z-85: #50c878d8;
        --pluto-secondary-z-80: #50c878cc;
        --pluto-secondary-z-75: #50c878bf;
        --pluto-secondary-z-70: #50c878b2;
        --pluto-secondary-z-65: #50c878a5;
        --pluto-secondary-z-60: #50c87899;
        --pluto-secondary-z-55: #50c8788c;
        --pluto-secondary-z-50: #50c8787f;
        --pluto-secondary-z-45: #50c87872;
        --pluto-secondary-z-40: #50c87866;
        --pluto-secondary-z-35: #50c87859;
        --pluto-secondary-z-30: #50c8784c;
        --pluto-secondary-z-25: #50c8783f;
        --pluto-secondary-z-20: #50c87833;
        --pluto-secondary-z-15: #50c87826;
        --pluto-secondary-z-10: #50c87819;
        --pluto-secondary-z-5: #50c8780c;
        --pluto-gray-l0: #020202;
        --pluto-gray-l0-rgb: 2, 2, 2;
        --pluto-gray-l0-95: #020202f2;
        --pluto-gray-l0-90: #020202e5;
        --pluto-gray-l0-85: #020202d8;
        --pluto-gray-l0-80: #020202cc;
        --pluto-gray-l0-75: #020202bf;
        --pluto-gray-l0-70: #020202b2;
        --pluto-gray-l0-65: #020202a5;
        --pluto-gray-l0-60: #02020299;
        --pluto-gray-l0-55: #0202028c;
        --pluto-gray-l0-50: #0202027f;
        --pluto-gray-l0-45: #02020272;
        --pluto-gray-l0-40: #02020266;
        --pluto-gray-l0-35: #02020259;
        --pluto-gray-l0-30: #0202024c;
        --pluto-gray-l0-25: #0202023f;
        --pluto-gray-l0-20: #02020233;
        --pluto-gray-l0-15: #02020226;
        --pluto-gray-l0-10: #02020219;
        --pluto-gray-l0-5: #0202020c;
        --pluto-gray-l1: #0c0c0c;
        --pluto-gray-l1-95: #0c0c0cf2;
        --pluto-gray-l1-90: #0c0c0ce5;
        --pluto-gray-l1-85: #0c0c0cd8;
        --pluto-gray-l1-80: #0c0c0ccc;
        --pluto-gray-l1-75: #0c0c0cbf;
        --pluto-gray-l1-70: #0c0c0cb2;
        --pluto-gray-l1-65: #0c0c0ca5;
        --pluto-gray-l1-60: #0c0c0c99;
        --pluto-gray-l1-55: #0c0c0c8c;
        --pluto-gray-l1-50: #0c0c0c7f;
        --pluto-gray-l1-45: #0c0c0c72;
        --pluto-gray-l1-40: #0c0c0c66;
        --pluto-gray-l1-35: #0c0c0c59;
        --pluto-gray-l1-30: #0c0c0c4c;
        --pluto-gray-l1-25: #0c0c0c3f;
        --pluto-gray-l1-20: #0c0c0c33;
        --pluto-gray-l1-15: #0c0c0c26;
        --pluto-gray-l1-10: #0c0c0c19;
        --pluto-gray-l1-5: #0c0c0c0c;
        --pluto-gray-l2: #161616;
        --pluto-gray-l2-95: #161616f2;
        --pluto-gray-l2-90: #161616e5;
        --pluto-gray-l2-85: #161616d8;
        --pluto-gray-l2-80: #161616cc;
        --pluto-gray-l2-75: #161616bf;
        --pluto-gray-l2-70: #161616b2;
        --pluto-gray-l2-65: #161616a5;
        --pluto-gray-l2-60: #16161699;
        --pluto-gray-l2-55: #1616168c;
        --pluto-gray-l2-50: #1616167f;
        --pluto-gray-l2-45: #16161672;
        --pluto-gray-l2-40: #16161666;
        --pluto-gray-l2-35: #16161659;
        --pluto-gray-l2-30: #1616164c;
        --pluto-gray-l2-25: #1616163f;
        --pluto-gray-l2-20: #16161633;
        --pluto-gray-l2-15: #16161626;
        --pluto-gray-l2-10: #16161619;
        --pluto-gray-l2-5: #1616160c;
        --pluto-gray-l3: #252525;
        --pluto-gray-l3-95: #252525f2;
        --pluto-gray-l3-90: #252525e5;
        --pluto-gray-l3-85: #252525d8;
        --pluto-gray-l3-80: #252525cc;
        --pluto-gray-l3-75: #252525bf;
        --pluto-gray-l3-70: #252525b2;
        --pluto-gray-l3-65: #252525a5;
        --pluto-gray-l3-60: #25252599;
        --pluto-gray-l3-55: #2525258c;
        --pluto-gray-l3-50: #2525257f;
        --pluto-gray-l3-45: #25252572;
        --pluto-gray-l3-40: #25252566;
        --pluto-gray-l3-35: #25252559;
        --pluto-gray-l3-30: #2525254c;
        --pluto-gray-l3-25: #2525253f;
        --pluto-gray-l3-20: #25252533;
        --pluto-gray-l3-15: #25252526;
        --pluto-gray-l3-10: #25252519;
        --pluto-gray-l3-5: #2525250c;
        --pluto-gray-l4: #323232;
        --pluto-gray-l5: #464646;
        --pluto-gray-l5-95: #464646f2;
        --pluto-gray-l5-90: #464646e5;
        --pluto-gray-l5-85: #464646d8;
        --pluto-gray-l5-80: #464646cc;
        --pluto-gray-l5-75: #464646bf;
        --pluto-gray-l5-70: #464646b2;
        --pluto-gray-l5-65: #464646a5;
        --pluto-gray-l5-60: #46464699;
        --pluto-gray-l5-55: #4646468c;
        --pluto-gray-l5-50: #4646467f;
        --pluto-gray-l5-45: #46464672;
        --pluto-gray-l5-40: #46464666;
        --pluto-gray-l5-35: #46464659;
        --pluto-gray-l5-30: #4646464c;
        --pluto-gray-l5-25: #4646463f;
        --pluto-gray-l5-20: #46464633;
        --pluto-gray-l5-15: #46464626;
        --pluto-gray-l5-10: #46464619;
        --pluto-gray-l5-5: #4646460c;
        --pluto-gray-l6: #646464;
        --pluto-gray-l6-95: #646464f2;
        --pluto-gray-l6-90: #646464e5;
        --pluto-gray-l6-85: #646464d8;
        --pluto-gray-l6-80: #646464cc;
        --pluto-gray-l6-75: #646464bf;
        --pluto-gray-l6-70: #646464b2;
        --pluto-gray-l6-65: #646464a5;
        --pluto-gray-l6-60: #64646499;
        --pluto-gray-l6-55: #6464648c;
        --pluto-gray-l6-50: #6464647f;
        --pluto-gray-l6-45: #64646472;
        --pluto-gray-l6-40: #64646466;
        --pluto-gray-l6-35: #64646459;
        --pluto-gray-l6-30: #6464644c;
        --pluto-gray-l6-25: #6464643f;
        --pluto-gray-l6-20: #64646433;
        --pluto-gray-l6-15: #64646426;
        --pluto-gray-l6-10: #64646419;
        --pluto-gray-l6-5: #6464640c;
        --pluto-gray-l7: #989898;
        --pluto-gray-l7-95: #989898f2;
        --pluto-gray-l7-90: #989898e5;
        --pluto-gray-l7-85: #989898d8;
        --pluto-gray-l7-80: #989898cc;
        --pluto-gray-l7-75: #989898bf;
        --pluto-gray-l7-70: #989898b2;
        --pluto-gray-l7-65: #989898a5;
        --pluto-gray-l7-60: #98989899;
        --pluto-gray-l7-55: #9898988c;
        --pluto-gray-l7-50: #9898987f;
        --pluto-gray-l7-45: #98989872;
        --pluto-gray-l7-40: #98989866;
        --pluto-gray-l7-35: #98989859;
        --pluto-gray-l7-30: #9898984c;
        --pluto-gray-l7-25: #9898983f;
        --pluto-gray-l7-20: #98989833;
        --pluto-gray-l7-15: #98989826;
        --pluto-gray-l7-10: #98989819;
        --pluto-gray-l7-5: #9898980c;
        --pluto-gray-l8: #b2b1b1;
        --pluto-gray-l9: #d8d8d8;
        --pluto-gray-l9-95: #d8d8d8f2;
        --pluto-gray-l9-90: #d8d8d8e5;
        --pluto-gray-l9-85: #d8d8d8d8;
        --pluto-gray-l9-80: #d8d8d8cc;
        --pluto-gray-l9-75: #d8d8d8bf;
        --pluto-gray-l9-70: #d8d8d8b2;
        --pluto-gray-l9-65: #d8d8d8a5;
        --pluto-gray-l9-60: #d8d8d899;
        --pluto-gray-l9-55: #d8d8d88c;
        --pluto-gray-l9-50: #d8d8d87f;
        --pluto-gray-l9-45: #d8d8d872;
        --pluto-gray-l9-40: #d8d8d866;
        --pluto-gray-l9-35: #d8d8d859;
        --pluto-gray-l9-30: #d8d8d84c;
        --pluto-gray-l9-25: #d8d8d83f;
        --pluto-gray-l9-20: #d8d8d833;
        --pluto-gray-l9-15: #d8d8d826;
        --pluto-gray-l9-10: #d8d8d819;
        --pluto-gray-l9-5: #d8d8d80c;
        --pluto-gray-l10: #fdfdfd;
        --pluto-logo-color: var(--pluto-text-color);
        --pluto-error-m2: #92070e;
        --pluto-error-m1: #c30912;
        --pluto-error-z: #f5242e;
        --pluto-error-z-95: #f5242ef2;
        --pluto-error-z-90: #f5242ee5;
        --pluto-error-z-85: #f5242ed8;
        --pluto-error-z-80: #f5242ecc;
        --pluto-error-z-75: #f5242ebf;
        --pluto-error-z-70: #f5242eb2;
        --pluto-error-z-65: #f5242ea5;
        --pluto-error-z-60: #f5242e99;
        --pluto-error-z-55: #f5242e8c;
        --pluto-error-z-50: #f5242e7f;
        --pluto-error-z-45: #f5242e72;
        --pluto-error-z-40: #f5242e66;
        --pluto-error-z-35: #f5242e59;
        --pluto-error-z-30: #f5242e4c;
        --pluto-error-z-25: #f5242e3f;
        --pluto-error-z-20: #f5242e33;
        --pluto-error-z-15: #f5242e26;
        --pluto-error-z-10: #f5242e19;
        --pluto-error-z-5: #f5242e0c;
        --pluto-error-p1: #f7555d;
        --pluto-error-p2: #fa8f94;
        --pluto-warning-m2: #999400;
        --pluto-warning-m1: #ccc500;
        --pluto-warning-z: #fff700;
        --pluto-warning-z-95: #fff700f2;
        --pluto-warning-z-90: #fff700e5;
        --pluto-warning-z-85: #fff700d8;
        --pluto-warning-z-80: #fff700cc;
        --pluto-warning-z-75: #fff700bf;
        --pluto-warning-z-70: #fff700b2;
        --pluto-warning-z-65: #fff700a5;
        --pluto-warning-z-60: #fff70099;
        --pluto-warning-z-55: #fff7008c;
        --pluto-warning-z-50: #fff7007f;
        --pluto-warning-z-45: #fff70072;
        --pluto-warning-z-40: #fff70066;
        --pluto-warning-z-35: #fff70059;
        --pluto-warning-z-30: #fff7004c;
        --pluto-warning-z-25: #fff7003f;
        --pluto-warning-z-20: #fff70033;
        --pluto-warning-z-15: #fff70026;
        --pluto-warning-z-10: #fff70019;
        --pluto-warning-z-5: #fff7000c;
        --pluto-warning-p1: #fff94d;
        --pluto-success-m2: #2d8f4e;
        --pluto-success-m1: #38b261;
        --pluto-success-z: #50c878;
        --pluto-success-z-95: #50c878f2;
        --pluto-success-z-90: #50c878e5;
        --pluto-success-z-85: #50c878d8;
        --pluto-success-z-80: #50c878cc;
        --pluto-success-z-75: #50c878bf;
        --pluto-success-z-70: #50c878b2;
        --pluto-success-z-65: #50c878a5;
        --pluto-success-z-60: #50c87899;
        --pluto-success-z-55: #50c8788c;
        --pluto-success-z-50: #50c8787f;
        --pluto-success-z-45: #50c87872;
        --pluto-success-z-40: #50c87866;
        --pluto-success-z-35: #50c87859;
        --pluto-success-z-30: #50c8784c;
        --pluto-success-z-25: #50c8783f;
        --pluto-success-z-20: #50c87833;
        --pluto-success-z-15: #50c87826;
        --pluto-success-z-10: #50c87819;
        --pluto-success-z-5: #50c8780c;
        --pluto-success-p1: #73d393;
        --pluto-success-p2: #96deae;
        --pluto-white: #ffffff;
        --pluto-white-rgb: 255, 255, 255;
        --pluto-black: #000000;
        --pluto-black-rgb: 0, 0, 0;
        --pluto-text-color: #d8d8d8;
        --pluto-text-color-rgb: 216, 216, 216;
        --pluto-text-on-primary: #fdfdfd;
        --pluto-border-color: #252525;
        --pluto-base-size: 6px;
        --pluto-border-radius: 3px;
        --pluto-border-width: 0.5px;
        --pluto-schematic-element-stroke-width: 2px;
        --pluto-font-family: "Inter Variable", sans-serif;
        --pluto-code-font-family: "Geist Mono", monospace;
        --pluto-h1-size: 6rem;
        --pluto-h1-weight: 500;
        --pluto-h1-line-height: 9rem;
        --pluto-h2-size: 4.5rem;
        --pluto-h2-weight: medium;
        --pluto-h2-line-height: 6.75rem;
        --pluto-h3-size: 3.5rem;
        --pluto-h3-weight: medium;
        --pluto-h3-line-height: 5.25rem;
        --pluto-h4-size: 2.6666rem;
        --pluto-h4-weight: medium;
        --pluto-h4-line-height: 3.9999rem;
        --pluto-h5-size: 2.333333rem;
        --pluto-h5-weight: 450;
        --pluto-h5-line-height: 3.4999995000000004rem;
        --pluto-p-size: 2.1666666666rem;
        --pluto-p-weight: regular;
        --pluto-p-line-height: 3rem;
        --pluto-small-size: 1.916666rem;
        --pluto-small-weight: regular;
        --pluto-small-line-height: 2.8749999rem;
    }
}
