/*
 * Copyright 2023 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-tree__container,
.pluto-tree__container ul {
    list-style-type: none;
}

.pluto-tree__list {
    padding-left: 0;
}

.pluto-tree__container {
    padding: 0 !important;
    margin: 0;
}

.pluto-tree-leaf__button {
    width: 100%;
    height: 4.5rem !important;
    border-radius: 0;
}

.pluto-tree-leaf__button--selected {
    background-color: var(--pluto-primary-z-40) !important;
}
