[tool.poetry]
name = "synnax"
version = "0.3.1"
description = "Synnax Client Library"
keywords = ["Synnax", "Synnax Python Client"]
authors = ["emiliano bonilla <emilbon99@gmail.com>"]
repository = "https://github.com/synnaxlabs/synnax"
homepage = "https://synnaxlabs.com"
packages = [
	{ include = "synnax/**/*.py" }
]

[tool.isort]
profile = "black"

[tool.poetry.dependencies]
python = "^3.11"
websockets = "^10.3"
mypy = "^0.971"
pandas = "^1.4.3"
PyJWT = "^2.5.0"
rich = "^12.6.0"
pick = "^2.0.2"
pydantic = "^1.10.2"
synnax-freighter = "^0.2.14"
#synnax-freighter = { path = "../../freighter/py", develop = true }
keyring = "^23.9.3"
click = "^8.1.3"
urllib3 = "^1.26.14"

[tool.poetry.dev-dependencies]
pytest = "^7.1.2"
pytest-asyncio = "^0.19.0"
pytest-cov = "^3.0.0"
black = "^22.6.0"
isort = "^5.10.1"
numpy = "^1.23.3"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.mypy]
plugins = ["numpy.typing.mypy_plugin"]
ignore_missing_imports = true

[tool.poetry.scripts]
synnax= "synnax.cli.synnax:synnax"

[tool.pytest.ini_options]
markers = [
    "channel: mark test as a channel test",
    "cli"
]

