[tool.poetry]
name = "synnax"
version = "0.1.0"
description = "Synnax Client Library"
keywords = ["Synnax", "Synnax Python Client"]
authors = ["emiliano bonilla <emilbon99@gmail.com>"]
repository = "https://github.com/synnaxlabs/synnax"
homepage = "https://synnaxlabs.com"
packages = [
    { include = "synnax/**/*.py" }
]


[tool.poetry.dependencies]
python = "^3.10"
websockets = "^10.3"
mypy = "^0.971"
pandas = "^1.4.3"
synnax-freighter = "^0.1.0"

[tool.poetry.dev-dependencies]
pytest = "^7.1.2"
pytest-asyncio = "^0.19.0"
pytest-cov = "^3.0.0"
black = "^22.6.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.mypy]
plugins = ["numpy.typing.mypy_plugin"]
ignore_missing_imports = true