/* 
 * Copyright 2025 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-dialog__frame {
    > .pluto--visible {
        &:first-child {
            z-index: calc(var(--pluto-dialog-z-index, 6) + 1);
        }
    }
    &.pluto--visible {
        & > *:first-child {
            z-index: calc(var(--pluto-dialog-z-index, 6) + 1);
        }
    }

    .pluto-dialog__dialog {
        position: fixed;
        overflow: hidden;

        & > .pluto-pack.pluto--rounded {
            --pluto-pack-br: 6px;
        }

        &.pluto--modal {
            animation: var(--pluto-modal-animation);
            position: relative;
            border-color: var(--pluto-gray-l6);
            min-width: 400px;
            /* z-index: 5; */
            overflow: hidden;
            box-shadow: var(--pluto-shadow-v1);
            border-radius: 1rem;
        }

        &:not(.pluto--modal) {
            animation: var(--pluto-dialog-animation);
            box-shadow: var(--pluto-shadow-v1);
            max-height: 360px;
            z-index: 6;
            &.pluto-height-small {
                max-height: 200px;
            }

            &.pluto-height-large {
                max-height: 480px;
            }
        }
        /* 
    &.pluto--hidden {
        opacity: 0;
        z-index: -1;
        pointer-events: none;
    } */

        &.pluto--visible {
            z-index: 5;
            opacity: 1;
        }
    }

    .pluto-dialog__bg {
        width: 100%;
        height: 100%;
        -webkit-user-select: none;
        user-select: none;
        background: transparent;

        &:not(.pluto--visible) > div {
            width: 100%;
            height: 100%;
            & > div {
                width: 100%;
                height: 100%;
            }
        }

        &.pluto--visible {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 4;
            padding: 5rem;
            transition: background 0.15s ease-in-out;
            background: var(--pluto-gray-l8-40);
        }
    }

    .pluto-theme-synnax-dark .pluto-dialog__bg.pluto--visible {
        background: var(--pluto-gray-l1-60);
    }
}
