/*
 * Copyright 2023 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.docs-get-started-chip {
    text-decoration: none;
}

.docs-get-started-chip header {
    padding: 1rem 3rem 2rem 2rem;
    border-radius: var(--pluto-border-radius);
}

.docs-get-started-chip .call-to-action {
    white-space: nowrap !important;
    transition: transform 0.2s;
}

.docs-get-started-chip:hover {
    background-color: var(--pluto-gray-m2);
}

.docs-get-started-chip:hover .call-to-action {
    transform: translateX(0.5rem);
}
