/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.console-error-overlay {
    height: 100vh;
    & .console-dialog {
        max-width: 1200px;
    }

    & .pluto-navbar.pluto--location-top {
        padding-left: 2rem;
        padding-right: 1rem;

        & .synnax-logo {
            height: 3rem;
            width: 3rem;
        }
    }

    & .console-details {
        max-width: 650px;
    }

    & .console-stack {
        max-height: 700px;
        overflow: auto;
    }

    & .synnax-logo {
        width: 150px;
    }
}
