/*
 * Copyright 2023 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-btn {
    margin: 0;
    cursor: pointer;
    border-radius: var(--pluto-border-radius);
    padding: 0 2rem;
    font-family: var(--pluto-font-family);
    text-decoration: none;

    &.pluto--small {
        padding: 0 1.5rem;
    }
}

/* |||| FILLED |||| */

.pluto-btn--filled {
    background: var(--pluto-primary-z);
    border: var(--pluto-border);
    border-color: var(--pluto-primary-z) !important;
    color: var(--pluto-text-on-primary);

    &:hover:not(.pluto--disabled) {
        background: var(--pluto-primary-p1);
        border-color: var(--pluto-primary-p1) !important;
    }

    &:active:not(.pluto--disabled) {
        background: var(--pluto-primary-m1);
        border-color: var(--pluto-primary-m1) !important;
    }
}

.pluto-btn--filled path:is(:not([fill="none"]), [stroke="#000"]) {
    stroke: inherit !important;
    fill: inherit !important;
}

/* |||| OUTLINED |||| */

.pluto-btn--outlined {
    background: var(--pluto-gray-l0);
    border: var(--pluto-border-width) solid var(--pluto-border-color);

    &:hover:not(.pluto--disabled) {
        background: var(--pluto-gray-l2);
        border-color: var(--pluto-gray-l4) !important;
    }

    &:active:not(.pluto--disabled) {
        background: var(--pluto-gray-l3);
        border-color: var(--pluto-gray-l5) !important;
    }
}

.pluto-btn--outlined
    svg:not(.logo)
    :is(path, circle):is(:not([fill="none"]), [stroke="#000"]) {
    stroke: inherit !important;
    fill: inherit !important;
}

.pluto-btn--filled,
.pluto-btn--outlined {
    &.pluto--disabled {
        background: var(--pluto-gray-l2);
        color: var(--pluto-gray-l5);
        border: var(--pluto-border);
        border-color: var(--pluto-gray-l3) !important;
    }
}

/* |||| TEXT |||| */

.pluto-btn--text {
    background: none;
    border: none;

    &:hover:not(.pluto--disabled) {
        background: var(--pluto-gray-l2);
    }

    &:active:not(.pluto--disabled) {
        background: var(--pluto-gray-l3);
    }

    &.pluto--disabled {
        color: var(--pluto-gray-l5);
    }
}

.pluto-btn-icon.pluto-btn--text
    svg:not(.logo)
    path:is(:not([fill="none"]), [stroke="#000"]) {
    stroke: inherit !important;
    fill: inherit !important;
}

/* |||| ICON |||| */

.pluto-btn-icon {
    display: flex;
    padding: 0 !important;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    color: var(--pluto-gray-l9);
    font-weight: 600;
}

.pluto-btn-icon > svg {
    width: 60%;
    height: 60%;
}
