/*
 * Copyright 2024 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-space.pluto--y {
    > .pluto-btn {
        flex-shrink: 0;
    }
}

.pluto-btn {
    margin: 0;
    cursor: pointer;
    border-radius: var(--pluto-border-radius);
    padding: 0 2rem;
    font-family: var(--pluto-font-family);
    text-decoration: none;

    &.pluto--small {
        padding: 0 1.5rem;
    }

    transition:
        background 0.15s ease-in-out,
        border-color 0.15s ease-in-out;
}

/* |||| FILLED |||| */

.pluto-btn--filled {
    --pluto-bg: var(--pluto-primary-z);
    background: var(--pluto-bg);
    border: var(--pluto-border);
    border-color: var(--pluto-bg) !important;
    & * {
        color: var(--pluto-btn-text-color, var(--pluto-text-on-primary)) !important;
    }

    &:hover:not(.pluto--disabled) {
        --pluto-bg: var(--pluto-primary-p1);
        background: var(--pluto-bg);
        border-color: var(--pluto-bg) !important;
    }

    &:active:not(.pluto--disabled) {
        --pluto-bg: var(--pluto-primary-m1);
        background: var(--pluto-bg);
        border-color: var(--pluto-bg) !important;
    }

    &.pluto-btn--custom-color {
        --pluto-bg: rgba(var(--pluto-btn-color), 0.75);
        background: var(--pluto-bg);
        border-color: var(--pluto-bg) !important;

        &:hover:not(.pluto--disabled) {
            --pluto-bg: rgba(var(--pluto-btn-color), 1);
            background: var(--pluto-bg);
            border-color: var(--pluto-bg) !important;
        }

        &:active:not(.pluto--disabled) {
            --pluto-bg: rgba(var(--pluto-btn-color), 0.6);
            background: var(--pluto-bg);
            border-color: var(--pluto-bg) !important;
        }
    }

    &.pluto--warning {
        --pluto-bg: var(--pluto-warning-z);
        background: var(--pluto-bg);
        border-color: var(--pluto-bg) !important;

        &:hover:not(.pluto--disabled) {
            --pluto-bg: var(--pluto-warning-p1);
            background: var(--pluto-bg);
            border-color: var(--pluto-bg) !important;
        }

        &:active:not(.pluto--disabled) {
            --pluto-bg: var(--pluto-warning-m1);
            background: var(--pluto-bg);
            border-color: var(--pluto-bg) !important;
        }
    }

    &.pluto--error {
        --pluto-bg: var(--pluto-error-z);
        background: var(--pluto-bg);
        border-color: var(--pluto-bg) !important;

        &:hover:not(.pluto--disabled) {
            --pluto-bg: var(--pluto-error-p1);
            background: var(--pluto-bg);
            border-color: var(--pluto-bg) !important;
        }

        &:active:not(.pluto--disabled) {
            --pluto-bg: var(--pluto-error-m1);
            background: var(--pluto-bg);
            border-color: var(--pluto-bg) !important;
        }
    }
}

/* |||| OUTLINED |||| */

.pluto-btn--outlined {
    --pluto-bg: var(--pluto-gray-l2);
    background: var(--pluto-bg);
    border: var(--pluto-border-width) solid var(--pluto-gray-l4);

    &.pluto--warning {
        border-color: var(--pluto-warning-z) !important;
        color: var(--pluto-warning-z);
    }

    &.pluto--error {
        border-color: var(--pluto-error-z) !important;
        color: var(--pluto-error-z);
    }

    &:hover:not(.pluto--disabled) {
        --pluto-bg: var(--pluto-gray-l3);
        background: var(--pluto-bg);
        border-color: var(--pluto-gray-l4) !important;
    }

    &:active:not(.pluto--disabled) {
        --pluto-bg: var(--pluto-gray-l3);
        background: var(--pluto-bg);
        border-color: var(--pluto-gray-l5) !important;
    }
}

.pluto-btn.pluto--disabled {
    & * {
        color: var(--pluto-gray-l5) !important;
    }
    color: var(--pluto-gray-l5);
    cursor: not-allowed;
}

.pluto-btn--filled,
.pluto-btn--outlined {
    &.pluto--disabled {
        --pluto-bg: var(--pluto-gray-l2);
        background: var(--pluto-bg);
        color: var(--pluto-gray-l5);
        border: var(--pluto-border);
        border-color: var(--pluto-gray-l3) !important;
    }
}

/* |||| TEXT |||| */

.pluto-btn--text {
    background: none;
    border: none;

    &:hover:not(.pluto--disabled) {
        --pluto-bg: var(--pluto-gray-l2);
        background: var(--pluto-bg);
    }

    &:active:not(.pluto--disabled) {
        --pluto-bg: var(--pluto-gray-l3);
        background: var(--pluto-bg);
    }
}

/** |||| SUGGESTION |||| */

.pluto-btn--suggestion {
    background: none;
    border: var(--pluto-border);
    border-color: var(--pluto-gray-l5);
    border-style: dashed;
    filter: opacity(0.85);

    &:hover:not(.pluto--disabled) {
        background: var(--pluto-gray-l2);
        border-color: var(--pluto-gray-l5-90);
    }

    &:active:not(.pluto--disabled) {
        background: var(--pluto-gray-l3);
        border-color: var(--pluto-gray-l6);
    }

    &.pluto--disabled {
        color: var(--pluto-gray-l5);
    }
}

/** |||| PREVIEW |||| */

.pluto-btn--preview {
    background: none !important;
    border: none !important;
    padding-left: 0;
}

/* |||| ICON |||| */

.pluto-btn-icon {
    display: flex;
    padding: 0 !important;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    color: var(--pluto-gray-l9);
    font-weight: 600;
}

.pluto-btn-icon > svg {
    width: 55%;
    height: 55%;
}
