/*
 * Copyright 2025 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-space.pluto--direction-y .pluto-btn {
    flex-shrink: 0;
}

@keyframes delay {
    0% {
        width: 0%;
        -webkit-backdrop-filter: brightness(0.6);
        backdrop-filter: brightness(0.6);
    }
    99% {
        width: 100%;
        -webkit-backdrop-filter: brightness(0.6);
        backdrop-filter: brightness(0.6);
    }
    100% {
        width: 100%;
        -webkit-backdrop-filter: brightness(1);
        backdrop-filter: brightness(1);
    }
}

.pluto-btn {
    position: relative;
    cursor: pointer;
    width: fit-content;
    border: none;
    transition: var(--pluto-btn-transition);
    background: var(--pluto-bg);
    border-radius: var(--pluto-border-radius);
    text-decoration: none;

    /* We give the button a fixed z-index to ensure that we maintain a consistent
    stacking context even when increasing the z-index on hover. This prevents strange
    layout shifting of internal content (especially icons) */
    z-index: 1;

    &.pluto--direction-x {
        align-items: center;
    }

    &.pluto--disabled {
        cursor: not-allowed;
        & * {
            cursor: not-allowed;
        }
    }

    &.pluto--rounded {
        border-radius: var(--pluto-border-radius);
    }

    &.flex.pluto--bordered {
        border: var(--pluto-border);
        border-color: var(--pluto-border-color);
    }

    padding: 0 2rem;

    &.pluto--height-huge {
        padding: 0 2.5rem;
    }
    &.pluto--height-small {
        padding: 0 1.5rem;
    }
    &.pluto--height-tiny {
        padding: 0 1rem;
    }
    &.pluto-btn--filled {
        color: var(--pluto-btn-text-color, var(--pluto-text-on-primary));
        &.pluto--status-success {
            color: var(--pluto-text-on-primary);
        }
        --pluto-bg: var(--pluto-primary-z);
        --pluto-hover-bg: var(--pluto-primary-p1);
        --pluto-active-bg: var(--pluto-primary-m1);
        --pluto-border-color: var(--pluto-primary-z);
        --pluto-hover-border-color: var(--pluto-primary-p1);
        --pluto-active-border-color: var(--pluto-primary-m1);

        &.pluto-btn--custom-color {
            --pluto-bg: rgba(var(--pluto-btn-color), 1);
            --pluto-hover-bg: rgba(var(--pluto-btn-color), 0.85);
            --pluto-active-bg: rgba(var(--pluto-btn-color), 0.6);
            --pluto-border-color: rgba(var(--pluto-btn-color), 1);
            --pluto-hover-border-color: rgba(var(--pluto-btn-color), 0.85);
            --pluto-active-border-color: rgba(var(--pluto-btn-color), 0.7);
        }
        &:hover {
            text-decoration: none;
        }

        &.pluto--status-warning {
            color: var(--pluto-text-color);
            --pluto-bg: var(--pluto-warning-z);
            --pluto-hover-bg: var(--pluto-warning-p1);
            --pluto-active-bg: var(--pluto-warning-m1);
            --pluto-border-color: var(--pluto-warning-z);
            --pluto-hover-border-color: var(--pluto-warning-p1);
            --pluto-active-border-color: var(--pluto-warning-m1);
        }

        &.pluto--status-error {
            color: var(--pluto-text-on-primary);
            --pluto-bg: var(--pluto-error-z);
            --pluto-hover-bg: var(--pluto-error-p1);
            --pluto-active-bg: var(--pluto-error-m1);
            --pluto-border-color: var(--pluto-error-z);
            --pluto-hover-border-color: var(--pluto-error-p1);
            --pluto-active-border-color: var(--pluto-error-m1);
        }

        &.pluto--disabled {
            color: var(--pluto-gray-l6);
            --pluto-bg: var(--pluto-gray-l2);
            --pluto-color: var(--pluto-gray-l6);
            --pluto-border-color: var(--pluto-gray-l4);
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 0%;
            z-index: 1;
            border-radius: var(--pluto-border-radius);
        }
        &:active::after {
            animation: delay var(--pluto-btn-delay) linear;
            width: 100%;
        }
        &:focus-visible {
            box-shadow:
                0 0 0 2px var(--pluto-gray-l0),
                0 0 0 3px var(--pluto-primary-z);
            outline: none;
        }
    }

    &.pluto-btn--text,
    &.pluto-btn--outlined {
        &:focus-visible {
            outline: none;
            box-shadow: inset 0 0 0 1px var(--pluto-primary-z);
        }
    }
    &:not(.pluto--square) .pluto-trigger-indicator {
        margin-left: auto;
    }

    &.pluto--square {
        padding: 0;
        & .pluto-icon {
            width: round(1.1em, 1px);
            height: round(1.1em, 1px);
        }

        &.pluto--height-large .pluto-icon {
            width: round(1.2em, 1px);
            height: round(1.2em, 1px);
        }

        .pluto-trigger-indicator {
            opacity: 0;
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(45%, -45%);
            z-index: 10;
            transition: opacity 0.1s ease-in-out;
            & .pluto-text--keyboard {
                background: var(--pluto-gray-l0);
                border-color: var(--pluto-gray-l5);
            }
        }
        &:hover .pluto-trigger-indicator {
            opacity: 1;
        }
    }

    & .pluto-btn__trigger {
        display: block;
        width: fit-content;
        height: fit-content;
        transform: scale(0.7);
        margin-right: -1.5rem;
        margin-left: -1rem;
        z-index: 10;
        & .pluto-text--keyboard {
            background: var(--pluto-gray-l1);
            color: var(--pluto-gray-l9);
        }
    }

    &.pluto-btn--outlined {
        --pluto-bg: var(--pluto-gray-l2);
        --pluto-hover-bg: var(--pluto-gray-l3);
        --pluto-active-bg: var(--pluto-gray-l4);

        --pluto-border-color: var(--pluto-gray-l5);
        --pluto-hover-border-color: var(--pluto-gray-l6);
        --pluto-active-border-color: var(--pluto-gray-l7);

        &.pluto-btn--contrast-1 {
            --pluto-bg: var(--pluto-gray-l2);
            --pluto-hover-bg: var(--pluto-gray-l3);
            --pluto-active-bg: var(--pluto-gray-l4);

            --pluto-border-color: var(--pluto-gray-l5);
            --pluto-hover-border-color: var(--pluto-gray-l6);
            --pluto-active-border-color: var(--pluto-gray-l7);
        }

        &.pluto-btn--contrast-2 {
            --pluto-bg: var(--pluto-gray-l0);
            --pluto-hover-bg: var(--pluto-gray-l1);
            --pluto-active-bg: var(--pluto-gray-l2);

            --pluto-border-color: var(--pluto-gray-l5);
            --pluto-hover-border-color: var(--pluto-gray-l6);
            --pluto-active-border-color: var(--pluto-gray-l7);
        }

        &.pluto-btn--contrast-3 {
            --pluto-bg: var(--pluto-gray-l2);
            --pluto-hover-bg: var(--pluto-gray-l3);
            --pluto-active-bg: var(--pluto-gray-l4);

            --pluto-border-color: var(--pluto-gray-l6);
            --pluto-hover-border-color: var(--pluto-gray-l7);
            --pluto-active-border-color: var(--pluto-gray-l8);
        }

        &.pluto-btn--custom-color {
            --pluto-border-color: rgba(var(--pluto-btn-color), 1);
            --pluto-hover-border-color: rgba(var(--pluto-btn-color), 0.6);
            --pluto-active-border-color: rgba(var(--pluto-btn-color), 1);
        }

        &.pluto--status-warning {
            color: var(--pluto-warning-z);
            --pluto-border-color: var(--pluto-warning-z);
            --pluto-hover-border-color: var(--pluto-warning-p1);
            --pluto-active-border-color: var(--pluto-warning-m1);
        }

        &.pluto--status-error {
            color: var(--pluto-error-p1);
            --pluto-border-color: var(--pluto-error-z);
            --pluto-hover-border-color: var(--pluto-error-p1);
            --pluto-active-border-color: var(--pluto-error-m1);
        }

        &.pluto--disabled {
            color: var(--pluto-gray-l6);
            --pluto-bg: var(--pluto-gray-l2);
            --pluto-border-color: var(--pluto-gray-l4);
        }
    }

    &.pluto-btn--text {
        --pluto-hover-bg: var(--pluto-gray-l2);
        --pluto-active-bg: var(--pluto-gray-l3);
        --pluto-border-color: var(--pluto-gray-l0);

        &.pluto-btn--contrast-1 {
            --pluto-bg: var(--pluto-gray-l1);
            --pluto-hover-bg: var(--pluto-gray-l3);
            --pluto-active-bg: var(--pluto-gray-l2);
        }

        &.pluto-btn--contrast-2 {
            --pluto-bg: var(--pluto-gray-l2);
            --pluto-hover-bg: var(--pluto-gray-l3);
            --pluto-active-bg: var(--pluto-gray-l4);
            --pluto-active-border-color: var(--pluto-gray-l5);
        }

        &.pluto-btn--contrast-3 {
            --pluto-bg: var(--pluto-gray-l3);
            --pluto-hover-bg: var(--pluto-gray-l6);
            --pluto-active-border-color: var(--pluto-gray-l8);
        }

        &.pluto--disabled {
            color: var(--pluto-gray-l6);
        }

        &.pluto--status-warning {
            color: var(--pluto-warning-p1);
        }

        &.pluto--status-error {
            color: var(--pluto-error-p1);
        }
    }

    &.pluto-btn--shadow {
        --pluto-border-color: transparent;
        --pluto-hover-bg: var(--pluto-gray-l2);
        --pluto-active-bg: var(--pluto-gray-l4);

        --pluto-hover-border-color: var(--pluto-gray-l5);
        --pluto-active-border-color: var(--pluto-gray-l7);

        &.pluto-btn--contrast-1 {
            --pluto-bg: var(--pluto-gray-l1);
            --pluto-hover-bg: var(--pluto-gray-l3);
            --pluto-active-bg: var(--pluto-gray-l2);
            --pluto-hover-border-color: var(--pluto-gray-l6);
            --pluto-active-border-color: var(--pluto-gray-l7);
        }

        &.pluto-btn--contrast-2 {
            --pluto-bg: var(--pluto-gray-l2);
            --pluto-hover-bg: var(--pluto-gray-l0);
            --pluto-active-bg: var(--pluto-gray-l2);
            --pluto-hover-border-color: var(--pluto-gray-l5);
            --pluto-active-border-color: var(--pluto-gray-l7);
        }

        &.pluto-btn--contrast-3 {
            --pluto-bg: var(--pluto-gray-l3);
            --pluto-hover-bg: var(--pluto-gray-l2);
            --pluto-active-bg: var(--pluto-gray-l4);
            --pluto-hover-border-color: var(--pluto-gray-l6);
            --pluto-active-border-color: var(--pluto-gray-l8);
        }

        &.pluto--disabled {
            color: var(--pluto-gray-l6);
        }

        &.pluto--status-warning {
            color: var(--pluto-warning-p1);
        }

        &.pluto--status-error {
            color: var(--pluto-error-p1);
        }

        &:focus-visible {
            outline: none;
            box-shadow: inset 0 0 0 1px var(--pluto-primary-z);
        }
    }

    &.pluto-btn--preview {
        cursor: default;
        pointer-events: none;
        padding: 0;
        transition: none;

        --pluto-bg: transparent;
        --pluto-hover-bg: transparent;
        --pluto-active-bg: transparent;
        --pluto-border-color: transparent;
        --pluto-hover-border-color: transparent;
        --pluto-active-border-color: transparent;

        &:focus-visible {
            outline: none;
            box-shadow: none;
        }

        &.pluto--disabled {
            color: var(--pluto-gray-l6);
        }

        &.pluto--status-warning {
            color: var(--pluto-warning-p1);
        }

        &.pluto--status-error {
            color: var(--pluto-error-p1);
        }
    }

    &.pluto-haul-drop-region {
        --pluto-bg: var(--haul-background) !important;
        --pluto-border-color: var(--haul-border-color) !important;
    }

    /* We use the flex selector that is always present in order to increase
     specificity of the hover and active states. */
    &:not(.pluto-btn--prevent-click, .pluto--disabled) {
        &:is(:hover, .pluto--hovered) {
            --pluto-bg: var(--pluto-hover-bg);
            --pluto-border-color: var(--pluto-hover-border-color);
        }

        &:active {
            --pluto-bg: var(--pluto-active-bg);
            --pluto-border-color: var(--pluto-active-border-color);
        }
    }
}
