/*
 * Copyright 2025 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-space.pluto--y .pluto-btn {
    flex-shrink: 0;
}

@keyframes delay {
    0% {
        width: 0%;
        -webkit-backdrop-filter: brightness(0.6);
        backdrop-filter: brightness(0.6);
    }
    99% {
        width: 100%;
        -webkit-backdrop-filter: brightness(0.6);
        backdrop-filter: brightness(0.6);
    }
    100% {
        width: 100%;
        -webkit-backdrop-filter: brightness(1);
        backdrop-filter: brightness(1);
    }
}

.pluto-btn {
    position: relative;
    cursor: pointer;
    /* We give the button a fixed z-index to ensure that we maintain a consistent
    stacking context even when increasing the z-index on hover. This prevents strange
    layout shifting of internal content (especially icons) */
    z-index: 1;
    font-family: var(--pluto-font-family);
    border-radius: var(--pluto-border-radius);
    text-decoration: none;
    padding: 0 2rem;
    &.pluto--small {
        padding: 0 1.5rem;
    }

    &.pluto--disabled {
        cursor: not-allowed;
        --pluto-btn-text-color: var(--pluto-gray-l6) !important;
        --pluto-border-color: var(--pluto-gray-l4) !important;
    }

    &.pluto--filled,
    &.pluto--outlined {
        &.pluto--disabled {
            --pluto-bg: var(--pluto-gray-l2) !important;
        }
    }

    &.pluto--suggestion {
        background: none;
        border: var(--pluto-border);
        border-color: var(--pluto-gray-l7);
        border-style: dashed;
        filter: opacity(0.85);

        &:hover:not(.pluto--disabled) {
            background: var(--pluto-gray-l2);
            border-color: var(--pluto-gray-l7-90);
        }

        &:active:not(.pluto--disabled) {
            background: var(--pluto-gray-l3);
            border-color: var(--pluto-gray-l8);
        }

        &.pluto--disabled {
            color: var(--pluto-gray-l7);
        }
    }

    &.pluto--preview {
        background: none !important;
        border: none !important;
        padding-left: 0;
    }

    &.pluto--filled {
        & * {
            color: var(--pluto-btn-text-color, var(--pluto-text-on-primary)) !important;
        }
        --pluto-bg: var(--pluto-primary-z);
        --pluto-hover-bg: var(--pluto-primary-p1);
        --pluto-active-bg: var(--pluto-primary-m1);
        --pluto-border-color: var(--pluto-primary-z);
        --pluto-hover-border-color: var(--pluto-primary-p1);
        --pluto-active-border-color: var(--pluto-primary-m1);

        &.pluto-btn--custom-color {
            --pluto-bg: rgba(var(--pluto-btn-color), 1);
            --pluto-hover-bg: rgba(var(--pluto-btn-color), 0.85);
            --pluto-active-bg: rgba(var(--pluto-btn-color), 0.7);
            --pluto-border-color: rgba(var(--pluto-btn-color), 1);
            --pluto-hover-border-color: rgba(var(--pluto-btn-color), 0.85);
            --pluto-active-border-color: rgba(var(--pluto-btn-color), 0.7);
        }

        &.pluto--warning {
            --pluto-bg: var(--pluto-warning-z);
            --pluto-hover-bg: var(--pluto-warning-p1);
            --pluto-active-bg: var(--pluto-warning-m1);
            --pluto-border-color: var(--pluto-warning-z);
            --pluto-hover-border-color: var(--pluto-warning-p1);
            --pluto-active-border-color: var(--pluto-warning-m1);
        }

        &.pluto--error {
            --pluto-bg: var(--pluto-error-z);
            --pluto-hover-bg: var(--pluto-error-p1);
            --pluto-active-bg: var(--pluto-error-m1);
            --pluto-border-color: var(--pluto-error-z);
            --pluto-hover-border-color: var(--pluto-error-p1);
            --pluto-active-border-color: var(--pluto-error-m1);
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 0%;
            z-index: 1;
            border-radius: var(--pluto-border-radius);
        }
        &:active::after {
            animation: delay var(--pluto-btn-delay) linear;
            width: 100%;
        }
        &:focus-visible {
            box-shadow:
                0 0 0 2px var(--pluto-gray-l0),
                0 0 0 3px var(--pluto-primary-z);
            outline: none;
        }
    }

    &.pluto--text,
    &.pluto--outlined {
        &:focus-visible {
            outline: none;
            box-shadow: inset 0 0 0 1px var(--pluto-primary-z);
        }
    }
}

.pluto-btn-icon {
    padding: 0 !important;
    aspect-ratio: 1;
    color: var(--pluto-gray-l11);
    font-weight: 600;

    & > * {
        position: absolute;
        top: 22.5%;
        left: 22.5%;
        width: 55%;
        height: 55%;
    }

    .pluto-trigger-indicator {
        opacity: 0;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: fit-content;
        height: fit-content;
        transform: translate(45%, -45%);
        z-index: 10;
        transition: opacity 0.1s ease-in-out;
        & .pluto-text--keyboard {
            background: var(--pluto-gray-l0);
            border-color: var(--pluto-gray-l5);
        }
    }
    &:hover .pluto-trigger-indicator {
        opacity: 1;
    }
}

.pluto--clickable {
    transition: var(--pluto-btn-transition);
    background: var(--pluto-bg);
    border: var(--pluto-border-width) solid var(--pluto-border-color);
    cursor: pointer;
    &.pluto--outlined {
        &.pluto--shade-0 {
            --pluto-bg: var(--pluto-gray-l2);
            --pluto-hover-bg: var(--pluto-gray-l3);
            --pluto-active-bg: var(--pluto-gray-l4);

            --pluto-border-color: var(--pluto-gray-l5);
            --pluto-hover-border-color: var(--pluto-gray-l6);
            --pluto-active-border-color: var(--pluto-gray-l7);
        }

        &.pluto--shade-1 {
            --pluto-bg: var(--pluto-gray-l2);
            --pluto-hover-bg: var(--pluto-gray-l3);
            --pluto-active-bg: var(--pluto-gray-l4);

            --pluto-border-color: var(--pluto-gray-l5);
            --pluto-hover-border-color: var(--pluto-gray-l6);
            --pluto-active-border-color: var(--pluto-gray-l7);
        }

        &.pluto--shade-2 {
            --pluto-bg: var(--pluto-gray-l0);
            --pluto-hover-bg: var(--pluto-gray-l1);
            --pluto-active-bg: var(--pluto-gray-l2);

            --pluto-border-color: var(--pluto-gray-l5);
            --pluto-hover-border-color: var(--pluto-gray-l6);
            --pluto-active-border-color: var(--pluto-gray-l7);
        }

        &.pluto--shade-3 {
            --pluto-bg: var(--pluto-gray-l2);
            --pluto-hover-bg: var(--pluto-gray-l3);
            --pluto-active-bg: var(--pluto-gray-l4);

            --pluto-border-color: var(--pluto-gray-l6);
            --pluto-hover-border-color: var(--pluto-gray-l7);
            --pluto-active-border-color: var(--pluto-gray-l8);
        }

        &.pluto-btn--custom-color {
            --pluto-border-color: rgba(var(--pluto-btn-color), 1);
            --pluto-hover-border-color: rgba(var(--pluto-btn-color), 0.6);
            --pluto-active-border-color: rgba(var(--pluto-btn-color), 1);
        }

        &.pluto--warning {
            --pluto-border-color: var(--pluto-warning-z);
            --pluto-hover-border-color: var(--pluto-warning-p1);
            --pluto-active-border-color: var(--pluto-warning-m1);
        }

        &.pluto--error {
            --pluto-border-color: var(--pluto-error-z);
            --pluto-hover-border-color: var(--pluto-error-p1);
            --pluto-active-border-color: var(--pluto-error-m1);
        }
    }
    &:not(.pluto--disabled):not(:focus-within) {
        &:is(:hover, .pluto--hovered) {
            --pluto-bg: var(--pluto-hover-bg);
            --pluto-border-color: var(--pluto-hover-border-color);
        }

        &:active {
            --pluto-bg: var(--pluto-active-bg);
            --pluto-border-color: var(--pluto-active-border-color);
        }
    }
    &.pluto--text {
        border: none !important;

        &.pluto--shade-0 {
            --pluto-hover-bg: var(--pluto-gray-l2);
            --pluto-active-bg: var(--pluto-gray-l3);
            --pluto-border-color: var(--pluto-gray-l0);
        }

        &.pluto--shade-1 {
            --pluto-bg: var(--pluto-gray-l1);
            --pluto-hover-bg: var(--pluto-gray-l3);
            --pluto-active-bg: var(--pluto-gray-l2);
        }

        &.pluto--shade-2 {
            --pluto-bg: var(--pluto-gray-l2);
            --pluto-hover-bg: var(--pluto-gray-l3);
            --pluto-active-bg: var(--pluto-gray-l4);
            --pluto-active-border-color: var(--pluto-gray-l5);
        }

        &.pluto--shade-3 {
            --pluto-bg: var(--pluto-gray-l3);
            --pluto-hover-bg: var(--pluto-gray-l6);
            --pluto-active-border-color: var(--pluto-gray-l8);
        }
    }

    &.pluto-haul-drop-region {
        --pluto-bg: var(--haul-background) !important;
        --pluto-border-color: var(--haul-border-color) !important;
    }
}
