[project]
name = "alamos"
version = "0.49.0"
authors = [{ name = "Emiliano Bonilla", email = "ebonilla@synnaxlabs.com" }]
requires-python = ">=3.10,<4"
dependencies = [
    "opentelemetry-api>=1.37.0,<2",
    "opentelemetry-sdk>=1.37.0,<2",
    "pydantic>=2.12.4,<3.0",
    "uptrace>=1.37.0,<2",
]

[tool.poetry.group.dev.dependencies]
black = "^25.9.0"
isort = "^7.0.0"
mypy = "^1.18.2"
poetry = "^2.2.1"
pytest = "^8.4.2"
vermin = "^1.7.0"

[tool.isort]
profile = "black"

[tool.mypy]
mypy_path = "stubs"
plugins = ["pydantic.mypy"]
strict = true

[tool.pydantic-mypy]
init_forbid_extra = true
init_types = true
warn_required_dynamic_aliases = true

[build-system]
requires = ["poetry-core>=2.0.0,<3.0.0"]
build-backend = "poetry.core.masonry.api"
