[tool.poetry]
name = "alamos"
version = "0.38.0"
description = ""
authors = ["Emiliano Bonilla <ebonilla@synnaxlabs.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.11"
pydantic = "^1.10.19"
mypy = "^1.13.0"
opentelemetry-sdk = "^1.28.2"
opentelemetry-api = "^1.28.2"
uptrace = "^1.28.2"


[tool.poetry.group.dev.dependencies]
pytest = "^8.2.2"
black = "^24.10.0"
pytest-asyncio = "^0.25.0"
isort = "^5.12.0"

[tool.pytest.ini_options]
filterwarnings = ["ignore::DeprecationWarning"]

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
