[tool.poetry]
name = "alamos"
version = "0.33.0"
description = ""
authors = ["Emiliano Bonilla <ebonilla@synnaxlabs.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.11"
pydantic = "^1.10.0"
mypy = "^1.3.0"
opentelemetry-sdk = "^1.18.0"
opentelemetry-api = "^1.18.0"
uptrace = "^1.18.0"


[tool.poetry.group.dev.dependencies]
pytest = "^8.2.2"
black = "^23.3.0"
pytest-asyncio = "^0.23.7"
pytest-cov = "^4.0.0"
isort = "^5.12.0"

[tool.pytest.ini_options]
filterwarnings = [
    "ignore::DeprecationWarning"
]

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
