[project]
name = "alamos"
version = "0.45.0"
authors = [{ name = "Emiliano Bonilla", email = "ebonilla@synnaxlabs.com" }]
requires-python = ">=3.11,<4"
dependencies = [
    "opentelemetry-api>=1.31.1,<2",
    "opentelemetry-sdk>=1.31.1,<2",
    "pydantic (>=2.11.5,<3.0)",
    "uptrace>=1.31.0,<2",
]


[tool.poetry.group.dev.dependencies]
black = "^25.1.0"
isort = "^6.0.1"
mypy = "^1.16.0"
poetry = "^2.1.3"
pytest = "^8.4.0"
vermin = "^1.6.0"


[tool.isort]
profile = "black"


[tool.mypy]
mypy_path = "stubs"
plugins = ["pydantic.mypy"]
strict = true

[tool.pydantic-mypy]
init_forbid_extra = true
init_types = true
warn_required_dynamic_aliases = true


[build-system]
requires = ["poetry-core>=2.0.0,<3.0.0"]
build-backend = "poetry.core.masonry.api"
