[project]
name = "alamos"
version = "0.50.0"
authors = [{ name = "Emiliano Bonilla", email = "ebonilla@synnaxlabs.com" }]
requires-python = ">=3.12,<4"
dependencies = [
    "opentelemetry-api>=1.39.1,<2",
    "opentelemetry-sdk>=1.39.1,<2",
    "pydantic>=2.12.5,<3.0",
    "uptrace>=1.39.0,<2",
]

[dependency-groups]
dev = [
    "black>=25.12.0",
    "isort>=7.0.0",
    "mypy>=1.19.0",
    "pytest>=9.0.2",
    "pytest-cov>=7.0.0",
    "vermin>=1.8.0",
]

[tool.isort]
profile = "black"

[tool.mypy]
mypy_path = "stubs"
plugins = ["pydantic.mypy"]
strict = true

[tool.pydantic-mypy]
init_forbid_extra = true
init_types = true
warn_required_dynamic_aliases = true

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
