/*
 * Copyright 2024 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.vendor-logo {
                width: 2rem;
                height: 2rem;
                margin-right: 1rem;
            }

.console-device-new-configure {
    height: 100%;
    width: 100%;


    & .pluto-tabs {
        height: calc(100% - 8rem);
    }

    & .pluto-navbar {
        padding: 0 2rem;
    }

    & .pluto-tabs-selector__tabs {
        height: 100%;
        justify-content: center !important;
    }



}
