
.console-hardware {
    position: relative;
    overflow: hidden;
    
    & .console-header {
        padding: 10rem;
        border-bottom: var(--pluto-border);
    }

    & .console-config {
        min-height: 200px;
        height: 50vh;
        max-height: 50vh;

        overflow: hidden;
        position: relative;
        border-bottom: var(--pluto-border);
    }


    & .console-modules {
        border-right: var(--pluto-border);
        max-width: 400px;
    }

    & .console-groups {
        border-right: var(--pluto-border);
        max-width: 450px;
    }

    & .console-channels {
        max-height: 100%;
        overflow: hidden;
    }
}