

.console-device-new-configure .console-properties {
    padding: 10rem;
    flex-grow: 1;
    width: 100%;
    max-width: 800px;
    height: 100%;

    & .console-fields {
        width: 100%;
    }

    & .vendor-caret {
        transition: transform 0.1s linear;
        transform-origin: center;
    }

    & .console-vendor {

        & svg {
            height: 20px;
            width: 20px;
        }
        

    }
}