

.console-software-tasks {
    position: relative;
    overflow: hidden;
    max-height: 100%;
    height: 100%;
    padding: 10rem;
    
    & .console-header {
        padding: 5rem;

        & .description {
            max-height: 150px;
            overflow: auto;
        }
        & p {
            max-width: 700px;
            line-height: 150%;
        }
    }

    & .console-config {
        height: 100%;
        max-height: 100%;
        overflow: hidden;
        position: relative;
        border: var(--pluto-border);
        border-radius: calc(var(--pluto-border-radius) * 2);
    }

    & .console-tasks {
        height: 100%;
        border-right: var(--pluto-border);
        max-width: 300px;
    }

    & .console-channels {
        max-height: 100%;
        max-width: 400px;
        overflow: hidden;
        border-right: var(--pluto-border);
    }

    & .console-details {
        height: 100%;
        width: 100%;
        max-width: 700px;
        overflow: hidden;
        padding: 5rem;
    }

    & .console-bad-port .console-port {
        color: var(--pluto-error-z) !important;
    }
}