---
import { Flex, Text } from "@synnaxlabs/pluto";
import TestimonialCard from "./TestimonialCard.astro";
import XBow from "@/components/logos/XBow.astro";
import Honeywell from "@/components/logos/Honeywell.astro";
import Firehawk from "@/components/logos/Firehawk.astro";
---

<Flex.Box el="section" className="testimonials">
    <Text.Text level="h4" variant="code" className="testimonials-label">01. Testimonials</Text.Text>
    <div class="testimonials-grid">
        <TestimonialCard
            brandColor="rgb(230, 172, 56)"
            quote="I see Synnax as the next generation of automation and test control. We are tired of dealing with LabVIEW, tired of dealing with Ignition... Synnax is different."
            name="Mike Calzadillas"
            title="Head of Control Systems"
            variant="hero"
        >
            <div slot="logo" style="color: #fff; height: 6.5rem; display: flex;"><XBow /></div>
            <svg slot="bg" viewBox="39 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M43.5845 11.4027L43.6895 11.5814C44.0928 12.248 44.6069 12.7976 45.2316 13.2304C45.3363 13.3026 45.4196 13.3483 45.4812 13.3675C46.0433 13.5442 46.618 13.6437 47.2054 13.6659C47.2107 13.6663 47.2161 13.6653 47.221 13.6632C47.2259 13.6611 47.2303 13.6579 47.2336 13.6538C47.237 13.6497 47.2393 13.6449 47.2403 13.6397C47.2413 13.6346 47.2411 13.6293 47.2396 13.6243L46.528 11.1164C46.5263 11.1104 46.5261 11.1041 46.5272 11.0981C46.5284 11.092 46.5309 11.0863 46.5347 11.0813C46.5385 11.0764 46.5433 11.0725 46.5489 11.0697C46.5545 11.067 46.5607 11.0656 46.5669 11.0656H48.2708C48.2757 11.0657 48.2805 11.0668 48.2848 11.069C48.2892 11.0711 48.293 11.0742 48.2959 11.078C48.2989 11.0818 48.3008 11.0862 48.3018 11.0909C48.3027 11.0956 48.3024 11.1004 48.3011 11.105L47.5631 13.6038C47.5609 13.6112 47.5605 13.6189 47.5619 13.6264C47.5634 13.6339 47.5666 13.641 47.5714 13.647C47.5762 13.6531 47.5824 13.6579 47.5894 13.6612C47.5965 13.6645 47.6043 13.6661 47.6121 13.6659C48.0149 13.6563 48.4248 13.6084 48.8416 13.522C49.078 13.4735 49.2693 13.3789 49.4498 13.2562C50.0792 12.829 50.6051 12.2644 51.0277 11.5625L51.1591 11.3587C51.8751 9.99533 52.1857 8.5029 52.0908 6.88145C52.028 5.80637 51.7553 4.79138 51.2727 3.83649C51.2161 3.72489 51.2371 3.70848 51.3356 3.78726C52.9283 5.06205 53.7387 6.97916 53.6189 8.98262C53.6088 9.15001 53.5598 9.35528 53.552 9.52268C53.5474 9.62923 53.566 9.63301 53.608 9.53404C55.1494 5.92024 53.6765 1.6573 49.9584 0.0295406C49.9558 0.0280257 49.9545 0.0257533 49.9545 0.0257533L49.963 0.00681706C49.9656 0.000757447 49.97 -0.00126242 49.9763 0.000757452C51.5155 0.527439 52.7697 1.40886 53.7387 2.64502C54.6481 3.80493 55.1732 5.11936 55.3143 6.58831C55.46 8.10978 55.1486 9.57318 54.3803 10.9785C54.3803 10.9785 54.3756 10.9952 54.3678 11.027C54.3668 11.031 54.3652 11.031 54.3632 11.027C54.359 11.0169 54.3562 11.0106 54.3546 11.008C54.3505 11.0015 54.3476 11.002 54.3461 11.0096C54.3424 11.0272 54.3341 11.0472 54.3212 11.0694C51.7688 15.352 45.8413 16.3443 42.0524 12.9312C40.5974 11.6201 39.7178 9.80521 39.5685 7.90628C39.4436 6.32371 39.7883 4.83683 40.6028 3.44565C40.7947 3.11742 40.9691 2.85635 41.1262 2.66244C42.0322 1.54293 43.1365 0.680949 44.513 0.15149C44.5187 0.148965 44.5239 0.15048 44.5286 0.156035C44.5338 0.1626 44.5322 0.168154 44.5239 0.172699C42.8483 1.06296 41.7087 2.37234 41.1052 4.10084C40.5266 5.75865 40.5354 7.44423 41.1317 9.15759C41.1363 9.17072 41.1457 9.17728 41.1597 9.17728C41.1742 9.17779 41.1809 9.17173 41.1799 9.1591C41.0337 7.03622 41.7546 5.27716 43.3426 3.88194C43.4178 3.81579 43.4333 3.82715 43.3893 3.91602C42.2702 6.16717 42.3013 9.22273 43.5845 11.4027Z" fill="currentColor"/>
                <path d="M51.1591 11.3587L51.0277 11.5625L48.5679 10.3801C48.5625 10.3775 48.5565 10.3761 48.5505 10.3759C48.5445 10.3758 48.5385 10.3769 48.533 10.3792C48.5275 10.3815 48.5227 10.385 48.5187 10.3893C48.5148 10.3937 48.5119 10.3988 48.5103 10.4044L48.3945 10.7967C48.3872 10.8209 48.3706 10.8331 48.3447 10.8331H46.4915C46.4789 10.833 46.4668 10.829 46.4568 10.8216C46.4468 10.8142 46.4396 10.8039 46.4362 10.7922L46.3157 10.3672C46.314 10.3612 46.3109 10.3556 46.3067 10.3509C46.3025 10.3462 46.2973 10.3424 46.2914 10.3399C46.2855 10.3373 46.2792 10.3361 46.2727 10.3363C46.2663 10.3364 46.26 10.3379 46.2543 10.3407L43.6895 11.5814L43.5845 11.4027L45.3615 8.79704C45.366 8.79034 45.3678 8.78231 45.3666 8.77449C45.3655 8.76667 45.3614 8.75959 45.3553 8.75462L43.4686 7.15261C43.396 7.09151 43.4077 7.06096 43.5036 7.06096H46.0964C46.1112 7.061 46.1256 7.05593 46.137 7.04664C46.1484 7.03736 46.156 7.02446 46.1586 7.01021L47.3461 0.387815C47.3581 0.32015 47.3702 0.32015 47.3827 0.387815L48.613 7.02385C48.615 7.03428 48.6207 7.0437 48.629 7.05048C48.6374 7.05726 48.648 7.06096 48.6589 7.06096H51.3045C51.3859 7.06096 51.3953 7.08596 51.3325 7.13595L49.3121 8.74478C49.3014 8.75313 49.2944 8.76517 49.2925 8.77841C49.2906 8.79166 49.294 8.8051 49.302 8.81598L51.1591 11.3587Z" fill="currentColor"/>
            </svg>
        </TestimonialCard>
        <TestimonialCard
            brandColor="rgb(140, 20, 20)"
            quote="The potential of this product and the implications it has for Honeywell's future are huge."
            name="Juan Fuentes"
            title="Head of Digital Transformation"
        >
            <div slot="logo" style="color: #fff; height: 9.5rem; display: flex; margin-bottom: -1.5rem;"><Honeywell /></div>
        </TestimonialCard>
        <TestimonialCard
            brandColor="rgb(221, 126, 54)"
            quote="We used to juggle four or five different LabVIEW applications. Synnax does it all in one place."
            name="Jonathan Grimm"
            title="Staff Test Engineer"
        >
            <div slot="logo" style="color: #fff; height: 8rem; display: flex;"><Firehawk /></div>
        </TestimonialCard>
    </div>
</Flex.Box>

<style is:global>
    .testimonials {
        padding: 6rem 0 25rem;
        gap: 20rem;
    }

    .testimonials-label {
        color: var(--pluto-gray-l7);
        font-weight: 500;
    }

    .testimonials-grid {
        display: grid;
        grid-template-columns: 5fr 4fr;
        grid-template-rows: 1fr 1fr;
        gap: 4rem;
        width: 100%;
        height: 700px;
        position: relative;
    }

    .testimonials-grid::before {
        content: "";
        position: absolute;
        inset: -16px;
        border-radius: 2.5rem;
        border: 1px solid rgba(255, 255, 255, 0.15);
        pointer-events: none;
        mask-image: linear-gradient(135deg, rgba(0,0,0,1) 0%, transparent 50%);
        -webkit-mask-image: linear-gradient(135deg, rgba(0,0,0,1) 0%, transparent 50%);
    }

    .testimonials-grid .testimonial-card:nth-child(1) {
        grid-row: 1 / -1;
    }

    @media (max-width: 800px) {
        .testimonials-grid {
            grid-template-columns: 1fr;
            grid-auto-rows: auto;
            height: auto;
        }

        .testimonials-grid .testimonial-card:nth-child(1) {
            grid-row: span 1;
        }
    }
</style>
