/*
 * Copyright 2025 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.console-perf-dashboard {
    padding: 1rem;
    height: 100%;
    overflow-y: auto;
    max-width: 400px;
    min-width: 210px;
    margin-right: auto;
}

.console-perf-dashboard > .pluto-header {
    padding-bottom: 1rem;
}

.console-perf-error {
    margin-top: 1rem;
}

.console-perf-reset-button {
    color: var(--pluto-primary-z);
}
