/*
 * Copyright 2025 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.console-perf-dashboard {
    padding: 1rem;
    height: 100%;
    overflow-y: auto;
    max-width: 400px;
    margin-right: auto;
}

.console-perf-dashboard > .pluto-header {
    padding-bottom: 1rem;
}

.console-perf-row {
    padding: 0.25rem 0.5rem;
    border-radius: var(--pluto-border-radius);
}

.console-perf-row:hover,
.console-perf-row:focus {
    background: var(--pluto-gray-l2);
    outline: none;
}

.console-perf-section {
    border-bottom: 1px solid var(--pluto-gray-l3);
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
}

.console-perf-section:last-child {
    border-bottom: none;
}

.console-perf-section-header {
    padding: 0.2rem;
    cursor: pointer;
    gap: 0.5rem;
    align-items: center;
    border-radius: var(--pluto-border-radius);
    user-select: none;
}

.console-perf-section-header:hover {
    background: var(--pluto-gray-l1);
}

.console-perf-section-header .pluto-icon {
    font-size: 0.75rem;
    transition: transform 0.15s ease;
}

.console-perf-section-header[data-open="true"] .pluto-icon {
    transform: rotate(90deg);
}

.console-perf-section-header-value {
    margin-left: auto;
}

.console-perf-error {
    margin-top: 1rem;
}
