/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

:root {
    --editor-token-keyword: #cc255f;
    --editor-token-delimiter-parenthesis: #cc255f;
}

/* Monaco editor on windows does a bad job of dealing with custom fonts, so we're just
using the default for now.  */
.console-main--macos .monaco-editor *:not(.codicon) {
    font-family: "Geist Mono" !important;
}

.mtk1 {
    color: var(--pluto-gray-l11) !important;
}

.mtk5 {
    color: var(--editor-token-keyword) !important;
}

.mtk6 {
    color: var(--pluto-primary-p1) !important;
}

.mtk11 {
    color: var(--pluto-secondary-m1) !important;
}

.monaco-editor-background {
    background: var(--pluto-gray-l1) !important;
}

.monaco-editor .margin {
    background: var(--pluto-gray-l1) !important;
}

.monaco-editor .line-numbers {
    color: var(--pluto-gray-l9) !important;
}

.console-editor {
    height: 100%;
    background: var(--pluto-gray-l1);
    padding: 2rem 1px;
    border-color: var(--pluto-gray-l6);
    &.pluto--bordered:has(.focused) {
        box-sizing: border-box !important;
        border-color: var(--pluto-primary-z);
        border-width: 1px;
        padding: calc(2rem - 0.5px) 0.5px;
    }
}
