/*
 * Copyright 2024 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.console-editor {
    height: 100%;
    background: var(--pluto-gray-l1);
    padding: 2rem 0;
    border-color: var(--pluto-gray-l4);
    &:has(.focused) {
        border-color: var(--pluto-primary-z);
    }
}
