/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-rack__heartbeat {
    transform: scale(1);
    transform-origin: center;
    height: 2.5rem;
    width: 2.5rem;
}

.pluto-rack__heartbeat--beat {
    animation: beat 0.2s ease-out;
}

@keyframes beat {
    0% {
        transform: scale(1.2);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}
