/*
 * Copyright 2024 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.console-beta-tag {
    .pluto-text {
        color: var(--pluto-primary-z) !important;
    }
    background-color: var(--pluto-primary-z-20);
    border-color: var(--pluto-primary-z);
}
