/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-header {
    padding-left: 0.5rem;
    .pluto-header__text,
    .pluto-breadcrumb {
        padding: 0.5rem;
        padding-left: 1rem;
        overflow: hidden;
        .pluto-text {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    .pluto-header-button-title {
        flex-grow: 1;
    }
    &.pluto-header--padded {
        padding-right: 1rem;
    }
}
