/* Copyright 2022 Synnax Labs, Inc. */
/* */
/* Use of this software is governed by the Business Source License included in the file */
/* licenses/BSL.txt. */
/* */
/* As of the Change Date specified in that file, in accordance with the Business Source */
/* License, use of this software will be governed by the Apache License, Version 2.0, */
/* included in the file licenses/APL.txt. */

.pluto-select-multiple__container * {
    transition: 0.1s ease-in-out;
}

.pluto-select-multiple__container {
    position: relative;
    flex-grow: 1;
	}

.pluto-select-multiple__list {
    background-color: var(--pluto-gray-m3);
    border: var(--pluto-border-width) solid var(--pluto-gray-m1);
    border-radius: var(--pluto-border-radius);
    position: absolute;
    width: 100%;
    max-height: 360px;
}

.pluto-select-multiple__list--hidden {
    opacity: 0;
    z-index: -1;
    pointer-events: none;
}

.pluto-select-multiple__list--top {
    border-radius: var(--pluto-border-radius) var(--pluto-border-radius) 0 0;
    bottom: calc(4.5rem - 1px);
}

.pluto-select-multiple__list--bottom {
    border-radius: 0 0 var(--pluto-border-radius) var(--pluto-border-radius);
    top: calc(4.5rem - 1px);
}

.pluto-select-multiple__input__input {
    border-radius: var(--pluto-border-radius) 0 0 var(--pluto-border-radius);
    width: 20%;
    flex-shrink: 0;
}

.pluto-select-multiple__input__tags{
    border: var(--pluto-border-width) solid var(--pluto-gray-m1);
    border-radius: 0 var(--pluto-border-radius) var(--pluto-border-radius) 0;
    border-left: none;
    padding: 0.5rem 2rem;
    overflow-x: scroll;
}

.pluto-select-multiple__input__tags::-webkit-scrollbar {
    display: none;
}

.pluto-select-multiple__input__tags__close {
    position: absolute;
    right: 0;
    background: var(--pluto-background-color);
    border-radius: 0 var(--pluto-border-radius) var(--pluto-border-radius) 0 !important;
}
