.pluto-multi-select__container * {
    transition: 0.1s ease-in-out;
}

.pluto-multi-select__container {
    position: relative;
}

.pluto-multi-select__list {
    background-color: var(--pluto-gray-m3);
    border: var(--pluto-border-width) solid var(--pluto-gray-m1);
    border-radius: var(--pluto-border-radius);
    position: absolute;
    width: 100%;
}

.pluto-multi-select__list--top {
    border-radius: var(--pluto-border-radius) var(--pluto-border-radius) 0 0;
    bottom: 29px;
}

.pluto-multi-select__list--bottom {
    border-radius: 0 0 var(--pluto-border-radius) var(--pluto-border-radius);
    top: 29px;
}

.pluto-multi-select__input__input {
    border-radius: var(--pluto-border-radius) 0 0 var(--pluto-border-radius);
    width: 20%;
    flex-shrink: 0;
}

.pluto-multi-select__input__tags{
    border: var(--pluto-border-width) solid var(--pluto-gray-m1);
    border-radius: 0 var(--pluto-border-radius) var(--pluto-border-radius) 0;
    border-left: none;
    padding: calc(var(--pluto-base-size) / 2) calc(var(--pluto-base-size) * 2);
    overflow-x: scroll;
}

.pluto-multi-select__input__tags::-webkit-scrollbar {
    display: none; 
}

.pluto-multi-select__input__tags__close {
    position: absolute;
    right: 0;
    background: var(--pluto-background-color);
    border-radius: 0 var(--pluto-border-radius) var(--pluto-border-radius) 0;
}