/*
 * Copyright 2024 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-modal__bg {
    width: 100%;
    height: 100%;
    .pluto-modal__dialog {
        width: 100%;
        height: 100%;
        & > div {
            width: 100%;
            height: 100%;
        }
    }
    &.pluto--enabled-modal {
        &:not(.pluto--visible) {
            display: none;
        }
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        background: var(--pluto-gray-l1-40);
        padding: 5rem;
        /* don't allow to select things underneath */
        -webkit-user-select: none;
        user-select: none;

        .pluto-modal__dialog {
            container-type: inline-size;
            position: relative;
            top: 30%;
            z-index: 11;
            transform: translateY(-25%);
            background: var(--pluto-gray-l0);
            box-shadow: var(--pluto-shadow-menu);
            border-radius: 1rem;
            min-width: 400px;
            min-height: 150px;

            &.pluto--centered {
                top: 50%;
                transform: translateY(-50%);
            }

            & > div {
                border: var(--pluto-border-l4);
                border-radius: 1rem;
                height: 100%;

                & > div:first-child {
                    border-radius: 1rem 1rem 0 0;
                }

                & > div:last-child {
                    border-radius: 0 0 1rem 1rem;
                }

                & > div {
                    overflow: hidden;
                }
            }
        }

        @media (max-height: 800px) {
            .pluto-dropdown__dialog {
                top: 10%;
            }
        }
    }
}
