.pluto-modal__bg {
    &:not(.pluto--visible) {
        display: none;
    }
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: var(--pluto-gray-l3-40);

    .pluto-modal__dialog {
        position: absolute;
        top: 25%;
        transform: translateY(-25%);
        border-radius: 1rem;
        background: var(--pluto-gray-l0);
        backdrop-filter: saturate(300%) blur(5rem);
        border: var(--pluto-border-l4);
        box-shadow: var(--pluto-shadow-menu);
        overflow: hidden;
        min-width: 400px;
        min-height: 150px;
    }

    @media (max-height: 800px) {
        .pluto-dropdown__dialog {
            top: 10%;
        }
    }
}
