/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.port-line-input {
    & *:first-child {
        width: 40px;
        .pluto-input__internal {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
    & *:nth-child(2) {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3rem;
        background-color: var(--pluto-gray-l4);
        border-color: var(--pluto-gray-l6) !important;
        height: 4.5rem;
        border-top: var(--pluto-border);
        border-bottom: var(--pluto-border);
    }
    & *:last-child {
        width: 40px;
        .pluto-input__internal {
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
        }
    }
}

.console-port-line-input__label {
    display: none;
}

.pluto-list__item:is(:hover, .pluto--selected) {
    .console-port-line-input__label {
        display: block;
    }
}
