/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-error-fallback__container {
    padding: 2rem;
    overflow: hidden;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    container-type: inline-size;

    .pluto-error-fallback__content {
        max-width: min(800px, 100%);
        max-height: min(800px, 100%);
        width: 100%;
        overflow: hidden;
        border-color: var(--pluto-error-z-40);
        border-width: 1px;

        .pluto-error-fallback__body {
            padding: 2rem 3rem;
            overflow: hidden;
        }

        .pluto-error-fallback__nav-start {
            padding-left: 2rem;
        }

        .pluto-error-fallback__nav-end {
            padding-right: 2rem;
        }

        .pluto-error-fallback__message,
        .pluto-error-fallback__name {
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
        }

        .pluto-error-fallback__stack-container {
            width: 100%;
            padding: 1rem;
            overflow: auto;
            max-height: 250px;
            min-height: 4rem;
        }

        .pluto-error-fallback__stack {
            user-select: text !important;
            -webkit-user-select: text !important;
            white-space: pre-wrap;
            word-break: break-word;
        }

        .synnax-logo {
            height: 3rem;
        }
    }
}

@container (max-width: 400px) {
    .pluto-error-fallback__header-text,
    .pluto-error-fallback__content .pluto-breadcrumb__separator {
        display: none;
    }
}
