/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-error-fallback {
    padding: 2rem;

    .pluto-error-fallback__stack {
        white-space: pre-wrap;
        max-height: 800px;
        user-select: text !important;
        -webkit-user-select: text !important;
        overflow-y: auto;
    }
    & .synnax-logo {
        width: 150px;
    }
}
