/*
 * Copyright 2025 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.media--spin {
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.synnax-icon {
    color: inherit;

    & *:is(path, circle):is(:not([fill="none"]), [stroke="#000"]) {
        stroke: inherit !important;
        fill: inherit !important;
    }
}

.synnax-icon-log {
    --pluto-base-scale: 0.85;
    transform: scale(var(--pluto-base-scale));
}

.synnax-icon-schematic {
    --pluto-base-scale: 1;
    transform: scale(var(--pluto-base-scale));
}

.synnax-icon-decimal {
    --pluto-base-scale: 1.3;
    transform: scale(var(--pluto-base-scale));
}

.synnax-icon-wave-triangle,
.synnax-icon-wave-square,
.synnax-icon-wave-sine,
.synnax-icon-wave-sawtooth {
    --pluto-base-scale: 1.25;
    transform: scale(var(--pluto-base-scale));
}
