/*
 * Copyright 2024 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.media--spin {
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.synnax-icon {
    color: inherit;

    & *:is(path, circle):is(:not([fill="none"]), [stroke="#000"]) {
        stroke: inherit !important;
        fill: inherit !important;
    }
}

.synnax-icon-log {
    transform: scale(0.85);
}

.synnax-icon-schematic {
    transform: scale(1);
}

.synnax-icon-decimal {
    transform: scale(1.25);
}

.synnax-icon-wave-triangle {
    transform: scale(2);
}

.synnax-icon-wave-square {
    transform: scale(2);
}

.synnax-icon-wave-sine {
    transform: scale(2);
}

.synnax-icon-wave-sawtooth {
    transform: scale(2);
}
