---
const { title, description } = Astro.props;
---

<article transition:animate="none">
    <h1 class="article-title">{title}</h1>
    <h4 class="article-description">{description}</h4>
    <slot />
</article>

<style is:global>
    article {
        position: relative;
        padding: 5rem 8rem;
        flex-basis: 840px;
        flex-shrink: 1;
        flex-grow: 1;
        margin-bottom: 25rem;
        min-width: 0;
        .article-title {
            width: fit-content;
        }

        @media (max-width: 700px) {
            padding: 2rem;
        }

        .article-title::after {
            content: "";
            display: block;
            width: 100px;
            margin-top: 2rem;
            height: 2px;
            background: var(--pluto-primary-p1);
        }

        .article-description {
            color: var(--pluto-gray-l8);
            font-weight: 350;
        }

        h1,
        h3,
        h4,
        h5,
        h6,
        p,
        table {
            margin: 3rem 0;
        }

        video,
        img {
            margin: 5rem 0;
        }

        h2 {
            margin: 4rem 0;
        }

        pluto-tabs-selector {
            margin: 1.5rem 0;
        }

        video,
        img {
            width: 100%;
            border-radius: 1rem !important;
            border: var(--pluto-border-l4);
            box-shadow: 0 0 1rem 0 var(--pluto-gray-l4);

            @media (prefers-color-scheme: dark) {
                box-shadow: 0 0 2rem 0 rgba(50, 50, 50, 0.1);
            }
        }

        .pluto-divider {
            border-top: var(--pluto-border-l4);
            margin: 5% 0;
        }

        /* Makes icons appear centered in the toolbar */
        p .synnax-icon {
            transform: translateY(2px);
        }

        h3 .synnax-icon {
            transform: translateY(3px);
        }
    }
</style>
