---
import { Icon } from "@synnaxlabs/media";
import { Button } from "@synnaxlabs/pluto";
import Code from "astro/components/Code.astro";
import { Fragment } from "react";

const props = Astro.props;
---

<div class="astro-code-wrapper">
    <Button.Icon variant="outlined" size="small">
        <Fragment>
            <Icon.Copy className="copy" /><Icon.Check className="check" />
        </Fragment>
    </Button.Icon>
    <Code {...props} />
</div>
