---
import { Icon } from "@synnaxlabs/media";
import { Button } from "@synnaxlabs/pluto";
import { Fragment } from "react";

const { tabindex, ...props } = Astro.props;
---

<div class="astro-code-wrapper">
    <Button.Icon variant="outlined" size="medium">
        <Fragment>
            <Icon.Copy className="copy" /><Icon.Check className="check" />
        </Fragment>
    </Button.Icon>
    <pre {...props} class="styled-scrollbar"><slot /></pre>
</div>

<style is:global>
    .astro-code-wrapper {
        position: relative;

        margin: 5rem 1rem;
        button {
            opacity: 0;
            position: absolute;
            right: 2.5rem;
            top: 2.5rem;
            color: var(--pluto-gray-l8);
            transition: opacity 0.2s ease-in-out;
            z-index: 2;

            .check {
                display: none;
            }
        }

        &:hover button {
            opacity: 1;
        }
        .astro-code {
            padding: 5rem 4rem;
            &[data-language="bash"] {
                padding: 3rem;
            }
            position: relative;
            border: var(--pluto-border);
            border-radius: 1rem;
            overflow-x: auto !important;
            overflow-y: visible !important;
            &::-webkit-scrollbar {
                height: 0.75rem;
            }

            &::-webkit-scrollbar-thumb {
                background-color: var(--pluto-border-color);
                border-radius: 2px;
            }
        }
    }
    table .astro-code-wrapper {
        margin: 0;
        .astro-code {
            padding: 0.5rem 1rem;
            border-radius: var(--pluto-border-radius);
        }
        button {
            display: none;
        }
    }
</style>
