---
import { Button, Icon } from "@synnaxlabs/pluto";
import Code from "astro/components/Code.astro";
import { Fragment } from "react";
import type { ComponentProps } from "astro/types";

type Props = ComponentProps<typeof Code>;
const props = Astro.props;
---

<div class="astro-code-wrapper">
    <Button.Button variant="outlined" size="medium">
        <Fragment>
            <Icon.Copy className="copy" /><Icon.Check className="check" />
        </Fragment>
    </Button.Button>
    <Code {...props} />
</div>
