/*
 * Copyright 2025 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.console-schematic__symbols {
    height: 100%;

    .console-schematic__symbols-actions {
        padding: 1rem;
        border-right: var(--pluto-border-l5);
    }

    .console-schematic__symbols-group-list {
        flex-basis: 150px;
        min-width: 150px;
        border-right: var(--pluto-border-l5);

        & .pluto-input {
            margin: 0 calc(-1 * var(--pluto-border-width));
        }
    }

    .console-schematic__symbols-group {
        padding: 1rem;
        overflow: auto;
    }

    .console-schematic-symbols__button {
        padding: 0.5rem;
        &.pluto-list__item {
            width: 90px;
            min-height: 90px;
            max-height: 50px;
        }

        .pluto-symbol-primitive {
            transform: scale(0.65) !important;
        }

        & > small {
            display: block;
            color: var(--pluto-gray-l9) !important;
            text-align: center;
            white-space: wrap;
        }
    }
}
