/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.console-schematic__symbols {
    height: 100%;

    .console-schematic__symbols-group-list {
        padding: 1rem;
        border-bottom: var(--pluto-border);

        & .pluto-input {
            margin: 0 calc(-1 * var(--pluto-border-width));
        }
    }

    .console-schematic__symbols-group {
        overflow: auto;
        height: 100%;
        & > .pluto-list__virtualizer {
            height: fit-content;
        }
    }

    .console-schematic-symbols__button {
        padding: 2rem 1rem;
        align-items: stretch;
        & > small {
            height: calc(var(--pluto-small-line-height) * 2);
            display: block;
            color: var(--pluto-gray-l9) !important;
            font-weight: 450;
            text-align: center;
            white-space: wrap;
        }
        &.pluto-list__item {
            width: 90px;
            min-height: 100px;
            max-height: 100px;
            min-width: 110px;
            max-width: 110px;
        }

        .pluto-symbol-primitive {
            transform: scale(0.75);
            & svg {
                max-height: 80px !important;
                max-width: 90px !important;
            }
        }
    }
}
