/*
 * Copyright 2025 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

@keyframes pop {
    0% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}
.pluto-notification {
    padding: 0.75rem;
    background: var(--pluto-gray-l2);
    -webkit-backdrop-filter: blur(5rem);
    backdrop-filter: blur(5rem);
    width: 275px;
    box-shadow: var(--pluto-shadow-v2);
    border: var(--pluto-border-l5);
    border-radius: 1rem;
    z-index: 20;
    overflow: hidden;
    animation: pop 0.2s ease-in-out;
    .pluto-notification__silence {
        opacity: 0;
    }
    &:hover {
        .pluto-notification__silence {
            opacity: 1;
        }
    }
    .pluto-notification__content {
        padding-top: 0;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
    }
    .pluto-notification__message {
        font-weight: 450;
    }
}
