.pluto-tree__container, .pluto-tree__container ul {
    list-style-type: none;
}

.pluto-tree__list {
	padding-left:0;
}

.pluto-tree__container {
    padding: 0rem !important;
		margin: 0;
}

.pluto-tree__node__button {
    width: 100%;
    height: 4.5rem !important;
		border-radius: 0;
}

.pluto-tree__node__button--selected {
    background-color: var(--pluto-primary-p1-40) !important;
}
