/*
 * Copyright 2023 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.delta-main {
    height: 100%;
    width: 100%;
}

.delta-main--windows {
    border-radius: 8px;
    .pluto-navbar.pluto--top {
        border-radius: 8px 8px 0 0;
    }

    .pluto-navbar.pluto--bottom {
        border-radius: 0 0 8px 8px;
    }

    &.delta-main--maximized {
        .delta-border,
        .delta-background {
            border-radius: 0px;
        }
    }

    .delta-border,
    .delta-background {
        border-radius: 8px;
        display: block;
    }

    .delta-border {
        border-radius: 8px;
        display: block;
        border: var(--pluto-border);
        height: calc(100vh - 1px);
        width: calc(100vw - 1px);
    }
}

.delta-controls--windows button {
    height: 100% !important;
    border-radius: 0 !important;
    padding: 1.5rem;
    border: none !important;
}

.delta-controls--windows {
    height: 100%;
}

.delta-main-nav-top__logo {
    height: 85%;
}

.delta-main-nav-left__logo {
    width: 100%;
}

.delta-background {
    position: fixed;
    height: calc(100vh) !important;
    width: calc(100vw) !important;
    background: var(--pluto-background-color);
    display: none;
    z-index: -10;
}

.delta-border {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 1000;
    pointer-events: none;
    display: none;
}
