/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

#console-vis__canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &.console--focused {
        .pluto-canvas--gl {
            z-index: 13;
        }
        .pluto-canvas--lower2d {
            z-index: 12;
        }
        .pluto-canvas--upper2d {
            z-index: 14;
        }
    }
}
