
# |||| BUILD ARTIFACTS ||||

*.exe
*.exe~
*.dll
*.so
*.dylib
*.out
build/

# |||| TEST ARTIFACTS ||||

*.test
synnax-data
../certs
synnax

# |||| INTELLIJ  ||||
.idea/
*.iml

# |||| DARWIN ||||

.DS_Store

# |||| EMBEDDED CONSOLE ||||

assets
