/*
 * Copyright 2025 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-diagram {
    .pluto-diagram__controls {
        position: absolute;
        top: 2rem;
        right: 2rem;
        z-index: 4;
        opacity: 0;
        transition: opacity 0.1s ease-in-out;
    }
    &:hover {
        .pluto-diagram__controls {
            opacity: 1;
        }
    }
    .react-flow__selection,
    .react-flow__nodesselection-rect {
        background: var(--pluto-primary-z-10) !important;
        border: calc(var(--pluto-border-width) * 2) dashed var(--pluto-primary-z-40) !important;
        border-radius: var(--pluto-border-radius);
    }
}
