/*
 * Copyright 2025 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-diagram {
    .pluto-diagram__controls {
        position: absolute;
        top: 2rem;
        right: 2rem;
        z-index: 4;
    }
    .pluto-diagram__control-group {
        gap: 0;

        /* Remove rounded corners on connecting edges vertically */
        & > button:not(:last-child) {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
    /* Flatten right corners when adjacent to something on the right */
    .pluto-diagram__controls
        > .pluto-diagram__control-group:not(:last-child)
        > button:first-child,
    .pluto-diagram__controls > button:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    /* Flatten left corners when adjacent to something on the left */
    .pluto-diagram__controls
        > .pluto-diagram__control-group:not(:first-child)
        > button:first-child,
    .pluto-diagram__controls > button:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .pluto-diagram__control-group-items {
        gap: 0;

        /* Remove rounded corners on all buttons in group */
        & > button {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
        & > button:not(:last-child) {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
    .react-flow__selection,
    .react-flow__nodesselection-rect {
        background: var(--pluto-primary-z-10) !important;
        border: calc(var(--pluto-border-width) * 2) dashed var(--pluto-primary-z-40) !important;
        border-radius: var(--pluto-border-radius);
    }
}
