/*
 * Copyright 2025 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-diagram-edge-handle__dragger {
    width: 100%;
    height: 100%;
    z-index: 1000000000;

    &.pluto--direction-x {
        cursor: ns-resize;
    }

    &.pluto--direction-y {
        cursor: ew-resize;
    }
}

.react-flow__edge {
    z-index: 6;
}

.react-flow__edge.selected {
    z-index: 10000;
}
