/*
 * Copyright 2024 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

button:is(:focus, :focus-within, :active, :hover) {
    z-index: 3;
}

.pluto-input:is(:focus-within, :active, :hover) {
    & .pluto-input__internal {
        z-index: 3;
    }
}

:root {
    --pluto-border: var(--pluto-border-width) solid var(--pluto-border-color);
    --pluto-border-l4: var(--pluto-border-width) solid var(--pluto-gray-l4);
    --pluto-height-large: 5rem;
    --pluto-height-medium: 4.5rem;
    --pluto-height-small: 4rem;
    --pluto-height-huge: 8rem;
    --pluto-shadow-menu: 0px 1px 1px rgba(0, 0, 0, 0.02),
        0px 4px 8px -4px rgba(0, 0, 0, 0.04), 0px 16px 24px -8px rgba(0, 0, 0, 0.06);
    @media (prefers-color-scheme: dark) {
        --pluto-shadow-menu: 
            /* 3. multiple soft shadows 👇 */ 0 0.3px 0.4px
                hsla(230, 13%, 9%, 0.02),
            0 0.9px 1.5px hsla(230, 13%, 9%, 0.045),
            0 3.5px 6px hsla(230, 13%, 9%, 0.09);
    }
}

html {
    font-size: var(--pluto-base-size);
}

.pluto--sharp {
    border-radius: 0 !important;
}

.pluto--rounded {
    border-radius: var(--pluto-border-radius);
}

.pluto--no-wrap {
    white-space: nowrap;
}

.pluto--bordered {
    border: var(--pluto-border);
}

.pluto--bordered-right {
    border-right: var(--pluto-border);
}

.pluto--bordered-left {
    border-left: var(--pluto-border);
}

.pluto--bordered-top {
    border-top: var(--pluto-border);
}

.pluto--bordered-bottom {
    border-bottom: var(--pluto-border);
}

.pluto--x > .pluto--bordered-start {
    border-right: var(--pluto-border);
}

.pluto--x > .pluto--bordered-end {
    border-left: var(--pluto-border);
}

.pluto--y > .pluto--bordered-start {
    border-bottom: var(--pluto-border);
}

.pluto--y > .pluto--bordered-end {
    border-top: var(--pluto-border);
}

.pluto--huge {
    height: var(--pluto-height-huge);
}

.pluto--large {
    height: var(--pluto-height-large);
}

.pluto--medium {
    height: var(--pluto-height-medium);
}

.pluto--small {
    height: var(--pluto-height-small);
}

.pluto--no-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pluto--inherit-dims {
    height: inherit;
    width: inherit;
}
