/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto--pack button:is(:focus, :focus-within, :active, :hover) {
    z-index: 3;
}

.pluto-input {
    z-index: 4;
}

@keyframes fade-in-zoom {
    0% {
        opacity: 0;
        transform: scale(0.98) translateY(-4px);
    }
    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

:root {
    --pluto-border: var(--pluto-border-width) solid var(--pluto-border-color);
    --pluto-border-l5: var(--pluto-border-width) solid var(--pluto-gray-l5);
    --pluto-height-large: 5rem;
    --pluto-height-medium: 4.5rem;
    --pluto-height-small: 4rem;
    --pluto-height-huge: 8rem;
    --pluto-height-tiny: 3.5rem;
    --pluto-btn-transition:
        background 0.15s ease-in-out, border-color 0.15s ease-in-out,
        fill 0.15s ease-in-out, opacity 0.15s ease-in-out;
    --pluto-modal-animation: fade-in-zoom 0.15s ease-in-out;
    --pluto-dialog-animation: fade-in-zoom 0.1s ease-in-out;
}

.pluto-theme-synnax-light {
    --pluto-shadow-v1:
        0px 1px 1px rgba(0, 0, 0, 0.02), 0px 4px 8px -4px rgba(0, 0, 0, 0.1),
        0px 16px 24px -8px rgba(0, 0, 0, 0.12);

    --pluto-shadow-v2:
        lch(0 0 0 / 0.022) 0px 6px 18px, lch(0 0 0 / 0.044) 0px 3px 9px,
        lch(0 0 0 / 0.044) 0px 1px 1px;

    --pluto-shadow-v3:
        lch(0 0 0 / 0.088) 0px 9px 48px, lch(0 0 0 / 0.11) 0px 6px 24px,
        lch(0 0 0 / 0.044) 0px 1px 1px;
}

.pluto-theme-synnax-dark {
    --pluto-shadow-v1:
        lch(0 0 0 / 0.188) 0px 3px 8px, lch(0 0 0 / 0.188) 0px 2px 5px,
        lch(0 0 0 / 0.188) 0px 1px 1px;
}

html {
    font-size: var(--pluto-base-size);
}

.pluto--no-wrap {
    white-space: nowrap;
}

.pluto--bordered-right {
    border-right: var(--pluto-border);
}

.pluto--bordered-left {
    border-left: var(--pluto-border);
}

.pluto--bordered-top {
    border-top: var(--pluto-border);
}

.pluto--bordered-bottom {
    border-bottom: var(--pluto-border);
}

.pluto--direction-x > .pluto--bordered-start {
    border-right: var(--pluto-border);
}

.pluto--direction-x > .pluto--bordered-end {
    border-left: var(--pluto-border);
}

.pluto--direction-y > .pluto--bordered-start {
    border-bottom: var(--pluto-border);
}

.pluto--direction-y > .pluto--bordered-end {
    border-top: var(--pluto-border);
}

.pluto--no-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pluto--inherit-dims {
    height: inherit;
    width: inherit;
}
