/*
 * Copyright 2025 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.console-label__edit {
    overflow: hidden;
}

.console-label__edit-header {
    padding: 2rem;
}

.console-label__add-btn {
    width: fit-content;
}

.console-label__items-container {
    height: 100%;
    overflow: hidden;
}

.console-label__list-item {
    height: 7.5rem;
    max-height: 7.5rem;
    min-height: 7.5rem;
    padding: 0rem 4rem;

    .console-label__delete {
        opacity: 0;
    }
    &:hover {
        .console-label__delete {
            opacity: 1;
        }
    }
    &.console--create {
        background: var(--pluto-gray-l2);
        transition:
            height 0.2s ease,
            min-height 0.2s ease;
        &.pluto--hidden {
            height: 0;
            min-height: 0;
            flex-grow: 0;
            max-height: 0;
            overflow: hidden;
            transition: none;
        }
    }
}
