/*
 * Copyright 2023 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.console-manage-labels{

form {
    border: var(--pluto-border);
    border-radius: var(--pluto-border-radius);
    width: 500px;
    padding: 1rem 1.5rem;
}


.console-list-item {
    border: var(--pluto-border);
    border-radius: var(--pluto-border-radius);
    width: 500px;
    padding: 1rem 1.5rem;

    &:not(:hover) {
        & .console-list-item__actions {
            opacity: 0;
        }
    }

    & .console-list-item__actions {
        & svg {
            color: var(--pluto-gray-l5) !
        }
    }
}

}
