/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-canvas-container {
    position: relative;

    .pluto-canvas {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .pluto-canvas--gl {
        z-index: 1;
        pointer-events: none;
    }

    .pluto-canvas--lower2d {
        z-index: 0;
        pointer-events: none;
    }

    .pluto-canvas--upper2d {
        /* pass through all user events */
        pointer-events: none;
        z-index: 2;
    }
}
