---

---

<div class="component-frame">
    <slot />
</div>

<style>
    .component-frame {
        border: var(--pluto-border);
        border-radius: 1rem;
        padding: 2rem;
        margin: 3rem 1rem;
        width: 100%;
        height: calc(500px + 4rem);
    }
</style>
