.console-task-configure.console-opcua {
    .console-browser {
        max-width: 30%;
        width: 100%;
    }
    .console-channels {
        height: 100%;
        .pluto-menu-context__container {
            max-height: calc(100% - 35rem);
        }
        &.console-dragging {
            border-color: var(--pluto-primary-z);
        }
    }
}
