/*
 * Copyright 2024 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.console-opc-read-task {
    height: 100%;
    .console-content {
        padding: 5rem;

        .console-channel-form-container {
            height: 0px;
            .console-channels {
                border-right: var(--pluto-border);
                max-width: 500px;
                width: 100%;
            }

            .console-channel-form {
                .console-channel-form-content {
                    padding: 5rem 5rem;
                }
            }
        }
    }
}
