/*
 * Copyright 2023 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-btn-toggle[aria-checked="true"] {
    color: var(--pluto-white);
    background-color: var(--pluto-primary-z-60);
    border: var(--pluto-border-width) solid var(--pluto-primary-z-80);
}

.pluto-btn-toggle[artia-checked="true"]:hover {
    background-color: var(--pluto-primary-z-80);
    border-color: var(--pluto-primary-z-80);
}
