/*
 * Copyright 2023 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-btn,
.pluto-btn * {
    transition: 0.15s ease-in-out;
    margin: 0;
}

.pluto-btn {
    cursor: pointer;
    border-radius: var(--pluto-border-radius);
    padding: 0 2rem;
    font-family: var(--pluto-font-family);
}

.pluto-btn:active,
.pluto-btn:hover {
    z-index: 12;
}

/* |||| FILLED |||| */

.pluto-btn--filled {
    color: var(--pluto-white);
    background-color: var(--pluto-primary-z);
    border: var(--pluto-border-width) solid var(--pluto-primary-z);
}

.pluto-btn--filled:hover {
    background-color: var(--pluto-primary-p1);
    border-color: var(--pluto-primary-p1);
}

.pluto-btn--filled:active {
    background-color: var(--pluto-primary-m1);
    border-color: var(--pluto-primary-m1);
}

/* |||| OUTLINED |||| */

.pluto-btn--outlined {
    background: none;
    border: var(--pluto-border-width) solid var(--pluto-border-color);
}

.pluto-btn--outlined:hover {
    border-color: var(--pluto-gray-m0);
}

.pluto-btn--outlined:hover * {
    color: var(--pluto-gray-p1);
}

.pluto-btn--outlined:active {
    border-color: var(--pluto-gray-p1);
}

.pluto-btn--outlined:active * {
    color: var(--pluto-gray-p1);
}

/* |||| TEXT |||| */

.pluto-btn--text {
    background: none;
    border: none;
}

.pluto-btn--text:hover {
    background-color: var(--pluto-gray-m1);
}

.pluto-btn--text:active {
    background-color: var(--pluto-gray-m2);
}

/* |||| ICON |||| */

.pluto-btn-icon {
    color: var(--pluto-text-color);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pluto--medium > svg {
    font-size: 3.25rem;
}

.pluto--small > svg {
    font-size: 2.5rem;
}

.pluto--large > svg {
    font-size: 4rem;
}
