.pluto-divider {
    background-color: var(--pluto-border-color);
    align-self: stretch;
}

.pluto-divider--horizontal {
    height: var(--pluto-border-width);
}

.pluto-divider--vertical {
    width: var(--pluto-border-width);
}
