/*
 * Copyright 2023 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-valve-pid-element.pluto--selected {
    border: var(--pluto-border-width) solid var(--pluto-primary-z);
}

.pluto-valve-pid-element.pluto--editable .pluto-valve {
    pointer-events: none;
}

.pluto-valve-pid-element__valve-container {
    position: relative;
}
