/*
 * Copyright 2024 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.console-physical-plan.console-ni {
    height: calc(100vh - 20rem);
    overflow: hidden;

    @media (max-width: 900px) {
        .console-description {
            display: none;
        }
    }

    & .console-form {
        overflow: hidden;

        & > *:first-child {
            overflow: hidden;
        }
    }

    & .console-groups {
        width: 280px;
        max-width: 280px;
        .pluto-menu-context__container {
            overflow: hidden;
        }
    }

    & .console-channels {
        border-left: var(--pluto-border);
        overflow: hidden;
        .pluto-menu-context__container {
            overflow: hidden;
        }
    }

    & .console-form-details {
        border-radius: 1rem;
    }

    & .console-details {
        padding: 5rem;
        flex-grow: 1;
        max-height: 300px;
    }

    & .console-bad-port .console-port {
        color: var(--pluto-error-z) !important;
    }
}
