/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-menu-context {
    position: fixed;
    z-index: 8;
    border: var(--pluto-border-l5) !important;
    background-color: var(--pluto-gray-l1);
    box-shadow: var(--pluto-shadow-v1);
    border-radius: 1rem;
    padding: 1rem;
    animation: var(--pluto-dialog-animation);
    &:empty {
        display: none;
    }
}
