/*
 * Copyright 2023 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-menu-context {
    position: fixed;
    z-index: 1000;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow:  0 2px 4px rgba(0, 0, 0, 0.1);
    background: none;
    border-radius: var(--pluto-border-radius);
    padding: 1rem;
}

.pluto-menu-context > .pluto-menu-item {
    width: 100%;
}

.pluto-menu-context__container {
    width: inherit;
    height: inherit;
}
