/*
 * Copyright 2024 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-menu-context {
    position: fixed;
    z-index: 8;
    border: var(--pluto-border-l4);
    backdrop-filter: blur(3rem);
    background-color: var(--pluto-gray-l0-60);
    -webkit-backdrop-filter: saturate(300%) blur(3rem);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 24px;
    border-radius: 1rem;
    padding: 1rem;
}

.pluto-menu-context > .pluto-menu-item {
    width: 100%;
}
