/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-menu-item {
    &:not(.pluto--square) {
        width: 100%;
    }

    &.pluto--selected {
        background: var(--pluto-primary-z-40);
    }

    &:has(.pluto-menu-item__trigger) {
        padding-right: 0.5rem;
    }

    & .pluto-menu-item__trigger {
        margin-left: auto;
        opacity: 0.75;
        transform: scale(0.9);
        transition: opacity 0.15s;
    }

    &:hover {
        & .pluto-menu-item__trigger {
            opacity: 1;
        }
    }
}
