.delta-main__container {
    width: 100vw;
    height: 100vh;
}

.delta-main-layout__content__container {
    height: calc(100vh - 36px - 32px);
}

.delta-main-layout__content {
    flex-grow: 1;
    overflow: hidden;
    height: 100%;
}
