/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-symbol-form {
    height: 100%;
    overflow-y: auto;
    & > div {
        padding: 1.5rem 2rem;
    }
    .pluto-state-mapping-list {
        padding: 0;
        & > .pluto-btn {
            margin-left: 1rem;
        }
    }
    .pluto-list__item {
        min-height: unset;
        padding: 1rem 2rem;
    }
    .pluto-state-mapping-list__value {
        width: 80px;
    }
}
