/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-select-orientation {
    position: relative;
    aspect-ratio: 1;

    .symbol {
        height: 2px;
        width: calc(100% - 9px);
        background-color: var(--pluto-gray-l10);
        border-radius: var(--pluto-border-radius);
    }

    &.pluto-value {
        border: none;
    }

    .pluto-value {
        border: var(--pluto-border);
        border-radius: var(--pluto-border-radius);
        padding: 0.5rem;
        &.pluto--show-outer-center {
            padding: 1.5rem;
        }
    }

    & button.pluto--height-tiny.pluto--square {
        min-width: 3rem;
        max-width: 3rem;
        min-height: 2.5rem;
        max-height: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        &.pluto--selected {
            background-color: var(--pluto-primary-z) !important;
            & .symbol {
                background-color: var(--pluto-text-on-primary) !important;
            }
        }
        & .symbol {
            top: unset;
            left: unset;
        }

        &.pluto--direction-y {
            transform: rotate(90deg);
        }
    }
}
