/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-control-state.pluto--direction-x {
    padding: 0;
    max-width: 12rem;
}

.pluto-control-state.pluto--direction-y {
    padding: 0 1rem 1rem;
}

.pluto-grid__item {
    border: var(--pluto-border);
    border-color: transparent;
    border-width: 1px;
    width: max-content;
    height: max-content;
    position: absolute;
    --offset: 0.666rem;
    justify-content: center;
    align-items: center;
    outline: none;
    padding: 0.5rem;

    &.pluto-haul-drop-region {
        background: var(--haul-background);
        border-color: var(--haul-border-color);
        border-radius: var(--pluto-border-radius);
    }
    &.pluto-dragging-over {
        border-color: var(--pluto-primary-z);
    }

    &.pluto--direction-y {
        min-width: 100%;
        min-height: 3rem;
    }
    &.pluto--direction-x {
        min-width: 3rem;
        min-height: 100%;
    }

    &.pluto--location-top {
        top: 0;
        left: 50%;
        transform: translate(-50%, calc(-100% - var(--offset)));
    }
    &.pluto--location-bottom {
        bottom: 0;
        left: 50%;
        transform: translate(-50%, calc(100% + var(--offset)));
    }
    &.pluto--location-left {
        left: 0;
        top: 50%;
        transform: translate(calc(-100% - var(--offset)), -50%);
    }
    &.pluto--location-right {
        right: 0;
        top: 50%;
        transform: translate(calc(100% + var(--offset)), -50%);
    }
    &.pluto--location-center {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        min-height: 5rem;
        min-width: 5rem;
    }
}

.pluto-symbol__label {
    --offset: 0.666rem;
    &:not(:focus) {
        -webkit-user-select: none;
        user-select: none;
    }
    pointer-events: none;
    overflow-wrap: break-word;
    width: max-content;
    height: max-content;
    padding: 0 !important;
    &.pluto--direction-y {
        writing-mode: vertical-rl;
    }
}

.react-flow__node {
    .pluto-grid__rotate {
        top: -8rem;
        left: -8rem;
        position: absolute;
        z-index: 30;
        width: 3.5rem;
        height: 3.5rem;
    }
}

.pluto-diagram.pluto--editable {
    .pluto-symbol__label {
        pointer-events: auto;
    }
}
