/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-group-box {
    border: 2px dashed transparent;
    border-radius: 6px;
}

.react-flow__node:has(.pluto-group-box) .pluto-symbol__label {
    display: none;
}

.pluto-group-box--highlighted .pluto-group-box,
.react-flow__node.selected .pluto-group-box {
    border-color: var(--pluto-primary-z) !important;
}

.pluto-diagram.pluto--editable {
    .pluto-group-box {
        border-color: var(--pluto-gray-l9);
    }

    .pluto-symbol__label {
        pointer-events: auto;
    }

    .react-flow__node:has(.pluto-group-box) .pluto-symbol__label {
        display: block;
    }
}
