/*
 * Copyright 2024 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-color-swatch {
    border-radius: 1rem;
    aspect-ratio: 1.5;
    transform: scale(0.8);

    border-color: var(--pluto-gray-l4) !important;

    &.pluto--no-border {
        border-color: transparent;
    }

    &.pluto-haul-drop-region {
        border: var(--pluto-border-l4) !important;
        border-color: var(--haul-border-color) !important;
        background: var(--haul-background) !important;
    }
}
