/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.console-toolbar__header {
    &.console-toolbar__header--padded {
        padding: 0.5rem round(0.66rem, 1px);
    }
    & .console-toolbar__action {
        box-shadow: var(--pluto-shadow-v1);
    }
}
