.pluto-group__item {
    border: var(--pluto-border-width) solid var(--pluto-gray-m1);
}

.pluto-group__first {
    border-radius: var(--pluto-border-radius) 0 0 var(--pluto-border-radius);
}

.pluto-group__last {
    border-radius: 0 var(--pluto-border-radius) var(--pluto-border-radius) 0 !important;
    margin-left: -1px !important;
}

.pluto-group__only {
    border-radius: var(--pluto-border-radius);
}

.pluto-group__middle {
    border-radius: 0;
    margin-left: -1px;
}
