/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-indicator {
    border-radius: var(--pluto-border-radius);
    cursor: pointer;
}

.pluto--direction-x > .pluto-indicator {
    height: 1.25rem;
    width: 30px;
    transition: l0 1s;
}

.pluto--direction-y > .pluto-indicator {
    width: 1.25rem;
    height: 30px;
}
