/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-legend-entry {
    .pluto-legend-entry__subject {
        align-items: baseline;
    }

    .pluto-legend-entry__user {
        color: var(--pluto-gray-l10);

        &.pluto--self {
            color: var(--pluto-primary-z);
        }

        .pluto-icon {
            transform: translateY(1px);
        }
    }

    .pluto-legend-entry__name {
        color: var(--pluto-gray-l10-80);
        font-weight: 450;
        font-size: round(1.3rem, 1px);
    }
}
