/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

@container (max-width: 500px) {
    .console-header {
        flex-direction: column-reverse !important;
    }
    .console-time-range {
        flex-direction: column !important;
        align-items: start !important;
        gap: 0;
        .console-time-range-divider {
            display: none;
        }
    }
}

.console-range__overview {
    container-type: size;
    height: 100%;
}

.console-range__metadata {
    .pluto-header {
        margin-bottom: 2rem;
    }
}

.console-snapshots__list-item {
    padding: 1.5rem;
    .console-snapshots__delete {
        opacity: 0;
    }
    &:hover {
        .console-snapshots__delete {
            opacity: 1;
        }
    }
}

.console-metadata__list-item {
    height: 6rem;
    max-height: 6rem;
    min-height: 6rem;
    padding: 0rem 1rem;

    .console-metadata__delete {
        opacity: 0;
    }
    &:hover {
        .console-metadata__delete {
            opacity: 1;
        }
    }
    &.console--create {
        background: var(--pluto-gray-l1);
        border: var(--pluto-border-l5);
        border-radius: var(--pluto-border-radius);
        transition:
            height 0.1s ease,
            min-height 0.1s ease;
        &.pluto--hidden {
            height: 0;
            padding: 0;
            min-height: 0;
            flex-grow: 0;
            border: none;
            max-height: 0;
            overflow: hidden;
            transition: none;
        }
    }
}
