/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

body {
    margin: 0;
    height: 100%;
    width: 100%;
}

#root {
    height: 100%;
    width: 100%;
}

* {
    *:not(:is(.pluto-text, input, label)) {
        user-select: none !important;
        -webkit-user-select: none !important;
    }

    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--pluto-gray-l6);
    border-radius: var(--pluto-border-radius);
}
