
.console-hardware-status {
    padding: 8rem 3rem;
    height: 100%;
    width: 100%;


    & .console-header {
        & .console-title {
            & h3 {
                color: var(--pluto-gray-l7);
            }
        }
    }
    
    & .console-modules {
        width: 100%;
        height: 100%;
        border: var(--pluto-border);
        border-radius: 1rem;
    }

    & .console-module {

        padding: 3rem;
        border-bottom: var(--pluto-border);

        & .title {
            & p:last-child {
                color: var(--pluto-gray-l7);
            }
        }
    }
}

