/*
 * Copyright 2023 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.delta-palette {
    width: 100%;
    max-width: 1200px;

    .delta-palette__list {
        & .pluto-status-text {
            height: 150px;
        }
    }

    .delta-notifications {
        & > .pluto-space {
            height: 6rem;
            padding: 1rem;
        }
    }
}


.delta-palette__item {
    border-radius: 0;
    width: 100%;
}

.delta-palette__item--hovered {
    background-color: var(--pluto-gray-m2) !important;
    border-left: 2px var(--pluto-primary-z) solid !important;
}

.delta-palette input.pluto-haul-drop-region {
    background-color: var(--haul-background-color) !important;
    border-color: var(--haul-border-color) !important;
}
