[project]
name = "opc-dev"
version = "0.0.0"
description = "OPC UA development tools"
requires-python = ">=3.12"
dependencies = ["asyncua==1.1.5", "synnax"]

[dependency-groups]
dev = ["black>=25.1.0", "isort>=6.0.1"]

[tool.uv.sources]
synnax = { path = "../../../client/py" }

[tool.isort]
profile = "black"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
