/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-icon {
    color: inherit;
    width: 1em;
    height: 1em;
    flex-shrink: 0;

    &.pluto-icon--composite {
        transform: scale(1.15);
    }

    & *:is(path, circle):is(:not([fill="none"]), [stroke="#000"]):not(.pluto-sub__bg) {
        stroke: inherit !important;
        fill: inherit !important;
    }

    & .pluto-sub__bg {
        transition: var(--pluto-btn-transition);
        fill: var(--pluto-bg, var(--pluto-gray-l0)) !important;
    }

    .pluto-sub {
        --pluto-scale: scale(calc(var(--pluto-base-scale, 1) * 0.8));
        &.pluto-icon--add * {
            stroke-width: 0.5rem;
        }
    }
}

.pluto--clickable:hover .pluto-icon .pluto-sub {
    background: var(--pluto-hover-bg);
}

.pluto--clickable:active .pluto-icon .pluto-sub {
    background: var(--pluto-active-bg);
}

.pluto-icon--logo-ethercat {
    transform: scale(1.25);
}
