/*
 * Copyright 2023 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-pid__controls {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    z-index: 5;
}

.react-flow__selection,
.react-flow__nodesselection-rect,
.react-flow__node.selected {
    background-color: var(--pluto-primary-z-20) !important;
    border: var(--pluto-border-width) dashed var(--pluto-primary-z-40) !important;
}

.react-flow__handle {
    background: none !important;
    border: var(--pluto-border) !important;
    border-color: transparent !important;
}

.react-flow__background circle {
    fill: var(--pluto-gray-m1);
}

.react-flow__node {
    pointer-events: all !important;
    border: var(--pluto-border-width) solid transparent !important;
}

.react-flow__edge {
    & .react-flow__edge-path {
        stroke-width: var(--pluto-pid-element-stroke-width) !important;
    }
}



.pluto-pid {

    &.pluto--editable {
        & .react-flow__handle {
            display: block !important;
            border-color: var(--pluto-primary-z) !important;
        }
    } 
}
