/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.console-task-configure--modbus_read,
.console-task-configure--modbus_write {
    .console-channel-item {
        & > *:first-child > * {
            border-top-right-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
        }
        & > *:nth-child(2):not(:last-child) {
            width: 15rem;
            border-radius: 0 !important;
        }
        & > *:last-child > * {
            width: 23rem;
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
        }
    }
}
