/*
 * Copyright 2023 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-tabs-selector__btn {
    margin-bottom: -1px;
    cursor: pointer;
    padding: 0 2rem;
}

.pluto-tabs-selector__btn--closable {
    padding: 0 2rem 0 3rem;
}

.pluto-tabs-selector__btn--uneditable {
    user-select: none;
}

.pluto-tabs-selector__btn.pluto--selected {
    border-bottom: 2px solid var(--pluto-primary-z);
}

.pluto-tabs-selector {
    border-bottom: var(--pluto-border);
    background: var(--pluto-background-color);
    z-index: 7;
}

.pluto-tabs-selector__actions {
    margin-left: auto;
}

.pluto-header .pluto-tabs-selector {
    margin-top: 2px;
}
