/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-schematic-tooltip__divider {
    margin: 1rem 0;
}

/* 4ch is the width of "< 1s". */
.pluto-schematic-tooltip__value {
    min-width: 4ch;
    justify-content: flex-end;
}

.pluto-schematic-tooltip__field > .pluto-text:first-child {
    color: var(--pluto-gray-l9);
    font-weight: var(--pluto-small-font-weight);
}
