/*
 * Copyright 2023 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-dropdown.pluto--visible {
    :first-child {
        z-index: 6;
    }
}

.pluto-dropdown__dialog.pluto--floating {
    /* transform: translateY(1rem); */

    /* &.pluto--top.pluto--left {
        transform: translate(-100%, calc(-100% - 1rem));
    }

    &.pluto--bottom.pluto--left {
        transform: translate(-100%, 1rem);
    }

    &.pluto--top.pluto--right {
        transform: translateY(calc(-100% - 1rem));
    } */
}

.pluto-dropdown__dialog {
    max-height: 360px;
    position: fixed;
    box-shadow: var(--pluto-shadow-menu);
    overflow: hidden;
    background: var(--pluto-gray-l1);

    & .pluto-pack.pluto--rounded {
        --pluto-pack-br: 1rem !important;
    }

    /* &.pluto--top {
        transform: translateY(calc(-100% + 1px));
    }

    &.pluto--top.pluto--left {
        transform: translate(-100%, calc(-100% + 1px));
    }

    &.pluto--left {
        transform: translateX(-100%);
    } */

    transition: opacity 0.075s ease-in-out;
    &.pluto--hidden {
        opacity: 0;
        z-index: -1;
        pointer-events: none;
    }

    &.pluto--visible {
        z-index: 5;
        opacity: 1;
    }
}
