/*
 * Copyright 2023 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-dropdown.pluto--visible > :first-child {
    z-index: 1001;
}

.pluto-dropdown__dialog {
    background-color: var(--pluto-gray-m3);
    max-height: 360px;
    position: fixed;

    &.pluto--top {
        transform: translateY(calc(-100% + 1px));
    } 

    &.pluto--bottom {
        transform: translateY(-1px);
    } 

    &.pluto--hidden {
        opacity: 0;
        z-index: -1;
        pointer-events: none;
        height: 0;
    }

    &.pluto--visible {
        z-index: 1000;
    }
}
