/*
 * Copyright 2024 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-dropdown {
    > .pluto--visible {
        &:first-child {
            z-index: calc(var(--pluto-dropdown-z-index, 6) + 1);
        }
    }
    &.pluto--visible {
        & > *:first-child {
            z-index: calc(var(--pluto-dropdown-z-index, 6) + 1);
        }
    }
    &:not(.pluto--connected) {
        width: max-content;
    }
}

.pluto-dropdown__bg {
    &:not(.pluto--visible) {
        display: none;
    }
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: var(--pluto-gray-l3-35);

    .pluto-dropdown__dialog {
        /* contain: layout size style; */
        top: 30%;
        transform: translateY(-25%);
        --pluto-pack-br: 1rem;
        border-radius: 1rem;
        background: var(--pluto-gray-l0);
        overflow: hidden;
        max-width: calc(100vw - 5rem);
    }

    @media (max-height: 800px) {
        .pluto-dropdown__dialog {
            top: 10%;
            transform: translateY(0%);
        }
    }
}

.pluto-dropdown__dialog {
    position: fixed;
    box-shadow: var(--pluto-shadow-menu);
    border-radius: calc(var(--pluto-border-radius) * 2);
    overflow: hidden;

    & > .pluto-pack.pluto--rounded {
        --pluto-pack-br: 6px;
    }

    &:not(.pluto--modal) {
        background: var(--pluto-gray-l1);
        max-height: 360px;
        &.pluto-height-small {
            max-height: 200px;
        }

        &.pluto-height-large {
            max-height: 480px;
        }
    }

    &.pluto--floating {
        transition: opacity 0.075s ease-in-out;
    }

    &.pluto--hidden {
        opacity: 0;
        z-index: -1;
        pointer-events: none;
    }

    &.pluto--visible {
        z-index: 5;
        opacity: 1;
    }
}
