/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.console-line-plot-toolbar {
    height: 100%;

    .console-line-plot__toolbar-actions {
        height: 100%;
        width: 86px;
    }

    /* Insets the axis tab strip off the pane edge. */
    .console-line-plot__toolbar-axes-tabs {
        padding: 1rem 0.75rem;
    }

    .console-line-plot__toolbar-lines {
        .pluto-list__item {
            padding: 0.5rem 5rem 0.5rem 1rem;
            & > div:is(:nth-child(2), :nth-child(3)) {
                min-width: 90px;
                max-width: 125px;
            }
        }
    }

    .console-line-plot__toolbar-data,
    .console-line-plot__toolbar-axes,
    .console-line-plot__toolbar-properties {
        padding: 2rem;
    }

    .console-line-plot__toolbar-data-x {
        max-width: 400px;
        width: 100%;
    }

    .console-line-plot__toolbar-axes-label-direction {
        min-width: 90px;
    }

    .console-line-plot__toolbar-annotations {
        height: 100%;

        .console-line-plot__toolbar-annotations-list {
            width: 20%;
        }

        .console-line-plot__toolbar-annotations-add {
            padding: 0.5rem;
        }

        .console-line-plot__toolbar-annotations-item {
            padding: 0.5rem 1.5rem;
        }

        .console-line-plot__toolbar-annotations-details {
            padding: 1.5rem 2rem;
        }

        .console-line-plot__toolbar-annotations-units {
            width: 15rem;
        }

        .console-line-plot__toolbar-annotations-position {
            width: 25rem;
        }
    }
}
