/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-group-box {
    border-radius: 6px;
}

.react-flow__node.selected .pluto-group-box {
    background: var(--pluto-primary-z-10);
}

.pluto-group-box__move {
    display: none;
    position: absolute;
    top: -6rem;
    left: -6rem;
    z-index: 30;
    width: 3.5rem;
    height: 3.5rem;
    font-size: 2.5rem;
    align-items: center;
    justify-content: center;
    border-radius: var(--pluto-border-radius);
    background: var(--pluto-primary-z);
    color: var(--pluto-text-on-primary);
    cursor: grab;
}

.pluto-diagram.pluto--editable {
    .react-flow__node.selected .pluto-group-box__move {
        display: flex;
    }
}
