/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-rule {
    position: absolute;
    grid-column: plot-start / plot-end;
    width: 100%;
    margin-left: 1rem;
    z-index: 20;

    & > .pluto-rule__drag-handle {
        height: 1rem;
        cursor: ns-resize;
        width: 100%;
    }

    & > .pluto-rule__tag {
        width: fit-content;
        margin-top: -0.5rem;
        border-top: none;
        border-top-right-radius: 0rem;
        border-top-left-radius: 0rem;
        align-items: center;
        justify-content: center;
        border-color: var(--pluto-gray-l9);
        backdrop-filter: blur(3rem) saturate(180%);
        -webkit-backdrop-filter: blur(3rem) saturate(180%);
        .pluto-rule__label,
        .pluto-rule__value {
            padding: 0.5rem 1rem;
        }
        .pluto-rule__value {
            gap: 2px;
        }
    }
}
