/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-line-plot .pluto-haul-drop-region {
    background: var(--haul-background);
    border: var(--pluto-border);
    border-color: var(--haul-border-color);
    border-radius: var(--pluto-border-radius);
}
