/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-mosaic {
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-shadow: var(--pluto-shadow-v2);

    .pluto-mosaic__mask {
        position: absolute;
        pointer-events: none;
        background: var(--pluto-gray-l7-30);
        z-index: 7;
        transition: 0.1s ease-in-out;
    }

    .pluto-resize-multiple {
        height: 100%;
    }

    .pluto-tabs {
        height: 100%;
        width: 100%;
    }

    &.pluto--drag-over > * {
        background: var(--pluto-gray-l7-30);
    }

    .pluto-tabs-selector .pluto-tabs-selector__tabs {
        width: 0;
    }
}
