/*
 * Copyright 2024 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-mosaic__mask {
    position: absolute;
    pointer-events: none;
    background: var(--pluto-gray-l5-30);
    z-index: 7;
    transition: 0.1s ease-in-out;
}

.pluto-mosaic__resize {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.pluto-mosaic__leaf {
    position: relative;
    height: 100%;
}

.pluto-mosaic__leaf .pluto-tabs {
    height: 100%;
    width: 100%;

    & > div:last-child {
        width: 100%;
        height: 100%;
    }
}
