/*
 * Copyright 2024 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-list-col-item__container {
    width: 100%;
    height: 5.5rem;
}

.pluto-list-col-item__container * {
    white-space: nowrap;
}

.pluto-list-col-item__container--selectable {
    cursor: pointer;
}

.pluto-list-col-item__container--selected {
    background: var(--pluto-primary-z-20);
}

.pluto-list-col-item__container--selectable:hover,
.pluto-list-col-item__container--selectable.pluto-list-col-item__container--hovered {
    background: var(--pluto-gray-l3);
}

.pluto-list-col-item__container--selected:hover,
.pluto-list-col-item__container--selected.pluto-list-col-item__container--hovered {
    background: var(--pluto-primary-z-10);
}

.pluto-list-col-header__container {
    padding: 1rem 2rem;
    border-bottom: var(--pluto-border-width) solid var(--pluto-border-color);

    &.pluto--hidden {
        display: none;
    }
}

.pluto-list-col-header__item {
    cursor: pointer;
    user-select: none;
}

.pluto-list-col-header__item * {
    font-weight: normal;
    color: var(--pluto-gray-l7);
}
