/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-list__item {
    position: relative;
    cursor: pointer;
    padding: 1.5rem 2rem;
    width: 100%;
    border-color: var(--pluto-gray-l2);
    outline: none;
    min-height: 6rem;
    border-radius: 0;

    &:is(:hover, .pluto--hovered) {
        &.pluto--highlight-hover {
            box-shadow: inset 0.5rem 0 0 var(--pluto-primary-z);
            &.pluto--location-right-aligned {
                box-shadow: inset -0.5rem 0 0 var(--pluto-primary-z);
            }
        }
    }

    &.pluto--selected {
        background: var(--pluto-hover-bg);
        box-shadow: inset 0.5rem 0 0 var(--pluto-primary-z);
        &.pluto--location-right-aligned {
            box-shadow: inset -0.5rem 0 0 var(--pluto-primary-z);
        }
    }

    &.pluto--dragging-over {
        background: var(--pluto-gray-l2);
    }
}

.pluto-list__item {
    .pluto-btn--ghost {
        opacity: 0;
    }
    &:hover {
        .pluto-btn--ghost {
            opacity: 1;
            border-color: var(--pluto-hover-border-color);
            background: var(--pluto-hover-bg);
        }
    }
}
