/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-list__items {
    user-select: none;
    overflow: auto;
    -webkit-user-select: none;
    transition: height 0.1s ease;

    & > .pluto-list__virtualizer {
        width: 100%;
        position: relative;
        user-select: none;
        -webkit-user-select: none;

        & > .pluto-list__sentinel {
            height: 1px;
            width: 100%;
        }
    }

    &.pluto--direction-x {
        &::-webkit-scrollbar {
            height: 3px;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: var(--pluto-gray-l6);
        }
        & > .pluto-list__virtualizer {
            display: flex;
            flex-direction: inherit;
            flex-wrap: inherit;
            gap: inherit;
        }
    }
}
