/*
 * Copyright 2024 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-list__item {
    position: relative;
    cursor: pointer;
    padding: 2rem;
    border-bottom: var(--pluto-border);
    border-color: var(--pluto-gray-l2);

    &:is(:hover, .pluto--hovered) {
        background: var(--pluto-gray-l3);
        border-top-color: var(--pluto-gray-l3);

        &.pluto--highlight-hover {
            box-shadow: inset 2px 0 0 var(--pluto-primary-z);
            &.pluto--right-aligned {
                box-shadow: inset -2px 0 0 var(--pluto-primary-z);
            }
        }
    }

    &.pluto--selected {
        background: var(--pluto-gray-l2);
        box-shadow: inset 2px 0 0 var(--pluto-primary-z);
        &.pluto--right-aligned {
            box-shadow: inset -2px 0 0 var(--pluto-primary-z);
        }
    }
}
