/*
 * Copyright 2025 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-diagram__edit-mode,
.pluto-diagram__control-legend {
    justify-content: flex-end;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
    pointer-events: none;
}

.pluto-diagram__edit-mode {
    margin-right: 2.5rem;
}
.pluto-diagram__controls:hover {
    .pluto-diagram__edit-mode,
    .pluto-diagram__control-legend {
        opacity: 1;
        pointer-events: auto;
    }
}

