/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.console-docs {
    width: 100%;
    height: 100%;
}

.console--os-macos .console-docs__open-button {
    border-top-right-radius: 1rem;
}

.console-docs iframe {
    width: 100%;
    height: 100%;
    border: none;
}

/** This masks the iframe so drop operations in the mosaic work. */
.console-docs.console--hover:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
