/*
 * Copyright 2024 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-legend {
    position: absolute;
    cursor: grabbing;
    padding: 1rem;
    z-index: 4;
    background-color: var(--pluto-gray-l2-80);
    backdrop-filter: blur(4rem);
    -webkit-backdrop-filter: blur(3rem);
    border-radius: 1rem;
    max-height: 50%;
    overflow-y: auto;
    overflow-x: visible;
    width: fit-content;
    .pluto-color-swatch {
        width: 1rem;
        height: 2.5rem;
    }
}
