/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-legend {
    position: absolute;
    cursor: grabbing;
    z-index: 4;
    backdrop-filter: blur(4rem);
    padding: 0.5rem 1rem;
    -webkit-backdrop-filter: blur(3rem);
    border-radius: 1rem;
    max-height: 50%;
    overflow-y: auto;
    overflow-x: visible;
    width: fit-content;
    .pluto-text {
        user-select: none;
    }

    .pluto-visible-toggle {
        transition:
            min-width 0.1s ease-out,
            opacity 0.1s ease-out;
    }

    &:not(:hover) .pluto-visible-toggle {
        min-width: 0;
        width: 0;
        opacity: 0;
        overflow: hidden;
        transition:
            min-width 0.1s ease-in,
            opacity 0.1s ease-in;
        & svg {
            transform: scale(0.9);
        }
    }

    .pluto-legend-entry {
        height: round(3.25rem, 1px);
        cursor: pointer;
    }
}
