/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-note {
    padding: 2rem 3rem;
    border: var(--pluto-border);
    border-radius: 1rem;

    &.pluto--info {
        background: var(--pluto-primary-z-10);
        border-color: var(--pluto-primary-z-50);

        &,
        & p,
        & li,
        & span,
        & a {
            color: var(--pluto-primary-text);
        }
    }

    &.pluto--warning {
        background: var(--pluto-warning-z-10);
        border-color: var(--pluto-warning-z-70);

        &,
        & p,
        & li,
        & span,
        & a {
            color: var(--pluto-warning-text);
        }
    }

    &.pluto--error {
        background: var(--pluto-error-z-10);
        border-color: var(--pluto-error-z-40);

        &,
        & p,
        & li,
        & span,
        & a {
            color: var(--pluto-error-text);
        }
    }
}
