.pluto-note {
    padding: 3rem;
    border: var(--pluto-border);
    border-radius: 1rem;

    &.pluto--info {
        background: var(--pluto-primary-z-30);
        border-color: var(--pluto-primary-z-40);
    }

    &.pluto--warning {
        background: #fffbe0;
        border-color: #f9eba8;
        @media (prefers-color-scheme: dark) {
            border-color: #fae78ba6;
            background: #f6fa0034;
        }
    }

    &.pluto--error {
        background: var(--pluto-error-z-20);
        border-color: var(--pluto-error-z-40);
    }
}
