/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-setpoint {
    --pluto-border-color: var(--pluto-symbol-display);

    .pluto-input {
        width: min-content;
    }

    input {
        min-width: 12rem;
    }

    .pluto-handle__2 {
        z-index: 5;
    }

    &.pluto-setpoint--preview {
        input {
            flex-grow: 1;
            min-width: 50px;
        }

        width: 120px;
        transform: scale(0.95);
    }
}
