---
import { Icon } from "@synnaxlabs/media";
import { Button } from "@synnaxlabs/pluto";
import { Fragment } from "react";

const props = Astro.props;
---

<div class="astro-code-wrapper">
    <Button.Icon variant="outlined" size="small">
        <Fragment>
            <Icon.Copy className="copy" /><Icon.Check className="check" />
        </Fragment>
    </Button.Icon>
    <pre {...props}><slot /></pre>
</div>

<style is:global>
    .astro-code-wrapper {
        position: relative;
        margin: 3rem 1rem;
        button {
            opacity: 0;
            position: absolute;
            right: 2.5rem;
            top: 2.5rem;
            color: var(--pluto-gray-l7);
            transition: opacity 0.2s ease-in-out;
            z-index: 100;

            .check {
                display: none;
            }
        }

        &:hover {
            button {
                opacity: 1;
            }
        }
        .astro-code {
            padding: 3rem;
            position: relative;
            border: var(--pluto-border);
            border-radius: 1rem;
            overflow-x: auto !important;
            overflow-y: visible !important;
        }
    }
</style>
