---
import { Icon } from "@synnaxlabs/media";
---

<div class="diagram">
    <div class="internal">
        <slot />
    </div>
</div>

<style>
    .diagram {
        display: flex;
        margin: 5rem 0;
        flex-direction: column;
        width: 100%;
        border-radius: 2rem;
        border: 1px solid var(--pluto-dark-gray-l14);
        box-shadow: 0 0 1rem 0 var(--pluto-gray-l5);
        @media (prefers-color-scheme: dark) {
            border: 1px solid var(--pluto-dark-gray-l4);
            box-shadow: none;
        }
        background-color: var(--pluto-dark-gray-l0);
        background-image: radial-gradient(
            var(--pluto-dark-gray-l5-80) 0.5px,
            var(--pluto-dark-gray-l0) 0.5px
        );
        background-size: 2rem 2rem;

        .internal {
            padding: 5rem;
        }

        & .label {
            display: flex;
            width: fit-content;
            align-items: center;
            gap: 1rem;
            min-height: 40px;
            background: var(--pluto-dark-gray-l1);
            border-bottom: 1px solid var(--pluto-dark-gray-l4);
            border-right: 1px solid var(--pluto-dark-gray-l4);
            border-top-left-radius: 2rem;
            border-bottom-right-radius: 2rem;
            padding: 0.25rem 2rem;
            * {
                color: var(--pluto-dark-gray-l8);
                font-weight: 250;
                height: 2rem;
                width: 2rem;
            }
        }

        & img {
            width: 100%;
        }
    }
</style>
