---
import { Logo, Icon } from "@synnaxlabs/media";
import { Align } from "@synnaxlabs/pluto/align";
import { Text } from "@synnaxlabs/pluto/text";
---

<Align.Space el="footer">
    <Align.Space className="content" align="start" justify="spaceBetween" direction="x">
        <Align.Space align="start">
            <a href="https://synnaxlabs.com">
                <Logo style={{ height: "5rem" }} variant="title" />
            </a>
            <Text.Text level="small" className="copyright">
                &copy 2024 Synnax Labs Inc.
            </Text.Text>
            <Text.Link level="small" href="/privacy-policy"> Privacy Policy </Text.Link>
        </Align.Space>
        <Align.Space direction="x">
            <Text.Link level="p" href="https://www.linkedin.com/company/synnaxlabs/">
                <Icon.Logo.LinkedIn className="link" />
            </Text.Link>
            <Text.Link level="p" href="https://github.com/synnaxlabs/synnax">
                <Icon.Logo.Github className="link" />
            </Text.Link>
        </Align.Space>
    </Align.Space>
</Align.Space>

<style is:global>
    footer {
        height: 175px;
        margin-top: 10rem;
        padding: 5rem;

        .content {
            margin: 0 auto;
            max-width: 1250px;
            width: 100%;
        }

        .link {
            height: 4rem;
            width: 4rem;
            color: var(--pluto-gray-l7);
            transition: all 0.2s ease-in-out;

            &:hover {
                color: var(--pluto-gray-l10);
            }
        }

        .copyright {
            color: var(--pluto-gray-l7);
        }

        border-top: var(--pluto-border);
    }
</style>
