---
export interface Props {
    variant: "info" | "warning" | "error";
}

const { variant = "info" }: Props = Astro.props;
import { Icon } from "@synnaxlabs/media";
---

<div class={`note ${variant}`}>
    <slot />
</div>

<style is:global>
    .note {
        padding: 0.1rem 3rem;
        margin: 4rem 0;
        border: var(--pluto-border);
        border-radius: 1rem;
        box-shadow: 0 0 1rem 0 var(--pluto-gray-l4-40);

        & > * {
            font-size: var(--pluto-small-size);
            font-family: var(--pluto-font-family);
            font-weight: 450 !important;
            line-height: calc(var(--pluto-small-line-height) * 1.2);
        }

        &.info {
            background: var(--pluto-primary-z-10);
            border-color: var(--pluto-primary-z-50);
        }

        &.warning {
            background: #ffe8501d;
            border-color: #ffe357;
        }
    }
</style>
