---
export interface Props {
    variant: "info" | "warning" | "error";
}

const { variant = "info" }: Props = Astro.props;
---

<div class={`note ${variant}`}>
    <slot />
</div>

<style is:global>
    .note {
        padding: 0.1rem 3rem;
        margin: 4rem 0;
        border: var(--pluto-border);
        border-radius: 1rem;

        & > * {
            font-size: var(--pluto-small-size);
            font-family: var(--pluto-font-family);
            font-weight: 450 !important;
            line-height: calc(var(--pluto-small-line-height) * 1.2);
        }

        &.info {
            background: var(--pluto-primary-z-30);
            border-color: var(--pluto-primary-z-40);
        }

        &.warning {
            background: #fffbe0;
            border-color: #f9eba8;
            @media (prefers-color-scheme: dark) {
                border-color: #fae78bf3;
                background: #fee64c65;

            /* & > *:not(code):not(pre) {
                color: var(--pluto-gray-l1) !important;
            }

            & code {
                color: var(--pluto-text-color) !important;
            } */
        }
    }
</style>
