.table-of-contents {
    width: 250px;
    & h5 {
        font-weight: 500;
    }

    .heading {
        border-bottom: none;
    }

    & .header-link {
        box-shadow: inset -1px 0 0 0 var(--pluto-border-color);
        &.depth-3 {
            margin-left: 2rem;
        }
    }

    & .pluto-menu-item {
        white-space: normal;
        height: fit-content;
        padding: 0.75rem 2rem;
        border-right: 2px solid transparent;
        & small {
            color: var(--pluto-gray-l6) !important;
        }

        &:is(.pluto--selected, :hover) {
            background: none;
            box-shadow: inset -2px 0 0 0 var(--pluto-primary-z);
            border-radius: 0 !important;
            & small {
                font-weight: 500 !important;
                color: var(--pluto-text-color) !important;
            }
        }
    }
}
