/*
 * Copyright 2025 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.console-task-configure {
    height: 100%;
    align-items: center;
    container-type: size;
    contain: layout size style;

    > div {
        padding: 5rem;
        max-width: 1000px;
        overflow-y: auto;
        width: 100%;
        flex-grow: 1;

        .console-task-channel-form-container {
            background: var(--pluto-gray-l1);
            display: flex;
            min-height: 225px;
            /* height of 0 means list items will produce overflow scroll correctly */
            height: 0px;
            border-radius: 1rem;
            overflow: hidden;

            .console-channels {
                border-right: var(--pluto-border);
                overflow: hidden;
                max-width: 300px;
                height: 100%;
                flex-shrink: 1;
                flex-grow: 1;

                .pluto-menu-context__container {
                    overflow: hidden;
                }

                .console-hover-actions {
                    display: none;
                }

                .pluto-list__item:hover {
                    .console-hover-actions {
                        display: flex;
                    }
                }
            }

            .console-channel-form {
                overflow: hidden;
                .console-details {
                    height: 100%;
                    overflow: auto;
                    padding: 3rem 5rem;
                }
            }
        }
    }
}

@container (max-height: 600px) {
    .pluto-input input.pluto-text--h1 {
        font-size: var(--pluto-h2-size);
        line-height: var(--pluto-h2-line-height);
    }
}

@container (max-width: 600px) {
    .console-task-properties {
        flex-direction: column !important;
        gap: 0 !important;
    }
    .pluto-input input.pluto-text--h1 {
        font-size: var(--pluto-h2-size);
        line-height: var(--pluto-h2-line-height);
    }
    .console-task-controls {
        flex-direction: column !important;
        .console-task-state {
            min-height: 10rem;
        }
    }
    .console-content {
        padding: 3rem 2rem !important;
    }
    .console-channel-form-container {
        flex-direction: column !important;

        .console-channels {
            max-width: 100% !important;
            border-right: none !important;
        }
        .console-channel-form {
            flex-grow: 1;
            flex-basis: 800px;
            border-top: var(--pluto-border);
        }
    }
}
