/*
 * Copyright 2025 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.console-task-configure {
    height: 100%;
    align-items: center;
    container-type: size;
    contain: layout size style;
    background: var(--pluto-gray-l0);

    > div {
        padding: 5rem;
        max-width: 1000px;
        overflow-y: auto;
        width: 100%;

        .console-task-channel-form-container {
            border-radius: 1rem;
            overflow: hidden;
            background: var(--pluto-gray-l1-70);
            border-color: var(--pluto-gray-l4);
            .pluto-header {
                background: var(--pluto-gray-l2-50);
            }
        }

        .console-channel-list {
            overflow: hidden;
        }

        .console-channel-list:not(:only-child) {
            max-width: 300px;
            flex-basis: 250px;
        }

        .console-channel-list:only-child {
            flex-grow: 1;
        }

        .console-details {
            padding: 1rem 3rem;
            overflow: scroll;
            height: 100%;
        }
    }

    .console-task-controls {
        border-radius: 1rem;
        border-color: var(--pluto-gray-l4);
        background-color: var(--pluto-gray-l1-70);
        .console-task-state {
            flex-grow: 1;
            border-right: var(--pluto-border);
        }
        > div {
            padding: 2rem;
        }
    }

    .console-task__channel-name {
        max-width: 150px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-weight: 500;
        color: var(--pluto-gray-l7);
        flex-shrink: 1;
    }
}

@container (max-width: 600px) {
    .console-task-configure {
        > div {
            padding: 3rem 2rem;
        }
        .console-details {
            padding: 1rem 2rem;
        }
        .console-task__channel-name:last-of-type {
            display: none;
        }
    }

    .console-task-controls {
        flex-direction: column !important;
        .console-task-state {
            min-height: 10rem;
            border-right: none !important;
            border-bottom: var(--pluto-border);
        }
    }
}
