/*
 * Copyright 2023 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-navbar {
    flex-shrink: 0;
}

.pluto-navbar--vertical {
    padding: 0;
    height: 100%;
}

.pluto-navbar--horizontal {
    width: 100%;
}

.pluto-navbar--vertical .pluto-navbar__content {
    width: 100%;
}

.pluto-navbar--horizontal .pluto-navbar__content {
    height: 100%;
}

.pluto-navbar--horizontal .pluto-navbar__content--center {
    margin-left: auto;
    margin-right: auto;
}

.pluto-navbar--horizontal .pluto-navbar__content--end {
    margin-left: auto;
}

.pluto-navbar--vertical .pluto-navbar__content--center {
    margin-top: auto;
    margin-bottom: auto;
    order: 2;
}

.pluto-navbar--vertical .pluto-navbar__content--end {
    order: 100;
    margin-top: auto;
}

.pluto-navbar--vertical .pluto-navbar__content--start.pluto-navbar__content--bordered {
    border-bottom: var(--pluto-border);
}

.pluto-navbar--vertical .pluto-navbar__content--end.pluto-navbar__content--bordered {
    border-top: var(--pluto-border);
}
