[tool.poetry]
name = "synnax-freighter"
version = "0.5.0"
description = ""
authors = ["emiliano bonilla <emilbon99@gmail.com>"]
packages = [
    { include = "freighter/**/*.py" }
]

[tool.mypy]
ignore_missing_imports = true
strict_optional = false

[tool.isort]
profile = "black"

[tool.poetry.dependencies]
python = "^3.11"
websockets = "^11.0.3"
msgpack = "^1.0.4"
urllib3 = "^2.0.3"
janus = "^1.0.0"
pydantic = "^1.10.0"
alamos = "^0.2.0"
# alamos = { path = "../../alamos/py", develop = true }

[tool.poetry.dev-dependencies]
black = "^23.3.0"
pytest = "^7.3.2"
pytest-asyncio = "^0.21.0"
mypy = "^1.3.0"
pytest-cov = "^4.1.0"
isort = "^5.10.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
markers = [
    "ws: mark test as a websocket test",
    "http: mark test as an http test",
    "sync: mark test as a sync test"
]

