[project]
name = "synnax-freighter"
version = "0.50.0"
authors = [{ name = "Emiliano Bonilla", email = "ebonilla@synnaxlabs.com" }]
requires-python = ">=3.12,<4"
dependencies = [
    "alamos",
    "msgpack>=1.1.2",
    "pydantic>=2.12.5",
    "urllib3>=2.6.2",
    "websockets>=15.0.1",
]

[dependency-groups]
dev = [
    "black>=25.12.0",
    "isort>=7.0.0",
    "mypy>=1.19.0",
    "pytest>=9.0.2",
    "pytest-asyncio>=1.3.0",
    "pytest-cov>=7.0.0",
    "vermin>=1.8.0",
]

[tool.hatch.build.targets.wheel]
packages = ["freighter"]

[tool.isort]
profile = "black"

[tool.mypy]
mypy_path = "stubs"
plugins = ["pydantic.mypy"]
strict = true

[tool.pydantic-mypy]
init_forbid_extra = true
init_types = true
warn_required_dynamic_aliases = true

[tool.pytest.ini_options]
markers = [
    "http: mark test as an http test",
    "sync: mark test as a sync test",
    "ws: mark test as a websocket test",
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
