[project]
name = "synnax-freighter"
version = "0.50.0"
authors = [{ name = "Emiliano Bonilla", email = "ebonilla@synnaxlabs.com" }]
requires-python = ">=3.12,<4"
dependencies = [
    "alamos",
    "msgpack>=1.1.2,<2",
    "pydantic>=2.12.5,<3",
    "urllib3>=2.6.3,<3",
    "websockets>=16.0,<17",
]

[tool.hatch.build.targets.wheel]
packages = ["freighter"]

[tool.isort]
profile = "black"

[tool.mypy]
plugins = ["pydantic.mypy"]
mypy_path = "stubs"

[tool.pydantic-mypy]
init_forbid_extra = true
init_types = true
warn_required_dynamic_aliases = true

[tool.pytest.ini_options]
markers = [
    "http: mark test as an http test",
    "sync: mark test as a sync test",
    "ws: mark test as a websocket test",
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
