[tool.poetry]
name = "synnax-freighter"
version = "0.31.0"
description = ""
authors = ["emiliano bonilla <emilbon99@gmail.com>"]
packages = [
    { include = "freighter/**/*.py" }
]

[tool.poetry.group.dev.dependencies]
pytest = "^8.2.2"
pytest-asyncio = "^0.23.7"
pytest-cov = "^5.0.0"
black = "^23.3.0"
mypy = "^1.3.0"
isort = "^5.10.1"

[tool.mypy]
ignore_missing_imports = true
strict_optional = false

[tool.isort]
profile = "black"

[tool.poetry.dependencies]
python = "^3.11"
websockets = "^13"
msgpack = "^1.0.8"
urllib3 = "^2.2.1"
pydantic = "^1.10.0"
alamos = { path = "../../alamos/py", develop = true }

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
markers = [
    "ws: mark test as a websocket test",
    "http: mark test as an http test",
    "sync: mark test as a sync test"
]



