[project]
name = "synnax-freighter"
version = "0.46.0"
authors = [{ name = "Emiliano Bonilla", email = "ebonilla@synnaxlabs.com" }]
requires-python = ">=3.11,<4"
dynamic = ["dependencies"]

[tool.poetry]
packages = [{ include = "freighter" }]

[tool.poetry.dependencies]
alamos = { path = "../../alamos/py", develop = true }
msgpack = "^1.1.1"
pydantic = "^2.11.9"
urllib3 = "^2.5.0"
websockets = "^15.0.1"

[tool.poetry.group.dev.dependencies]
black = "^25.1.0"
isort = "^6.0.1"
mypy = "^1.18.1"
poetry = "^2.2.0"
pytest = "^8.4.2"
pytest-asyncio = "^1.2.0"
vermin = "^1.6.0"

[tool.isort]
profile = "black"

[tool.mypy]
mypy_path = "stubs"
plugins = ["pydantic.mypy"]
strict = true

[tool.pydantic-mypy]
init_forbid_extra = true
init_types = true
warn_required_dynamic_aliases = true

[tool.pytest.ini_options]
markers = [
    "http: mark test as an http test",
    "sync: mark test as a sync test",
    "ws: mark test as a websocket test",
]

[build-system]
requires = ["poetry-core>=2.0.0,<3.0.0"]
build-backend = "poetry.core.masonry.api"
