[tool.poetry]
name = "synnax-freighter"
version = "0.1.0"
description = ""
authors = ["emiliano bonilla <emilbon99@gmail.com>"]
packages = [
    { include = "freighter/**/*.py" }
]

[tool.mypy]
ignore_missing_imports = true
strict_optional = false

[tool.poetry.dependencies]
python = "^3.10"
websockets = "^10.3"
msgpack = "^1.0.4"
urllib3 = "^1.26.12"
janus = "^1.0.0"

[tool.poetry.dev-dependencies]
black = "^22.6.0"
pytest = "^7.1.2"
pytest-asyncio = "^0.19.0"
mypy = "^0.971"
pytest-cov = "^3.0.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

