.pluto-tabs__tab {
    padding: 0.25rem 2rem 0.25rem 3rem;
    margin-bottom: -1px;
    cursor: pointer;
    user-select: none;
}

.pluto-tabs__tab--selected {
    border-bottom: 2px solid var(--pluto-primary-z);
}

.pluto-tabs__tabs {
    border-bottom: 1px solid var(--pluto-gray-m2);
}
