.pluto-tabs-selector__button {
    padding: 0.25rem 2rem;
    margin-bottom: -1px;
    cursor: pointer;
}

.pluto-tabs-selector__button--closable {
    padding: 0.25rem 2rem 0.25rem 3rem;
}

.pluto-tabs-selector__button--uneditable {
    user-select: none;
}

.pluto-tabs-selector__button--selected {
    border-bottom: 2px solid var(--pluto-primary-z);
}

.pluto-tabs-selector {
    border-bottom: 1px solid var(--pluto-gray-m2);
}
