.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/.bin/**
node_modules/.package-lock.json
node_modules/@types/**
node_modules/@vscode/**
node_modules/typescript/**
