/*
 * Copyright 2023 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-pack > * {
    border: var(--pluto-border-width) solid var(--pluto-gray-m1);
}

.pluto-pack > *:not(:first-child):not(:last-child) {
    border-radius: 0;
}

.pluto-pack--x > *:first-child:not(:only-child) {
    border-radius: var(--pluto-border-radius) 0 0 var(--pluto-border-radius) !important;
}

.pluto-pack--x > *:last-child:not(:only-child) {
    border-radius: 0 var(--pluto-border-radius) var(--pluto-border-radius) 0 !important;
}

.pluto-pack--y > *:first-child:not(:only-child) {
    border-radius: var(--pluto-border-radius) var(--pluto-border-radius) 0 0 !important;
}
.pluto-pack--y > *:last-child:not(:only-child) {
    border-radius: 0 0 var(--pluto-border-radius) var(--pluto-border-radius) !important;
}

.pluto-pack--x > *:not(:first-child) {
    margin-left: -1px !important;
}

.pluto-pack--y > *:not(:first-child) {
    margin-top: -1px !important;
}

/* |||| PACK SIZING |||| */

.pluto-pack--x.pluto-pack--small > * {
    height: var(--pluto-height-small);
}

.pluto-pack--x.pluto-pack--medium > * {
    height: var(--pluto-height-medium);
}

.pluto-pack--x.pluto-pack--large > * {
    height: var(--pluto-height-large);
}

.pluto-pack--y > .pluto-pack--x {
    border: none;
}

.pluto-pack--y
    > .pluto-pack--x:first-child:not(:only-child):not(:has(+ .pluto--hidden))
    > *:first-child:not(:only-child) {
    border-radius: var(--pluto-border-radius) 0 0 0 !important;
}

.pluto-pack--y
    > .pluto-pack--x:first-child:not(:only-child):not(:has(+ .pluto--hidden))
    > *:last-child:not(:only-child) {
    border-radius: 0 var(--pluto-border-radius) 0 0 !important;
}

.pluto-pack--y > .pluto-pack--x:first-child:not(:only-child) > *:only-child {
    border-radius: var(--pluto-border-radius) var(--pluto-border-radius) 0 0 !important;
}

.pluto-pack--y > .pluto-pack--x:not(:last-child):not(:first-child) > * {
    border-radius: 0 !important;
}

.pluto-pack--y
    > .pluto-pack--x:last-child:not(:only-child)
    > *:first-child:not(:only-child) {
    border-radius: 0 0 0 var(--pluto-border-radius) !important;
}

.pluto-pack--y
    > .pluto-pack--x:last-child:not(:only-child)
    > *:last-child:not(:only-child) {
    border-radius: 0 0 var(--pluto-border-radius) 0 !important;
}

.pluto-pack--y > .pluto-pack--x:last-child:not(:only-child) > *:only-child {
    border-radius: 0 0 var(--pluto-border-radius) var(--pluto-border-radius) !important;
}
