/*
 * Copyright 2023 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-pack > * {
    border: var(--pluto-border-width) solid var(--pluto-gray-m1);
}

.pluto-pack {
    --t: var(--pluto-border-radius) var(--pluto-border-radius) 0 0;
    --b: 0 0 var(--pluto-border-radius) var(--pluto-border-radius);
    --l: var(--pluto-border-radius) 0 0 var(--pluto-border-radius);
    --r: 0 var(--pluto-border-radius) var(--pluto-border-radius) 0;
    --tr: 0 var(--pluto-border-radius) 0 0;
    --br: 0 0 var(--pluto-border-radius) 0;
    --bl: 0 0 0 var(--pluto-border-radius);
    --tl: var(--pluto-border-radius) 0 0 0;
    --pluto-pack--middle: 0 !important;
    --all: var(--pluto-border-radius);
}

.pluto-pack--x {
    --pluto-pack--first: var(--l);
    --pluto-pack--last: var(--r);
    --pluto-pack--only: var(--all);
    --pluto-pack--x-margin: 0 0 0 -1px !important;
}

.pluto-pack--x.pluto-pack--reverse {
    --pluto-pack--first: var(--r);
    --pluto-pack--last: var(--l);
    --pluto-pack--x-margin: 0 -1px 0 0 !important;
}

.pluto-pack--y {
    --pluto-pack--first: var(--t);
    --pluto-pack--last: var(--b);
    --pluto-pack--only: var(--all);
    --pluto-pack--y-margin: -1px 0 0 0 !important;
    --pluto-pack--y-first-x-first: var(--tl);
    --pluto-pack--y-first-x-last: var(--tr);
    --pluto-pack--y-first-x-only: var(--t);
    --pluto-pack--y-last-x-first: var(--bl);
    --pluto-pack--y-last-x-last: var(--br);
    --pluto-pack--y-last-x-only: var(--b);
}

.pluto-pack--y.pluto-pack--reverse {
    --pluto-pack--first: 0 0 var(--pluto-border-radius) var(--pluto-border-radius) !important;
    --pluto-pack--last: var(--pluto-border-radius) var(--pluto-border-radius) 0 0 !important;
    --pluto-pack--y-margin: 0 0 -1px 0 !important;
    --pluto-pack--y-first-x-first: var(--bl);
    --pluto-pack--y-first-x-last: var(--br);
    --pluto-pack--y-first-x-only: var(--b);
    --pluto-pack--y-last-x-first: var(--tl);
    --pluto-pack--y-last-x-last: var(--tr);
    --pluto-pack--y-last-x-only: var(--t);
}

.pluto-pack > *:not(:first-child):not(:last-child):not(:has(+ .pluto--hidden)) {
    border-radius: var(--pluto-pack--middle);
}

.pluto-pack > *:first-child:not(:only-child):not(:has(+ .pluto--hidden)) {
    border-radius: var(--pluto-pack--first);
}

.pluto-pack > *:last-child:not(:only-child) {
    border-radius: var(--pluto-pack--last);
}

.pluto-pack > *:only-child {
    border-radius: var(--pluto-pack--only);
}

.pluto-pack--x > *:not(:first-child) {
    margin: var(--pluto-pack--x-margin);
}

.pluto-pack--y > *:not(:first-child) {
    margin: var(--pluto-pack--y-margin);
}

.pluto-pack--y
    > .pluto-pack--x:first-child:not(:only-child):not(:has(+ .pluto--hidden))
    > *:first-child:not(:only-child) {
    flex-grow: 1;
    border-radius: var(--pluto-pack--y-first-x-first);
}

.pluto-pack--y
    > .pluto-pack--x:first-child:not(:only-child):not(:has(+ .pluto--hidden))
    > *:last-child:not(:only-child) {
    border-radius: var(--pluto-pack--y-first-x-last);
}

.pluto-pack--y > .pluto-pack--x:first-child:not(:only-child) > *:only-child {
    border-radius: var(--pluto-pack--y-first-x-only);
}

.pluto-pack--y > .pluto-pack--x:not(:last-child):not(:first-child) > * {
    border-radius: 0 !important;
}

.pluto-pack--y
    > .pluto-pack--x:last-child:not(:only-child)
    > *:first-child:not(:only-child) {
    border-radius: var(--pluto-pack--y-last-x-first);
}

.pluto-pack--y
    > .pluto-pack--x:last-child:not(:only-child)
    > *:last-child:not(:only-child) {
    border-radius: var(--pluto-pack--y-last-x-last);
}

.pluto-pack--y > .pluto-pack--x:last-child:not(:only-child) > *:only-child {
    border-radius: var(--pluto-pack--y-last-x-only);
}

.pluto-pack--x.pluto-pack--small > * {
    height: var(--pluto-height-small);
}

.pluto-pack--x.pluto-pack--medium > * {
    height: var(--pluto-height-medium);
}

.pluto-pack--x.pluto-pack--large > * {
    height: var(--pluto-height-large);
}

.pluto-pack--y > .pluto-pack--x {
    border: none;
}
