/*
 * Copyright 2023 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-pid-edge-handle__dragger {
    display: none;
    width: 100%;
    height: 100%;

    &.pluto--x {
        cursor: ns-resize;
    }

    &.pluto--y {
        cursor: ew-resize;
    }
}

.pluto-pid-edge-handle__background {
    display: none;
}

.pluto--editable {
    .pluto-pid-edge-handle__dragger {
        display: block;
    }
    .pluto-pid-edge-handle__background {
        display: block;
    }
}




