/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-resize {
    --resize-panel-handle-size: calc(var(--pluto-border-width) * 5);
    position: relative;

    &.pluto--location-left > .pluto-resize__handle {
        right: 0;
        top: 0;
    }

    &.pluto--location-right > .pluto-resize__handle {
        left: 0;
        top: 0;
    }

    &.pluto--location-top > .pluto-resize__handle {
        left: 0;
        bottom: 0;
    }

    &.pluto--location-bottom > .pluto-resize__handle {
        left: 0;
        top: 0;
    }

    &.pluto--direction-x > .pluto-resize__handle {
        width: var(--resize-panel-handle-size);
        height: 100%;
        cursor: col-resize;
    }

    &.pluto--direction-y > .pluto-resize__handle {
        height: var(--resize-panel-handle-size);
        width: 100%;
        cursor: row-resize;
    }

    &.pluto--collapsed > .pluto-resize__handle {
        border-color: var(--pluto-primary-p1);
        border-width: 2px;
    }
}

.pluto-resize__handle {
    position: absolute;
    transition:
        border-color 0.1s ease-in-out,
        border-width 0.1s ease-in-out;
    z-index: 4;

    &:hover {
        border-color: var(--pluto-primary-z);
        border-width: 2px;
    }

    &:active {
        border-color: var(--pluto-primary-p1);
        border-width: 2px;
    }
}
