/*
 * Copyright 2023 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-value-labeled {
    width: fit-content;

    .pluto-text {
        white-space: normal;
        text-align: center;
        word-break: break-word;
        padding: 0 1rem;
    }

    &.pluto--y .pluto-text {
        min-width: 100px;
        max-width: 125px;
    }

    &.pluto--x .pluto-text {
        max-width: 175px;
    }

    &.pluto--x {
        .pluto-value {
            width: 100px;
        }
    }

    .pluto-value {
        border: var(--pluto-pid-element-stroke-width) solid var(--pluto-text-color);
        border-radius: var(--pluto-border-radius);
        position: relative;
        min-width: 100px;
    }
}

