/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-redline-form {
    height: 100%;
    padding: 1rem 0;
}

.pluto-redline-form__bands {
    width: 64rem;
    min-height: 0;

    .pluto-list__item {
        min-height: unset;
        padding: 0.5rem 2rem;
    }
}

.pluto-redline-form__footer {
    padding: 0.5rem 2rem;
}

.pluto-redline-form__display {
    max-width: 50rem;
    padding-right: 2rem;
}

.pluto-redline-form__preview {
    height: 1rem;
    background: var(--pluto-redline-on);
    border: var(--pluto-border);
    border-radius: var(--pluto-border-radius);
}

.pluto-redline-form__preview.pluto--flashing {
    animation: pluto-redline-flash 1s steps(1) infinite;
}

@keyframes pluto-redline-flash {
    50% {
        background: var(--pluto-redline-off);
    }
}
