/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.console-task-toolbar {
    .pluto-list__item {
        .console-task__metadata {
            flex-shrink: 1;
            text-overflow: ellipsis;
            overflow: hidden;
            padding-top: 0.25rem;
            .console-task__title {
                /* Only apply overflow hidden when the element is not being renamed */
                &:not(:has([contenteditable="true"])) {
                    overflow: hidden;
                }
                /* Padding fixes overflow issues with the slightly enlarged OPC UA logo */
                padding-left: 0.25rem;
                p {
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }
        }
    }
}
