/*
 * Copyright 2025 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.console-task-toolbar {
    .pluto-list__item {
        .console-task__metadata {
            overflow: hidden;
            .console-task__title {
                overflow-x: hidden;
                /* Padding fixes overflow issues with the slightly enlarged OPC UA logo */
                padding-left: 0.25rem;
                p {
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}
