.pluto-resize-panel {
    position: relative;
}

.pluto-resize-panel__handle {
    position: absolute
}

.pluto-resize-panel--left > .pluto-resize-panel__handle {
    right: 0;
    top: 0;
}

.pluto-resize-panel--right > .pluto-resize-panel__handle {
    left: 0;
    top: 0;
}

.pluto-resize-panel--top > .pluto-resize-panel__handle {
    left: 0;
    bottom: 0;
}

.pluto-resize-panel--bottom > .pluto-resize-panel__handle {
    left: 0;
    top: 0;
}

.pluto-resize-panel--vertical > .pluto-resize-panel__handle{
    width: calc(var(--pluto-border-width) * 5);
    height: 100%;
    cursor: col-resize;
}

.pluto-resize-panel--horizontal > .pluto-resize-panel__handle{
    height: calc(var(--pluto-border-width) * 5);
    width: 100%;
    cursor: row-resize;
}
