/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.console-library-editor {
    width: 100%;
    height: 100%;
}

.console-library-editor__header,
.console-library-editor__tasks {
    padding: 1rem 2rem;
}

.console-library-editor__header {
    border-bottom: var(--pluto-border-l6);
}

.console-library-editor__tasks {
    border-top: var(--pluto-border-l6);
}

.console-library-editor__body {
    min-height: 0;
}

.console-library-editor__entries {
    width: 240px;
    flex-shrink: 0;
    border-right: var(--pluto-border-l6);
}

.console-library-editor__add {
    padding: 1rem;
}

.console-library-editor__entry {
    flex-grow: 1;
    min-width: 0;
    padding: 2rem;
    overflow: auto;
}
