/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-text-box {
    justify-content: center;
    padding: 2px;
    width: fit-content;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-wrap: wrap;

    & .pluto-symbol__label {
        color: var(--pluto-symbol-display);
    }

    &.pluto--location-top {
        writing-mode: vertical-rl;
    }

    &.pluto--location-bottom {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
    }
}

.pluto-text-box-form__auto-fit-btn {
    border-left: var(--pluto-border-l6);
}
