/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.console-line-plot-toolbar {
    height: 100%;
    .console-line-plot__toolbar-lines {
        .pluto-list__item {
            padding: 0.5rem 5rem 0.5rem 1rem;
            & > div:is(:nth-child(2), :nth-child(3)) {
                min-width: 90px;
                max-width: 125px;
            }
        }
    }
}
