[project]
name = "synnax-test-framework"
version = "0.0.0"
description = "Integration test framework for Synnax Labs"
authors = [{ name = "Nico Alba", email = "nico@synnaxlabs.com" }]
requires-python = ">=3.12,<3.14"
dependencies = [
    "synnax",
    "matplotlib>=3.10.8",
    "numpy>=2.3.5",
    "playwright>=1.57.0",
    "pymodbus>=3.11.4",
    "asyncua>=1.1.8",
]
classifiers = ["Private :: Do Not Upload"]


[project.scripts]
test-conductor = "framework.test_conductor:main"
tc = "framework.test_conductor:main"

[dependency-groups]
dev = ["black>=25.12.0", "isort>=7.0.0", "mypy>=1.19.0", "vermin>=1.8.0"]

[tool.hatch.build.targets.wheel]
packages = ["driver", "framework", "tests"]

[tool.isort]
profile = "black"

[tool.mypy]
mypy_path = "stubs"
plugins = ["pydantic.mypy"]
strict = true

[[tool.mypy.overrides]]
module = "synnax.*"
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = "examples.*"
ignore_missing_imports = true

[tool.pydantic-mypy]
init_forbid_extra = true
init_types = true
warn_required_dynamic_aliases = true

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
