[project]
name = "synnax-test-framework"
version = "0.46.0"
description = "Integration test framework for Synnax Labs"
authors = [{ name = "Nico Alba", email = "nico@synnaxlabs.com" }]
requires-python = ">=3.12,<4"
dynamic = ["dependencies"]

[tool.poetry]
packages = [{ include = "framework" }, { include = "tests" }]

[project.scripts]
# Make the test conductor easily runnable
test-conductor = "framework.test_conductor:main"

[tool.poetry.dependencies]
synnax = { path = "../client/py", develop = true }
matplotlib = "^3.10.6"
numpy = "^2.3.3"
playwright = "^1.55.0"

[tool.poetry.group.dev.dependencies]
black = "^25.1.0"
isort = "^6.0.1"
mypy = "^1.18.1"

[tool.poetry.scripts]
tc = "framework.test_conductor:main"
test-conductor = "framework.test_conductor:main"

[tool.isort]
profile = "black"

[tool.mypy]
mypy_path = "stubs"
plugins = ["pydantic.mypy"]
strict = true

[[tool.mypy.overrides]]
module = "synnax.*"
ignore_missing_imports = true

[tool.pydantic-mypy]
init_forbid_extra = true
init_types = true
warn_required_dynamic_aliases = true

[build-system]
requires = ["poetry-core>=2.0.0,<3.0.0"]
build-backend = "poetry.core.masonry.api"
