[project]
name = "synnax-test-framework"
version = "0.49.0"
description = "Integration test framework for Synnax Labs"
authors = [{ name = "Nico Alba", email = "nico@synnaxlabs.com" }]
# less than 3.14 because asyncua is not compatible with 3.14
requires-python = ">=3.12,<3.14"
dynamic = ["dependencies"]

[tool.poetry]
packages = [{ include = "driver" }, { include = "framework" }, { include = "tests" }]

[project.scripts]
# Make the test conductor easily runnable
test-conductor = "framework.test_conductor:main"

[tool.poetry.dependencies]
synnax = { path = "../client/py", develop = true }
matplotlib = "^3.10.8"
numpy = "^2.3.5"
playwright = "^1.57.0"
# Simulator dependencies (for Modbus and OPC UA test servers)
pymodbus = "^3.11.4"
asyncua = "^1.1.8"

[tool.poetry.group.dev.dependencies]
black = "^25.12.0"
isort = "^7.0.0"
mypy = "^1.19.0"
poetry = "^2.2.1"
vermin = "^1.8.0"

[tool.poetry.scripts]
tc = "framework.test_conductor:main"
test-conductor = "framework.test_conductor:main"

[tool.isort]
profile = "black"

[tool.mypy]
mypy_path = "stubs"
plugins = ["pydantic.mypy"]
strict = true

[[tool.mypy.overrides]]
module = "synnax.*"
ignore_missing_imports = true

[tool.pydantic-mypy]
init_forbid_extra = true
init_types = true
warn_required_dynamic_aliases = true
