/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.console-range-list-item {
    & p {
        font-weight: 450;
    }

    & .save-button {
        position: absolute;
        top: 1rem;
        right: 1.5rem;
    }
}

.console-range-toolbar-no-ranges {
    & p {
        max-width: 45rem;
        text-align: center;
        color: var(--pluto-gray-l8);
    }
}
