.login__container {
  position: absolute;
  top: 0;
  bottom: 10%;
  left: 0;
  right: 0;
  margin: auto;
  width: calc(var(--base-size) * 55);
  height: calc(var(--base-size) * 70);
  border: var(--border-width) solid var(--gray-m1);
  border-radius: var(--border-radius);
  padding: calc(var(--base-size) * 4);
}

.login__btn {
  width: 60%;
  margin: 0 auto;
}

.login__logo {
  height: 37%;
  margin: 0 auto;
}
