[tool.poetry]
name = "cesium benchmarking"
version = "0.25.1"
description = "Benchmarking framework for cesium"
keywords = ["Synnax", "Cesium"]
repository = "https://github.com/synnaxlabs/synnax"
homepage = "https://synnaxlabs.com"
authors = ["leo liu <leohliu@umich.edu>"]
packages = [
	{ include = "./*.py" }
]
[tool.poetry.group.dev.dependencies]
jupyterlab = "^4.0.7"


[tool.isort]
profile = "black"

[tool.poetry.dependencies]
python = "^3.11"
pandas = "^2.0.2"
urllib3 = "^2.2.1"
numpy = "^1.24.3"
matplotlib = "^3.7.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.mypy]
plugins = ["numpy.typing.mypy_plugin"]
ignore_missing_imports = true
