[project]
name = "cesium-benchmarking"
version = "0.25.1"
description = "Benchmarking framework for cesium"
keywords = ["Synnax", "Cesium"]
authors = [{ name = "leo liu", email = "leohliu@umich.edu" }]
requires-python = ">=3.11"
dependencies = ["pandas>=2.0.2", "urllib3>=2.2.1", "numpy>=2.2.1", "matplotlib>=3.7.1"]

[project.urls]
Repository = "https://github.com/synnaxlabs/synnax"
Homepage = "https://synnaxlabs.com"

[dependency-groups]
dev = ["jupyterlab>=4.0.7", "black>=24.10.0"]

[tool.isort]
profile = "black"

[tool.mypy]
plugins = ["numpy.typing.mypy_plugin"]
ignore_missing_imports = true

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
