.pluto-accordion__header {
    background: var(--pluto-background-color);
}

.pluto-accordion__header--expanded {
    border-bottom: var(--pluto-border);
}

.pluto-accordion__header--contracted {
    border-bottom: none;
}
