/*
 * Copyright 2025 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-orientation-control {
    position: relative;
    aspect-ratio: 1;

    .symbol {
        height: 0.4rem;
        width: 100%;
        background-color: var(--pluto-gray-l10);
        border-radius: var(--pluto-border-radius);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &.pluto-value {
        border: none;
    }

    .pluto-value {
        border: var(--pluto-border);
        border-radius: var(--pluto-border-radius);
        padding: 0.5rem;
    }

    & button {
        width: 3rem;
        height: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        &.pluto--selected {
            background-color: var(--pluto-primary-z) !important;
            & .symbol {
                background-color: var(--pluto-text-on-primary) !important;
            }
        }

        &.pluto--y {
            transform: rotate(90deg);
        }
    }
}
