/*
 * Copyright 2024 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-control-state.pluto--x {
    padding: 1rem 1rem 1rem 0;
}

.pluto-control-state.pluto--y {
    padding: 0 1rem 1rem;
}

.pluto-symbol__label {
    transform: scale(0.9);
    overflow-wrap: break-word;
}
