/*
 * Copyright 2024 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-control-state.pluto--x {
    padding: 1rem 1rem 1rem 0;
}

.pluto-control-state.pluto--y {
    padding: 0 1rem 1rem;
}

.pluto-grid__item {
    position: absolute;
    --offset: 0.666rem;
    &.pluto--top {
        top: 0;
        transform: translateY(calc(-100% - var(--offset)));
    }
    &.pluto--bottom {
        bottom: 0;
        transform: translateY(calc(100% + var(--offset)));
    }
    &.pluto--left {
        left: 0;
        transform: translateX(calc(-100% - var(--offset)));
    }
    &.pluto--right {
        right: 0;
        transform: translateX(calc(100% + var(--offset)));
    }
}

.pluto-symbol__label {
    --offset: 0.666rem;
    text-wrap: nowrap;
    &.pluto--y {
        writing-mode: vertical-lr;
    }
}
