/*
 * Copyright 2025 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

html {
    overscroll-behavior: none;
    overflow: hidden;
    background: var(--pluto-gray-l0);
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    color: var(--pluto-gray-l10);
}

::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--pluto-gray-l6);
    border-radius: var(--pluto-border-radius);
}

#root {
    height: 100%;
    width: 100%;
}

*:not(:is(input, label)) {
    user-select: none !important;
    -webkit-user-select: none !important;
}

.console-editor * {
    user-select: text !important;
    -webkit-user-select: text !important;
}

* {
    box-sizing: border-box;
}
