---
import { PageNav } from "@/components/PageNav";
import "@synnaxlabs/pluto/dist/style.css";
import "@synnaxlabs/media/dist/style.css";
import { Theming } from "@synnaxlabs/pluto";
import { DEFAULT_THEME } from "@/util/theme";
import { Logo } from "@synnaxlabs/media";
import { TableOfContents } from "@/components/TableOfContents";
const vars = Theming.toCSSVars(DEFAULT_THEME);
const { headings } = Astro.props;
---

<script>
    const urlSearchParams = new URLSearchParams(window.location.search);
    const params = Object.fromEntries(urlSearchParams.entries());
    const noHeader = params.noHeader ?? false;
    if (noHeader) {
        document.querySelector("header").style.display = "none";
    }
</script>

<html style={vars}>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <header class="pluto-bordered--bottom">
        <div class="header-content">
            <Logo style={{ height: "6.5rem" }} />
        </div>
    </header>
    <section>
        <nav class="docs-nav">
            <PageNav client:only="react" currentPage={Astro.url.pathname} />
        </nav>
        <article>
            <slot />
        </article>
        <nav class="docs-toc pluto-bordered--left">
            <TableOfContents client:only="react" headings={headings} />
        </nav>
    </section>

    <script>
        import { startThemeDriver } from "@/util/theme";
        startThemeDriver();
    </script>

    <style is:global>
        .pluto-tabs-selector__button p {
            margin: 0;
        }

        header h1,
        header h2,
        header p {
            margin: 0 !important;
        }

        article h1,
        article h2,
        article h3,
        article h4,
        article h5,
        article h6,
        article p,
        article table,
        article video {
            margin: 2.5rem 0;
        }

        article video {
            width: 100%;
            border-radius: 1rem !important;
            border: var(--pluto-border);
        }

        code:not(.astro-code code) {
            padding: 0.25rem 1rem;
            background-color: var(--pluto-gray-m2);
            color: var(--pluto-text-color);
        }

        .pluto-tabs-selector__button p {
            margin: 1rem 0;
        }

        li {
            font-size: var(--pluto-p-size);
        }

        .astro-code {
            padding: 3rem;
            border-radius: var(--pluto-border-radius);
            margin: 2rem 1rem;
            overflow-x: auto !important;
            overflow-y: visible !important;
        }

        code {
            background: #0d1117;
            color: rgba(255, 255, 255, 0.9);
            border-radius: var(--pluto-border-radius);
        }

        @media (prefers-color-scheme: dark) {
            html {
                --pluto-background-color: #121212;
                --pluto-text-color: #ffffff;
            }
        }

        table > :not(caption) > * {
            border-width: 1px 0;
            border-color: var(--pluto-border-color);
            border-style: solid;
        }

        table > :not(caption) > * > * {
            border-width: 0 1px;
            border-color: var(--pluto-border-color);
            border-style: solid;
            padding: 0.75rem 1.25rem;
        }

        table th {
            text-align: start;
        }

        table {
            width: 100%;
            border-spacing: 0;
            background-color: transparent;
            border-collapse: collapse;
            overflow-x: auto;
        }
    </style>

    <style>
        :root {
            --max-width: 1440px;
        }

        header {
            display: flex;
            justify-content: center;
            flex-basis: 10rem;
            flex-grow: 1;
            flex-shrink: 0;
            width: 100%;
        }

        .header-content {
            width: 100%;
            max-width: var(--max-width);
            display: flex;
            align-items: center;
            padding: 0 5rem;
        }

        body {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        @media (width < 1440px) {
            body {
                align-items: unset;
            }
        }

        @media (width < 1100px) {
            .docs-toc {
                display: none;
            }
        }

        @media (width > 1440px) {
            section {
                width: var(--max-width);
            }
        }

        .docs-nav {
            border-right: var(--pluto-border);
        }

        @media (width < 600px) {
            section {
                flex-direction: column;
            }
            .docs-nav {
                border-bottom: var(--pluto-border);
                border-right: none;
            }
        }

        section {
            display: flex;
            flex-wrap: nowrap;
            flex-grow: 9999;
            flex-basis: 0;
            height: calc(100% - 10rem);
        }

        nav {
            padding: 20px 0px;
            flex-basis: 240px;
            overflow-y: auto;
        }

        article {
            flex-basis: 0;
            flex-grow: 9999;
            padding: 5rem;
            overflow-y: auto;
        }

        .ytp-chrome {
            display: none;
        }
    </style>


</html>
