---
import { PageNav } from "@/components/PageNav";
import "@synnaxlabs/pluto/dist/style.css";
import { Theming } from "@synnaxlabs/pluto";
import { DEFAULT_THEME } from "@/util/theme";
import { Logo } from "@/components/Logo";
import { TableOfContents } from "@/components/TableOfContents";
const vars = Theming.toCSSVars(DEFAULT_THEME);
const { headings } = Astro.props;
console.log(headings);
---

<html style={vars}>
    <header class="pluto-bordered--bottom">
        <div class="header-content">
            <Logo style={{ height: "6.5rem" }} />
        </div>
    </header>
    <section>
        <nav class="pluto-bordered--right pluto-bordered--bottom">
            <PageNav client:only="react" currentPage={Astro.url.pathname} />
        </nav>
        <article>
            <slot />
        </article>
        <nav class="pluto-bordered--left">
            <TableOfContents client:only="react" headings={headings} />
        </nav>
    </section>

    <script>
        import { startThemeDriver } from "@/util/theme";
        startThemeDriver();
    </script>

    <style is:global>
        article p:not(.pluto-tabs-selector__button p) {
            margin: 3rem 0;
        }

        .pluto-tabs-selector__button p {
            margin: 1rem 0;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p {
            white-space: normal !important;
        }

        li {
            font-size: var(--pluto-p-size);
        }

        .astro-code {
            padding: 3rem;
            border-radius: var(--pluto-border-radius);
            margin: 3rem 1rem;
            overflow-x: auto !important;
            overflow-y: visible !important;
        }

        code {
            background: #0d1117;
            color: rgba(255, 255, 255, 0.9);
            padding: 0.25rem 1rem;
            border-radius: var(--pluto-border-radius);
        }

        @media (prefers-color-scheme: dark) {
            html {
                --pluto-background-color: #121212;
                --pluto-text-color: #ffffff;
            }
        }
    </style>

    <style>
        :root {
            --max-width: 1440px;
        }

        header {
            display: flex;
            justify-content: center;
            flex-basis: 10rem;
            flex-grow: 1;
            flex-shrink: 0;
            width: 100%;
        }

        .header-content {
            width: 100%;
            max-width: var(--max-width);
            display: flex;
            align-items: center;
            padding: 0 5rem;
        }

        body {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        @media (max-width: 1440px) {
            body {
                align-items: unset;
            }
        }

        section {
            max-width: var(--max-width);
            display: flex;
            flex-wrap: nowrap;
            flex-grow: 9999;
            flex-basis: 0;
            height: calc(100% - 10rem);
        }

        nav {
            padding: 20px 0px;
            flex-basis: 240px;
        }

        article {
            flex-basis: 0;
            flex-grow: 9999;
            padding: 5rem;
            overflow-y: auto;
        }
    </style>


</html>
