---
import Header from "@/components/Header.astro";
import "@synnaxlabs/pluto/dist/pluto.css";
import "@synnaxlabs/media/dist/media.css";
import "@synnaxlabs/pluto/dist/theme.css";
import "@fontsource/geist-mono";
import PostHog from "@/components/PostHog.astro";
import { ClientRouter } from "astro:transitions";
import { SEO } from "astro-seo";
import Footer from "@/components/Footer.astro";
const {
    frontmatter: { title, description, url },
} = Astro.props;
---

<html>
    <head>
        <PostHog />
        <SEO
            title={title}
            titleTemplate="%s | Synnax"
            titleDefault="Synnax"
            description={description}
            extend={{
                link: [
                    {
                        rel: "icon",
                        href: "/favicon.svg",
                    },
                ],
                meta: [
                    {
                        name: "viewport",
                        content: "width=device-width, initial-scale=1.0",
                    },
                ],
            }}
        />
        <ClientRouter />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body>
        <Header url={url} transition:persist />
        <main>
            <section>
                <slot />
            </section>
        </main>
        <Footer />
    </body><script>
        import { addCodeButtonListeners } from "@/components/code/codeUtil";
        import { startUpdatingIframeHref } from "@/util/iframe";
        import { getVersion } from "@/util/fetchVersion";
        const updateVersion = () => {
            getVersion().then((version) => {
                const versionElement = document.querySelectorAll(".version");
                versionElement.forEach((element) => {
                    if (element.classList.contains("full")) element.innerHTML = version;
                    else element.innerHTML = version.split(".").slice(0, -1).join(".");
                });
            });
        };

        const bindClickHandlersToHeadingAnchors = () => {
            const anchors = document.querySelectorAll(".heading-anchor");
            anchors.forEach((anchor) => {
                if (anchor.previousElementSibling?.classList.contains("no-link"))
                    anchor.style.display = "none";
                anchor.addEventListener("click", () => {
                    const url = window.location.href;
                    const newUrl = url.split("#")[0];
                    const hash = anchor.getAttribute("href");
                    navigator.clipboard.writeText(newUrl + hash);
                });
            });
        };

        updateVersion();
        addCodeButtonListeners();
        startUpdatingIframeHref();
        bindClickHandlersToHeadingAnchors();
        document.addEventListener("astro:after-swap", () => {
            updateVersion();
            addCodeButtonListeners();
            startUpdatingIframeHref();
            bindClickHandlersToHeadingAnchors();
        });
    </script>

    <style is:global>
        html {
            background: var(--pluto-gray-l0);
        }
        :root {
            --nav-height: 5rem;
            --max-width: 1400px;
            --astro-code-color-text: var(--pluto-text-color);
            --astro-code-background: var(--pluto-gray-l1);
            --astro-code-foreground: var(--pluto-text-color);
            --astro-code-token-comment: var(--pluto-gray-l7);
            --astro-code-token-string-expression: var(--pluto-secondary-m1);
            --astro-code-token-function: #556bf8;
            --astro-code-token-punctuation: var(--pluto-text-color);
            --astro-code-token-keyword: #cc255f;
            --astro-code-token-constant: var(--pluto-text-color);
            --pluto-schematic-element-stroke-width: 2px;
            --pluto-font-family: "Inter Variable", sans-serif;
            --pluto-h1-size: 8rem;
            --pluto-h1-weight: 450;
            --pluto-h1-line-height: 150%;
            --pluto-h2-size: 5.5rem;
            --pluto-h2-weight: 500;
            --pluto-h2-line-height: 150%;
            --pluto-h3-size: 4rem;
            --pluto-h3-weight: 500;
            --pluto-h3-line-height: 150%;
            --pluto-h4-size: 3rem;
            --pluto-h4-weight: 550;
            --pluto-h4-line-height: 150%;
            --pluto-h5-size: round(2.666rem, 1px);
            --pluto-h5-weight: 450;
            --pluto-h5-line-height: 150%;
            --pluto-h5-text-transform: none;
            --pluto-p-size: round(2.666rem, 1px);
            --pluto-p-weight: 350;
            --pluto-p-line-height: 175%;
            --pluto-small-size: round(2.333rem, 1px);
            --pluto-small-weight: 350;
            --pluto-small-line-height: 150%;
            --pluto-tiny-size: round(2.166rem, 1px);
            --pluto-tiny-weight: 350;
            --pluto-tiny-line-height: 150%;
            --pluto-height-large: 5.75rem !important;
            --pluto-height-medium: 5rem !important;

            @media (max-width: 800px) {
                --pluto-h1-size: 5rem;
                --pluto-h2-size: 4rem;
                --pluto-h3-size: 3.25rem;
                --pluto-h4-size: 2.75rem;
                --pluto-h5-size: 2.5rem;
                --pluto-p-size: 2.3333rem;
                --pluto-p-weight: 375;

                section {
                    padding: 0 1rem !important;
                }

                article {
                    ul {
                        padding-left: 2rem;
                    }
                }

                .pluto-tabs-selector__btn {
                    padding: 0 1rem;
                }
            }

            @media (max-width: 600px) {
                .pluto-tabs-selector__tabs {
                    justify-content: center !important;
                }
            }
        }

        * {
            scroll-margin: 20rem;
            box-sizing: border-box;
        }

        body {
            height: fit-content !important;
            margin: 0;
        }

        .pluto-pack {
            --pluto-pack-br: 1rem !important;
        }

        main {
            position: relative;
            min-height: calc(100vh - 30rem);
            & > section {
                display: flex;
                flex-direction: row;
                margin: 0 auto;
                padding: 0 2rem;
                max-width: 1340px;
            }
        }

        nav {
            position: sticky;
            top: 22rem;
            height: 100%;
            & p,
            small {
                white-space: normal !important;
            }
        }
        .styled-scrollbar {
            &::-webkit-scrollbar {
                width: 1rem;
            }
            &::-webkit-scrollbar-thumb {
                background-color: var(--pluto-border-color);
                border-radius: 2px;
            }
        }

        a {
            color: var(--pluto-primary-p1);
            text-decoration: none;
        }

        a:hover:not(.pluto-btn) {
            text-decoration: underline;
        }

        li {
            margin: 0.5rem;
        }

        code:not(.astro-code code) {
            padding: 0.25rem 0.75rem;
            background: var(--pluto-gray-l2);
            border: var(--pluto-border);
            border-color: var(--pluto-gray-l3);
            border-radius: 0.5rem;
        }

        & code:not(:is(h1, h2, h3, h4, h5, h6) code) {
            font-size: var(--pluto-small-size);
            line-height: var(--pluto-small-line-height);
        }

        code {
            font-size: inherit;
            line-height: inherit;
            font-family: "Geist Mono";
            color: var(--pluto-text-color);
            border-radius: var(--pluto-border-radius);
        }

        .pluto-tabs-selector__btn {
            padding: 0 3rem;

            .pluto-text-icon {
                gap: 1.5rem;
            }

            .pluto-text {
                margin: 0 !important;
            }
        }

        li {
            font-size: var(--pluto-p-size);
        }

        summary {
            width: max-content;

            &::marker {
                color: var(--pluto-text-color);
                font-family: var(--pluto-font-family);
                font-size: var(--pluto-p-size);
            }

            &:hover {
                cursor: pointer;
            }
        }

        table > :not(caption) > * {
            border-width: 1px 0;
            border-color: var(--pluto-gray-l3);
            border-style: solid;
        }

        table > :not(caption) > * > * {
            position: relative;
            border-width: 0 1px;
            padding: 1.25rem 1.5rem;
        }

        table td {
            font-size: var(--pluto-small-size);
            line-height: var(--pluto-small-line-height);
            vertical-align: baseline;
        }

        table tr {
            border-bottom: var(--pluto-border);
            border-color: var(--pluto-gray-l3);
        }

        table thead th {
            padding: 1.5rem 1.5rem;
            font-weight: 600;
        }

        table thead tr {
            border: none;
            border-width: 2px;
        }

        table th {
            border-bottom: var(--pluto-border);
            text-align: start;
        }

        table {
            table-layout: auto;
            width: calc(100% - 4px);
            border-spacing: 0;
            background: transparent;
            border-collapse: collapse;
            overflow-x: auto;
            border-style: hidden;
        }

        strong {
            font-weight: 550;
        }

        article {
            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            table {
                margin-top: 5rem;
                margin-bottom: 2rem;
                &.pluto-text {
                    margin-bottom: 2rem;
                    margin-top: 5rem;
                }
            }

            .pluto-btn .pluto-text {
                margin: 0 !important;
            }

            p {
                margin: 1.5rem 0;
                color: var(--pluto-gray-l10);
            }

            :is(h1, h3).pluto-text {
                margin-top: 6rem;
                margin-bottom: 2rem;
            }

            video,
            iframe,
            img {
                margin: 5rem 0;
            }

            ul {
                padding-left: 5rem;
            }

            .yt-video {
                width: 100%;
                aspect-ratio: 3456 / 2240;
                border-radius: 1rem;
                border: var(--pluto-border);
            }

            :is(h1, h2, h3).pluto-text {
                & a {
                    color: var(--pluto-gray-l7);
                    opacity: 0;
                    margin-left: 2rem;
                    position: relative;
                    transition: all 0.2s;
                    & svg {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
                &:hover {
                    & a {
                        opacity: 1;
                        &:hover {
                            color: var(--pluto-gray-l9);
                        }
                    }
                }
            }
        }

        .page-nav {
            width: 235px;
            overflow: hidden;
            height: 100%;

            .pluto-tabs-selector {
                position: sticky;
                top: 0;
                background: var(--pluto-gray-l0);
                margin-bottom: 3rem;
                & * {
                    font-size: var(--pluto-small-size) !important;
                    font-weight: 400 !important;
                }
                & .pluto-tabs-selector__btn {
                    flex-grow: 1;
                }
            }
        }

        .pluto-tree {
            max-height: calc(100vh - 25rem) !important;
            overflow-y: auto !important;
            .pluto-text {
                color: var(--pluto-gray-l9);
                font-size: var(--pluto-small-size);
                line-height: var(--pluto-small-line-height);
                font-weight: 400 !important;
            }

            & > *:last-child {
                margin-bottom: 10rem;
            }

            overflow-x: hidden;

            .pluto-list__item {
                padding-top: 1rem;
                padding-bottom: 1rem;
                border-radius: 0 !important;
                height: auto;
                background: none !important;
                width: unset !important;

                &:hover:not(.pluto--selected) {
                    &:not(.pluto--has-children) {
                        box-shadow: inset 2px 0 0 0 var(--pluto-text-color) !important;
                    }

                    & .pluto-text {
                        color: var(--pluto-text-color);
                        font-weight: 500 !important;
                    }

                    & path:is(:not([fill="none"]), [stroke="#000"]) {
                        fill: var(--pluto-text-color) !important;
                    }
                }

                &.pluto--selected .pluto-text {
                    color: var(--pluto-text-color);
                    font-weight: 500 !important;
                }

                &:not(.pluto--has-children):not(.pluto--selected) {
                    box-shadow: inset 1px 0 0 0 var(--pluto-gray-l2);
                }
            }

            .pluto-text-icon path:is(:not([fill="none"]), [stroke="#000"]) {
                fill: var(--pluto-gray-l5) !important;
            }
        }
        @media (max-width: 800px) {
            .page-nav {
                display: none;
            }
        }

        .page-nav-mobile-content {
            & > div:first-child {
                display: none;
            }
            padding-top: 2rem;
            width: calc(100vw - 5rem);
            height: 70vh !important;
            overflow: hidden !important;
            border-radius: 1rem !important;
        }

        .pluto-dialog__bg {
            backdrop-filter: blur(1px);
            -webkit-backdrop-filter: blur(1px);
            background: var(--pluto-gray-l0);
        }
        @media (max-width: 600px) and (hover: none) {
            .pluto-dialog__dialog {
                top: 5rem !important;
                transform: none !important;
            }
        }

        blockquote {
            border-left: 2px solid var(--pluto-primary-z-30);
            padding-left: 2rem;
            margin-left: 3rem;
        }
    </style>
</html>
