---
import Header from "@/components/layout/Header.astro";
import "@/styles/main.css";
import "@fontsource/geist-mono";
import PostHog from "@/components/analytics/PostHog.astro";
import { ClientRouter } from "astro:transitions";
import { SEO } from "astro-seo";
import Footer from "@/components/layout/Footer.astro";
const {
    frontmatter: { title, description, url },
} = Astro.props;
---

<html>
    <head>
        <PostHog />
        <SEO
            title={title}
            titleTemplate="%s | Synnax"
            titleDefault="Synnax"
            description={description}
            extend={{
                link: [
                    {
                        rel: "icon",
                        href: "/favicon.svg",
                    },
                ],
                meta: [
                    {
                        name: "viewport",
                        content: "width=device-width, initial-scale=1.0",
                    },
                ],
            }}
        />
        <ClientRouter />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body>
        <Header url={url} transition:persist />
        <main>
            <slot />
        </main>
        <Footer />
    </body><script>
        import { addCodeButtonListeners } from "@/components/code/codeUtil";
        import { startUpdatingIframeHref } from "@/util/iframe";
        import { fetchVersion } from "@/util/fetchVersion";
        const updateVersion = () => {
            fetchVersion().then((version) => {
                const versionElement = document.querySelectorAll(".version");
                versionElement.forEach((element) => {
                    if (element.classList.contains("full")) element.innerHTML = version;
                    else element.innerHTML = version.split(".").slice(0, -1).join(".");
                });
            });
        };

        const bindClickHandlersToHeadingAnchors = () => {
            const anchors =
                document.querySelectorAll<HTMLAnchorElement>(".heading-anchor");
            anchors.forEach((anchor) => {
                if (anchor.previousElementSibling?.classList.contains("no-link"))
                    anchor.style.display = "none";
                anchor.addEventListener("click", () => {
                    const url = window.location.href;
                    const newUrl = url.split("#")[0];
                    const hash = anchor.getAttribute("href");
                    navigator.clipboard.writeText(newUrl + hash);
                });
            });
        };

        updateVersion();
        addCodeButtonListeners();
        startUpdatingIframeHref();
        bindClickHandlersToHeadingAnchors();
        document.addEventListener("astro:after-swap", () => {
            updateVersion();
            addCodeButtonListeners();
            startUpdatingIframeHref();
            bindClickHandlersToHeadingAnchors();
        });
    </script>
</html>
