---
import Header from "@/components/Header.astro";
import "@synnaxlabs/pluto/dist/style.css";
import "@synnaxlabs/media/dist/style.css";
import "@fontsource/geist-mono";
import PostHog from "@/components/PostHog.astro";
import { ViewTransitions } from "astro:transitions";
import { SEO } from "astro-seo";
import Footer from "@/components/Footer.astro";
const {
    frontmatter: { title, description, url },
} = Astro.props;
---

<html>
    <head>
        <PostHog />
        <SEO
            title={title}
            titleTemplate="%s | Synnax"
            titleDefault="Synnax"
            description={description}
            extend={{
                link: [
                    {
                        rel: "icon",
                        href: "/favicon.svg",
                    },
                ],
                meta: [
                    {
                        name: "viewport",
                        content: "width=device-width, initial-scale=1.0",
                    },
                ],
            }}
        />
        <ViewTransitions />
    </head>
    <Header url={url} />
    <main>
        <section>
            <slot />
        </section>
    </main>
    <Footer />

    <script>
        import { addCodeButtonListeners } from "@/components/code/codeUtil";
        import { startUpdatingIframeHref } from "@/util/iframe";
        import { getVersion } from "@/util/fetchVersion";
        const updateVersion = () => {
            getVersion().then((version) => {
                const versionElement = document.querySelectorAll(".version");
                versionElement.forEach((element) => {
                    if (element.classList.contains("full")) element.innerHTML = version;
                    else element.innerHTML = version.split(".").slice(0, -1).join(".");
                });
            });
        };
        updateVersion();
        addCodeButtonListeners();
        startUpdatingIframeHref();
        document.addEventListener("astro:after-swap", () => {
            updateVersion();
            addCodeButtonListeners();
            startUpdatingIframeHref();
        });
    </script>

    <style is:global>
        html {
            background: var(--pluto-gray-l0);
            --nav-height: 5rem;
            --max-width: 1400px;
            --astro-code-color-text: var(--pluto-text-color);
            --astro-code-color-background: var(--pluto-gray-l1);
            --astro-code-token-comment: var(--pluto-gray-l5);
            --astro-code-token-string-expression: var(--pluto-secondary-m1);
            --astro-code-token-function: #556bf8;
            --astro-code-token-punctuation: var(--pluto-text-color);
            --astro-code-token-keyword: #cc255f;
            --astro-code-token-constant: var(--pluto-text-color);
            --pluto-base-size: 6px;
            --pluto-border-radius: 3px;
            --pluto-border-width: 1px;
            --pluto-schematic-element-stroke-width: 2px;
            --pluto-font-family: "Inter Variable", sans-serif;
            --pluto-h1-size: 8rem;
            --pluto-h1-weight: 450;
            --pluto-h1-line-height: 150%;
            --pluto-h2-size: 5.5rem;
            --pluto-h2-weight: 500;
            --pluto-h2-line-height: 150%;
            --pluto-h3-size: 4.5rem;
            --pluto-h3-weight: 450;
            --pluto-h3-line-height: 150%;
            --pluto-h4-size: 3rem;
            --pluto-h4-weight: 550;
            --pluto-h4-line-height: 150%;
            --pluto-h5-size: 2.666rem;
            --pluto-h5-weight: 450;
            --pluto-h5-line-height: 150%;
            --pluto-h5-text-transform: none;
            --pluto-p-size: 2.666rem;
            --pluto-p-weight: 350;
            --pluto-p-line-height: 4.666rem;
            --pluto-small-size: 2.333rem;
            --pluto-small-weight: 350;
            --pluto-small-line-height: 150%;
            --pluto-tiny-size: 2.166rem;
            --pluto-tiny-weight: 350;
            --pluto-tiny-line-height: 150%;
            --pluto-height-large: 5.75rem !important;
            --pluto-height-medium: 5rem !important;

            --pluto-dark-primary-m1: #164fa0;
            --pluto-dark-primary-m1-rgb: 22, 79, 160;
            --pluto-dark-primary-z: #3774d0;
            --pluto-dark-primary-z-rgb: 55, 116, 208;
            --pluto-dark-primary-p1: #5e94ee;
            --pluto-dark-primary-p1-rgb: 94, 148, 238;
            --pluto-dark-primary-z-95: #3774d0f2;
            --pluto-dark-primary-z-90: #3774d0e5;
            --pluto-dark-primary-z-85: #3774d0d8;
            --pluto-dark-primary-z-80: #3774d0cc;
            --pluto-dark-primary-z-75: #3774d0bf;
            --pluto-dark-primary-z-70: #3774d0b2;
            --pluto-dark-primary-z-65: #3774d0a5;
            --pluto-dark-primary-z-60: #3774d099;
            --pluto-dark-primary-z-55: #3774d08c;
            --pluto-dark-primary-z-50: #3774d07f;
            --pluto-dark-primary-z-45: #3774d072;
            --pluto-dark-primary-z-40: #3774d066;
            --pluto-dark-primary-z-35: #3774d059;
            --pluto-dark-primary-z-30: #3774d04c;
            --pluto-dark-primary-z-25: #3774d03f;
            --pluto-dark-primary-z-20: #3774d033;
            --pluto-dark-primary-z-15: #3774d026;
            --pluto-dark-primary-z-10: #3774d019;
            --pluto-dark-primary-z-5: #3774d00c;
            --pluto-dark-secondary-m1: #38b261;
            --pluto-dark-secondary-z: #50c878;
            --pluto-dark-secondary-p1: #73d393;
            --pluto-dark-secondary-z-95: #50c878f2;
            --pluto-dark-secondary-z-90: #50c878e5;
            --pluto-dark-secondary-z-85: #50c878d8;
            --pluto-dark-secondary-z-80: #50c878cc;
            --pluto-dark-secondary-z-75: #50c878bf;
            --pluto-dark-secondary-z-70: #50c878b2;
            --pluto-dark-secondary-z-65: #50c878a5;
            --pluto-dark-secondary-z-60: #50c87899;
            --pluto-dark-secondary-z-55: #50c8788c;
            --pluto-dark-secondary-z-50: #50c8787f;
            --pluto-dark-secondary-z-45: #50c87872;
            --pluto-dark-secondary-z-40: #50c87866;
            --pluto-dark-secondary-z-35: #50c87859;
            --pluto-dark-secondary-z-30: #50c8784c;
            --pluto-dark-secondary-z-25: #50c8783f;
            --pluto-dark-secondary-z-20: #50c87833;
            --pluto-dark-secondary-z-15: #50c87826;
            --pluto-dark-secondary-z-10: #50c87819;
            --pluto-dark-secondary-z-5: #50c8780c;
            --pluto-dark-gray-l0: #020202;
            --pluto-dark-gray-l0-rgb: 2, 2, 2;
            --pluto-dark-gray-l0-95: #020202f2;
            --pluto-dark-gray-l0-90: #020202e5;
            --pluto-dark-gray-l0-85: #020202d8;
            --pluto-dark-gray-l0-80: #020202cc;
            --pluto-dark-gray-l0-75: #020202bf;
            --pluto-dark-gray-l0-70: #020202b2;
            --pluto-dark-gray-l0-65: #020202a5;
            --pluto-dark-gray-l0-60: #02020299;
            --pluto-dark-gray-l0-55: #0202028c;
            --pluto-dark-gray-l0-50: #0202027f;
            --pluto-dark-gray-l0-45: #02020272;
            --pluto-dark-gray-l0-40: #02020266;
            --pluto-dark-gray-l0-35: #02020259;
            --pluto-dark-gray-l0-30: #0202024c;
            --pluto-dark-gray-l0-25: #0202023f;
            --pluto-dark-gray-l0-20: #02020233;
            --pluto-dark-gray-l0-15: #02020226;
            --pluto-dark-gray-l0-10: #02020219;
            --pluto-dark-gray-l0-5: #0202020c;
            --pluto-dark-gray-l1: #060606;
            --pluto-dark-gray-l1-95: #060606f2;
            --pluto-dark-gray-l1-90: #060606e5;
            --pluto-dark-gray-l1-85: #060606d8;
            --pluto-dark-gray-l1-80: #060606cc;
            --pluto-dark-gray-l1-75: #060606bf;
            --pluto-dark-gray-l1-70: #060606b2;
            --pluto-dark-gray-l1-65: #060606a5;
            --pluto-dark-gray-l1-60: #06060699;
            --pluto-dark-gray-l1-55: #0606068c;
            --pluto-dark-gray-l1-50: #0606067f;
            --pluto-dark-gray-l1-45: #06060672;
            --pluto-dark-gray-l1-40: #06060666;
            --pluto-dark-gray-l1-35: #06060659;
            --pluto-dark-gray-l1-30: #0606064c;
            --pluto-dark-gray-l1-25: #0606063f;
            --pluto-dark-gray-l1-20: #06060633;
            --pluto-dark-gray-l1-15: #06060626;
            --pluto-dark-gray-l1-10: #06060619;
            --pluto-dark-gray-l1-5: #0606060c;
            --pluto-dark-gray-l2: #0d0d0d;
            --pluto-dark-gray-l2-95: #0d0d0df2;
            --pluto-dark-gray-l2-90: #0d0d0de5;
            --pluto-dark-gray-l2-85: #0d0d0dd8;
            --pluto-dark-gray-l2-80: #0d0d0dcc;
            --pluto-dark-gray-l2-75: #0d0d0dbf;
            --pluto-dark-gray-l2-70: #0d0d0db2;
            --pluto-dark-gray-l2-65: #0d0d0da5;
            --pluto-dark-gray-l2-60: #0d0d0d99;
            --pluto-dark-gray-l2-55: #0d0d0d8c;
            --pluto-dark-gray-l2-50: #0d0d0d7f;
            --pluto-dark-gray-l2-45: #0d0d0d72;
            --pluto-dark-gray-l2-40: #0d0d0d66;
            --pluto-dark-gray-l2-35: #0d0d0d59;
            --pluto-dark-gray-l2-30: #0d0d0d4c;
            --pluto-dark-gray-l2-25: #0d0d0d3f;
            --pluto-dark-gray-l2-20: #0d0d0d33;
            --pluto-dark-gray-l2-15: #0d0d0d26;
            --pluto-dark-gray-l2-10: #0d0d0d19;
            --pluto-dark-gray-l2-5: #0d0d0d0c;
            --pluto-dark-gray-l3: #191919;
            --pluto-dark-gray-l3-95: #191919f2;
            --pluto-dark-gray-l3-90: #191919e5;
            --pluto-dark-gray-l3-85: #191919d8;
            --pluto-dark-gray-l3-80: #191919cc;
            --pluto-dark-gray-l3-75: #191919bf;
            --pluto-dark-gray-l3-70: #191919b2;
            --pluto-dark-gray-l3-65: #191919a5;
            --pluto-dark-gray-l3-60: #19191999;
            --pluto-dark-gray-l3-55: #1919198c;
            --pluto-dark-gray-l3-50: #1919197f;
            --pluto-dark-gray-l3-45: #19191972;
            --pluto-dark-gray-l3-40: #19191966;
            --pluto-dark-gray-l3-35: #19191959;
            --pluto-dark-gray-l3-30: #1919194c;
            --pluto-dark-gray-l3-25: #1919193f;
            --pluto-dark-gray-l3-20: #19191933;
            --pluto-dark-gray-l3-15: #19191926;
            --pluto-dark-gray-l3-10: #19191919;
            --pluto-dark-gray-l3-5: #1919190c;
            --pluto-dark-gray-l4: #242424;
            --pluto-dark-gray-l5: #434343;
            --pluto-dark-gray-l5-95: #434343f2;
            --pluto-dark-gray-l5-90: #434343e5;
            --pluto-dark-gray-l5-85: #434343d8;
            --pluto-dark-gray-l5-80: #434343cc;
            --pluto-dark-gray-l5-75: #434343bf;
            --pluto-dark-gray-l5-70: #434343b2;
            --pluto-dark-gray-l5-65: #434343a5;
            --pluto-dark-gray-l5-60: #43434399;
            --pluto-dark-gray-l5-55: #4343438c;
            --pluto-dark-gray-l5-50: #4343437f;
            --pluto-dark-gray-l5-45: #43434372;
            --pluto-dark-gray-l5-40: #43434366;
            --pluto-dark-gray-l5-35: #43434359;
            --pluto-dark-gray-l5-30: #4343434c;
            --pluto-dark-gray-l5-25: #4343433f;
            --pluto-dark-gray-l5-20: #43434333;
            --pluto-dark-gray-l5-15: #43434326;
            --pluto-dark-gray-l5-10: #43434319;
            --pluto-dark-gray-l5-5: #4343430c;
            --pluto-dark-gray-l6: #646464;
            --pluto-dark-gray-l6-95: #646464f2;
            --pluto-dark-gray-l6-90: #646464e5;
            --pluto-dark-gray-l6-85: #646464d8;
            --pluto-dark-gray-l6-80: #646464cc;
            --pluto-dark-gray-l6-75: #646464bf;
            --pluto-dark-gray-l6-70: #646464b2;
            --pluto-dark-gray-l6-65: #646464a5;
            --pluto-dark-gray-l6-60: #64646499;
            --pluto-dark-gray-l6-55: #6464648c;
            --pluto-dark-gray-l6-50: #6464647f;
            --pluto-dark-gray-l6-45: #64646472;
            --pluto-dark-gray-l6-40: #64646466;
            --pluto-dark-gray-l6-35: #64646459;
            --pluto-dark-gray-l6-30: #6464644c;
            --pluto-dark-gray-l6-25: #6464643f;
            --pluto-dark-gray-l6-20: #64646433;
            --pluto-dark-gray-l6-15: #64646426;
            --pluto-dark-gray-l6-10: #64646419;
            --pluto-dark-gray-l6-5: #6464640c;
            --pluto-dark-gray-l7: #8a8a8a;
            --pluto-dark-gray-l7-95: #8a8a8af2;
            --pluto-dark-gray-l7-90: #8a8a8ae5;
            --pluto-dark-gray-l7-85: #8a8a8ad8;
            --pluto-dark-gray-l7-80: #8a8a8acc;
            --pluto-dark-gray-l7-75: #8a8a8abf;
            --pluto-dark-gray-l7-70: #8a8a8ab2;
            --pluto-dark-gray-l7-65: #8a8a8aa5;
            --pluto-dark-gray-l7-60: #8a8a8a99;
            --pluto-dark-gray-l7-55: #8a8a8a8c;
            --pluto-dark-gray-l7-50: #8a8a8a7f;
            --pluto-dark-gray-l7-45: #8a8a8a72;
            --pluto-dark-gray-l7-40: #8a8a8a66;
            --pluto-dark-gray-l7-35: #8a8a8a59;
            --pluto-dark-gray-l7-30: #8a8a8a4c;
            --pluto-dark-gray-l7-25: #8a8a8a3f;
            --pluto-dark-gray-l7-20: #8a8a8a33;
            --pluto-dark-gray-l7-15: #8a8a8a26;
            --pluto-dark-gray-l7-10: #8a8a8a19;
            --pluto-dark-gray-l7-5: #8a8a8a0c;
            --pluto-dark-gray-l8: #afafaf;
            --pluto-dark-gray-l9: #d5d5d5;
            --pluto-dark-gray-l9-95: #d5d5d5f2;
            --pluto-dark-gray-l9-90: #d5d5d5e5;
            --pluto-dark-gray-l9-85: #d5d5d5d8;
            --pluto-dark-gray-l9-80: #d5d5d5cc;
            --pluto-dark-gray-l9-75: #d5d5d5bf;
            --pluto-dark-gray-l9-70: #d5d5d5b2;
            --pluto-dark-gray-l9-65: #d5d5d5a5;
            --pluto-dark-gray-l9-60: #d5d5d599;
            --pluto-dark-gray-l9-55: #d5d5d58c;
            --pluto-dark-gray-l9-50: #d5d5d57f;
            --pluto-dark-gray-l9-45: #d5d5d572;
            --pluto-dark-gray-l9-40: #d5d5d566;
            --pluto-dark-gray-l9-35: #d5d5d559;
            --pluto-dark-gray-l9-30: #d5d5d54c;
            --pluto-dark-gray-l9-25: #d5d5d53f;
            --pluto-dark-gray-l9-20: #d5d5d533;
            --pluto-dark-gray-l9-15: #d5d5d526;
            --pluto-dark-gray-l9-10: #d5d5d519;
            --pluto-dark-gray-l9-5: #d5d5d50c;
            --pluto-dark-gray-l10: #fdfdfd;
            --pluto-dark-logo-color: var(--pluto-text-color);
            --pluto-dark-error-m1: #c30912;
            --pluto-dark-error-z: #f5242e;
            --pluto-dark-error-z-95: #f5242ef2;
            --pluto-dark-error-z-90: #f5242ee5;
            --pluto-dark-error-z-85: #f5242ed8;
            --pluto-dark-error-z-80: #f5242ecc;
            --pluto-dark-error-z-75: #f5242ebf;
            --pluto-dark-error-z-70: #f5242eb2;
            --pluto-dark-error-z-65: #f5242ea5;
            --pluto-dark-error-z-60: #f5242e99;
            --pluto-dark-error-z-55: #f5242e8c;
            --pluto-dark-error-z-50: #f5242e7f;
            --pluto-dark-error-z-45: #f5242e72;
            --pluto-dark-error-z-40: #f5242e66;
            --pluto-dark-error-z-35: #f5242e59;
            --pluto-dark-error-z-30: #f5242e4c;
            --pluto-dark-error-z-25: #f5242e3f;
            --pluto-dark-error-z-20: #f5242e33;
            --pluto-dark-error-z-15: #f5242e26;
            --pluto-dark-error-z-10: #f5242e19;
            --pluto-dark-error-z-5: #f5242e0c;
            --pluto-dark-error-p1: #f7555d;
            --pluto-dark-warning-m1: #ccc500;
            --pluto-dark-warning-z: #fff700;
            --pluto-dark-warning-z-95: #fff700f2;
            --pluto-dark-warning-z-90: #fff700e5;
            --pluto-dark-warning-z-85: #fff700d8;
            --pluto-dark-warning-z-80: #fff700cc;
            --pluto-dark-warning-z-75: #fff700bf;
            --pluto-dark-warning-z-70: #fff700b2;
            --pluto-dark-warning-z-65: #fff700a5;
            --pluto-dark-warning-z-60: #fff70099;
            --pluto-dark-warning-z-55: #fff7008c;
            --pluto-dark-warning-z-50: #fff7007f;
            --pluto-dark-warning-z-45: #fff70072;
            --pluto-dark-warning-z-40: #fff70066;
            --pluto-dark-warning-z-35: #fff70059;
            --pluto-dark-warning-z-30: #fff7004c;
            --pluto-dark-warning-z-25: #fff7003f;
            --pluto-dark-warning-z-20: #fff70033;
            --pluto-dark-warning-z-15: #fff70026;
            --pluto-dark-warning-z-10: #fff70019;
            --pluto-dark-warning-z-5: #fff7000c;
            --pluto-dark-warning-p1: #fff94d;
            --pluto-dark-success-m1: #38b261;
            --pluto-dark-success-z: #50c878;
            --pluto-dark-success-z-95: #50c878f2;
            --pluto-dark-success-z-90: #50c878e5;
            --pluto-dark-success-z-85: #50c878d8;
            --pluto-dark-success-z-80: #50c878cc;
            --pluto-dark-success-z-75: #50c878bf;
            --pluto-dark-success-z-70: #50c878b2;
            --pluto-dark-success-z-65: #50c878a5;
            --pluto-dark-success-z-60: #50c87899;
            --pluto-dark-success-z-55: #50c8788c;
            --pluto-dark-success-z-50: #50c8787f;
            --pluto-dark-success-z-45: #50c87872;
            --pluto-dark-success-z-40: #50c87866;
            --pluto-dark-success-z-35: #50c87859;
            --pluto-dark-success-z-30: #50c8784c;
            --pluto-dark-success-z-25: #50c8783f;
            --pluto-dark-success-z-20: #50c87833;
            --pluto-dark-success-z-15: #50c87826;
            --pluto-dark-success-z-10: #50c87819;
            --pluto-dark-success-z-5: #50c8780c;
            --pluto-dark-success-p1: #73d393;
            --pluto-dark-white: #ffffff;
            --pluto-dark-white-rgb: 255, 255, 255;
            --pluto-dark-black: #000000;
            --pluto-dark-black-rgb: 0, 0, 0;
            --pluto-dark-text-color: #d5d5d5;
            --pluto-dark-text-color-rgb: 213, 213, 213;
            --pluto-dark-text-on-primary: #d5d5d5;
            --pluto-dark-border-color: #191919;

            --pluto-text-on-primary: #ededed;

            @media (prefers-color-scheme: dark) {
                --pluto-primary-m1: #164fa0;
                --pluto-primary-m1-rgb: 22, 79, 160;
                --pluto-primary-z: #3774d0;
                --pluto-primary-z-rgb: 55, 116, 208;
                --pluto-primary-p1: #5e94ee;
                --pluto-primary-p1-rgb: 94, 148, 238;
                --pluto-primary-z-95: #3774d0f2;
                --pluto-primary-z-90: #3774d0e5;
                --pluto-primary-z-85: #3774d0d8;
                --pluto-primary-z-80: #3774d0cc;
                --pluto-primary-z-75: #3774d0bf;
                --pluto-primary-z-70: #3774d0b2;
                --pluto-primary-z-65: #3774d0a5;
                --pluto-primary-z-60: #3774d099;
                --pluto-primary-z-55: #3774d08c;
                --pluto-primary-z-50: #3774d07f;
                --pluto-primary-z-45: #3774d072;
                --pluto-primary-z-40: #3774d066;
                --pluto-primary-z-35: #3774d059;
                --pluto-primary-z-30: #3774d04c;
                --pluto-primary-z-25: #3774d03f;
                --pluto-primary-z-20: #3774d033;
                --pluto-primary-z-15: #3774d026;
                --pluto-primary-z-10: #3774d019;
                --pluto-primary-z-5: #3774d00c;
                --pluto-secondary-m1: #38b261;
                --pluto-secondary-z: #50c878;
                --pluto-secondary-p1: #73d393;
                --pluto-secondary-z-95: #50c878f2;
                --pluto-secondary-z-90: #50c878e5;
                --pluto-secondary-z-85: #50c878d8;
                --pluto-secondary-z-80: #50c878cc;
                --pluto-secondary-z-75: #50c878bf;
                --pluto-secondary-z-70: #50c878b2;
                --pluto-secondary-z-65: #50c878a5;
                --pluto-secondary-z-60: #50c87899;
                --pluto-secondary-z-55: #50c8788c;
                --pluto-secondary-z-50: #50c8787f;
                --pluto-secondary-z-45: #50c87872;
                --pluto-secondary-z-40: #50c87866;
                --pluto-secondary-z-35: #50c87859;
                --pluto-secondary-z-30: #50c8784c;
                --pluto-secondary-z-25: #50c8783f;
                --pluto-secondary-z-20: #50c87833;
                --pluto-secondary-z-15: #50c87826;
                --pluto-secondary-z-10: #50c87819;
                --pluto-secondary-z-5: #50c8780c;
                --pluto-gray-l0: #020202;
                --pluto-gray-l0-rgb: 2, 2, 2;
                --pluto-gray-l0-95: #020202f2;
                --pluto-gray-l0-90: #020202e5;
                --pluto-gray-l0-85: #020202d8;
                --pluto-gray-l0-80: #020202cc;
                --pluto-gray-l0-75: #020202bf;
                --pluto-gray-l0-70: #020202b2;
                --pluto-gray-l0-65: #020202a5;
                --pluto-gray-l0-60: #02020299;
                --pluto-gray-l0-55: #0202028c;
                --pluto-gray-l0-50: #0202027f;
                --pluto-gray-l0-45: #02020272;
                --pluto-gray-l0-40: #02020266;
                --pluto-gray-l0-35: #02020259;
                --pluto-gray-l0-30: #0202024c;
                --pluto-gray-l0-25: #0202023f;
                --pluto-gray-l0-20: #02020233;
                --pluto-gray-l0-15: #02020226;
                --pluto-gray-l0-10: #02020219;
                --pluto-gray-l0-5: #0202020c;
                --pluto-gray-l1: #060606;
                --pluto-gray-l1-95: #060606f2;
                --pluto-gray-l1-90: #060606e5;
                --pluto-gray-l1-85: #060606d8;
                --pluto-gray-l1-80: #060606cc;
                --pluto-gray-l1-75: #060606bf;
                --pluto-gray-l1-70: #060606b2;
                --pluto-gray-l1-65: #060606a5;
                --pluto-gray-l1-60: #06060699;
                --pluto-gray-l1-55: #0606068c;
                --pluto-gray-l1-50: #0606067f;
                --pluto-gray-l1-45: #06060672;
                --pluto-gray-l1-40: #06060666;
                --pluto-gray-l1-35: #06060659;
                --pluto-gray-l1-30: #0606064c;
                --pluto-gray-l1-25: #0606063f;
                --pluto-gray-l1-20: #06060633;
                --pluto-gray-l1-15: #06060626;
                --pluto-gray-l1-10: #06060619;
                --pluto-gray-l1-5: #0606060c;
                --pluto-gray-l2: #0d0d0d;
                --pluto-gray-l2-95: #0d0d0df2;
                --pluto-gray-l2-90: #0d0d0de5;
                --pluto-gray-l2-85: #0d0d0dd8;
                --pluto-gray-l2-80: #0d0d0dcc;
                --pluto-gray-l2-75: #0d0d0dbf;
                --pluto-gray-l2-70: #0d0d0db2;
                --pluto-gray-l2-65: #0d0d0da5;
                --pluto-gray-l2-60: #0d0d0d99;
                --pluto-gray-l2-55: #0d0d0d8c;
                --pluto-gray-l2-50: #0d0d0d7f;
                --pluto-gray-l2-45: #0d0d0d72;
                --pluto-gray-l2-40: #0d0d0d66;
                --pluto-gray-l2-35: #0d0d0d59;
                --pluto-gray-l2-30: #0d0d0d4c;
                --pluto-gray-l2-25: #0d0d0d3f;
                --pluto-gray-l2-20: #0d0d0d33;
                --pluto-gray-l2-15: #0d0d0d26;
                --pluto-gray-l2-10: #0d0d0d19;
                --pluto-gray-l2-5: #0d0d0d0c;
                --pluto-gray-l3: #191919;
                --pluto-gray-l3-95: #191919f2;
                --pluto-gray-l3-90: #191919e5;
                --pluto-gray-l3-85: #191919d8;
                --pluto-gray-l3-80: #191919cc;
                --pluto-gray-l3-75: #191919bf;
                --pluto-gray-l3-70: #191919b2;
                --pluto-gray-l3-65: #191919a5;
                --pluto-gray-l3-60: #19191999;
                --pluto-gray-l3-55: #1919198c;
                --pluto-gray-l3-50: #1919197f;
                --pluto-gray-l3-45: #19191972;
                --pluto-gray-l3-40: #19191966;
                --pluto-gray-l3-35: #19191959;
                --pluto-gray-l3-30: #1919194c;
                --pluto-gray-l3-25: #1919193f;
                --pluto-gray-l3-20: #19191933;
                --pluto-gray-l3-15: #19191926;
                --pluto-gray-l3-10: #19191919;
                --pluto-gray-l3-5: #1919190c;
                --pluto-gray-l4: #242424;
                --pluto-gray-l5: #434343;
                --pluto-gray-l5-95: #434343f2;
                --pluto-gray-l5-90: #434343e5;
                --pluto-gray-l5-85: #434343d8;
                --pluto-gray-l5-80: #434343cc;
                --pluto-gray-l5-75: #434343bf;
                --pluto-gray-l5-70: #434343b2;
                --pluto-gray-l5-65: #434343a5;
                --pluto-gray-l5-60: #43434399;
                --pluto-gray-l5-55: #4343438c;
                --pluto-gray-l5-50: #4343437f;
                --pluto-gray-l5-45: #43434372;
                --pluto-gray-l5-40: #43434366;
                --pluto-gray-l5-35: #43434359;
                --pluto-gray-l5-30: #4343434c;
                --pluto-gray-l5-25: #4343433f;
                --pluto-gray-l5-20: #43434333;
                --pluto-gray-l5-15: #43434326;
                --pluto-gray-l5-10: #43434319;
                --pluto-gray-l5-5: #4343430c;
                --pluto-gray-l6: #646464;
                --pluto-gray-l6-95: #646464f2;
                --pluto-gray-l6-90: #646464e5;
                --pluto-gray-l6-85: #646464d8;
                --pluto-gray-l6-80: #646464cc;
                --pluto-gray-l6-75: #646464bf;
                --pluto-gray-l6-70: #646464b2;
                --pluto-gray-l6-65: #646464a5;
                --pluto-gray-l6-60: #64646499;
                --pluto-gray-l6-55: #6464648c;
                --pluto-gray-l6-50: #6464647f;
                --pluto-gray-l6-45: #64646472;
                --pluto-gray-l6-40: #64646466;
                --pluto-gray-l6-35: #64646459;
                --pluto-gray-l6-30: #6464644c;
                --pluto-gray-l6-25: #6464643f;
                --pluto-gray-l6-20: #64646433;
                --pluto-gray-l6-15: #64646426;
                --pluto-gray-l6-10: #64646419;
                --pluto-gray-l6-5: #6464640c;
                --pluto-gray-l7: #8a8a8a;
                --pluto-gray-l7-95: #8a8a8af2;
                --pluto-gray-l7-90: #8a8a8ae5;
                --pluto-gray-l7-85: #8a8a8ad8;
                --pluto-gray-l7-80: #8a8a8acc;
                --pluto-gray-l7-75: #8a8a8abf;
                --pluto-gray-l7-70: #8a8a8ab2;
                --pluto-gray-l7-65: #8a8a8aa5;
                --pluto-gray-l7-60: #8a8a8a99;
                --pluto-gray-l7-55: #8a8a8a8c;
                --pluto-gray-l7-50: #8a8a8a7f;
                --pluto-gray-l7-45: #8a8a8a72;
                --pluto-gray-l7-40: #8a8a8a66;
                --pluto-gray-l7-35: #8a8a8a59;
                --pluto-gray-l7-30: #8a8a8a4c;
                --pluto-gray-l7-25: #8a8a8a3f;
                --pluto-gray-l7-20: #8a8a8a33;
                --pluto-gray-l7-15: #8a8a8a26;
                --pluto-gray-l7-10: #8a8a8a19;
                --pluto-gray-l7-5: #8a8a8a0c;
                --pluto-gray-l8: #afafaf;
                --pluto-gray-l9: #d5d5d5;
                --pluto-gray-l9-95: #d5d5d5f2;
                --pluto-gray-l9-90: #d5d5d5e5;
                --pluto-gray-l9-85: #d5d5d5d8;
                --pluto-gray-l9-80: #d5d5d5cc;
                --pluto-gray-l9-75: #d5d5d5bf;
                --pluto-gray-l9-70: #d5d5d5b2;
                --pluto-gray-l9-65: #d5d5d5a5;
                --pluto-gray-l9-60: #d5d5d599;
                --pluto-gray-l9-55: #d5d5d58c;
                --pluto-gray-l9-50: #d5d5d57f;
                --pluto-gray-l9-45: #d5d5d572;
                --pluto-gray-l9-40: #d5d5d566;
                --pluto-gray-l9-35: #d5d5d559;
                --pluto-gray-l9-30: #d5d5d54c;
                --pluto-gray-l9-25: #d5d5d53f;
                --pluto-gray-l9-20: #d5d5d533;
                --pluto-gray-l9-15: #d5d5d526;
                --pluto-gray-l9-10: #d5d5d519;
                --pluto-gray-l9-5: #d5d5d50c;
                --pluto-gray-l10: #fdfdfd;
                --pluto-logo-color: var(--pluto-text-color);
                --pluto-error-m1: #c30912;
                --pluto-error-z: #f5242e;
                --pluto-error-z-95: #f5242ef2;
                --pluto-error-z-90: #f5242ee5;
                --pluto-error-z-85: #f5242ed8;
                --pluto-error-z-80: #f5242ecc;
                --pluto-error-z-75: #f5242ebf;
                --pluto-error-z-70: #f5242eb2;
                --pluto-error-z-65: #f5242ea5;
                --pluto-error-z-60: #f5242e99;
                --pluto-error-z-55: #f5242e8c;
                --pluto-error-z-50: #f5242e7f;
                --pluto-error-z-45: #f5242e72;
                --pluto-error-z-40: #f5242e66;
                --pluto-error-z-35: #f5242e59;
                --pluto-error-z-30: #f5242e4c;
                --pluto-error-z-25: #f5242e3f;
                --pluto-error-z-20: #f5242e33;
                --pluto-error-z-15: #f5242e26;
                --pluto-error-z-10: #f5242e19;
                --pluto-error-z-5: #f5242e0c;
                --pluto-error-p1: #f7555d;
                --pluto-warning-m1: #ccc500;
                --pluto-warning-z: #fff700;
                --pluto-warning-z-95: #fff700f2;
                --pluto-warning-z-90: #fff700e5;
                --pluto-warning-z-85: #fff700d8;
                --pluto-warning-z-80: #fff700cc;
                --pluto-warning-z-75: #fff700bf;
                --pluto-warning-z-70: #fff700b2;
                --pluto-warning-z-65: #fff700a5;
                --pluto-warning-z-60: #fff70099;
                --pluto-warning-z-55: #fff7008c;
                --pluto-warning-z-50: #fff7007f;
                --pluto-warning-z-45: #fff70072;
                --pluto-warning-z-40: #fff70066;
                --pluto-warning-z-35: #fff70059;
                --pluto-warning-z-30: #fff7004c;
                --pluto-warning-z-25: #fff7003f;
                --pluto-warning-z-20: #fff70033;
                --pluto-warning-z-15: #fff70026;
                --pluto-warning-z-10: #fff70019;
                --pluto-warning-z-5: #fff7000c;
                --pluto-warning-p1: #fff94d;
                --pluto-success-m1: #38b261;
                --pluto-success-z: #50c878;
                --pluto-success-z-95: #50c878f2;
                --pluto-success-z-90: #50c878e5;
                --pluto-success-z-85: #50c878d8;
                --pluto-success-z-80: #50c878cc;
                --pluto-success-z-75: #50c878bf;
                --pluto-success-z-70: #50c878b2;
                --pluto-success-z-65: #50c878a5;
                --pluto-success-z-60: #50c87899;
                --pluto-success-z-55: #50c8788c;
                --pluto-success-z-50: #50c8787f;
                --pluto-success-z-45: #50c87872;
                --pluto-success-z-40: #50c87866;
                --pluto-success-z-35: #50c87859;
                --pluto-success-z-30: #50c8784c;
                --pluto-success-z-25: #50c8783f;
                --pluto-success-z-20: #50c87833;
                --pluto-success-z-15: #50c87826;
                --pluto-success-z-10: #50c87819;
                --pluto-success-z-5: #50c8780c;
                --pluto-success-p1: #73d393;
                --pluto-white: #ffffff;
                --pluto-white-rgb: 255, 255, 255;
                --pluto-black: #000000;
                --pluto-black-rgb: 0, 0, 0;
                --pluto-text-color: #d5d5d5;
                --pluto-text-color-rgb: 213, 213, 213;
                --pluto-text-on-primary: #d5d5d5;
                --pluto-border-color: #191919;
                --pluto-theme-name: Synnax Dark;
                --pluto-theme-key: synnax-dark;
            }

            @media (prefers-color-scheme: light) {
                --pluto-theme-name: Synnax Light;
                --pluto-theme-key: synnax-light;
                --pluto-primary-m1: #164fa0;
                --pluto-primary-m1-rgb: 22, 79, 160;
                --pluto-primary-z: #3774d0;
                --pluto-primary-z-rgb: 55, 116, 208;
                --pluto-primary-p1: #5e94ee;
                --pluto-primary-p1-rgb: 94, 148, 238;
                --pluto-primary-z-95: #3774d0f2;
                --pluto-primary-z-90: #3774d0e5;
                --pluto-primary-z-85: #3774d0d8;
                --pluto-primary-z-80: #3774d0cc;
                --pluto-primary-z-75: #3774d0bf;
                --pluto-primary-z-70: #3774d0b2;
                --pluto-primary-z-65: #3774d0a5;
                --pluto-primary-z-60: #3774d099;
                --pluto-primary-z-55: #3774d08c;
                --pluto-primary-z-50: #3774d07f;
                --pluto-primary-z-45: #3774d072;
                --pluto-primary-z-40: #3774d066;
                --pluto-primary-z-35: #3774d059;
                --pluto-primary-z-30: #3774d04c;
                --pluto-primary-z-25: #3774d03f;
                --pluto-primary-z-20: #3774d033;
                --pluto-primary-z-15: #3774d026;
                --pluto-primary-z-10: #3774d019;
                --pluto-primary-z-5: #3774d00c;
                --pluto-secondary-m1: #38b261;
                --pluto-secondary-z: #50c878;
                --pluto-secondary-p1: #73d393;
                --pluto-secondary-z-95: #50c878f2;
                --pluto-secondary-z-90: #50c878e5;
                --pluto-secondary-z-85: #50c878d8;
                --pluto-secondary-z-80: #50c878cc;
                --pluto-secondary-z-75: #50c878bf;
                --pluto-secondary-z-70: #50c878b2;
                --pluto-secondary-z-65: #50c878a5;
                --pluto-secondary-z-60: #50c87899;
                --pluto-secondary-z-55: #50c8788c;
                --pluto-secondary-z-50: #50c8787f;
                --pluto-secondary-z-45: #50c87872;
                --pluto-secondary-z-40: #50c87866;
                --pluto-secondary-z-35: #50c87859;
                --pluto-secondary-z-30: #50c8784c;
                --pluto-secondary-z-25: #50c8783f;
                --pluto-secondary-z-20: #50c87833;
                --pluto-secondary-z-15: #50c87826;
                --pluto-secondary-z-10: #50c87819;
                --pluto-secondary-z-5: #50c8780c;
                --pluto-gray-l0: #fcfcfc;
                --pluto-gray-l0-rgb: 252, 252, 252;
                --pluto-gray-l0-95: #fcfcfcf2;
                --pluto-gray-l0-90: #fcfcfce5;
                --pluto-gray-l0-85: #fcfcfcd8;
                --pluto-gray-l0-80: #fcfcfccc;
                --pluto-gray-l0-75: #fcfcfcbf;
                --pluto-gray-l0-70: #fcfcfcb2;
                --pluto-gray-l0-65: #fcfcfca5;
                --pluto-gray-l0-60: #fcfcfc99;
                --pluto-gray-l0-55: #fcfcfc8c;
                --pluto-gray-l0-50: #fcfcfc7f;
                --pluto-gray-l0-45: #fcfcfc72;
                --pluto-gray-l0-40: #fcfcfc66;
                --pluto-gray-l0-35: #fcfcfc59;
                --pluto-gray-l0-30: #fcfcfc4c;
                --pluto-gray-l0-25: #fcfcfc3f;
                --pluto-gray-l0-20: #fcfcfc33;
                --pluto-gray-l0-15: #fcfcfc26;
                --pluto-gray-l0-10: #fcfcfc19;
                --pluto-gray-l0-5: #fcfcfc0c;
                --pluto-gray-l1: #f9f9f9;
                --pluto-gray-l1-95: #f9f9f9f2;
                --pluto-gray-l1-90: #f9f9f9e5;
                --pluto-gray-l1-85: #f9f9f9d8;
                --pluto-gray-l1-80: #f9f9f9cc;
                --pluto-gray-l1-75: #f9f9f9bf;
                --pluto-gray-l1-70: #f9f9f9b2;
                --pluto-gray-l1-65: #f9f9f9a5;
                --pluto-gray-l1-60: #f9f9f999;
                --pluto-gray-l1-55: #f9f9f98c;
                --pluto-gray-l1-50: #f9f9f97f;
                --pluto-gray-l1-45: #f9f9f972;
                --pluto-gray-l1-40: #f9f9f966;
                --pluto-gray-l1-35: #f9f9f959;
                --pluto-gray-l1-30: #f9f9f94c;
                --pluto-gray-l1-25: #f9f9f93f;
                --pluto-gray-l1-20: #f9f9f933;
                --pluto-gray-l1-15: #f9f9f926;
                --pluto-gray-l1-10: #f9f9f919;
                --pluto-gray-l1-5: #f9f9f90c;
                --pluto-gray-l2: #f4f4f4;
                --pluto-gray-l2-95: #f4f4f4f2;
                --pluto-gray-l2-90: #f4f4f4e5;
                --pluto-gray-l2-85: #f4f4f4d8;
                --pluto-gray-l2-80: #f4f4f4cc;
                --pluto-gray-l2-75: #f4f4f4bf;
                --pluto-gray-l2-70: #f4f4f4b2;
                --pluto-gray-l2-65: #f4f4f4a5;
                --pluto-gray-l2-60: #f4f4f499;
                --pluto-gray-l2-55: #f4f4f48c;
                --pluto-gray-l2-50: #f4f4f47f;
                --pluto-gray-l2-45: #f4f4f472;
                --pluto-gray-l2-40: #f4f4f466;
                --pluto-gray-l2-35: #f4f4f459;
                --pluto-gray-l2-30: #f4f4f44c;
                --pluto-gray-l2-25: #f4f4f43f;
                --pluto-gray-l2-20: #f4f4f433;
                --pluto-gray-l2-15: #f4f4f426;
                --pluto-gray-l2-10: #f4f4f419;
                --pluto-gray-l2-5: #f4f4f40c;
                --pluto-gray-l3: #ededed;
                --pluto-gray-l3-95: #edededf2;
                --pluto-gray-l3-90: #ededede5;
                --pluto-gray-l3-85: #edededd8;
                --pluto-gray-l3-80: #edededcc;
                --pluto-gray-l3-75: #edededbf;
                --pluto-gray-l3-70: #edededb2;
                --pluto-gray-l3-65: #edededa5;
                --pluto-gray-l3-60: #ededed99;
                --pluto-gray-l3-55: #ededed8c;
                --pluto-gray-l3-50: #ededed7f;
                --pluto-gray-l3-45: #ededed72;
                --pluto-gray-l3-40: #ededed66;
                --pluto-gray-l3-35: #ededed59;
                --pluto-gray-l3-30: #ededed4c;
                --pluto-gray-l3-25: #ededed3f;
                --pluto-gray-l3-20: #ededed33;
                --pluto-gray-l3-15: #ededed26;
                --pluto-gray-l3-10: #ededed19;
                --pluto-gray-l3-5: #ededed0c;
                --pluto-gray-l4: #d9d9d9;
                --pluto-gray-l5: #adadad;
                --pluto-gray-l5-95: #adadadf2;
                --pluto-gray-l5-90: #adadade5;
                --pluto-gray-l5-85: #adadadd8;
                --pluto-gray-l5-80: #adadadcc;
                --pluto-gray-l5-75: #adadadbf;
                --pluto-gray-l5-70: #adadadb2;
                --pluto-gray-l5-65: #adadada5;
                --pluto-gray-l5-60: #adadad99;
                --pluto-gray-l5-55: #adadad8c;
                --pluto-gray-l5-50: #adadad7f;
                --pluto-gray-l5-45: #adadad72;
                --pluto-gray-l5-40: #adadad66;
                --pluto-gray-l5-35: #adadad59;
                --pluto-gray-l5-30: #adadad4c;
                --pluto-gray-l5-25: #adadad3f;
                --pluto-gray-l5-20: #adadad33;
                --pluto-gray-l5-15: #adadad26;
                --pluto-gray-l5-10: #adadad19;
                --pluto-gray-l5-5: #adadad0c;
                --pluto-gray-l6: #878787;
                --pluto-gray-l6-95: #878787f2;
                --pluto-gray-l6-90: #878787e5;
                --pluto-gray-l6-85: #878787d8;
                --pluto-gray-l6-80: #878787cc;
                --pluto-gray-l6-75: #878787bf;
                --pluto-gray-l6-70: #878787b2;
                --pluto-gray-l6-65: #878787a5;
                --pluto-gray-l6-60: #87878799;
                --pluto-gray-l6-55: #8787878c;
                --pluto-gray-l6-50: #8787877f;
                --pluto-gray-l6-45: #87878772;
                --pluto-gray-l6-40: #87878766;
                --pluto-gray-l6-35: #87878759;
                --pluto-gray-l6-30: #8787874c;
                --pluto-gray-l6-25: #8787873f;
                --pluto-gray-l6-20: #87878733;
                --pluto-gray-l6-15: #87878726;
                --pluto-gray-l6-10: #87878719;
                --pluto-gray-l6-5: #8787870c;
                --pluto-gray-l7: #616161;
                --pluto-gray-l7-95: #616161f2;
                --pluto-gray-l7-90: #616161e5;
                --pluto-gray-l7-85: #616161d8;
                --pluto-gray-l7-80: #616161cc;
                --pluto-gray-l7-75: #616161bf;
                --pluto-gray-l7-70: #616161b2;
                --pluto-gray-l7-65: #616161a5;
                --pluto-gray-l7-60: #61616199;
                --pluto-gray-l7-55: #6161618c;
                --pluto-gray-l7-50: #6161617f;
                --pluto-gray-l7-45: #61616172;
                --pluto-gray-l7-40: #61616166;
                --pluto-gray-l7-35: #61616159;
                --pluto-gray-l7-30: #6161614c;
                --pluto-gray-l7-25: #6161613f;
                --pluto-gray-l7-20: #61616133;
                --pluto-gray-l7-15: #61616126;
                --pluto-gray-l7-10: #61616119;
                --pluto-gray-l7-5: #6161610c;
                --pluto-gray-l8: #404040;
                --pluto-gray-l9: #1c1c1c;
                --pluto-gray-l9-95: #1c1c1cf2;
                --pluto-gray-l9-90: #1c1c1ce5;
                --pluto-gray-l9-85: #1c1c1cd8;
                --pluto-gray-l9-80: #1c1c1ccc;
                --pluto-gray-l9-75: #1c1c1cbf;
                --pluto-gray-l9-70: #1c1c1cb2;
                --pluto-gray-l9-65: #1c1c1ca5;
                --pluto-gray-l9-60: #1c1c1c99;
                --pluto-gray-l9-55: #1c1c1c8c;
                --pluto-gray-l9-50: #1c1c1c7f;
                --pluto-gray-l9-45: #1c1c1c72;
                --pluto-gray-l9-40: #1c1c1c66;
                --pluto-gray-l9-35: #1c1c1c59;
                --pluto-gray-l9-30: #1c1c1c4c;
                --pluto-gray-l9-25: #1c1c1c3f;
                --pluto-gray-l9-20: #1c1c1c33;
                --pluto-gray-l9-15: #1c1c1c26;
                --pluto-gray-l9-10: #1c1c1c19;
                --pluto-gray-l9-5: #1c1c1c0c;
                --pluto-gray-l10: #050505;
                --pluto-logo-color: url(\#synnax-linear-gradient);
                --pluto-error-m1: #c30912;
                --pluto-error-z: #f5242e;
                --pluto-error-z-95: #f5242ef2;
                --pluto-error-z-90: #f5242ee5;
                --pluto-error-z-85: #f5242ed8;
                --pluto-error-z-80: #f5242ecc;
                --pluto-error-z-75: #f5242ebf;
                --pluto-error-z-70: #f5242eb2;
                --pluto-error-z-65: #f5242ea5;
                --pluto-error-z-60: #f5242e99;
                --pluto-error-z-55: #f5242e8c;
                --pluto-error-z-50: #f5242e7f;
                --pluto-error-z-45: #f5242e72;
                --pluto-error-z-40: #f5242e66;
                --pluto-error-z-35: #f5242e59;
                --pluto-error-z-30: #f5242e4c;
                --pluto-error-z-25: #f5242e3f;
                --pluto-error-z-20: #f5242e33;
                --pluto-error-z-15: #f5242e26;
                --pluto-error-z-10: #f5242e19;
                --pluto-error-z-5: #f5242e0c;
                --pluto-error-p1: #f7555d;
                --pluto-dark-warning-m1: #ccb400;
                --pluto-warning-m1: #ccc500;
                --pluto-warning-z: #fff700;
                --pluto-warning-z-95: #fff700f2;
                --pluto-warning-z-90: #fff700e5;
                --pluto-warning-z-85: #fff700d8;
                --pluto-warning-z-80: #fff700cc;
                --pluto-warning-z-75: #fff700bf;
                --pluto-warning-z-70: #fff700b2;
                --pluto-warning-z-65: #fff700a5;
                --pluto-warning-z-60: #fff70099;
                --pluto-warning-z-55: #fff7008c;
                --pluto-warning-z-50: #fff7007f;
                --pluto-warning-z-45: #fff70072;
                --pluto-warning-z-40: #fff70066;
                --pluto-warning-z-35: #fff70059;
                --pluto-warning-z-30: #fff7004c;
                --pluto-warning-z-25: #fff7003f;
                --pluto-warning-z-20: #fff70033;
                --pluto-warning-z-15: #fff70026;
                --pluto-warning-z-10: #fff70019;
                --pluto-warning-z-5: #fff7000c;
                --pluto-warning-p1: #fff94d;
                --pluto-success-m1: #38b261;
                --pluto-success-z: #50c878;
                --pluto-success-z-95: #50c878f2;
                --pluto-success-z-90: #50c878e5;
                --pluto-success-z-85: #50c878d8;
                --pluto-success-z-80: #50c878cc;
                --pluto-success-z-75: #50c878bf;
                --pluto-success-z-70: #50c878b2;
                --pluto-success-z-65: #50c878a5;
                --pluto-success-z-60: #50c87899;
                --pluto-success-z-55: #50c8788c;
                --pluto-success-z-50: #50c8787f;
                --pluto-success-z-45: #50c87872;
                --pluto-success-z-40: #50c87866;
                --pluto-success-z-35: #50c87859;
                --pluto-success-z-30: #50c8784c;
                --pluto-success-z-25: #50c8783f;
                --pluto-success-z-20: #50c87833;
                --pluto-success-z-15: #50c87826;
                --pluto-success-z-10: #50c87819;
                --pluto-success-z-5: #50c8780c;
                --pluto-success-p1: #73d393;
                --pluto-white: #ffffff;
                --pluto-white-rgb: 255, 255, 255;
                --pluto-black: #000000;
                --pluto-black-rgb: 0, 0, 0;
                --pluto-text-color: #1c1c1c;
                --pluto-text-color-rgb: 28, 28, 28;
                --pluto-text-on-primary: #fcfcfc;
                --pluto-border-color: #ededed;
            }
        }

        * {
            scroll-margin: 20rem;
            box-sizing: border-box;
        }

        body {
            height: fit-content !important;
            margin: 0;
        }

        main {
            position: relative;
            min-height: calc(100vh - 30rem);
            & > section {
                display: flex;
                flex-direction: row;
                margin: 0 auto;
                padding: 0 2rem;
                max-width: 1340px;
            }
        }

        nav {
            position: sticky;
            top: 22rem;
            height: 100%;
            & p,
            small {
                white-space: normal !important;
            }
        }
        .styled-scrollbar {
            &::-webkit-scrollbar {
                width: 1rem;
            }
            &::-webkit-scrollbar-thumb {
                background-color: var(--pluto-border-color);
                border-radius: 2px;
            }
        }

        a {
            color: var(--pluto-primary-p1);
            text-decoration: none;
        }

        a:hover:not(.pluto-btn) {
            text-decoration: underline;
        }

        li {
            margin: 0.5rem;
        }

        code:not(.astro-code code) {
            padding: 0.25rem 0.75rem;
            background: var(--pluto-gray-l2);
            border: var(--pluto-border);
            border-color: var(--pluto-gray-l3);
            border-radius: 0.5rem;
        }

        & code:not(:is(h1, h2, h3, h4, h5, h6) code) {
            font-size: var(--pluto-small-size);
            line-height: var(--pluto-small-line-height);
        }

        code {
            font-size: inherit;
            line-height: inherit;
            font-family: "Geist Mono";
            color: var(--pluto-text-color);
            border-radius: var(--pluto-border-radius);
        }

        .pluto-tabs-selector__btn--uneditable {
            padding: 0 3rem;

            .pluto-text-icon {
                gap: 1.5rem;
            }

            .pluto-text {
                margin: 0 !important;
            }
        }

        li {
            font-size: var(--pluto-p-size);
        }

        summary {
            width: max-content;

            &::marker {
                color: var(--pluto-text-color);
                font-family: var(--pluto-font-family);
                font-size: var(--pluto-p-size);
            }

            &:hover {
                cursor: pointer;
            }
        }

        table > :not(caption) > * {
            border-width: 1px 0;
            border-color: var(--pluto-border-color);
            border-style: solid;
        }

        table > :not(caption) > * > * {
            position: relative;
            border-width: 0 1px;
            padding: 1.25rem 1.5rem;
        }

        table td {
            font-size: var(--pluto-small-size);
            line-height: var(--pluto-small-line-height);
            vertical-align: baseline;
        }

        table tr {
            border-bottom: var(--pluto-border);
        }

        table thead th {
            padding: 1.5rem 1.5rem;
            font-weight: 600;
        }

        table thead tr {
            border: none;
            border-width: 2px;
        }

        table th {
            border-bottom: var(--pluto-border);
            text-align: start;
        }

        table {
            table-layout: auto;
            width: calc(100% - 4px);
            border-spacing: 0;
            background: transparent;
            border-collapse: collapse;
            overflow-x: auto;
            border-style: hidden;
        }

        article {
            h1,
            h3,
            h4,
            h5,
            h6,
            p,
            table {
                margin: 3rem 0;
            }

            video,
            img {
                margin: 5rem 0;
            }

            h2 {
                margin: 4rem 0;
            }
        }
    </style>
</html>
