/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-breadcrumb {
    color: inherit;
    & .pluto-text {
        font-weight: inherit;
        font-size: inherit;
        line-height: inherit;
    }

    &.pluto-breadcrumb--highlight-last {
        & > :not(:last-child) {
            color: var(--pluto-gray-l8);
            font-weight: 350;
        }
        & > :last-child {
            cursor: text;
            color: var(--pluto-gray-l11);
            pointer-events: none;
        }
    }

    &.pluto-breadcrumb--highlight-first {
        & > :first-child {
            color: var(--pluto-gray-l11);
        }
        & > :not(:first-child) {
            color: var(--pluto-gray-l8);
            font-weight: 350;
        }
    }

    & .pluto-breadcrumb__separator {
        color: var(--pluto-gray-l8);
        transform: scale(0.9);
    }
    & a.pluto-text {
        text-decoration: none;
        transition: color 0.1s ease-in-out;
        &:hover {
            text-decoration: none;
            color: var(--pluto-gray-l11);
        }
    }
}
