/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.console-nav__bar {
    .pluto-menu-item {
        position: relative;
        &.pluto--selected {
            background: var(--pluto-gray-l4);
            transition: background 0.3s;

            &::after {
                top: 0.5rem;
                height: calc(100% - 1rem);
                opacity: 1;
                transition: all 0.15s;
            }
        }
        &::after {
            content: "";
            position: absolute;
            width: 0.5rem;
            background: var(--pluto-primary-z);
            top: 50%;
            opacity: 0;
            height: 0;
            transition: all 0.15s;
        }
    }

    &.pluto--location-top {
        .synnax-logo {
            height: 3.5rem;
            margin-right: 1.5rem;
        }
    }

    &.pluto--location-left {
        .pluto-menu-item::after {
            left: -1.5rem;
            border-top-right-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;
        }
        .synnax-logo {
            width: 5rem;
        }
    }

    &.pluto--location-right .pluto-menu-item::after {
        right: -1.5rem;
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
    }

    .pluto-navbar__content {
        z-index: 2;
    }

    &.pluto--direction-x {
        padding-left: 3rem;
        padding-right: 1.5rem;
    }

    &.pluto--direction-y .pluto-navbar__content {
        padding: 2rem 0rem;
    }
}

.console--os-macos .console-nav__bar.pluto--direction-x {
    padding-left: 2rem;
}

.console--os-windows .console-nav__bar.pluto--direction-x,
.console-mosaic__bar.console-nav__bar.pluto--direction-x {
    padding-right: 1rem;
    padding-left: 2.5rem;
    & .synnax-logo {
        margin-right: 0.75rem;
    }
}

.console--os-windows .console-mosaic__bar.pluto--direction-x {
    padding-left: 1rem;
}

.console-mosaic__bar.console-nav__bar.pluto--direction-x {
    .pluto--start {
        justify-content: flex-end !important;
        flex-direction: row-reverse !important;
    }
    & .synnax-logo {
        display: none;
    }
}

.console-nav__drawer {
    overflow: hidden;
    box-shadow: var(--pluto-shadow-v1);
    opacity: 1;
    flex-shrink: 0;

    &.console--hover,
    &.pluto--hidden {
        &.pluto--location-bottom {
            transition: transform 0.15s linear;
        }
        &.pluto--location-left {
            transition:
                opacity 0.05s linear,
                transform 0.15s linear;
        }
        position: absolute;
        z-index: 200;
        &.pluto--location-bottom {
            bottom: 1rem;
            width: calc(100vw - 8rem - 1px);
            left: calc(8rem - 2px);
        }
        &.pluto--location-left {
            left: 8.5rem;
            top: 6rem;
            height: calc(100vh - 6rem - 0.5rem);
        }
    }
    &.pluto--hidden {
        pointer-events: none;
        &.pluto--location-bottom {
            transform: translateY(calc(100% + 3rem));
        }
        &.pluto--location-left {
            opacity: 0;
            transform: translateX(-2rem);
        }
    }
}

.console--os-windows {
    --top-left-edge-bar-width-large: 475px;
    --top-right-edge-bar-width-large: 500px;
    --top-left-edge-bar-width-medium: 290px;
    --top-right-edge-bar-width-medium: 450px;
    --top-left-edge-bar-width-small: fit-content;
    --top-right-edge-bar-width-small: fit-content;
}

.console--os-macos {
    --top-left-edge-bar-width-large: 450px;
    --top-right-edge-bar-width-large: 450px;
    --top-left-edge-bar-width-medium: 275px;
    --top-right-edge-bar-width-medium: 350px;
    --top-left-edge-bar-width-small: fit-content;
    --top-right-edge-bar-width-small: fit-content;
}

.console-nav__bar.pluto--location-top {
    --left-edge-bar-width: var(--top-left-edge-bar-width-large);
    --right-edge-bar-width: var(--top-right-edge-bar-width-large);

    & > .pluto--start {
        width: var(--left-edge-bar-width);
    }

    & > .pluto--end {
        width: var(--right-edge-bar-width);
    }
}

@media (max-width: 1400px) {
    .console-nav__bar.pluto--location-top {
        --left-edge-bar-width: var(--top-left-edge-bar-width-medium);
        --right-edge-bar-width: var(--top-right-edge-bar-width-medium);
    }
}

@media (max-width: 700px) {
    .console-nav__bar.pluto--location-top {
        --left-edge-bar-width: var(--top-left-edge-bar-width-small);
        --right-edge-bar-width: var(--top-right-edge-bar-width-small);
        & > .pluto--location-center {
            justify-content: start !important;
        }
    }
}
