/*
 * Copyright 2025 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.console-nav__bar {
    .pluto-menu-item {
        position: relative;
        &.pluto--selected {
            background: var(--pluto-gray-l3-80);
            transition: background 0.3s;

            &::after {
                top: 0.5rem;
                height: calc(100% - 1rem);
                opacity: 1;
                transition: all 0.15s;
            }
        }
        &::after {
            content: "";
            position: absolute;
            width: 0.5rem;
            background: var(--pluto-primary-z);
            top: 50%;
            opacity: 0;
            height: 0;
            transition: all 0.15s;
        }
    }

    &.pluto--top .synnax-logo {
        height: 3rem;
    }

    &.pluto--left {
        .pluto-menu-item::after {
            left: -1.5rem;
            border-top-right-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;
        }
        .synnax-logo {
            width: 5rem;
        }
    }

    &.pluto--right .pluto-menu-item::after {
        right: -1.5rem;
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
    }

    .pluto-navbar__content {
        z-index: 2;
    }

    &.pluto--x {
        padding-left: 3rem;
        padding-right: 1.5rem;
    }

    &.pluto--y .pluto-navbar__content {
        padding: 2rem 0rem;
    }
}

.console--os-macos .console-nav__bar.pluto--x {
    padding-left: 2rem;
}

.console--os-windows .console-nav__bar.pluto--x,
.console-mosaic__bar.console-nav__bar.pluto--x {
    padding-right: 1rem;
}

.console-nav__drawer {
    overflow: hidden;
    box-shadow: var(--pluto-shadow-v1);
    opacity: 1;
    flex-shrink: 0;

    &.console--hover,
    &.pluto--hidden {
        &.pluto--bottom {
            transition: transform 0.15s linear;
        }
        &.pluto--left {
            transition:
                opacity 0.05s linear,
                transform 0.15s linear;
        }
        position: absolute;
        z-index: 200;
        &.pluto--bottom {
            bottom: 1rem;
            width: calc(100vw - 8rem - 1px);
            left: calc(8rem - 2px);
        }
        &.pluto--left {
            left: 8.5rem;
            top: 6rem;
            height: calc(100vh - 6rem - 0.5rem);
        }
    }
    &.pluto--hidden {
        pointer-events: none;
        &.pluto--bottom {
            transform: translateY(calc(100% + 3rem));
        }
        &.pluto--left {
            opacity: 0;
            transform: translateX(-2rem);
        }
    }
}
