/*
 * Copyright 2025 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.console-nav__bar {
    .pluto-menu-item {
        position: relative;
        &.pluto--selected {
            background: var(--pluto-gray-l3-80);
            transition: background 0.3s;

            &::after {
                top: 3px;
                height: calc(100% - 6px);
                opacity: 1;
                transition: all 0.15s;
            }
        }
        &::after {
            content: "";
            position: absolute;
            width: 3px;
            background: var(--pluto-primary-z);
            top: 50%;
            opacity: 0;
            height: 0;
            transition: all 0.15s;
        }
    }

    &.pluto--top .synnax-logo {
        height: 2.5rem;
    }

    &.pluto--left {
        .pluto-menu-item::after {
            left: -1.5rem;
            border-top-right-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;
        }
        .synnax-logo {
            width: 5rem;
        }
    }

    &.pluto--right .pluto-menu-item::after {
        right: -1.5rem;
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
    }

    .pluto-navbar__content {
        z-index: 2;
    }

    &.pluto--x {
        padding-left: 3rem;
        padding-right: 1rem;
    }

    &.pluto--y .pluto-navbar__content {
        padding: 2rem 0rem;
    }
}

.console--os-macos .console-nav__bar.pluto--x {
    padding-left: 2rem;
}

.console-nav__drawer {
    overflow: hidden;
    &.console--hover {
        position: absolute;

        &.pluto--bottom {
            bottom: 0.5rem;
            z-index: 200;
            width: calc(100vw - 8rem - 2rem + 8px);
            left: calc(8rem - 1px);
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        }
    }
}
