---
import { Icon, Text } from "@synnaxlabs/pluto";
import { caseconv } from "@synnaxlabs/x";
export interface StepTextProps extends Text.TextProps {
    step: string | number;
}
const { step, level, name = "Step", ...rest } = Astro.props;
---

<Text.Text className="no-link" id={caseconv.toKebab(name)} level={level} {...rest}>
    <span
        style={{
            color: "var(--pluto-gray-l8)",
            display: "inline-flex",
            alignItems: "center",
        }}
    >
        {name}
        {step}
        <Icon.Arrow.Right style={{ margin: "0 1rem" }} />
    </span>
    <slot />
</Text.Text>
