---
import { Logo } from "@synnaxlabs/media";
import { Icon, Flex } from "@synnaxlabs/pluto";
import { Text } from "@synnaxlabs/pluto/text";
---

<Flex.Box el="footer">
    <Flex.Box className="content" align="start" justify="between" direction="x">
        <Flex.Box align="start">
            <a href="https://synnaxlabs.com">
                <Logo style={{ height: "5rem" }} variant="title" />
            </a>
            <Text.Text level="small" className="copyright">
                &copy 2024 Synnax Labs Inc.
            </Text.Text>
            <Text.Text level="small" href="/privacy-policy"> Privacy Policy </Text.Text>
        </Flex.Box>
        <Flex.Box direction="x">
            <Text.Text href="https://www.linkedin.com/company/synnaxlabs/">
                <Icon.Logo.LinkedIn className="link" />
            </Text.Text>
            <Text.Text href="https://github.com/synnaxlabs/synnax">
                <Icon.Logo.Github className="link" />
            </Text.Text>
        </Flex.Box>
    </Flex.Box>
</Flex.Box>

<style is:global>
    footer {
        height: 175px;
        padding: 5rem;
        background: var(--pluto-gray-l2-20);

        .content {
            margin: 0 auto;
            max-width: 1250px;
            width: 100%;
        }

        .link {
            height: 4rem;
            width: 4rem;
            color: var(--pluto-gray-l7);
            transition: all 0.2s ease-in-out;

            &:hover {
                color: var(--pluto-gray-l10);
            }
        }

        .copyright {
            color: var(--pluto-gray-l7);
        }

        border-top: var(--pluto-border);
    }
</style>
