/*
 * Copyright 2025 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-divider {
    align-self: stretch;

    &.pluto--direction-x {
        height: 0;
        border-top: var(--pluto-border);

        &.pluto-divider--padded {
            &.pluto--location-center {
                margin: 0.5rem 0;
            }
            &.pluto--location-top {
                margin-top: 1rem;
            }
            &.pluto--location-bottom {
                margin-bottom: 1.5rem;
            }
        }
    }

    &.pluto--direction-y {
        width: 0;
        border-right: var(--pluto-border);

        &.pluto-divider--padded {
            margin: 0 0.5rem;
        }
    }
}
