name: "Cesium Test"
on:
  pull_request:
    branches:
      - main
  push:
    paths:
      - 'cesium/**'
      - '.github/workflows/cesium.test.yaml'
  workflow_dispatch:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Diff Changes
        uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            changed:
                - 'cesium/**'
                - 'x/**'
                - '.github/workflows/cesium.test.yaml'

      - name: Set up Go
        uses: actions/setup-go@v3
        if: steps.filter.outputs.changed == 'true'
        with:
          go-version: 1.21

      - name: Test
        if: steps.filter.outputs.changed == 'true'
        run: go test -v ./... --covermode=atomic --coverprofile=coverage.txt --ginkgo.label-filter="!integration && !performance"
        working-directory: ./cesium

      - name: Upload Coverage
        if: steps.filter.outputs.changed == 'true'
        uses: codecov/codecov-action@v3
        with:
          directory: ./cesium
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: cesium
