name: Deadcode Check

on:
  pull_request:
    paths:
      - .github/workflows/deadcode.yaml
      - scripts/deadcode.sh
      - "**/*.go"
  push:
    branches:
      - main
      - rc
    paths:
      - .github/workflows/deadcode.yaml
      - scripts/deadcode.sh
      - "**/*.go"
  workflow_dispatch:

jobs:
  deadcode:
    name: Check for Dead Code
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.work
          cache-dependency-path: |
            go.work.sum
            **/go.sum

      - name: Install deadcode
        run: go install golang.org/x/tools/cmd/deadcode@latest

      - name: Run deadcode check
        run: scripts/deadcode.sh
