name: "Drift Test"
on:
  pull_request:
    branches:
      - main
  push:
    paths:
      - "drift/**"
      - ".github/workflows/drift.test.yaml"

jobs:
  test:
    name: "Run Tests"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Diff Changes
        uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            changed:
              - "drift/**"
              - ".github/workflows/drift.test.yaml"

      - name: Set up pnpm
        if: steps.filter.outputs.changed == 'true'
        uses: pnpm/action-setup@v2
        with:
          version: 7

      - name: Set up Node
        if: steps.filter.outputs.changed == 'true'
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install Dependencies
        if: steps.filter.outputs.changed == 'true'
        run: pnpm

      - name: Test
        if: steps.filter.outputs.changed == 'true'
        run: pnpm cov:drift

      - name: Upload Coverage
        if: steps.filter.outputs.changed == 'true'
        uses: codecov/codecov-action@v3
        with:
          directory: ./drift
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: drift
