name: "Synnax Test"
on:
  pull_request:
    branches:
      - main
  push:
    paths:
      - 'synnax/**'
      - '.github/workflows/synnax.test.yaml'
  workflow_dispatch:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Diff Changes
        uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            changed:
              - 'synnax/**'
              - 'cesium/**'
              - 'aspen/**'
              - 'x/**'
              - 'freighter/go/**'
              - '.github/workflows/synnax.test.yaml'

      - name: Set Up Go
        uses: actions/setup-go@v3
        if: steps.filter.outputs.changed == 'true'
        with:
          go-version: 1.19

      - name: Test
        if: steps.filter.outputs.changed == 'true'
        run: go test -tags noui -v ./... --covermode=atomic --coverprofile=coverage.txt --ginkgo.label-filter="!integration && !performance"
        working-directory: ./synnax

      - name: Upload Coverage
        if: steps.filter.outputs.changed == 'true'
        uses: codecov/codecov-action@v3
        with:
          directory: ./synnax
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: synnax
