name: Test - Alamos (Python)

on:
  pull_request:
    paths:
      - .github/workflows/test.alamos.py.yaml
      - alamos/py/**
      - codecov.yaml
      - pyproject.toml
      - uv.lock
      - uv.toml
  push:
    branches:
      - main
      - rc
    paths:
      - .github/workflows/test.alamos.py.yaml
      - alamos/py/**
      - codecov.yaml
      - pyproject.toml
      - uv.lock
      - uv.toml
  workflow_dispatch:

jobs:
  test:
    name: Test (${{ matrix.os }})
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        include:
          - os: ubuntu-latest
            format: true
        exclude:
          - os:
              ${{ (github.ref != 'refs/heads/main' && github.base_ref != 'main') &&
              'macos-latest' }}
          - os:
              ${{ (github.ref != 'refs/heads/main' && github.base_ref != 'main') &&
              'windows-latest' }}

    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: alamos/py/pyproject.toml

      - name: Check import order
        if: matrix.format
        run: uv run isort -c .
        working-directory: alamos/py

      - name: Check formatting
        if: matrix.format
        run: uv run black --check --diff --color .
        working-directory: alamos/py

      - name: Check types
        if: matrix.format
        run: uv run mypy .
        working-directory: alamos/py

      - name: Test
        run: uv run pytest --cov=alamos --cov-report=xml
        working-directory: alamos/py

      - name: Upload coverage
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: alamos-py
          directory: alamos/py
