name: Test - Console

on:
  pull_request:
    paths:
      - .github/actions/test-typescript/**
      - .github/workflows/test.console.yaml
      - alamos/go/**
      - alamos/ts/**
      - arc/ts/**
      - aspen/**
      - cesium/**
      - client/ts/**
      - codecov.yaml
      - configs/eslint/**
      - configs/ts/**
      - configs/vite/**
      - console/**
      - core/**
      - drift/**
      - freighter/go/**
      - freighter/ts/**
      - go.work
      - go.work.sum
      - package.json
      - pluto/**
      - pnpm-lock.yaml
      - pnpm-workspace.yaml
      - turbo.json
      - x/go/**
      - x/media/**
      - x/ts/**
  push:
    branches:
      - main
      - rc
    paths:
      - .github/actions/test-typescript/**
      - .github/workflows/test.console.yaml
      - alamos/go/**
      - alamos/ts/**
      - arc/ts/**
      - aspen/**
      - cesium/**
      - client/ts/**
      - codecov.yaml
      - configs/eslint/**
      - configs/ts/**
      - configs/vite/**
      - console/**
      - core/**
      - drift/**
      - freighter/go/**
      - freighter/ts/**
      - go.work
      - go.work.sum
      - package.json
      - pluto/**
      - pnpm-lock.yaml
      - pnpm-workspace.yaml
      - turbo.json
      - x/go/**
      - x/media/**
      - x/ts/**
  workflow_dispatch:

jobs:
  server:
    name: Build - Server
    runs-on: ubuntu-latest
    permissions:
      packages: write
    env:
      GITHUB_SHA: ${{ github.sha }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./core/Dockerfile
          platforms: linux/amd64
          push: true
          tags: ghcr.io/synnaxlabs/synnax:${{ github.sha }}
          cache-from: type=gha,scope=synnax-docker-cache
          cache-to: type=inline
          build-args: |
            DRIVER_ENABLED=false

  test:
    runs-on: ubuntu-latest
    needs: server
    env:
      NODE_OPTIONS: "--max_old_space_size=4096"
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ vars.TURBO_TEAM }}
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
    services:
      synnax:
        image: ghcr.io/synnaxlabs/synnax:${{ github.sha }}
        env:
          SYNNAX_VERBOSE: true
          SYNNAX_INSECURE: true
          SYNNAX_MEM: true
          SYNNAX_LICENSE_KEY: ${{ secrets.SYNNAX_LICENSE_KEY }}
        credentials:
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
        ports:
          - 9090:9090
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Test TypeScript
        uses: ./.github/actions/test-typescript
        with:
          package: console
          coverage_flag: console
          directory: console
          lint: true
          test_args: -- --no-file-parallelism
