name: Test - Arc

on:
  pull_request:
    paths:
      - .bazeliskrc
      - .bazelrc
      - .clang-format
      - .clang-format-ignore
      - .github/workflows/test.arc.yaml
      - arc/**
      - alamos/go/**
      - go.work
      - go.work.sum
      - MODULE.bazel
      - MODULE.bazel.lock
      - scripts/check_clang_format.sh
      - scripts/check_gofmt.sh
      - scripts/sanitizers/**
      - vendor/**
      - x/cpp/**
      - x/go/**
  push:
    branches:
      - main
      - rc
    paths:
      - .bazeliskrc
      - .bazelrc
      - .clang-format
      - .clang-format-ignore
      - .github/workflows/test.arc.yaml
      - arc/**
      - alamos/go/**
      - go.work
      - go.work.sum
      - MODULE.bazel
      - MODULE.bazel.lock
      - scripts/check_clang_format.sh
      - scripts/check_gofmt.sh
      - scripts/sanitizers/**
      - vendor/**
      - x/cpp/**
      - x/go/**
  workflow_dispatch:

env:
  BAZEL_REMOTE_CACHE: ${{ vars.BAZEL_REMOTE_CACHE_URL }}

jobs:
  test-go:
    name: Test Go (${{ matrix.os }})
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        include:
          - os: ubuntu-latest
            lint: true
        exclude:
          - os:
              ${{ github.event_name != 'workflow_dispatch' && (github.ref !=
              'refs/heads/main' && github.base_ref != 'main') && 'macos-latest' }}
          - os:
              ${{ github.event_name != 'workflow_dispatch' && (github.ref !=
              'refs/heads/main' && github.base_ref != 'main') && 'windows-latest' }}
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.work
          cache-dependency-path: |
            go.work.sum
            **/go.sum

      - name: Check Formatting
        if: matrix.lint
        run: scripts/check_gofmt.sh arc

      - name: Lint
        if: matrix.lint
        uses: golangci/golangci-lint-action@v9
        with:
          working-directory: arc/go

      - name: Test
        run:
          go run github.com/onsi/ginkgo/v2/ginkgo -r -p --randomize-all
          --randomize-suites --fail-on-pending --fail-on-empty --keep-going --race
          --trace --github-output
        working-directory: arc/go

  test-cpp:
    name: Test C++ (${{ matrix.os }})
    if:
      github.event_name == 'workflow_dispatch' || github.ref == 'refs/heads/main' ||
      github.base_ref == 'main'
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Install Rust
        run: rustup update

      - name: Update Submodules
        run: git submodule update --init --recursive

      - name: Setup Bazel
        uses: bazel-contrib/setup-bazel@0.15.0
        with:
          bazelisk-cache: true
          disk-cache: ${{ github.workflow }}-${{ matrix.os }}
          repository-cache: true

      - name: Test (macOS)
        if: matrix.os == 'macos-latest'
        run:
          bazel test --config=asan --test_output=all //arc/cpp/...
          --test_tag_filters=-no-asan
        shell: bash

      - name: Test (Windows)
        if: matrix.os == 'windows-latest'
        run: bazel test --test_output=all //arc/cpp/...
        shell: bash

  test-cpp-ubuntu:
    name: Test C++ (ubuntu-build-bot)
    runs-on: ubuntu-build-bot
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Install Rust
        run: rustup update

      - name: Update Submodules
        run: git submodule update --init --recursive

      - name: Setup Bazel
        uses: bazel-contrib/setup-bazel@0.15.0
        with:
          bazelisk-cache: false
          disk-cache: false
          repository-cache: false

      - name: Install Clang Format
        run: |
          sudo bash -c "$(wget -O - https://apt.llvm.org/llvm.sh)"
          sudo apt-get install -y clang-format-20
          sudo update-alternatives --install /usr/bin/clang-format clang-format /usr/bin/clang-format-20 100
          sudo update-alternatives --set clang-format /usr/bin/clang-format-20

      - name: Check Formatting
        run: scripts/check_clang_format.sh arc/cpp

      - name: Test
        run: |
          bazel test --config=asan-leak --test_output=all //arc/cpp/... \
            --remote_cache=${{ env.BAZEL_REMOTE_CACHE }} \
            --test_env=LSAN_OPTIONS="suppressions=${{ github.workspace }}/scripts/sanitizers/lsan_suppressions.txt" \
            --spawn_strategy=local \
            --jobs=1
