name: Test - Freighter (Python & TypeScript)

on:
  pull_request:
    paths:
      - .github/workflows/test.freighter.yaml
      - alamos/go/**
      - alamos/py/**
      - alamos/ts/**
      - codecov.yaml
      - configs/eslint/**
      - configs/ts/**
      - configs/vite/**
      - freighter/go/**
      - freighter/integration/**
      - freighter/py/**
      - freighter/ts/**
      - go.work
      - go.work.sum
      - package.json
      - pnpm-lock.yaml
      - pnpm-workspace.yaml
      - pyproject.toml
      - uv.lock
      - uv.toml
      - turbo.json
      - x/go/**
      - x/ts/**
  push:
    branches:
      - main
      - rc
    paths:
      - .github/workflows/test.freighter.yaml
      - alamos/go/**
      - alamos/py/**
      - alamos/ts/**
      - codecov.yaml
      - configs/eslint/**
      - configs/ts/**
      - configs/vite/**
      - freighter/go/**
      - freighter/integration/**
      - freighter/py/**
      - freighter/ts/**
      - go.work
      - go.work.sum
      - package.json
      - pnpm-lock.yaml
      - pnpm-workspace.yaml
      - pyproject.toml
      - uv.lock
      - uv.toml
      - turbo.json
      - x/go/**
      - x/ts/**
  workflow_dispatch:

jobs:
  changes:
    name: Changes
    runs-on: ubuntu-latest
    outputs:
      integration: ${{ steps.filter.outputs.integration }}
      py: ${{ steps.filter.outputs.py }}
      ts: ${{ steps.filter.outputs.ts }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Diff Changes
        uses: dorny/paths-filter@v3
        id: filter
        with:
          base: ${{ github.ref }}
          filters: |
            server: &server
              - .github/workflows/test.freighter.yaml
              - alamos/go/**
              - freighter/go/**
              - freighter/integration/**
              - go.work
              - go.work.sum
              - x/go/**
            py:
              - *server
              - alamos/py/**
              - codecov.yaml
              - freighter/py/**
              - pyproject.toml
              - uv.lock
              - uv.toml
            ts:
              - *server
              - alamos/ts/**
              - configs/eslint/**
              - configs/ts/**
              - configs/vite/**
              - freighter/ts/**
              - package.json
              - pnpm-lock.yaml
              - pnpm-workspace.yaml
              - turbo.json
              - x/ts/**

  server:
    name: Server
    runs-on: ubuntu-latest
    needs: changes
    if: needs.changes.outputs.py == 'true' || needs.changes.outputs.ts == 'true'
    permissions:
      packages: write
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and Push Image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./freighter/integration/Dockerfile
          platforms: linux/amd64
          push: true
          tags: ghcr.io/synnaxlabs/freighter-go-integration:latest
          cache-from: type=gha,scope=synnax-docker-cache
          cache-to: type=inline

  py:
    name: Test - Python
    needs: [changes, server]
    if: needs.changes.outputs.py == 'true'
    runs-on: ubuntu-latest
    services:
      integration:
        image: ghcr.io/synnaxlabs/freighter-go-integration:latest
        credentials:
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
        ports:
          - 8080:8080
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: freighter/py/pyproject.toml

      - name: Check import order
        run: uv run isort -c .
        working-directory: freighter/py

      - name: Check formatting
        run: uv run black --check --diff --color .
        working-directory: freighter/py

      - name: Check types
        run: uv run mypy .
        working-directory: freighter/py

      - name: Test
        run: uv run pytest --cov=freighter --cov-report=xml
        working-directory: freighter/py

      - name: Upload coverage
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: freighter-py
          directory: freighter/py

  ts:
    name: Test - TypeScript
    needs: [changes, server]
    if: needs.changes.outputs.ts == 'true'
    runs-on: ubuntu-latest
    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ vars.TURBO_TEAM }}
    services:
      integration:
        image: ghcr.io/synnaxlabs/freighter-go-integration:latest
        credentials:
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
        ports:
          - 8080:8080
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Set up pnpm
        uses: pnpm/action-setup@v4

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: package.json
          cache: pnpm

      - name: Install Dependencies
        run: pnpm install

      - name: Check Types
        run: pnpm check-types:freighter

      - name: Check Circular Dependencies
        run: pnpm madge:freighter

      - name: Lint
        run: pnpm lint:freighter

      - name: Test
        run: pnpm test:freighter
