name: Test - Freighter (C++)

on:
  pull_request:
    paths:
      - .bazeliskrc
      - .bazelrc
      - .clang-format
      - .clang-format-ignore
      - .github/workflows/test.freighter.cpp.yaml
      - freighter/cpp/**
      - MODULE.bazel
      - MODULE.bazel.lock
      - scripts/check_clang_format.sh
      - scripts/sanitizers/**
      - x/cpp/**
      - x/go/**/*.pb.go
  push:
    branches:
      - main
      - rc
    paths:
      - .bazeliskrc
      - .bazelrc
      - .clang-format
      - .clang-format-ignore
      - .github/workflows/test.freighter.cpp.yaml
      - freighter/cpp/**
      - MODULE.bazel
      - MODULE.bazel.lock
      - scripts/check_clang_format.sh
      - scripts/sanitizers/**
      - x/cpp/**
      - x/go/**/*.pb.go
  workflow_dispatch:

env:
  BAZEL_REMOTE_CACHE_FLAGS: --remote_cache=${{ vars.BAZEL_REMOTE_CACHE_URL }}

jobs:
  test:
    name: Test (${{ matrix.os }})
    strategy:
      fail-fast: false
      matrix:
        os: [macos-build-bot, ubuntu-build-bot, windows-build-bot]
        include:
          - os: ubuntu-build-bot
            format: true
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Setup Bazel
        uses: bazel-contrib/setup-bazel@0.15.0
        with:
          bazelisk-cache: false
          disk-cache: false
          repository-cache: false

      - name: Install Clang Format
        if: matrix.format
        run: |
          sudo bash -c "$(wget -O - https://apt.llvm.org/llvm.sh)"
          sudo apt-get install -y clang-format-20
          sudo update-alternatives --install /usr/bin/clang-format clang-format /usr/bin/clang-format-20 100
          sudo update-alternatives --set clang-format /usr/bin/clang-format-20

      - name: Check Formatting
        if: matrix.format
        run: scripts/check_clang_format.sh freighter/cpp

      - name: Test (macOS)
        if: matrix.os == 'macos-build-bot'
        run:
          bazel test --config=asan --test_output=all //freighter/cpp/...
          --test_tag_filters=-no-asan
        shell: bash

      - name: Test (Ubuntu)
        if: matrix.os == 'ubuntu-build-bot'
        run:
          bazel test $BAZEL_REMOTE_CACHE_FLAGS --config=asan-leak --test_output=all
          //freighter/cpp/...
        shell: bash

      - name: Test (Windows)
        if: matrix.os == 'windows-build-bot'
        run: |
          export MSYS_NO_PATHCONV=1
          bazel --output_user_root=C:/tmp test $BAZEL_REMOTE_CACHE_FLAGS --test_output=all //freighter/cpp/...
        shell: bash
