name: Test - Driver

on:
  pull_request:
    paths:
      - .bazeliskrc
      - .bazelrc
      - .clang-format
      - .clang-format-ignore
      - .clang-tidy
      - .github/workflows/test.driver.yaml
      - alamos/go/**
      - aspen/**
      - cesium/**
      - client/cpp/**
      - core/**
      - driver/**
      - Earthfile
      - freighter/cpp/**
      - freighter/go/**
      - go.work
      - go.work.sum
      - MODULE.bazel
      - MODULE.bazel.lock
      - scripts/check_clang_format.sh
      - scripts/sanitizers/**
      - vendor
      - x/cpp/**
      - x/go/**
  push:
    branches:
      - main
      - rc
    paths:
      - .bazeliskrc
      - .bazelrc
      - .clang-format
      - .clang-format-ignore
      - .clang-tidy
      - .github/workflows/test.driver.yaml
      - alamos/go/**
      - aspen/**
      - cesium/**
      - client/cpp/**
      - core/**
      - driver/**
      - Earthfile
      - freighter/cpp/**
      - freighter/go/**
      - go.work
      - go.work.sum
      - MODULE.bazel
      - MODULE.bazel.lock
      - scripts/check_clang_format.sh
      - scripts/sanitizers/**
      - vendor
      - x/cpp/**
      - x/go/**
  workflow_dispatch:

env:
  BAZEL_REMOTE_CACHE: ${{ vars.BAZEL_REMOTE_CACHE_URL }}

jobs:
  server:
    name: Build - Server
    runs-on: ubuntu-latest
    permissions:
      packages: write
    env:
      GITHUB_SHA: ${{ github.sha }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Github Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./core/Dockerfile
          platforms: linux/amd64
          push: true
          tags: ghcr.io/synnaxlabs/synnax:${{ github.sha }}
          cache-from: type=gha,scope=synnax-docker-cache
          cache-to: type=inline
          build-args: |
            DRIVER_ENABLED=false

  test:
    name: Test
    runs-on: ubuntu-build-bot
    needs: server
    services:
      synnax:
        image: ghcr.io/synnaxlabs/synnax:${{ github.sha }}
        env:
          SYNNAX_LISTEN: localhost:9090
          SYNNAX_VERBOSE: true
          SYNNAX_INSECURE: true
          SYNNAX_MEM: true
          SYNNAX_LICENSE_KEY: ${{ secrets.SYNNAX_LICENSE_KEY }}
        credentials:
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
        ports:
          - 9090:9090
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libsystemd-dev

      - name: Update Submodules
        run: git submodule update --init --recursive

      - name: Setup Bazel
        uses: bazel-contrib/setup-bazel@0.15.0
        with:
          bazelisk-cache: false
          disk-cache: false
          repository-cache: false

      - name: Install Clang Tools
        run: |
          sudo bash -c "$(wget -O - https://apt.llvm.org/llvm.sh)"
          sudo apt-get install -y clang-format-20 clang-tidy-20
          sudo update-alternatives --install /usr/bin/clang-format clang-format /usr/bin/clang-format-20 100
          sudo update-alternatives --set clang-format /usr/bin/clang-format-20
          sudo update-alternatives --install /usr/bin/clang-tidy clang-tidy /usr/bin/clang-tidy-20 100
          sudo update-alternatives --set clang-tidy /usr/bin/clang-tidy-20

      - name: Check Formatting
        run: scripts/check_clang_format.sh driver

      - name: Test Driver
        run: |
          bazel test --config=clang-tidy --config=asan-leak --test_output=all //driver/... \
            --remote_cache=${{ env.BAZEL_REMOTE_CACHE }} \
            --test_env=LSAN_OPTIONS="suppressions=${{ github.workspace }}/scripts/sanitizers/lsan_suppressions.txt" \
            --spawn_strategy=local \
            --jobs=1 --test_tag_filters=-hardware
