name: Test - X (C++)

on:
  pull_request:
    paths:
      - .bazeliskrc
      - .bazelrc
      - .clang-format
      - .clang-format-ignore
      - .github/workflows/test.x.cpp.yaml
      - MODULE.bazel
      - MODULE.bazel.lock
      - scripts/check_clang_format.sh
      - scripts/sanitizers/**
      - x/cpp/**
      - x/go/**/*.pb.go
  push:
    branches:
      - main
      - rc
    paths:
      - .bazeliskrc
      - .bazelrc
      - .clang-format
      - .clang-format-ignore
      - .github/workflows/test.x.cpp.yaml
      - MODULE.bazel
      - MODULE.bazel.lock
      - scripts/check_clang_format.sh
      - scripts/sanitizers/**
      - x/cpp/**
      - x/go/**/*.pb.go
  workflow_dispatch:

env:
  BAZEL_REMOTE_CACHE: ${{ vars.BAZEL_REMOTE_CACHE_URL }}

jobs:
  test:
    name: Test (${{ matrix.os }})
    strategy:
      fail-fast: false
      matrix:
        os: [macos-build-bot, ubuntu-build-bot, windows-build-bot]
        include:
          - os: ubuntu-build-bot
            format: true
        exclude:
          - os:
              ${{ github.event_name != 'workflow_dispatch' && (github.ref !=
              'refs/heads/main' && github.base_ref != 'main') && 'macos-build-bot' }}
          - os:
              ${{ github.event_name != 'workflow_dispatch' && (github.ref !=
              'refs/heads/main' && github.base_ref != 'main') && 'windows-build-bot' }}
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5
        with:
          clean: false

      - name: Setup Bazel
        uses: bazel-contrib/setup-bazel@0.15.0
        with:
          bazelisk-cache: ${{ matrix.os == 'macos-build-bot' }}
          disk-cache:
            ${{ matrix.os == 'macos-build-bot' && format('{0}-{1}', github.workflow,
            matrix.os) || false }}
          repository-cache: ${{ matrix.os == 'macos-build-bot' }}

      - name: Install Clang Format
        if: matrix.format
        run: |
          sudo bash -c "$(wget -O - https://apt.llvm.org/llvm.sh)"
          sudo apt-get install -y clang-format-20
          sudo update-alternatives --install /usr/bin/clang-format clang-format /usr/bin/clang-format-20 100
          sudo update-alternatives --set clang-format /usr/bin/clang-format-20

      - name: Check Formatting
        if: matrix.format
        run: scripts/check_clang_format.sh x/cpp

      - name: Test (macOS)
        if: matrix.os == 'macos-build-bot'
        run:
          bazel test --config=asan --test_output=all //x/cpp/...
          --test_tag_filters=-no-asan
        shell: bash

      - name: Test (Ubuntu)
        if: matrix.os == 'ubuntu-build-bot'
        run: |
          bazel test --config=asan-leak --test_output=all //x/cpp/... \
            --disk_cache=~/.cache/bazel-disk \
            --remote_cache=${{ env.BAZEL_REMOTE_CACHE }}
        shell: bash

      - name: Test (Windows)
        if: matrix.os == 'windows-build-bot'
        run: |
          bazel --output_user_root=C:/tmp test --test_output=all //x/cpp/... \
            --disk_cache=C:/tmp/bazel-disk \
            --remote_cache=${{ env.BAZEL_REMOTE_CACHE }}
        shell: bash
