name: Test - Core

on:
  pull_request:
    paths:
      - .github/workflows/test.core.yaml
      - alamos/go/**
      - aspen/**
      - cesium/**
      - core/**
      - freighter/go/**
      - go.work
      - go.work.sum
      - scripts/check-gofmt.sh
      - x/go/**
  push:
    branches:
      - main
      - rc
  workflow_dispatch:

jobs:
  test:
    name: Test (${{ matrix.os }})
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        include:
          - os: ubuntu-latest
            format: true
        exclude:
          - os:
              ${{ (github.ref != 'refs/heads/main' && github.base_ref != 'main') &&
              'macos-latest' }}
          - os:
              ${{ (github.ref != 'refs/heads/main' && github.base_ref != 'main') &&
              'windows-latest' }}
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.work
          cache-dependency-path: go.work.sum

      - name: Check Formatting
        if: matrix.format
        run: ./scripts/check-gofmt.sh core

      - name: Test
        run: go run github.com/onsi/ginkgo/v2/ginkgo -r --github-output
        working-directory: core
