name: Test - Alamos (Go)

on:
  pull_request:
    paths:
      - .github/workflows/test.alamos.go.yaml
      - .github/workflows/test.go.yaml
      - .golangci.yaml
      - alamos/go/**
      - codecov.yaml
      - go.work
      - go.work.sum
      - scripts/check_gofmt.sh
      - x/go/**
  push:
    branches:
      - main
      - rc
    paths:
      - .github/workflows/test.alamos.go.yaml
      - .github/workflows/test.go.yaml
      - .golangci.yaml
      - alamos/go/**
      - codecov.yaml
      - go.work
      - go.work.sum
      - scripts/check_gofmt.sh
      - x/go/**
  workflow_dispatch:

jobs:
  test:
    uses: ./.github/workflows/test.go.yaml
    with:
      directory: alamos/go
      ginkgo_flags: -p --randomize-all --fail-on-empty --race
      coverage_flag: alamos-go
