name: Test - Freighter (Go)

on:
  push:
    branches:
      - main
      - rc
  pull_request:
    paths:
      - .github/workflows/test.freighter.go.yaml
      - alamos/go/**
      - freighter/go/**
      - go.work
      - go.work.sum
      - scripts/check-gofmt.sh
      - x/go/**
  workflow_dispatch:

jobs:
  test:
    name: Test (${{ matrix.os }})
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        include:
          - os: ubuntu-latest
            format: true
        exclude:
          - os:
              ${{ (github.ref != 'refs/heads/main' && github.base_ref != 'main') &&
              'macos-latest' }}
          - os:
              ${{ (github.ref != 'refs/heads/main' && github.base_ref != 'main') &&
              'windows-latest' }}
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.work
          cache-dependency-path: go.work.sum

      - name: Check Formatting
        if: matrix.format
        run: bash scripts/check-gofmt.sh freighter/go

      - name: Test
        run: go run github.com/onsi/ginkgo/v2/ginkgo -r -p --github-output
        working-directory: freighter/go
