name: Test - X (Go)

on:
  pull_request:
    paths:
      - .github/workflows/test.go.yaml
      - .github/workflows/test.x.go.yaml
      - .golangci.yaml
      - alamos/go/**
      - codecov.yaml
      - go.work
      - go.work.sum
      - scripts/check_gofmt.sh
      - x/go/**
  push:
    branches:
      - main
      - rc
    paths:
      - .github/workflows/test.go.yaml
      - .github/workflows/test.x.go.yaml
      - .golangci.yaml
      - alamos/go/**
      - codecov.yaml
      - go.work
      - go.work.sum
      - scripts/check_gofmt.sh
      - x/go/**
  workflow_dispatch:

jobs:
  test:
    uses: ./.github/workflows/test.go.yaml
    secrets: inherit
    with:
      directory: x/go
      coverage_flag: x-go
