name: Test - Aspen

on:
  pull_request:
    paths:
      - .github/workflows/test.go.yaml
      - .golangci.yaml
      - alamos/go/**
      - aspen/**
      - freighter/go/**
      - go.work
      - go.work.sum
      - scripts/check_gofmt.sh
      - x/go/**
  push:
    branches:
      - main
      - rc
    paths:
      - .github/workflows/test.aspen.yaml
      - .github/workflows/test.go.yaml
      - .golangci.yaml
      - alamos/go/**
      - aspen/**
      - codecov.yaml
      - freighter/go/**
      - go.work
      - go.work.sum
      - scripts/check_gofmt.sh
      - x/go/**
  workflow_dispatch:

jobs:
  test:
    uses: ./.github/workflows/test.go.yaml
    secrets: inherit
    with:
      directory: aspen
      ginkgo_flags: -p --randomize-all
      coverage_flag: aspen
