name: Test - Core

on:
  pull_request:
    paths:
      - .github/workflows/test.core.yaml
      - alamos/go/**
      - aspen/**
      - cesium/**
      - core/**
      - freighter/go/**
      - go.work
      - go.work.sum
      - scripts/check_gofmt.sh
      - x/go/**
  push:
    branches:
      - main
      - rc
    paths:
      - .github/workflows/test.core.yaml
      - alamos/go/**
      - aspen/**
      - cesium/**
      - core/**
      - freighter/go/**
      - go.work
      - go.work.sum
      - scripts/check_gofmt.sh
      - x/go/**
  workflow_dispatch:

jobs:
  test:
    name: Test (${{ matrix.os }})
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        include:
          - os: ubuntu-latest
            lint: true
        exclude:
          - os:
              ${{ (github.ref != 'refs/heads/main' && github.base_ref != 'main') &&
              'macos-latest' }}
          - os:
              ${{ (github.ref != 'refs/heads/main' && github.base_ref != 'main') &&
              'windows-latest' }}
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.work
          cache-dependency-path: |
            go.work.sum
            **/go.sum

      - name: Check Formatting
        if: matrix.lint
        run: scripts/check_gofmt.sh core

      - name: Lint
        if: matrix.lint
        uses: golangci/golangci-lint-action@v8
        with:
          working-directory: core
          args: --build-tags driver

      - name: Test
        run:
          go run github.com/onsi/ginkgo/v2/ginkgo -r --randomize-suites
          --fail-on-pending --fail-on-empty --keep-going --trace --github-output
        working-directory: core
