name: Test - Console

on:
  pull_request:
    paths:
      - .github/actions/test-typescript/**
      - .github/workflows/test.console.yaml
      - alamos/ts/**
      - client/ts/**
      - configs/eslint/**
      - configs/ts/**
      - configs/vite/**
      - console/**
      - drift/**
      - freighter/ts/**
      - package.json
      - pluto/**
      - pnpm-lock.yaml
      - pnpm-workspace.yaml
      - turbo.json
      - x/media/**
      - x/ts/**
  push:
    branches:
      - main
      - rc
    paths:
      - .github/actions/test-typescript/**
      - .github/workflows/test.console.yaml
      - alamos/ts/**
      - client/ts/**
      - configs/eslint/**
      - configs/ts/**
      - configs/vite/**
      - console/**
      - drift/**
      - freighter/ts/**
      - package.json
      - pluto/**
      - pnpm-lock.yaml
      - pnpm-workspace.yaml
      - turbo.json
      - x/media/**
      - x/ts/**
  workflow_dispatch:

jobs:
  test:
    name: Test (${{ matrix.os }})
    env:
      NODE_OPTIONS: "--max_old_space_size=4096"
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ vars.TURBO_TEAM }}
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        include:
          - os: ubuntu-latest
            lint: true
        exclude:
          - os:
              ${{ (github.ref != 'refs/heads/main' && github.base_ref != 'main') &&
              'macos-latest' }}
          - os:
              ${{ (github.ref != 'refs/heads/main' && github.base_ref != 'main') &&
              'windows-latest' }}
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Test TypeScript
        uses: ./.github/actions/test-typescript
        with:
          package: console
          coverage_flag: console
          coverage_directory: console
          lint: ${{ matrix.lint }}
