name: Test - Freighter (Go)

on:
  pull_request:
    paths:
      - .github/workflows/test.freighter.go.yaml
      - .golangci.yaml
      - alamos/go/**
      - freighter/go/**
      - go.work
      - go.work.sum
      - scripts/check_gofmt.sh
      - x/go/**
  push:
    branches:
      - main
      - rc
    paths:
      - .github/workflows/test.freighter.go.yaml
      - .golangci.yaml
      - alamos/go/**
      - freighter/go/**
      - go.work
      - go.work.sum
      - scripts/check_gofmt.sh
      - x/go/**
  workflow_dispatch:

jobs:
  test:
    name: Test (${{ matrix.os }})
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        include:
          - os: ubuntu-latest
            fmt: true
        exclude:
          - os:
              ${{ (github.ref != 'refs/heads/main' && github.base_ref != 'main') &&
              'macos-latest' }}
          - os:
              ${{ (github.ref != 'refs/heads/main' && github.base_ref != 'main') &&
              'windows-latest' }}
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.work
          cache-dependency-path: |
            go.work.sum
            **/go.sum

      - name: Check formatting
        if: matrix.fmt
        run: scripts/check_gofmt.sh freighter/go

      - name: Lint
        uses: golangci/golangci-lint-action@v9
        with:
          working-directory: freighter/go

      - name: Test
        run:
          go run github.com/onsi/ginkgo/v2/ginkgo -r -p --randomize-all
          --randomize-suites --fail-on-pending  --cover --coverprofile=cover.out
          --keep-going --trace --github-output
        working-directory: freighter/go

      - name: Upload coverage
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: freighter-go
          directory: freighter/go
