name: Test - Drift

on:
  pull_request:
    paths:
      - .github/workflows/test.drift.yaml
      - alamos/ts/**
      - configs/eslint/**
      - configs/ts/**
      - configs/vite/**
      - drift/**
      - package.json
      - pnpm-lock.yaml
      - pnpm-workspace.yaml
      - turbo.json
      - x/ts/**
  push:
    branches:
      - main
      - rc
    paths:
      - .github/workflows/test.drift.yaml
      - alamos/ts/**
      - configs/eslint/**
      - configs/ts/**
      - configs/vite/**
      - drift/**
      - package.json
      - pnpm-lock.yaml
      - pnpm-workspace.yaml
      - turbo.json
      - x/ts/**
  workflow_dispatch:

jobs:
  test:
    name: Test (${{ matrix.os }})
    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ vars.TURBO_TEAM }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        include:
          - os: ubuntu-latest
            lint: true
        exclude:
          - os:
              ${{ (github.ref != 'refs/heads/main' && github.base_ref != 'main') &&
              'macos-latest' }}
          - os:
              ${{ (github.ref != 'refs/heads/main' && github.base_ref != 'main') &&
              'windows-latest' }}
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5

      - name: Set up pnpm
        uses: pnpm/action-setup@v4

      - name: Set up Node.js
        uses: actions/setup-node@v5
        with:
          node-version-file: package.json
          cache: pnpm

      - name: Install Dependencies
        run: pnpm install

      - name: Check Types
        if: matrix.lint
        run: pnpm check-types:drift

      - name: Lint
        if: matrix.lint
        run: pnpm lint:drift

      - name: Test
        run: pnpm test:drift
