name: Test - Driver

on:
  push:
    branches:
      - main
      - rc
      - sy-1990-test-moving-cards-between-racks
  pull_request:
    branches:
      - main
      - rc
  workflow_dispatch:
jobs:
  changes:
    name: Changes
    runs-on: ubuntu-latest
    outputs:
      cpp: ${{ steps.filter.outputs.cpp }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Diff Changes
        uses: dorny/paths-filter@v3
        id: filter
        with:
          base: ${{ github.ref }}
          filters: |
            cpp:
              - .github/workflows/test.driver.yaml
              - x/cpp/**
              - client/cpp/**
              - freighter/cpp/**
              - driver/**

  test:
    name: Test Driver
    runs-on: ubuntu-latest
    needs: changes
    if: needs.changes.outputs.cpp == 'true'
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install Deps On Ubuntu
        if: matrix.os == 'ubuntu-20.04' || matrix.os == 'ubuntu-latest'
        run: |
          sudo apt-get install -y libmbedtls-dev libsystemd-dev

      - name: Cache Open62541 Build
        id: cache-open62541
        uses: actions/cache@v3
        with:
          path: driver/vendor/open62541/open62541/out
          key: open62541-${{ matrix.os }}

      - name: Update Submodules
        if: hashFiles('driver/vendor/open62541/open62541/out') == ''
        run: git submodule update --init --recursive

      - name: Setup Bazel
        uses: bazel-contrib/setup-bazel@0.8.1
        with:
          bazelisk-cache: true
          disk-cache: ${{ github.workflow }}-${{ matrix.os }}
          repository-cache: true

      - name: Build Open62541
        if: hashFiles('driver/vendor/open62541/open62541/out') == ''
        shell: bash
        run: |
          mkdir build && cd build
          cmake -DCMAKE_BUILD_TYPE=RelWithDebInfo \
                -DUA_NAMESPACE_ZERO=FULL \
                -DCMAKE_INSTALL_PREFIX=../out \
                -DUA_ENABLE_ENCRYPTION=MBEDTLS ..
          cmake --build . --config RelWithDebInfo --target install
        working-directory: driver/vendor/open62541/open62541

      - name: Test Driver
        run: bazel test --test_output=all //driver/... --test_tag_filters=-hardware --nocache_test_results