name: Test - Client

on:
  pull_request:
    paths:
      - .github/actions/test-python/**
      - .bazeliskrc
      - .bazelrc
      - .clang-format
      - .clang-format-ignore
      - .github/actions/test-typescript/**
      - .github/workflows/test.client.yaml
      - alamos/go/**
      - alamos/py/**
      - alamos/ts/**
      - aspen/**
      - cesium/**
      - client/cpp/**
      - client/py/**
      - client/ts/**
      - codecov.yaml
      - configs/eslint/**
      - configs/ts/**
      - configs/vite/**
      - core/**
      - freighter/cpp/**
      - freighter/go/**
      - freighter/py/**
      - freighter/ts/**
      - go.work
      - go.work.sum
      - MODULE.bazel
      - MODULE.bazel.lock
      - package.json
      - pnpm-lock.yaml
      - pnpm-workspace.yaml
      - pyproject.toml
      - scripts/check_clang_format.sh
      - scripts/sanitizers/**
      - turbo.json
      - uv.lock
      - uv.toml
      - x/cpp/**
      - x/go/**
      - x/ts/**
  push:
    branches:
      - main
      - rc
    paths:
      - .github/actions/test-python/**
      - .bazeliskrc
      - .bazelrc
      - .clang-format
      - .clang-format-ignore
      - .github/actions/test-typescript/**
      - .github/workflows/test.client.yaml
      - alamos/go/**
      - alamos/py/**
      - alamos/ts/**
      - aspen/**
      - cesium/**
      - client/cpp/**
      - client/py/**
      - client/ts/**
      - codecov.yaml
      - configs/eslint/**
      - configs/ts/**
      - configs/vite/**
      - core/**
      - freighter/cpp/**
      - freighter/go/**
      - freighter/py/**
      - freighter/ts/**
      - go.work
      - go.work.sum
      - MODULE.bazel
      - MODULE.bazel.lock
      - package.json
      - pnpm-lock.yaml
      - pnpm-workspace.yaml
      - pyproject.toml
      - scripts/check_clang_format.sh
      - scripts/sanitizers/**
      - turbo.json
      - uv.lock
      - uv.toml
      - x/cpp/**
      - x/go/**
      - x/ts/**
  workflow_dispatch:

jobs:
  changes:
    name: Changes
    runs-on: ubuntu-latest
    outputs:
      cpp: ${{ steps.filter.outputs.cpp }}
      py: ${{ steps.filter.outputs.py }}
      ts: ${{ steps.filter.outputs.ts }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Diff Changes
        uses: dorny/paths-filter@v3
        id: filter
        with:
          base: ${{ github.ref }}
          filters: |
            shared: &shared
              - .github/workflows/test.client.yaml
              - alamos/go/**
              - aspen/**
              - cesium/**
              - core/**
              - freighter/go/**
              - go.work
              - go.work.sum
              - x/go/**
            cpp:
              - *shared
              - .bazeliskrc
              - .bazelrc
              - .clang-format
              - .clang-format-ignore
              - client/cpp/**
              - freighter/cpp/**
              - MODULE.bazel
              - MODULE.bazel.lock
              - scripts/check_clang_format.sh
              - scripts/sanitizers/**
              - x/cpp/**
            py:
              - *shared
              - .github/actions/test-python/**
              - alamos/py/**
              - codecov.yaml
              - client/py/**
              - freighter/py/**
              - pyproject.toml
              - uv.lock
              - uv.toml
            ts:
              - *shared
              - .github/actions/test-typescript/**
              - alamos/ts/**
              - client/ts/**
              - codecov.yaml
              - configs/eslint/**
              - configs/ts/**
              - configs/vite/**
              - freighter/ts/**
              - package.json
              - pnpm-lock.yaml
              - pnpm-workspace.yaml
              - turbo.json
              - x/ts/**

  server:
    name: Build - Server
    runs-on: ubuntu-latest
    permissions:
      packages: write
    env:
      GITHUB_SHA: ${{ github.sha }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Github Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./core/Dockerfile
          platforms: linux/amd64
          push: true
          tags: ghcr.io/synnaxlabs/synnax:${{ github.sha }}
          cache-from: type=gha,scope=synnax-docker-cache
          cache-to: type=inline
          build-args: |
            DRIVER_ENABLED=false

  cpp:
    name: Test - C++
    needs: [changes, server]
    if: needs.changes.outputs.cpp == 'true'
    runs-on: ubuntu-latest
    services:
      synnax:
        image: ghcr.io/synnaxlabs/synnax:${{ github.sha }}
        env:
          SYNNAX_LISTEN: localhost:9090
          SYNNAX_VERBOSE: true
          SYNNAX_INSECURE: true
          SYNNAX_MEM: true
          SYNNAX_LICENSE_KEY: ${{ secrets.SYNNAX_LICENSE_KEY }}
        credentials:
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
        ports:
          - 9090:9090
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Setup Bazel
        uses: bazel-contrib/setup-bazel@0.15.0
        with:
          bazelisk-cache: true
          disk-cache: ${{ github.workflow }}
          repository-cache: true
      - name: Install Clang Format
        run: |
          sudo bash -c "$(wget -O - https://apt.llvm.org/llvm.sh)"
          sudo apt-get install -y clang-format-20
          sudo update-alternatives --install /usr/bin/clang-format clang-format /usr/bin/clang-format-20 100
          sudo update-alternatives --set clang-format /usr/bin/clang-format-20

      - name: Check Formatting
        run: scripts/check_clang_format.sh client/cpp

      - name: Test (Ubuntu)
        run:
          bazel test --config=asan-leak --test_output=all //client/cpp/...
          --nocache_test_results

  py:
    name: Test - Python
    needs: [changes, server]
    if: needs.changes.outputs.py == 'true'
    runs-on: ubuntu-latest
    env:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
    services:
      synnax:
        image: ghcr.io/synnaxlabs/synnax:${{ github.sha }}
        env:
          SYNNAX_LISTEN: localhost:9090
          SYNNAX_VERBOSE: true
          SYNNAX_INSECURE: true
          SYNNAX_MEM: true
          SYNNAX_LICENSE_KEY: ${{ secrets.SYNNAX_LICENSE_KEY }}
        credentials:
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
        ports:
          - 9090:9090
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Test Python
        uses: ./.github/actions/test-python
        with:
          directory: client/py
          coverage: true
          coverage_module: synnax
          coverage_flag: client-py
          type_check_dir: "./synnax"

  ts:
    name: Test - TypeScript
    needs: [changes, server]
    if: needs.changes.outputs.ts == 'true'
    runs-on: ubuntu-latest
    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ vars.TURBO_TEAM }}
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
    services:
      synnax:
        image: ghcr.io/synnaxlabs/synnax:${{ github.sha }}
        env:
          SYNNAX_VERBOSE: true
          SYNNAX_INSECURE: true
          SYNNAX_MEM: true
          SYNNAX_LICENSE_KEY: ${{ secrets.SYNNAX_LICENSE_KEY }}
        credentials:
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
        ports:
          - 9090:9090
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Test TypeScript
        uses: ./.github/actions/test-typescript
        with:
          package: client
          coverage_flag: client-ts
          directory: client/ts
