name: Test - Core

on:
  pull_request:
    paths:
      - .github/workflows/test.go.yaml
      - .golangci.yaml
      - alamos/go/**
      - arc/go/**
      - aspen/**
      - cesium/**
      - core/**
      - freighter/go/**
      - go.work
      - go.work.sum
      - scripts/check_gofmt.sh
      - x/go/**
  push:
    branches:
      - main
      - rc
    paths:
      - .github/workflows/test.core.yaml
      - .github/workflows/test.go.yaml
      - .golangci.yaml
      - alamos/go/**
      - arc/go/**
      - aspen/**
      - cesium/**
      - codecov.yaml
      - core/**
      - freighter/go/**
      - go.work
      - go.work.sum
      - scripts/check_gofmt.sh
      - x/go/**
  workflow_dispatch:

jobs:
  test:
    uses: ./.github/workflows/test.go.yaml
    secrets: inherit
    with:
      directory: core
      coverage_flag: core
