name: Test - Migration

on:
  pull_request:
    paths:
      - .github/workflows/test.migration.yaml
      - alamos/go/**
      - alamos/py/**
      - aspen/**
      - cesium/**
      - client/py/**
      - core/**
      - Earthfile
      - freighter/go/**
      - freighter/py/**
      - go.work
      - go.work.sum
      - x/go/**
  push:
    branches:
      - main
      - rc
    paths:
      - .github/workflows/test.migration.yaml
      - alamos/go/**
      - alamos/py/**
      - aspen/**
      - cesium/**
      - client/py/**
      - core/**
      - Earthfile
      - freighter/go/**
      - freighter/py/**
      - go.work
      - go.work.sum
      - x/go/**
  workflow_dispatch:

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5

      - name: Start Main Server
        id: start_main
        run:
          docker run -d --name synnax-main -p 9090:9090 -e SYNNAX_LISTEN=0.0.0.0:9090 -e
          SYNNAX_VERBOSE=true -e SYNNAX_INSECURE=true -e SYNNAX_MEM=false -e
          SYNNAX_LICENSE_KEY=${{ secrets.SYNNAX_LICENSE_KEY }}
          ghcr.io/synnaxlabs/synnax:latest

      - name: Checkout Main Branch
        uses: actions/checkout@v5
        with:
          ref: main

      - name: Install Poetry
        run: pipx install poetry

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
          cache: poetry
          cache-dependency-path: client/py/poetry.lock

      - name: Install Dependencies
        run: poetry install
        working-directory: client/py

      - name: Python Test with Main Server
        run: poetry run pytest
        working-directory: client/py

      - name: Stop Main Server
        if: always() && steps.start_main.outcome == 'success'
        run: |
          docker logs synnax-main
          docker stop synnax-main
          docker rm synnax-main

      - name: Checkout Current Branch
        uses: actions/checkout@v5

      - name: Login to Github Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and Push Current Server Image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./core/Dockerfile
          platforms: linux/amd64
          push: true
          tags: ghcr.io/synnaxlabs/synnax:${{ github.sha }}
          cache-from: type=gha,scope=test-migration
          cache-to: type=gha,mode=max,scope=test-migration
          build-args: |
            DRIVER_ENABLED=false

      - name: Start Current Server
        id: start_current
        run:
          docker run -d --name synnax-current -p 9090:9090 -e SYNNAX_LISTEN=0.0.0.0:9090
          -e SYNNAX_VERBOSE=true -e SYNNAX_INSECURE=true -e SYNNAX_MEM=false -e
          SYNNAX_LICENSE_KEY=${{ secrets.SYNNAX_LICENSE_KEY }}
          ghcr.io/synnaxlabs/synnax:${GITHUB_SHA}

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
          cache: poetry
          cache-dependency-path: client/py/poetry.lock

      - name: Install Dependencies
        run: poetry install
        working-directory: client/py

      - name: Python Test with Current Server
        run: poetry run pytest
        working-directory: client/py

      - name: Stop Current Server
        if: always() && steps.start_current.outcome == 'success'
        run: |
          docker logs synnax-current
          docker stop synnax-current
          docker rm synnax-current
