name: Test - Media

on:
  pull_request:
    paths:
      - .github/actions/test-typescript/**
      - .github/workflows/test.media.yaml
      - configs/eslint/**
      - configs/ts/**
      - configs/vite/**
      - package.json
      - pnpm-lock.yaml
      - pnpm-workspace.yaml
      - turbo.json
      - x/media/**
  push:
    branches:
      - main
      - rc
    paths:
      - .github/actions/test-typescript/**
      - .github/workflows/test.media.yaml
      - configs/eslint/**
      - configs/ts/**
      - configs/vite/**
      - package.json
      - pnpm-lock.yaml
      - pnpm-workspace.yaml
      - turbo.json
      - x/media/**
  workflow_dispatch:

jobs:
  test:
    name: Lint
    runs-on: ubuntu-latest
    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ vars.TURBO_TEAM }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Lint TypeScript
        uses: ./.github/actions/test-typescript
        with:
          package: media
          test: false
