name: Test - Media

on:
  pull_request:
    paths:
      - .github/workflows/test.media.yaml
      - configs/eslint/**
      - configs/ts/**
      - configs/vite/**
      - package.json
      - pnpm-lock.yaml
      - pnpm-workspace.yaml
      - turbo.json
      - x/media/**
  push:
    branches:
      - main
      - rc
    paths:
      - .github/workflows/test.media.yaml
      - configs/eslint/**
      - configs/ts/**
      - configs/vite/**
      - package.json
      - pnpm-lock.yaml
      - pnpm-workspace.yaml
      - turbo.json
      - x/media/**
  workflow_dispatch:

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ vars.TURBO_TEAM }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5

      - name: Set up pnpm
        uses: pnpm/action-setup@v4

      - name: Set up Node.js
        uses: actions/setup-node@v5
        with:
          node-version-file: package.json
          cache: pnpm

      - name: Install Dependencies
        run: pnpm install

      - name: Check Types
        run: pnpm check-types:media

      - name: Check Circular Dependencies
        run: pnpm madge:media

      - name: Lint
        run: pnpm lint:media
