/*
 * Copyright 2026 Synnax Labs, Inc.
 *
 * Use of this software is governed by the Business Source License included in the file
 * licenses/BSL.txt.
 *
 * As of the Change Date specified in that file, in accordance with the Business Source
 * License, use of this software will be governed by the Apache License, Version 2.0,
 * included in the file licenses/APL.txt.
 */

.pluto-select-symbol {
    --pluto-border-color: var(--pluto-symbol-display);

    display: flex;
    align-items: center;
    gap: 0;

    .pluto-input {
        width: min-content;
    }

    .pluto-dialog__frame {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .pluto-btn.pluto-dialog__trigger {
        --pluto-border-color: var(--pluto-symbol-display);

        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-width: 1px;
    }

    svg.pluto-caret-animated {
        color: var(--pluto-gray-l9);
        fill: currentcolor;
    }

    .pluto-handle__2 {
        z-index: 5;
    }
}
