<div class="release-diagram--ethercat">
    <svg
        width="50%"
        height="127"
        viewBox="0 0 565 127"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <g clip-path="url(#clip0_62_2)">
            <path d="M445.4 50.6L498.3 92.7V72.8H564.4V50.6H445.4Z" fill="white"></path>
            <path d="M564.4 42.1L511.5 0V19.9H353V42.1H564.4Z" fill="white"></path>
            <path
                d="M268.3 107C272.7 106.9 277.1 106 281.2 104.2L274.8 125.7C271.3 126.5 267.7 126.9 264.1 126.9C242.9 126.9 225.9 113.8 225.9 87.1C225.9 62 243.6 49.4 264.1 49.4C270.9 49.4 274.9 50.4 281.4 51.8V71.6C277.4 70.1 273.3 68.8 269.2 68.8C258.8 68.8 250.9 75.4 250.9 87.6C250.9 100.5 258.2 107 268.3 107Z"
                fill="white"></path>
            <path
                d="M320.5 66.9H320.7L327.6 91.5H313.5L320.5 66.9ZM281.8 125.7H306.2L310.1 109.5H330.7L334.9 125.7H360.5L337.8 50.7H304.1L281.8 125.7Z"
                fill="white"></path>
            <path
                d="M77.6 115.2C75.7 116.1 73.7 116.7 71.6 116.7C67.2 116.7 65.5 114.2 65.5 107.5V72.7H77.6V64.8H65.5V44H55.8V64.8H46.4V72.7H55.8V110.6C55.8 121 60.5 124.6 69.4 124.6C72.2 124.5 75 124 77.6 123.1V115.2Z"
                fill="white"></path>
            <path
                d="M0 124.5H39V115.7H10.1V87.1H36.3V78.3H10.1V52.6H37.5V43.8H0V124.5Z"
                fill="white"></path>
            <path
                d="M85.8 124.5H95.5V89C95.5 78.4 100.4 73 108 73C114.2 73 117.7 77 117.7 86.4V124.4H127.4V83.5C127.4 70.6 120.5 64.7 110.2 64.7C104.1 64.6 98.5 68.1 95.8 73.6H95.6V43.9H85.9L85.8 124.5Z"
                fill="white"></path>
            <path
                d="M148.8 90.5C149 76.7 154.6 72.1 160.8 72.1C168.5 72.1 172.4 78.2 172.4 90.5H148.8ZM182.1 97.9V92.7C182.1 75.4 174.7 64.7 161.4 64.7C146.7 64.7 138.6 76.5 138.6 95C138.6 113.5 146.7 125.3 162.3 125.3C168 125.3 173.6 124.1 178.8 121.8L178.3 113C175 115.4 169.6 117.9 164.8 117.9C154 117.9 148.7 111.5 148.7 97.9H182.1Z"
                fill="white"></path>
            <path
                d="M192.8 124.5H202.5V93.3C202.5 80.5 207.8 74 215.3 74C216.5 74 217.8 74.1 219 74.3V64.7C210.3 64.7 205.4 67.6 202.2 74.8H202L201.7 65.6H192.3C192.4 69.8 192.8 74 192.8 78.3V124.5Z"
                fill="white"></path>
            <path d="M353 50.6H432.3V72.8H404.9V125.6H380.4V72.8H353V50.6Z" fill="white"
            ></path>
        </g>
        <defs>
            <clipPath id="clip0_62_2">
                <rect width="564.4" height="126.9" fill="white"></rect>
            </clipPath>
        </defs>
    </svg>
</div>
