<div>
    <svg viewBox="0 0 24 24" fill="white" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zm6.93 6h-2.95a15.65 15.65 0 0 0-1.38-3.56A8.03 8.03 0 0 1 18.92 8zM12 4.04c.83 1.2 1.48 2.53 1.91 3.96h-3.82c.43-1.43 1.08-2.76 1.91-3.96zM4.26 14C4.1 13.36 4 12.69 4 12s.1-1.36.26-2h3.38c-.08.66-.14 1.32-.14 2 0 .68.06 1.34.14 2H4.26zm.82 2h2.95c.32 1.25.78 2.45 1.38 3.56A7.987 7.987 0 0 1 5.08 16zm2.95-8H5.08a7.987 7.987 0 0 1 4.33-3.56A15.65 15.65 0 0 0 8.03 8zM12 19.96c-.83-1.2-1.48-2.53-1.91-3.96h3.82c-.43 1.43-1.08 2.76-1.91 3.96zM14.34 14H9.66c-.09-.66-.16-1.32-.16-2 0-.68.07-1.35.16-2h4.68c.09.65.16 1.32.16 2 0 .68-.07 1.34-.16 2zm.25 5.56c.6-1.11 1.06-2.31 1.38-3.56h2.95a8.03 8.03 0 0 1-4.33 3.56zM16.36 14c.08-.66.14-1.32.14-2 0-.68-.06-1.34-.14-2h3.38c.16.64.26 1.31.26 2s-.1 1.36-.26 2h-3.38z"
        ></path>
    </svg>
    <span>HTTP</span>
</div>

<style>
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5rem 0;
        border: var(--pluto-border);
        border-radius: 2rem;
        box-shadow: var(--pluto-shadow-v1);
        padding: 20rem;
        gap: 3rem;
        width: 100%;
        background-size: cover;
        background-position: center center;
        background-repeat: repeat;
        background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22 width=%222000%22 height=%221400%22%3E%3Cg filter=%22url(%23a)%22%3E%3Cpath fill=%22%233a3a3a%22 d=%22M-1000-700h4000v2800h-4000z%22%2F%3E%3Cpath d=%22m-151-397-250 799 44 637 1486-626%22 fill=%22%23606060%22%2F%3E%3Cpath d=%22M1465-209 207 768l1332 531 116-156%22 fill=%22%23606060%22%2F%3E%3Cpath d=%22M2325 298 1001 850l564 745 857-1236%22 fill=%22%23606060%22%2F%3E%3Cpath d=%22M747 332-503 774 558 1880l536-951%22 fill=%22%233a3a3a%22%2F%3E%3Cpath d=%22M376 1137 265 2354l68 256 1410-82%22 fill=%22%23606060%22%2F%3E%3Cpath d=%22m1016 1107-72 772 1047 548 356-503%22 fill=%22%23606060%22%2F%3E%3C%2Fg%3E%3Cpath fill=%22%23fff%22 filter=%22url(%23b)%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3Cdefs%3E%3Cfilter id=%22b%22 x=%22-800%22 y=%22-560%22 width=%222800%22 height=%221960%22 filterUnits=%22userSpaceOnUse%22 primitiveUnits=%22userSpaceOnUse%22 color-interpolation-filters=%22linearRGB%22%3E%3CfeTurbulence type=%22fractalNoise%22 baseFrequency=%22.066%22 numOctaves=%224%22 seed=%2215%22 stitchTiles=%22no-stitch%22 x=%220%22 y=%220%22 width=%222000%22 height=%221400%22 result=%22turbulence%22%2F%3E%3CfeSpecularLighting surfaceScale=%2210%22 specularConstant=%22.202%22 specularExponent=%2220%22 lighting-color=%22%23fff%22 x=%220%22 y=%220%22 width=%222000%22 height=%221400%22 in=%22turbulence%22 result=%22specularLighting%22%3E%3CfeDistantLight azimuth=%223%22 elevation=%22100%22%2F%3E%3C%2FfeSpecularLighting%3E%3C%2Ffilter%3E%3Cfilter id=%22a%22 x=%22-146%22 y=%22-146%22 width=%222292%22 height=%221692%22 filterUnits=%22userSpaceOnUse%22 color-interpolation-filters=%22sRGB%22%3E%3CfeFlood flood-opacity=%220%22 result=%22BackgroundImageFix%22%2F%3E%3CfeBlend in=%22SourceGraphic%22 in2=%22BackgroundImageFix%22 result=%22shape%22%2F%3E%3CfeGaussianBlur stdDeviation=%22146%22 result=%22effect1_foregroundBlur_1_2%22%2F%3E%3C%2Ffilter%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");
    }
    svg {
        width: 7rem;
        height: 7rem;
    }
    span {
        font-family: "Geist Mono", monospace;
        font-size: 8rem;
        font-weight: 500;
        color: white;
        letter-spacing: 0.5rem;
    }
</style>
