<div class="release-diagram--http-write">
    <div class="arrows">
        <svg
            viewBox="0 0 24 24"
            fill="white"
            xmlns="http://www.w3.org/2000/svg"
            class="arrow-up"
        >
            <path d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"></path>
        </svg>
        <svg
            viewBox="0 0 24 24"
            fill="white"
            xmlns="http://www.w3.org/2000/svg"
            class="arrow-down"
        >
            <path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6z"></path>
        </svg>
    </div>
    <div class="label">
        <span class="method">POST</span>
        <span class="path">/api</span>
    </div>
</div>
