---
import { Flex, Text } from "@synnaxlabs/pluto";
---

<div class="thumbnail0370">
    <Flex.Box justify="center" align="center" className="logo-container">
        <Text.Text level="h2" color="var(--pluto-dark-gray-l10)"
            >Happy New Year!</Text.Text
        >
    </Flex.Box>
    <div class="magicpattern"></div>
</div>
