.console-notifications {
    position: fixed;
    bottom: 7rem;
    left: 2rem;

    .console-notification {
        padding: 0.75rem;
        background: var(--pluto-gray-l3-50);
        -webkit-backdrop-filter: blur(3rem);
        min-width: 200px;
        box-shadow: var(--pluto-shadow-menu);
        border: var(--pluto-border-l4);
        border-radius: 1rem;

        & .console-notification__message {
            font-weight: 450;
        }

        & .console-notification__time {
            color: var(--pluto-gray-l7);
            font-weight: 450;
        }

        & .console-notification__description {
            color: var(--pluto-gray-l8);
        }
    }
}
